ai-x-toon-workflow-j96QwSrFRtTDF8Uo.json
{"createdAt":"2025-05-08T15:56:18.040Z","updatedAt":"2025-05-08T17:41:31.000Z","id":"j96QwSrFRtTDF8Uo","name":"Ai x Toon Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,-80],"id":"78e5d7ee-99ff-4bb1-b7ab-f3df055daae3","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"98446aee-97b8-47d5-8e43-bf7ca0335943","name":"pending_videos","value":"1Qg40Jka1drfdqypJfc3oGokubptEqAOg","type":"string"},{"id":"5c3f7c8a-adb6-4679-bd9c-caf397d9d4e2","name":"completed_videos","value":"1jCyGFyBcqavwyNtjLlVv0RmpISg7JH3g","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-80],"id":"fb72c6a4-8694-4ce5-8c7b-427bb4bf1369","name":"Drive Folder ID"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='{{ $('Drive Folder ID').item.json.pending_videos }}' in parents and trashed = false","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,-80],"id":"592b502f-0e9f-4f63-a48d-ff1044470994","name":"Get Videos","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"jsCode":"// Sort files by name (ascending)\nconst items = $('Get Videos').all();\nitems.sort((a, b) => {\n  return a.json.name.localeCompare(b.json.name);\n});\nreturn [items[0]];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,-80],"id":"83259d0f-ae50-4c2a-b06c-1d776e542716","name":"Get Latest Video"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Get Latest Video').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[600,-80],"id":"c9f32746-57a0-452b-b848-47d54735466b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"language","value":"hi"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,140],"id":"aeaea97e-6805-4edb-b9bf-6900fa791104","name":"Transcribe Video","credentials":{"httpHeaderAuth":{"id":"5c9jsSkQksFsvBnV","name":"Groq API Key"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[140,340],"id":"61ca43d6-3f81-49f7-bf56-019c46932c86","name":"Model: DeepSeek Chat v3","credentials":{"openRouterApi":{"id":"HSHx5dUpyiXwOrDq","name":"Sayan's Project OpenRouter Account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"titles\": [\n    \"English title 1 here\",\n    \"English title 2 here\",\n    \"English title 3 here\",\n    \"English title 4 here\",\n    \"English title 5 here\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-40,340],"id":"80482dd9-4eea-48e1-b5d8-4d27f805cb2b","name":"Structured Output"},{"parameters":{"promptType":"define","text":"=Generate 5 YouTube Shorts titles for this funny video transcription: {{ $('Transcribe Video').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert Hindi/Urdu content creator who specializes in creating English YouTube Shorts titles based on Hindi video transcriptions. You must follow strict output formatting requirements for automated processing.\n\nGenerate exactly 5 high-quality English YouTube Shorts titles for the given Hindi video transcription. Each title should be unique, attention-grabbing, and optimized for engagement with Hindi-speaking viewers who also understand English.\n\nOUTPUT FORMAT REQUIREMENTS:\n- You must respond using ONLY this exact JSON structure:\n```\n{\n  \"titles\": [\n    \"English title 1 here\",\n    \"English title 2 here\",\n    \"English title 3 here\",\n    \"English title 4 here\",\n    \"English title 5 here\"\n  ]\n}\n```\n- No explanations, commentary, or additional text outside this JSON structure\n- Ensure valid JSON syntax with proper escaping of special characters\n- All titles should be under 50 characters for optimal display\n- Titles should accurately reflect the Hindi content's meaning and emotional impact\n- Use expressions that will resonate with Indian YouTube audience"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-60,140],"id":"b1425498-9f12-45f2-9269-33f4a9c25553","name":"Generate Titles"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"Selected English title here\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[320,340],"id":"332c6402-b279-4622-81ef-b12a6c1b3425","name":"Title Output Parser"},{"parameters":{"promptType":"define","text":"=Create a title for this video transcription: \n\nSelect the best English YouTube Shorts title in proper JSON format based on:\n\nOriginal Hindi transcription:\n{{ $('Transcribe Video').item.json.text }}\n\nTitle options:\n{{ JSON.stringify( $('Generate Titles').item.json.output ) }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an experienced SEO expert who selects the optimal English YouTube short title for Hindi content from a set of candidates. You must follow strict output formatting requirements for automated processing.\n\nGiven a list of potential English YouTube Shorts titles and the original Hindi video transcription, select the ONE title that will perform best based on:\n1. Emotional impact and curiosity factor for Hindi-speaking viewers\n2. Clarity and relevance to the Hindi content\n3. SEO optimization and trending potential on Indian YouTube\n4. Cultural resonance with Hindi-speaking audience while being in English\n5. Optimal length and readability\n\nOUTPUT FORMAT REQUIREMENTS:\n- You must respond using ONLY this exact JSON structure:\n```\n{\n  \"title\": \"Selected English title here\"\n}\n```\n- No explanations, commentary, or additional text outside this JSON structure\n- Ensure valid JSON syntax with proper escaping of special characters"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[320,140],"id":"39a31a6f-11d3-4cd0-bd0d-a10279081ede","name":"SEO Agent"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[500,340],"id":"1206071a-9c91-4ccc-b347-835744c96cd6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Drive Folder ID","type":"main","index":0}]]},"Drive Folder ID":{"main":[[{"node":"Get Videos","type":"main","index":0}]]},"Get Videos":{"main":[[{"node":"Get Latest Video","type":"main","index":0}]]},"Get Latest Video":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Transcribe Video","type":"main","index":0}]]},"Transcribe Video":{"main":[[{"node":"Generate Titles","type":"main","index":0}]]},"Model: DeepSeek Chat v3":{"ai_languageModel":[[{"node":"Generate Titles","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"Generate Titles","type":"ai_outputParser","index":0}]]},"Generate Titles":{"main":[[{"node":"SEO Agent","type":"main","index":0}]]},"Title Output Parser":{"ai_outputParser":[[{"node":"SEO Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"SEO Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0275ada1-e28e-4fb6-823e-a2f2292e6af0","triggerCount":0,"tags":[]}