assets-download-Lv9N9mDrPBo2jJDb.json
{"createdAt":"2025-04-27T18:16:22.018Z","updatedAt":"2025-04-30T09:18:57.000Z","id":"Lv9N9mDrPBo2jJDb","name":"Assets Download","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-540,100],"id":"65e74ae5-9aee-4559-bc4d-5caca4953749","name":"When clicking ‘Test workflow’"},{"parameters":{"fileSelector":"=/home/node/footage/{{ $('Generate Name').item.json.video_name }}.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[120,100],"id":"e50ad212-2010-4616-b582-9f33ad70eecc","name":"Read Files Disk"},{"parameters":{"command":"=yt-dlp --cookies cookies.txt \"https://youtube.com/shorts/FNWKntaHRxU\" \\\n  -o \"./footage/{{ $('Generate Name').item.json.video_name }}.mp4\" \\\n  -f \"bv*[ext=mp4][vcodec^=avc1]+ba[ext=m4a]/best[ext=mp4]\" \\\n  --merge-output-format mp4"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-80,-60],"id":"11e85005-8624-4b59-a667-f830a38cf890","name":"Download Assets"},{"parameters":{"command":"=rm -f /home/node/footage/{{ $('Read Files Disk').item.json.fileName }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[520,280],"id":"6897e22b-fb07-4823-b549-d3a4eafa1322","name":"Delete Assets"},{"parameters":{"name":"={{ $('Read Files Disk').item.binary.data.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1","mode":"list","cachedResultName":"Faceless Video","cachedResultUrl":"https://drive.google.com/drive/folders/1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,100],"id":"1ab2d30a-11bf-4f8b-8a44-71d2992ce471","name":"Upload To Drive","credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"92cd81ac-1624-4298-a758-51509f7375cd","name":"video_name","value":"={{ Array.from({ length: 10 }, () => Math.random().toString(36) [2]).join('') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,100],"id":"844ad247-2b87-4743-b0cd-30d7d3f754e9","name":"Generate Name"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Generate Name","type":"main","index":0}]]},"Download Assets":{"main":[[{"node":"Read Files Disk","type":"main","index":0}]]},"Read Files Disk":{"main":[[{"node":"Upload To Drive","type":"main","index":0}]]},"Upload To Drive":{"main":[[{"node":"Delete Assets","type":"main","index":0}]]},"Generate Name":{"main":[[{"node":"Download Assets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1425bdb-598f-4219-be55-6abe06fe2256","triggerCount":0,"tags":[]}