assets-download-Lv9N9mDrPBo2jJDb.json
{"createdAt":"2025-04-27T18:16:22.018Z","updatedAt":"2025-05-01T11:40:14.000Z","id":"Lv9N9mDrPBo2jJDb","name":"Assets Download","active":false,"nodes":[{"parameters":{"fileSelector":"=/home/node/footage/{{ $('Generate Name').item.json.video_name }}.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-320,200],"id":"e50ad212-2010-4616-b582-9f33ad70eecc","name":"Read Files Disk"},{"parameters":{"command":"=yt-dlp --cookies cookies.txt \"https://youtube.com/shorts/wOAexZB5saE\" \\\n  -o \"./footage/{{ $('Generate Name').item.json.video_name }}.mp4\" \\\n  -f \"bv*[ext=mp4][vcodec^=avc1]+ba[ext=m4a]/best[ext=mp4]\" \\\n  --merge-output-format mp4"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-540,200],"id":"11e85005-8624-4b59-a667-f830a38cf890","name":"Download Assets"},{"parameters":{"command":"=rm -f /home/node/videos/{{ $('Read Files Disk').item.json.fileName }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[360,200],"id":"6897e22b-fb07-4823-b549-d3a4eafa1322","name":"Delete Assets"},{"parameters":{"name":"={{ $('Read Files Disk').item.binary.data.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1","mode":"list","cachedResultName":"Faceless Video","cachedResultUrl":"https://drive.google.com/drive/folders/1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-100,200],"id":"1ab2d30a-11bf-4f8b-8a44-71d2992ce471","name":"Upload To Drive","credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"92cd81ac-1624-4298-a758-51509f7375cd","name":"video_name","value":"={{ Array.from({ length: 10 }, () => Math.random().toString(36) [2]).join('') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-60],"id":"844ad247-2b87-4743-b0cd-30d7d3f754e9","name":"Generate Name"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-540,-60],"id":"65e74ae5-9aee-4559-bc4d-5caca4953749","name":"Run Manually"},{"parameters":{"documentId":{"__rl":true,"value":"1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo","mode":"list","cachedResultName":"SD4 | Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pending"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,-60],"id":"0c98ba8e-c5f9-40ad-80b1-c60276fd32e8","name":"Get Video Details","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"jsCode":"const url = $('Get Video Details').first().json['Video Link'];\n\n// Extract the short ID using regex\nconst match = url.match(/\\/shorts\\/([a-zA-Z0-9_-]{11})/);\n\nreturn {\n  json: {\n    video_id: match ? match[1] : null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,-60],"id":"cff48821-ee62-49b9-bf22-2f8d55dd88c7","name":"Extract Video ID"},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $('Extract Video ID').item.json.video_id }}","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[120,200],"id":"90f4bd12-dd8d-4b52-949c-4e493a3848f7","name":"Fetch Video Details","credentials":{"youTubeOAuth2Api":{"id":"jFMxLpChzn3R8jrm","name":"SD Social YouTube Account"}}}],"connections":{"Download Assets":{"main":[[{"node":"Read Files Disk","type":"main","index":0}]]},"Read Files Disk":{"main":[[{"node":"Upload To Drive","type":"main","index":0}]]},"Upload To Drive":{"main":[[{"node":"Fetch Video Details","type":"main","index":0}]]},"Generate Name":{"main":[[{"node":"Download Assets","type":"main","index":0}]]},"Run Manually":{"main":[[{"node":"Get Video Details","type":"main","index":0}]]},"Get Video Details":{"main":[[{"node":"Extract Video ID","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Generate Name","type":"main","index":0}]]},"Fetch Video Details":{"main":[[{"node":"Delete Assets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"627c47d5-54e2-4148-9f30-a5f348282130","triggerCount":0,"tags":[]}