missing-hk-workflow-OicE3dHmm8ZIJvbl.json
{"createdAt":"2025-01-10T11:36:49.184Z","updatedAt":"2025-01-10T11:43:50.000Z","id":"OicE3dHmm8ZIJvbl","name":"Missing HK Workflow","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,-540],"id":"9a7b98c6-e548-4b67-842b-f8109812a488","name":"Loop Products"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dabad46-922e-4f5d-b0b1-b298c94afbbf","leftValue":"={{ $json.SKU }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,-520],"id":"5c08983a-473f-4e27-9d24-9b3b3c5af758","name":"IF"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-280,-720],"id":"c8aa3c96-943c-4dc7-a359-62b8f220b8d7","name":"Wait 1","webhookId":"63bee2c6-b593-433a-b17f-37f9130bab8a"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-600,-920],"id":"80288f0c-97b0-4dbf-b329-b1c35e54cc0d","name":"Wait 2","webhookId":"3949fac6-e2e0-4855-87fa-73d0395e66f5"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-20,-440],"id":"5090283d-7ec4-4ead-bd7c-3da56f29ed1f","name":"Wait 3","webhookId":"fd787812-2832-4ed4-99b1-4f4e466bfa45"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1480,-540],"id":"145a5b1e-791a-4e14-bef4-262f92fbcb15","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k","mode":"list","cachedResultName":"Xtrons-Automation-10Jan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":863106279,"mode":"list","cachedResultName":"Missing_Product","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit#gid=863106279"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1200,-540],"id":"0ca5f5c9-b2f2-440c-aa71-fc697f678603","name":"Missing_Product","retryOnFail":false,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Kual9iAtrO1ONou4wC_bDj0imaLoAlLhqQUuXMZfzO8","mode":"list","cachedResultName":"HK_products_New_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kual9iAtrO1ONou4wC_bDj0imaLoAlLhqQUuXMZfzO8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1640842048,"mode":"list","cachedResultName":"HK_PRODUCT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kual9iAtrO1ONou4wC_bDj0imaLoAlLhqQUuXMZfzO8/edit#gid=1640842048"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,-520],"id":"05a87d6c-8317-4035-ba43-36c9ab25f2b4","name":"HK Products","retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k","mode":"list","cachedResultName":"Xtrons-Automation-10Jan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":775030417,"mode":"list","cachedResultName":"Combined_HK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit#gid=775030417"},"columns":{"mappingMode":"defineBelow","value":{"Type":"={{ $json.Type }}","SKU":"={{ $json.SKU }}","Name":"={{ $json.Name }}","Published":"1","Is featured?":"0","Visibility in catalog":"visible","Stock":"={{ $json.qty }}","In stock?":"={{ $if($json.qty > 0, 1, 0) }}","Weight (kg)":"={{ $json.weight }}","Regular price":"={{ $json.Price }}","Short description":"={{ $json['Short Description'] }}","Description":"={{ $json.Description }}","Brand":"No Brand","Categories":"No Category","Images":"={{ $if($json.gallery, $json.image + ', ' + $json.gallery.replace(/\\|/g, ', '), $json.image) }}","Meta: after_help_section_content":"={{ $json.why_xtrons_textarea_left.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }} \n{{ $json.why_xtrons_textarea_right.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Attribute 1 name":"Features","Meta: detailed_feature_repeater_0_detailed_feature_content":"={{ $json.section_2_textarea.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_1_detailed_feature_content":"={{ $json.section_3_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_2_detailed_feature_content":"={{ $json.section_3_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_3_detailed_feature_content":"={{ $json.section_4_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_4_detailed_feature_content":"={{ $json.section_4_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_5_detailed_feature_content":"={{ $json.section_4_textarea_3.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: features_section_heading":"特徵","Meta: features_section_image":"22424","Meta: after_help_section_image":"22424","Meta: after_help_section_heading":"幕後花絮","Attribute 2 name":"In The Box"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,-920],"id":"8c4a84ac-f42a-44c5-b311-33acedf8602c","name":"Combined_HK","retryOnFail":true,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}}],"connections":{"Loop Products":{"main":[[],[{"node":"HK Products","type":"main","index":0}]]},"IF":{"main":[[{"node":"Wait 1","type":"main","index":0}],[{"node":"Wait 3","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"Combined_HK","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Missing_Product","type":"main","index":0}]]},"Missing_Product":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"HK Products":{"main":[[{"node":"IF","type":"main","index":0}]]},"Combined_HK":{"main":[[{"node":"Wait 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"140e0fb1-ce86-437a-b4d3-f20a403e0e46","triggerCount":1,"tags":[]}