missing-hk-workflow-QuakxEeMoLaYf4A3.json
{"createdAt":"2024-12-18T10:58:04.868Z","updatedAt":"2024-12-18T12:05:16.000Z","id":"QuakxEeMoLaYf4A3","name":"Missing HK Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1320,-540],"id":"ef5d418f-d036-41cd-a73e-8a1bbd8e39e3","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Missing Products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1060,-540],"id":"640cfd2e-a314-4bf1-8bd1-7b76f150bd4d","name":"Missing Products","retryOnFail":false,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,-500],"id":"a327cd6e-878c-443c-a897-243226256a98","name":"Loop Products"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[660,-380],"id":"c85c30ad-017d-41a8-bf7b-a1c106dc87ff","name":"Wait 2","webhookId":"e9d30b49-410a-411f-9aa1-042f26ace019"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-360,-480],"id":"680bb03c-98f2-4cff-aff9-d909e255e429","name":"Wait 1","webhookId":"076f79a1-ecf0-4d33-868b-832a3cfc251d"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[660,-720],"id":"ee23ceae-6a1a-4b9e-bc94-235da7bf3b45","name":"Wait 3","webhookId":"cbadab3a-fb19-40a7-93bd-377646bd8a47"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-80,-820],"id":"a5379743-c1a4-4196-ade4-0381c324751b","name":"Wait 4","webhookId":"12eb949c-cf96-48f9-9619-fcfd82f7c6be"},{"parameters":{"documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1046953862,"mode":"list","cachedResultName":"HK Products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=1046953862"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-40,-480],"id":"d4c66d01-a6dd-44b2-8351-0a8238e4e6d7","name":"HK Products","retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":270279863,"mode":"list","cachedResultName":"Combined_HK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=270279863"},"columns":{"mappingMode":"defineBelow","value":{"Type":"={{ $json.Type }}","SKU":"={{ $json.SKU }}","Name":"={{ $json.Name }}","Published":"1","Is featured?":"0","Visibility in catalog":"visible","Stock":"={{ $json.qty }}","In stock?":"={{ $if($json.qty > 0, 1, 0) }}","Weight (kg)":"={{ $json.weight }}","Regular price":"={{ $json.Price }}","Short description":"={{ $json['Short Description'] }}","Description":"={{ $json.Description }}","Brand":"No Brand","Categories":"No Category","Images":"={{ $if($json.gallery, $json.image + ', ' + $json.gallery.replace(/\\|/g, ', '), $json.image) }}","Meta: after_help_section_content":"={{ $json.why_xtrons_textarea_left.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }} \n{{ $json.why_xtrons_textarea_right.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Attribute 2 name":"In The Box","Attribute 1 name":"Features","Meta: detailed_feature_repeater_0_detailed_feature_content":"={{ $json.section_2_textarea.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_1_detailed_feature_content":"={{ $json.section_3_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_2_detailed_feature_content":"={{ $json.section_3_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_3_detailed_feature_content":"={{ $json.section_4_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_4_detailed_feature_content":"={{ $json.section_4_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_5_detailed_feature_content":"={{ $json.section_4_textarea_3.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: features_section_heading":"特徵","Meta: features_section_image":"22424","Meta: after_help_section_image":"22424","Meta: after_help_section_heading":"幕後花絮"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,-780],"id":"93b9d033-5ff8-4c78-b173-5b6af77057cf","name":"Combined_HK","retryOnFail":true,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dabad46-922e-4f5d-b0b1-b298c94afbbf","leftValue":"={{ $json.SKU }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,-480],"id":"e65c0610-9ac4-40d8-b11c-3bff370b1e0c","name":"If HK"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Missing Products","type":"main","index":0}]]},"Missing Products":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Loop Products":{"main":[[],[{"node":"Wait 1","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"HK Products","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"Combined_HK","type":"main","index":0}]]},"Wait 4":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"HK Products":{"main":[[{"node":"If HK","type":"main","index":0}]]},"Combined_HK":{"main":[[{"node":"Wait 4","type":"main","index":0}]]},"If HK":{"main":[[{"node":"Wait 3","type":"main","index":0}],[{"node":"Wait 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"937cc93d-d32e-4d81-b74f-f4abe7e9c83c","triggerCount":0,"tags":[]}