missing-ca-workflow-lodyurOQ6tSWIuwt.json
{"createdAt":"2025-01-10T11:13:43.866Z","updatedAt":"2025-01-10T11:33:54.000Z","id":"lodyurOQ6tSWIuwt","name":"Missing CA Workflow","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,-540],"id":"c22769f7-962e-4f35-a799-73dc61281bf6","name":"Loop Products"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dabad46-922e-4f5d-b0b1-b298c94afbbf","leftValue":"={{ $json.SKU }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,-520],"id":"03804e46-49e1-4e36-8eb8-4e1c53b0a5da","name":"IF"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-280,-720],"id":"3dc09e79-76ed-48f6-9d26-c634b627878f","name":"Wait 1","webhookId":"6673c3b9-cd81-488a-b3cc-891a9c7f3b8a"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-600,-920],"id":"033f1cb7-a9ce-488c-a34a-0a3177667ba7","name":"Wait 2","webhookId":"096d164a-e142-410b-a309-8d7846217ca6"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-20,-440],"id":"3b024207-afca-4a30-964e-27bf41747c4d","name":"Wait 3","webhookId":"ba8dc3f0-040e-496c-94cb-570afe2c843f"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1480,-540],"id":"564b3e8c-38dc-4293-b648-8178b093a100","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k","mode":"list","cachedResultName":"Xtrons-Automation-10Jan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":863106279,"mode":"list","cachedResultName":"Missing_Product","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit#gid=863106279"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1200,-540],"id":"fbfc95ae-8453-4ade-8d67-de76729ed552","name":"Missing_Product","retryOnFail":false,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Oa77zLtRBoZYFf0GHFD1UCEvvi8e5qkDZsksZLn-5YM","mode":"list","cachedResultName":"CA_products_New_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oa77zLtRBoZYFf0GHFD1UCEvvi8e5qkDZsksZLn-5YM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1591824678,"mode":"list","cachedResultName":"CA_PRODUCT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Oa77zLtRBoZYFf0GHFD1UCEvvi8e5qkDZsksZLn-5YM/edit#gid=1591824678"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,-520],"id":"a3bfa1c1-5369-41ca-97c9-fb7ff5776425","name":"CA Products","retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k","mode":"list","cachedResultName":"Xtrons-Automation-10Jan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":972130368,"mode":"list","cachedResultName":"Combined_CA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11VENzgaKnTus_8IDApMntD6qp8FuJgiPn-ERE70Y41k/edit#gid=972130368"},"columns":{"mappingMode":"defineBelow","value":{"Type":"={{ $json.Type }}","SKU":"={{ $json.SKU }}","Name":"={{ $json.Name }}","Published":"1","Is featured?":"0","Visibility in catalog":"visible","Stock":"={{ $json.qty }}","In stock?":"={{ $if($json.qty > 0, 1, 0) }}","Weight (kg)":"={{ $json.weight }}","Regular price":"={{ $json.Price }}","Short description":"={{ $json['Short Description'] }}","Description":"={{ $json.Description }}","Brand":"No Brand","Categories":"No Category","Images":"={{ $if($json.gallery, $json.image + ', ' + $json.gallery.replace(/\\|/g, ', '), $json.image) }}","Meta: after_help_section_content":"={{ $json.why_xtrons_textarea_left.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }} \n{{ $json.why_xtrons_textarea_right.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Attribute 1 name":"In The Box","Meta: detailed_feature_repeater_0_detailed_feature_content":"={{ $json.section_2_textarea.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_1_detailed_feature_content":"={{ $json.section_3_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_2_detailed_feature_content":"={{ $json.section_3_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_3_detailed_feature_content":"={{ $json.section_4_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_4_detailed_feature_content":"={{ $json.section_4_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_5_detailed_feature_content":"={{ $json.section_4_textarea_3.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: features_section_heading":"Features","Meta: features_section_image":"22424","Meta: after_help_section_image":"22430","Meta: after_help_section_heading":"Under The Hood","Attribute 2 name":"In The Box"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,-920],"id":"d7ec091f-2b3d-4460-b450-7f49cb46e7cc","name":"Combined_CA","retryOnFail":true,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}}],"connections":{"Loop Products":{"main":[[],[{"node":"CA Products","type":"main","index":0}]]},"IF":{"main":[[{"node":"Wait 1","type":"main","index":0}],[{"node":"Wait 3","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"Combined_CA","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Missing_Product","type":"main","index":0}]]},"Missing_Product":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"CA Products":{"main":[[{"node":"IF","type":"main","index":0}]]},"Combined_CA":{"main":[[{"node":"Wait 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a6a11a4-2bce-439d-a36b-3ff7866553d6","triggerCount":1,"tags":[]}