missing-jp-workflow-e1vf3Nk7AvMSMAUE.json
{"createdAt":"2024-12-18T08:03:02.186Z","updatedAt":"2024-12-18T10:57:41.000Z","id":"e1vf3Nk7AvMSMAUE","name":"Missing JP Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1320,-540],"id":"5111119c-4641-4cdc-8b53-821402e1830e","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Missing Products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1060,-540],"id":"5bae9e88-bd04-476b-b82e-b3068834de7d","name":"Missing Products","retryOnFail":false,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-720,-480],"id":"a808aa09-8245-4bf5-a9e6-94dd96be31c9","name":"Loop Products"},{"parameters":{"documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2134270760,"mode":"list","cachedResultName":"JP Products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=2134270760"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,-460],"id":"def5a57d-e594-42b7-a761-398717fcfa0d","name":"JP Products","retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dabad46-922e-4f5d-b0b1-b298c94afbbf","leftValue":"={{ $json.SKU }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-180,-460],"id":"bef40c8c-afcd-43ae-b750-66a35758a258","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1494839188,"mode":"list","cachedResultName":"Combined_JP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=1494839188"},"columns":{"mappingMode":"defineBelow","value":{"Type":"={{ $json.Type }}","SKU":"={{ $json.SKU }}","Name":"={{ $json.Name }}","Published":"1","Is featured?":"0","Visibility in catalog":"visible","Stock":"={{ $json.qty }}","In stock?":"={{ $if($json.qty > 0, 1, 0) }}","Weight (kg)":"={{ $json.weight }}","Regular price":"={{ $json.Price }}","Short description":"={{ $json['Short Description'] }}","Description":"={{ $json.Description }}","Brand":"No Brand","Categories":"No Category","Images":"={{ $if($json.gallery, $json.image + ', ' + $json.gallery.replace(/\\|/g, ', '), $json.image) }}","Meta: _features_section_image":"22426","Meta: _after_help_section_image":"22432","Meta: _features_section_heading":"Features","Meta: _after_help_section_heading":"製品説明","Meta: _detailed_feature_repeater_0_detailed_feature_content":"={{ $json.section_2_textarea.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: _after_help_section_content":"={{ $json.why_xtrons_textarea_left.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }} \n{{ $json.why_xtrons_textarea_right.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: _detailed_feature_repeater_1_detailed_feature_content":"={{ $json.section_3_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: _detailed_feature_repeater_2_detailed_feature_content":"={{ $json.section_3_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: _detailed_feature_repeater_3_detailed_feature_content":"={{ $json.section_4_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: _detailed_feature_repeater_4_detailed_feature_content":"={{ $json.section_4_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: _detailed_feature_repeater_5_detailed_feature_content":"={{ $json.section_4_textarea_3.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: after_help_section_content":"=","Attribute 2 name":"In The Box","Attribute 1 name":"Features"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-200,-1020],"id":"515f61ae-01b4-436b-8c48-69fe7c76ffb4","name":"Combined_JP","retryOnFail":true,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[20,-760],"id":"341656c2-7352-4308-9e8d-345e16166a73","name":"Wait 2 Sec","webhookId":"601e306e-519e-42bd-a982-3f2cef1a02c2"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,-380],"id":"36872da2-e444-4b3a-a98c-f562e14f1769","name":"Wait 1.5 Sec","webhookId":"b7fdb309-a4c1-44b4-a7fd-332639c996db"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-520,-740],"id":"6153639e-6993-4ed6-aa41-8307614a29f9","name":"Wait 1.75 Sec","webhookId":"702949ad-ceb3-405e-8adf-8cbd656073aa"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Missing Products","type":"main","index":0}]]},"Missing Products":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Loop Products":{"main":[[],[{"node":"JP Products","type":"main","index":0}]]},"JP Products":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait 2 Sec","type":"main","index":0}],[{"node":"Wait 1.5 Sec","type":"main","index":0}]]},"Combined_JP":{"main":[[{"node":"Wait 1.75 Sec","type":"main","index":0}]]},"Wait 2 Sec":{"main":[[{"node":"Combined_JP","type":"main","index":0}]]},"Wait 1.5 Sec":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Wait 1.75 Sec":{"main":[[{"node":"Loop Products","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fe31f713-5e8c-448c-89e4-878926297a7e","triggerCount":0,"tags":[]}