missing-usa-workflow-1d676QWJydFaMLfy.json
{"createdAt":"2024-12-24T06:14:59.629Z","updatedAt":"2024-12-24T10:25:35.000Z","id":"1d676QWJydFaMLfy","name":"Missing USA Workflow","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Missing Products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1200,-540],"id":"c096e267-d7a7-4aa8-82ae-91210e158441","name":"Missing Products","retryOnFail":false,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,-540],"id":"41b567b0-864b-42a8-9d75-29e992cf785c","name":"Loop Products"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dabad46-922e-4f5d-b0b1-b298c94afbbf","leftValue":"={{ $json.SKU }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,-520],"id":"1b1df961-586d-4429-b12b-8d4219d31042","name":"IF"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-280,-720],"id":"da5ee416-8aa2-4d54-84c9-41c8ec456f67","name":"Wait 1","webhookId":"2e6607bc-3cbf-4634-9ead-d31cc4ea1f1c"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-600,-920],"id":"cd58668d-5330-48da-ac84-7a60276b75b7","name":"Wait 2","webhookId":"e80a0a3d-edfc-4af1-8a21-ca7465b2334b"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-20,-440],"id":"6658a38c-256e-4ea6-9fa7-17c04782ff07","name":"Wait 3","webhookId":"50e26b42-4324-4975-b8ca-ace77f1db817"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12,"triggerAtMinute":15}]}},"id":"12394307-3cab-429f-aa7e-a5cf1bb8b68c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1500,-540]},{"parameters":{"documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":546154848,"mode":"list","cachedResultName":"USA Products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=546154848"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,-520],"id":"c42c1b1c-a1ec-4449-9b36-f67c202d2e0f","name":"USA Products","retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw","mode":"list","cachedResultName":"Xtrons-Work-18Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1982480467,"mode":"list","cachedResultName":"Combined_USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZRq-zzHdOTZgD05Z6aFnmbHm3QWdRvZwTJzoU6V7EWw/edit#gid=1982480467"},"columns":{"mappingMode":"defineBelow","value":{"Type":"={{ $json.Type }}","SKU":"={{ $json.SKU }}","Name":"={{ $json.Name }}","Published":"1","Is featured?":"0","Visibility in catalog":"visible","Stock":"={{ $json.qty }}","In stock?":"={{ $if($json.qty > 0, 1, 0) }}","Weight (kg)":"={{ $json.weight }}","Regular price":"={{ $json.Price }}","Short description":"={{ $json['Short Description'] }}","Description":"={{ $json.Description }}","Brand":"No Brand","Categories":"No Category","Images":"={{ $if($json.gallery, $json.image + ', ' + $json.gallery.replace(/\\|/g, ', '), $json.image) }}","Meta: after_help_section_content":"={{ $json.why_xtrons_textarea_left.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }} \n{{ $json.why_xtrons_textarea_right.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Attribute 1 name":"In The Box","Meta: detailed_feature_repeater_0_detailed_feature_content":"={{ $json.section_2_textarea.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_1_detailed_feature_content":"={{ $json.section_3_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_2_detailed_feature_content":"={{ $json.section_3_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_3_detailed_feature_content":"={{ $json.section_4_textarea_1.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_4_detailed_feature_content":"={{ $json.section_4_textarea_2.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: detailed_feature_repeater_5_detailed_feature_content":"={{ $json.section_4_textarea_3.replace(/<([a-z]+)([^>]*?)>\\s*(<br\\s*\\/?>\\s*)+<\\/\\1>/gi, '').replace(/<([a-z]+)([^>]*?)>\\s*<\\/\\1>/gi, '').replace(/\\s{2,}/g, ' ').replace(/^\\s+|\\s+$/g, '') }}","Meta: features_section_heading":"Features","Meta: features_section_image":"22424","Meta: after_help_section_image":"22430","Meta: after_help_section_heading":"Under The Hood","Attribute 2 name":"In The Box"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,-920],"id":"b9b33f6c-3fb0-4da2-bc31-8d5ae950f9e0","name":"Combined_USA","retryOnFail":true,"maxTries":5,"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}}],"connections":{"Missing Products":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Loop Products":{"main":[[],[{"node":"USA Products","type":"main","index":0}]]},"IF":{"main":[[{"node":"Wait 1","type":"main","index":0}],[{"node":"Wait 3","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"Combined_USA","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"Loop Products","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Missing Products","type":"main","index":0}]]},"USA Products":{"main":[[{"node":"IF","type":"main","index":0}]]},"Combined_USA":{"main":[[{"node":"Wait 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be767273-cbfb-4986-8e37-5d744eff68db","triggerCount":1,"tags":[]}