my-workflow-1slXKQWz9C8qlUJm.json
{"createdAt":"2025-04-27T08:41:44.521Z","updatedAt":"2025-04-27T11:16:23.000Z","id":"1slXKQWz9C8qlUJm","name":"My workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,-20],"id":"73a7008d-45a1-4e1a-b2fc-68e9c96d0cf9","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=Create a suspenseful 1-minute Hindi short story (150-165 words) that will keep listeners on the edge of their seats. The story must have supernatural or mystical elements with an ominous tone. Include Urdu terminology including: Shazadi (शहज़ादी), Molvi (मौलवी), Kamra (कमरा), Paida (पैदा), Walida (वालिदा), and Shahnshah (शहंशाह).\n\nTheme: {{ $node['Generate Story Parameters'].json.theme }}\nSetting: {{ $node['Generate Story Parameters'].json.setting }}\n\nRequirements:\n1. Begin with a SURPRISING or UNSETTLING first line that immediately creates mystery\n2. Include at least one eerie sensory detail (strange sound, unnatural sensation, etc.)\n3. Build rising tension through the middle of the story\n4. End with a shocking twist or revelation that will haunt the listener\n5. Make listeners feel as if they're experiencing the supernatural events themselves\n\nIMPORTANT: Write the ENTIRE story in Hindi using Devanagari script (हिंदी में लिखें). Create a complete story with a beginning, escalating middle, and surprising end.","messages":{"messageValues":[{"message":"=You are a master storyteller specializing in chilling, suspenseful Hindi mystical short stories with an Urdu tone. You create captivating, complete stories with powerful hooks that create immediate tension and mystery, compelling listeners to stay until the very end. Your stories evoke strong emotions—fear, wonder, or dread—through vivid sensory details and unexpected twists.\n\n## Follow these requirements exactly:\n- Create complete stories of 150-165 words maximum (suitable for 1-minute narration)\n- Never use scene breaks\n- Use Hindi words with Urdu terminology and tone\n- ALWAYS use these Urdu terms: Shazadi (शहज़ादी), Molvi (मौलवी), Kamra (कमरा), Paida (पैदा), Walida (वालिदा), Shahnshah (शहंशाह)\n- Start with a POWERFUL, UNUSUAL hook that creates immediate curiosity or tension\n- Include at least one sensory detail that creates atmosphere (sound, smell, temperature)\n- Build tension throughout with foreshadowing and escalating stakes\n- End with a shocking twist or revelation that will haunt the listener\n- Write in a way that's ready for voice narration with natural pauses and emphasis\n- IMPORTANT: Write the entire story in Hindi using Devanagari script (हिंदी में)\n\n## DO NOT:\n- Use generic or predictable openings\n- Leave stories incomplete or with obvious conclusions\n- Exceed 165 words\n- Forget to incorporate the required Urdu terminology\n- Include modern elements or anachronisms\n- Write the story in Roman/English alphabet"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[40,-20],"id":"dec86888-5307-4262-bdfd-e29e5d57d2ab","name":"Generate Story"},{"parameters":{"jsCode":"// Array of possible themes\nconst themes = [\n  \"ancient curse\",\n  \"haunted treasure\", \n  \"royal secret\",\n  \"forbidden ritual\",\n  \"vengeful spirit\",\n  \"dark prophecy\",\n  \"mystical transformation\",\n  \"lost soul\",\n  \"ancestral guardian\",\n  \"supernatural bargain\"\n];\n\n// Array of possible settings\nconst settings = [\n  \"forgotten palace\",\n  \"ancient temple\",\n  \"hidden village\",\n  \"abandoned mansion\",\n  \"royal court\",\n  \"misty forest\",\n  \"underground chamber\",\n  \"mountain fortress\",\n  \"riverside ruins\",\n  \"desert tomb\"\n];\n\n// Randomly select one theme and one setting\nconst selectedTheme = themes[Math.floor(Math.random() * themes.length)];\nconst selectedSetting = settings[Math.floor(Math.random() * settings.length)];\n\n// Prepare the output\nconst selection = {\n  theme: selectedTheme,\n  setting: selectedSetting,\n};\n\n// Return it for use in n8n workflow\nreturn selection;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,-20],"id":"1240d5e1-476b-497e-96f0-8153d408d416","name":"Generate Story Parameters"},{"parameters":{"modelName":"models/gemini-1.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[100,180],"id":"6c4b93db-8747-4506-a87c-74b6762f70ad","name":"Google Gemini 1.5 Pro Model","credentials":{"googlePalmApi":{"id":"zwTeEecvrA4f0HRt","name":"SD Social Gemini Account"}}},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/zgqefOY5FPQ3bB7OZTVR","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_128"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $node['Generate Story'].json.text }}"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,-20],"id":"1b2ade52-4246-4427-b08d-084f59091f3e","name":"Generate Audio","credentials":{"httpHeaderAuth":{"id":"QcZaNhLooDUSfO2Y","name":"Elevenlabs API Key"}}},{"parameters":{"operation":"upload","bucketName":"n8n-assets","fileName":"story-voice.mp3","additionalFields":{"parentFolderKey":"voice"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[620,-20],"id":"24b48425-a228-44eb-b07d-14e7cb713e56","name":"Upload To Cloud","credentials":{"s3":{"id":"kFgmGa6ctMXtgqN1","name":"Sayan's Project R2 Account"}}},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"language","value":"hi"},{"name":"response_format","value":"verbose_json"},{"name":"timestamp_granularities[]","value":"word"},{"name":"url","value":"https://pub-548c7339d02244f48a3d1760c3fabdf7.r2.dev/voice/story-voice.mp3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-20],"id":"a9cf9fe8-9aa4-4859-976b-3b6673154cd8","name":"Transcript Audio","credentials":{"httpHeaderAuth":{"id":"5c9jsSkQksFsvBnV","name":"Groq API Key"}}},{"parameters":{"promptType":"define","text":"=Story: {{ $('Generate Story').item.json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert image prompt designer specialized in generating cinematic-quality visual prompts for storytelling videos.\n\nYour task is to read the full Hindi story provided by the user and break it down into a sequence of exactly 15 scenes (or fewer/more as needed based on story details).  \nFor each important scene or event in the story, generate a detailed, high-quality image prompt that covers that moment perfectly.\n\n## Requirements:\n- Follow the **story flow** very carefully — generate prompts as the story progresses scene-by-scene, without skipping any important detail or event.\n- Maintain **strict character consistency** across all prompts — same faces, clothing, physical features, style, etc.\n- Each prompt must include full **character descriptions** (appearance, clothes, emotions) and **environment details** (background, mood, atmosphere).\n- Each image prompt should already be complete — the user should not have to add anything manually.\n- Every image prompt must include this artistic style line exactly at the end:  \n  `\"Create imagine highly detailed digital illustration Ancient style pictures, semi-realistic art, 4K Ultra HD, dynamic cinematic lighting, crystal clear face.\"`\n- Focus on creating **vivid**, **cinematic**, and **emotionally powerful** imagery that perfectly matches the tone and mood of the story.\n- Make the prompts ready to directly copy-paste into **META AI** image generator, without needing manual editing.\n\n## Important Rules:\n- Do not invent new story parts — only use what is given in the user's Hindi story.\n- Do not change character looks or settings once defined — strict visual continuity must be maintained.\n- No prompts should be generic or vague; each must feel like a *scene captured from a movie*.\n\n## Goal:  \nEnsure that when these images are generated and stitched together, they will create a **flawless, perfectly flowing story video** where voiceover and visuals match exactly, without any missing visuals or inconsistencies."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1060,-20],"id":"910bc23a-5011-400c-8892-2e560cff0503","name":"Generate Image Prompt"},{"parameters":{"model":"meta-llama/llama-4-maverick:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1020,180],"id":"aaa16546-56c7-4d58-affd-f2ba2e1de343","name":"Meta Llama 4 Maverick","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"prompt\": \"<1st Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<2nd Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<3rd Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<4th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<5th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<6th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<7th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<8th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<9th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<10th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<11th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<12th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<13th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<14th Image Prompt>\"\n  },\n  {\n    \"prompt\": \"<15th Image Prompt>\"\n  }\n]\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1280,180],"id":"7afae236-c9aa-44ac-94d9-ea02d100a0d3","name":"Structured Output Parser"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Generate Story Parameters","type":"main","index":0}]]},"Generate Story":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Story Parameters":{"main":[[{"node":"Generate Story","type":"main","index":0}]]},"Google Gemini 1.5 Pro Model":{"ai_languageModel":[[{"node":"Generate Story","type":"ai_languageModel","index":0}]]},"Generate Audio":{"main":[[{"node":"Upload To Cloud","type":"main","index":0}]]},"Upload To Cloud":{"main":[[{"node":"Transcript Audio","type":"main","index":0}]]},"Transcript Audio":{"main":[[{"node":"Generate Image Prompt","type":"main","index":0}]]},"Meta Llama 4 Maverick":{"ai_languageModel":[[{"node":"Generate Image Prompt","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Image Prompt","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9c6042bc-3e07-49dc-9bc1-1af5d323842a","triggerCount":0,"tags":[]}