n8n-github-backup-aIwuAC2P57aO4bcB.json
{"createdAt":"2024-11-24T08:20:40.904Z","updatedAt":"2025-04-23T19:02:35.000Z","id":"aIwuAC2P57aO4bcB","name":"n8n GitHub Backup","active":true,"nodes":[{"parameters":{"batchSize":1,"options":{}},"id":"10f4ba2c-fa0f-4937-8395-7d24d1f21a78","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1940,1020]},{"parameters":{"outputFieldName":"current_date","options":{}},"id":"524c2f92-1572-4f1e-8808-222ca3d26d71","name":"Set Date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1540,740]},{"parameters":{"operation":"formatDate","date":"={{ $('Set Date').item.json.current_date }}","format":"custom","customFormat":"dd-MM-yyyy_H:mm","outputFieldName":"formatted_date","options":{}},"id":"e121603f-ac7c-4459-a570-b038c8395231","name":"Format Date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1740,740]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commit_date","value":"={{ $('Format Date').item.json.formatted_date }}"}]},"options":{}},"id":"ca9e86c8-90eb-4b48-b6ff-7acd2c52a7a5","name":"Set Commit Date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1940,740]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"sayandey18","mode":"list","cachedResultName":"sayandey18","cachedResultUrl":"https://github.com/sayandey18"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/sayandey18/n8n-backup"},"filePath":"="},"id":"87215a85-3422-42eb-9a29-6d2d256634e3","name":"List Files From GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[2140,740],"alwaysOutputData":true,"webhookId":"5bddf6eb-ed12-4e03-9549-01acb47cb0c2","credentials":{"githubOAuth2Api":{"id":"ahkJ7wY0ppEZp8x9","name":"GitHub Account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"eaf52643-a73e-4211-97ab-dbc4f9ab24de","name":"Combine File Names","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1320,1020]},{"parameters":{"filters":{},"requestOptions":{}},"id":"4bb4a275-88ff-4d3b-939a-d94adbf54244","name":"Retrieve n8n Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1520,1020],"credentials":{"n8nApi":{"id":"1N54fxyXbXmrEqC9","name":"n8n Account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $('Retrieve n8n Workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve n8n Workflows').item.json.id }}.json"}},"id":"0f46bf85-e9b1-477b-8d97-1ae6d1c96cb8","name":"Move JSON to Binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1720,1020]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Combine File Names').item.json.name }}","operation":"contains","value2":"={{ $('Split to single items').item.binary.data.fileName }}"}]}},"id":"bf44ac36-f5bd-4782-a1ad-7c47928b4e82","name":"Check Workflow Exists in GitHub","type":"n8n-nodes-base.if","typeVersion":1,"position":[2140,1020]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"sayandey18","mode":"list","cachedResultName":"sayandey18","cachedResultUrl":"https://github.com/sayandey18"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/sayandey18/n8n-backup"},"filePath":"={{ $('Check Workflow Exists in GitHub').item.binary.data.fileName }}","fileContent":"={{ $('Create Upload Base64').item.json.data }}","commitMessage":"=backup-{{ $('Set Commit Date').item.json.commit_date }}"},"id":"f086892f-79db-4d3a-b426-34f32f62f678","name":"Upload Backups","type":"n8n-nodes-base.github","typeVersion":1,"position":[2820,1020],"webhookId":"d157b671-6730-4deb-9d2d-777ee195722d","credentials":{"githubOAuth2Api":{"id":"ahkJ7wY0ppEZp8x9","name":"GitHub Account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"sayandey18","mode":"list","cachedResultName":"sayandey18","cachedResultUrl":"https://github.com/sayandey18"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/sayandey18/n8n-backup"},"filePath":"={{ $('Check Workflow Exists in GitHub').item.binary.data.fileName }}","fileContent":"={{ $('Create Update Base64').item.json.data }}","commitMessage":"=backup-{{ $('Set Commit Date').item.json.commit_date }}"},"id":"77256c16-59ca-44ae-ab6e-e1cc5967ed5f","name":"Update Backups","type":"n8n-nodes-base.github","typeVersion":1,"position":[2600,1020],"webhookId":"54d104ea-e20a-4cc1-a1ab-bd57a9ae38b0","credentials":{"githubOAuth2Api":{"id":"ahkJ7wY0ppEZp8x9","name":"GitHub Account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"b76bdb13-c739-403d-a911-472d3a3b923c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1340,740]},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2400,740],"id":"253a5cd8-e379-4418-ada7-423ed90e5c59","name":"Create Update Base64"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2400,1020],"id":"c019d7a3-b281-4469-b936-f4f02888a5e0","name":"Create Upload Base64"}],"connections":{"Split to single items":{"main":[[{"node":"Check Workflow Exists in GitHub","type":"main","index":0}]]},"Set Date":{"main":[[{"node":"Format Date","type":"main","index":0}]]},"Format Date":{"main":[[{"node":"Set Commit Date","type":"main","index":0}]]},"Set Commit Date":{"main":[[{"node":"List Files From GitHub","type":"main","index":0}]]},"List Files From GitHub":{"main":[[{"node":"Combine File Names","type":"main","index":0}]]},"Combine File Names":{"main":[[{"node":"Retrieve n8n Workflows","type":"main","index":0}]]},"Retrieve n8n Workflows":{"main":[[{"node":"Move JSON to Binary","type":"main","index":0}]]},"Move JSON to Binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Check Workflow Exists in GitHub":{"main":[[{"node":"Create Update Base64","type":"main","index":0}],[{"node":"Create Upload Base64","type":"main","index":0}]]},"Upload Backups":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Update Backups":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Date","type":"main","index":0}]]},"Create Update Base64":{"main":[[{"node":"Update Backups","type":"main","index":0}]]},"Create Upload Base64":{"main":[[{"node":"Upload Backups","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c84d7f5-ab8c-4197-b9b3-69a2e84152b5","triggerCount":1,"tags":[]}