play-areas-bsg6WpsI1QtdXWit.json
{"createdAt":"2025-03-07T07:29:44.980Z","updatedAt":"2025-03-07T08:18:16.000Z","id":"bsg6WpsI1QtdXWit","name":"Play Areas","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-520,-180],"id":"14c71afb-d2fe-4cef-a3c6-6114a0295bf7","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,-180],"id":"09046031-7da4-4f22-b286-cebc544c3510","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1XUrjkRx8vcWA8__kC5qNFc3Cfah0kXzbtJ_koCqHR6U","mode":"list","cachedResultName":"New Import 7th May","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XUrjkRx8vcWA8__kC5qNFc3Cfah0kXzbtJ_koCqHR6U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1235957802,"mode":"list","cachedResultName":"Site Import","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XUrjkRx8vcWA8__kC5qNFc3Cfah0kXzbtJ_koCqHR6U/edit#gid=1235957802"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-300,-180],"id":"9efc04cb-b702-42fd-9266-69fce0bab09c","name":"Import Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"documentId":{"__rl":true,"value":"1XUrjkRx8vcWA8__kC5qNFc3Cfah0kXzbtJ_koCqHR6U","mode":"list","cachedResultName":"New Import 7th May","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XUrjkRx8vcWA8__kC5qNFc3Cfah0kXzbtJ_koCqHR6U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":155383971,"mode":"list","cachedResultName":"Site Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XUrjkRx8vcWA8__kC5qNFc3Cfah0kXzbtJ_koCqHR6U/edit#gid=155383971"},"filtersUI":{"values":[{"lookupColumn":"field_google_place_id","lookupValue":"={{ $json.place_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,-160],"id":"87089083-9d60-43d6-9a6e-70fc3fecf26a","name":"Main Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1o9YsUOw1GTQdXXFJvveq6Gfw0mcryB4pLvxt0Ush7lA","mode":"list","cachedResultName":"Imp Play","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o9YsUOw1GTQdXXFJvveq6Gfw0mcryB4pLvxt0Ush7lA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":833646680,"mode":"list","cachedResultName":"Site Import","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o9YsUOw1GTQdXXFJvveq6Gfw0mcryB4pLvxt0Ush7lA/edit#gid=833646680"},"columns":{"mappingMode":"defineBelow","value":{"place_id":"={{ $json.field_google_place_id }}","post_id":"={{ $json.post_id }}"},"matchingColumns":["place_id"],"schema":[{"id":"post_id","displayName":"post_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"place_id","displayName":"place_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"review","displayName":"review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags - 2","displayName":"tags - 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags combined","displayName":"tags combined","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1020,-20],"id":"5d34cbe4-a82e-4191-bbbe-638500de974f","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[860,-220],"id":"14272c94-e142-40a3-b61e-a1bb6c95ed53","name":"Wait","webhookId":"c1138b20-d96a-4d9c-aa93-866ec8ebe3ad"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[560,40],"id":"e6cffa05-17bf-4916-8640-b99177bc9d58","name":"Wait1","webhookId":"aec40d24-e662-43fe-868e-04935c34280e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96636cef-dd7c-4d78-8d19-3ee2133f5a71","leftValue":"={{ $json.post_id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}},{"id":"64e4ee04-919e-4548-afc5-644d6655ca35","leftValue":"={{ $json.field_google_place_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,-160],"id":"918031ae-948c-4c94-99d3-aedaed8a78d7","name":"If"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Import Sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Main Sheet","type":"main","index":0}]]},"Import Sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Main Sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8392b80e-cefb-4561-81b2-bf26fa63b390","triggerCount":0,"tags":[]}