pms-timelog-test-GNgeMByzjZJKFyyT.json
{"createdAt":"2024-11-28T14:24:52.264Z","updatedAt":"2024-11-28T14:24:52.264Z","id":"GNgeMByzjZJKFyyT","name":"PMS Timelog Test","active":false,"nodes":[{"parameters":{"options":{}},"id":"fbefda78-8404-4ab1-9838-bb77b9183aa9","name":"Loop Tasks","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2360,-700]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"425cc578-3297-45e6-b7cb-acb18a1bf949","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2600,-700]},{"parameters":{"method":"POST","url":"=https://matrixmediasolutions.proofhub.com/api/v3/projects/{{ $json.project_id }}/timesheets/{{ $json.timesheet }}/time","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $json.project.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"project","value":"={{ $json.project_id }}"},{"name":"timesheet_id","value":"={{ $json.timesheet }}"},{"name":"date","value":"={{ $json.logged_date }}"},{"name":"logged_hours","value":"={{ $json.logged_hours }}"},{"name":"logged_mins","value":"={{ $json.logged_minutes }}"},{"name":"status","value":"none"},{"name":"description","value":"={{ $json.remarks }}"},{"name":"list_id","value":"={{ $json.list_id }}"},{"name":"task_id","value":"={{ $json.task_id }}"}]},"options":{}},"id":"897aab97-aacb-4a62-8cd3-ced6f7fd49b2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,-680]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ","mode":"list","cachedResultName":"PMS Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.logged_date.split('-').reverse().join('-') }}","Name":"={{ $json.project.author }}","Project Name":"={{ $json.project.name }}","Remarks":"={{ $json.remarks }}","Total":"={{ $json.logged_hours + ' hr ' + $json.logged_minutes + ' min' }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"754bc279-930f-41fd-b63c-1a475447e66b","name":"Update Google Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2140,-580],"credentials":{}},{"parameters":{"httpMethod":"POST","path":"5ce41cff-b7d1-4e6f-a5d9-e0c1f12fc028","options":{}},"id":"993910bc-7488-4ee6-8003-bdea81e42ec0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2820,-700],"webhookId":"5ce41cff-b7d1-4e6f-a5d9-e0c1f12fc028"}],"connections":{"Loop Tasks":{"main":[[],[{"node":"HTTP Request","type":"main","index":0},{"node":"Update Google Sheet","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Update Google Sheet":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9bcd7d46-d15f-4690-80f3-20d4981f918c","triggerCount":1,"tags":[]}