pms-timelog-n6rzx4UmJVtZBuzW.json
{"createdAt":"2024-11-23T17:59:14.400Z","updatedAt":"2024-11-26T14:41:20.000Z","id":"n6rzx4UmJVtZBuzW","name":"PMS Timelog","active":true,"nodes":[{"parameters":{"options":{}},"id":"075a1de9-f5c4-4204-93ec-ce778b38653b","name":"Loop Tasks","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2360,-700]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"c5d3d8d2-6094-4d53-9670-7aeb68876119","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2600,-700]},{"parameters":{"method":"POST","url":"=https://matrixmediasolutions.proofhub.com/api/v3/projects/{{ $json.project_id }}/timesheets/{{ $json.timesheet }}/time","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $json.project.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"project","value":"={{ $json.project_id }}"},{"name":"timesheet_id","value":"={{ $json.timesheet }}"},{"name":"date","value":"={{ $json.logged_date }}"},{"name":"logged_hours","value":"={{ $json.logged_hours }}"},{"name":"logged_mins","value":"={{ $json.logged_minutes }}"},{"name":"status","value":"none"},{"name":"description","value":"={{ $json.remarks }}"},{"name":"list_id","value":"={{ $json.task_id }}"},{"name":"task_id","value":"={{ $json.subtask_id }}"}]},"options":{}},"id":"517130b8-2d04-4c8b-930a-4799af489588","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,-680]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ","mode":"list","cachedResultName":"PMS Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.logged_date }}","Name":"={{ $json.project.author }}","Hours":"={{ $json.logged_hours }}","Minutes":"={{ $json.logged_minutes }}","Project Name":"={{ $json.project.name }}","Remarks":"={{ $json.remarks }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hours","displayName":"Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Minutes","displayName":"Minutes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}]},"options":{}},"id":"7474ba63-826f-4348-8885-9ef0fefce796","name":"Update Google Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2180,-560],"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"httpMethod":"POST","path":"7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c","options":{}},"id":"75c5b98e-5c2e-47cc-bb93-0f0606d11b7d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2820,-700],"webhookId":"7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c"}],"connections":{"Loop Tasks":{"main":[[],[{"node":"Update Google Sheet","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Update Google Sheet":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58bf89f3-7517-43b4-8b68-a9b4b004dc5b","triggerCount":1,"tags":[]}