pms-timelog-n6rzx4UmJVtZBuzW.json
{"createdAt":"2024-11-23T17:59:14.400Z","updatedAt":"2024-11-25T10:31:36.000Z","id":"n6rzx4UmJVtZBuzW","name":"PMS Timelog","active":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"3a7d9a36-8327-49b5-a107-95228655ba28","name":"date","value":"={{ $('Loop Tasks').item.json.date }}","type":"string"},{"id":"2f1e547e-19d8-4fbd-8be7-f68c7b3aabd3","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"6e9e1b7f-fa3c-49fc-aba1-da3a060f6681","name":"logged_hours","value":"={{ $('Loop Tasks').item.json.logged_hours }}","type":"string"},{"id":"3a329d72-525d-4903-9337-19a0a4841951","name":"logged_minutes","value":"={{ $('Loop Tasks').item.json.logged_minutes }}","type":"string"},{"id":"b795d7e1-a571-4401-8e62-e6efeb78a1a2","name":"task_remarks","value":"={{ $('Loop Tasks').item.json.task_remarks }}","type":"string"}]},"options":{}},"id":"af0071a2-69a9-4d16-85b8-9449b80ae061","name":"Arrange Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1940,-620]},{"parameters":{"options":{}},"id":"075a1de9-f5c4-4204-93ec-ce778b38653b","name":"Loop Tasks","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2360,-700]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ","mode":"list","cachedResultName":"PMS Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.date }}","Project Name":"={{ $json.title }}","Hours":"={{ $json.logged_hours }}","Minutes":"={{ $json.logged_minutes }}","Remarks":"={{ $json.task_remarks }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hours","displayName":"Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Minutes","displayName":"Minutes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"9df9ab80-db87-4358-82bf-96a7776dae54","name":"Update Google Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1740,-620],"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"url":"=https://matrixmediasolutions.proofhub.com/api/v3/projects/{{ $json.project_id }}/todolists/{{ $json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"0c9f0527b8a69d311ca6b490de8f30ff9de50a0f"}]},"options":{}},"id":"a11653cb-337b-412d-a7c6-ce46ebaf7a23","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2180,-620]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"c5d3d8d2-6094-4d53-9670-7aeb68876119","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2600,-700]},{"parameters":{"httpMethod":"POST","path":"7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c","options":{}},"id":"75c5b98e-5c2e-47cc-bb93-0f0606d11b7d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2820,-700],"webhookId":"7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c"}],"connections":{"Arrange Fields":{"main":[[{"node":"Update Google Sheet","type":"main","index":0}]]},"Loop Tasks":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Arrange Fields","type":"main","index":0},{"node":"Loop Tasks","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3235dcd5-d97c-4a95-b6ce-7d298072f641","triggerCount":1,"tags":[]}