pms-timelog-n6rzx4UmJVtZBuzW.json
{"createdAt":"2024-11-23T17:59:14.400Z","updatedAt":"2025-05-21T13:42:22.000Z","id":"n6rzx4UmJVtZBuzW","name":"PMS Timelog","active":true,"nodes":[{"parameters":{"options":{}},"id":"075a1de9-f5c4-4204-93ec-ce778b38653b","name":"Loop Tasks","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2360,-700]},{"parameters":{"fieldToSplitOut":"body","options":{}},"id":"c5d3d8d2-6094-4d53-9670-7aeb68876119","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2600,-700]},{"parameters":{"httpMethod":"POST","path":"7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c","options":{}},"id":"75c5b98e-5c2e-47cc-bb93-0f0606d11b7d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2820,-700],"webhookId":"7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c"},{"parameters":{"method":"POST","url":"=https://matrixmediasolutions.proofhub.com/api/v3/projects/{{ $('Loop Tasks').item.json.project_id }}/timesheets/{{ $('Loop Tasks').item.json.timesheet }}/time","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('Loop Tasks').item.json.project.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"project","value":"={{ $('Loop Tasks').item.json.project_id }}"},{"name":"timesheet_id","value":"={{ $('Loop Tasks').item.json.timesheet }}"},{"name":"date","value":"={{ $('Loop Tasks').item.json.logged_date }}"},{"name":"logged_hours","value":"={{ $('Loop Tasks').item.json.logged_hours }}"},{"name":"logged_mins","value":"={{ $('Loop Tasks').item.json.logged_minutes }}"},{"name":"description","value":"={{ $('Loop Tasks').item.json.remarks }}"},{"name":"list_id","value":"={{ $('Loop Tasks').item.json.list_id }}"},{"name":"task_id","value":"={{ $('Loop Tasks').item.json.task_id }}"},{"name":"timer","value":"true"},{"name":"status","value":"none"}]},"options":{}},"id":"517130b8-2d04-4c8b-930a-4799af489588","name":"Update ProofHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1700,-580]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ","mode":"list","cachedResultName":"PMS Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ii51UxskERLYl220ak5P07uHtxMrAFOajN58QoGPsaQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ new Date().toLocaleString('default', { month: 'long' }) + \"_\" + new Date().getFullYear() }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('Loop Tasks').item.json.logged_date.split('-').reverse().join('-') }}","Name":"={{ $('Loop Tasks').item.json.project.author }}","Project Name":"={{ $('Loop Tasks').item.json.project.name }}","Remarks":"={{ $('Loop Tasks').item.json.remarks }}","Total":"={{ $('Loop Tasks').item.json.logged_hours + ' hr ' + $json.logged_minutes + ' min' }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7474ba63-826f-4348-8885-9ef0fefce796","name":"Update GSheet 1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2140,-580],"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1t-9mscc2tDn8l4tAZZoPFgF2RVq69EDV14ZkAAjCRBg","mode":"list","cachedResultName":"WP Team working time sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t-9mscc2tDn8l4tAZZoPFgF2RVq69EDV14ZkAAjCRBg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ new Date().toLocaleString('default', { month: 'long' }) + \" \" + new Date().getFullYear() }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('Loop Tasks').item.json.logged_date.split('-').reverse().join('-') }}","Project Name":"={{ $('Loop Tasks').item.json.project.name }}","Team Member":"={{ $('Loop Tasks').item.json.project.author }}","Task Description":"={{ $('Loop Tasks').item.json.remarks }}","Time spent":"={{ $('Loop Tasks').item.json.logged_hours + ' hr ' + $('Loop Tasks').item.json.logged_minutes + ' min' }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Team Member","displayName":"Team Member","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task Description","displayName":"Task Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time spent","displayName":"Time spent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4545a25a-9daa-498f-ab98-4d1ede010696","name":"Update GSheet 2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1920,-580],"credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}}],"connections":{"Loop Tasks":{"main":[[],[{"node":"Update GSheet 1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Update ProofHub":{"main":[[{"node":"Loop Tasks","type":"main","index":0}]]},"Update GSheet 1":{"main":[[{"node":"Update GSheet 2","type":"main","index":0}]]},"Update GSheet 2":{"main":[[{"node":"Update ProofHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.serverhome.biz","user-agent":"WordPress/6.8.1","content-length":"1578","accept":"*/*","accept-encoding":"deflate, gzip, br, zstd","content-type":"application/json","x-forwarded-for":"140.245.225.23","x-forwarded-host":"n8n.serverhome.biz","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"834c32a665d2","x-real-ip":"140.245.225.23"},"params":{},"query":{},"body":[{"timesheet":"9514849507","project_id":"8715000937","list_id":"267580058283","task_id":"447138002368","logged_date":"2025-05-20","logged_hours":"00","logged_minutes":"30","remarks":"Aludecor internal scrum call and project meeting","project":{"name":"Alu Decor - Headless (ID: MMSPL/24-25/0114)","apikey":"0c9f0527b8a69d311ca6b490de8f30ff9de50a0f","author":"Sayan","authorid":"12467795228"}},{"timesheet":"9514849507","project_id":"8715000937","list_id":"267580058283","task_id":"439280712711","logged_date":"2025-05-20","logged_hours":"02","logged_minutes":"00","remarks":"Modify the BIM filter API to pass the default DOWNLOAD link as a fallback","project":{"name":"Alu Decor - Headless (ID: MMSPL/24-25/0114)","apikey":"0c9f0527b8a69d311ca6b490de8f30ff9de50a0f","author":"Sayan","authorid":"12467795228"}},{"timesheet":"9514849507","project_id":"8715000937","list_id":"267580058283","task_id":"447139454220","logged_date":"2025-05-20","logged_hours":"04","logged_minutes":"15","remarks":"Working on the Aludecor Project details page API","project":{"name":"Alu Decor - Headless (ID: MMSPL/24-25/0114)","apikey":"0c9f0527b8a69d311ca6b490de8f30ff9de50a0f","author":"Sayan","authorid":"12467795228"}},{"timesheet":"8452894083","project_id":"7814648900","list_id":"264386783494","task_id":"428033998933","logged_date":"2025-05-20","logged_hours":"01","logged_minutes":"15","remarks":"Update the timesheet and fill the time data on GSheet.","project":{"name":"Associate Hours","apikey":"0c9f0527b8a69d311ca6b490de8f30ff9de50a0f","author":"Sayan","authorid":"12467795228"}}],"webhookUrl":"https://n8n.serverhome.biz/webhook/7b6e7c31-e64d-4eb6-8f14-8e7188c1da9c","executionMode":"production"}}]},"versionId":"0fde7c72-98a9-4ff6-9337-fdc667bbd1cd","triggerCount":1,"tags":[]}