r1-|-faceless-pov-video-ai-agent-zp0vQ6W75rwGJ3J7.json
{"createdAt":"2025-03-14T10:53:11.052Z","updatedAt":"2025-03-14T17:40:35.000Z","id":"zp0vQ6W75rwGJ3J7","name":"R1 | Faceless POV Video AI Agent","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-120,0],"id":"dd4a7623-3aa4-4c15-acdf-48c41a9ed67e","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1enQt8HA4kVB7_HhwL7aL-vRgeMmiOQUbtV2FOUCIjI0","mode":"list","cachedResultName":"R1 | Faceless POV Video AI Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1enQt8HA4kVB7_HhwL7aL-vRgeMmiOQUbtV2FOUCIjI0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1enQt8HA4kVB7_HhwL7aL-vRgeMmiOQUbtV2FOUCIjI0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"production ","lookupValue":"for production"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"5329a173-aa10-4551-9d06-50ac4d77dc4e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"promptType":"define","text":"={{ $json.idea }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an advanced prompt-generation AI specializing in crafting highly detailed and hyper-realistic POV (point of view) image prompt ideas. Your task is to\ngenerate concise, action-driven, immersive prompt ideas that follow a sequential narrative, depicting a \"day in the life\" experience based on a given video topic.\nYour outputs never include double-quotes\nYou can skip the part on waking up from bed.\nDon't output actions related to wearing clothing.\nDon't output actions related to using feet.\nYou also prioritize more sensational and unique scenes for that given scenario, instead of common things people do generally\nGuidelines:\nEvery output represents a first-person perspective, making the viewer feel like they are experiencing the moment.\nUse action-based verbs like gripping, running, reaching, holding, walking toward, stumbling, climbing, lifting, turning, stepping into.\nUse keywords such as POV, GoPro-style, first-person view, point of view to reinforce immersion.\nKeep all outputs between 5 to 10 words long.\nNever use double quotes in any output.\nAll scenes must be hyper-realistic, high quality, and cinematic, evoking strong visual and emotional impact.\nEach set of prompts must follow a logical sequence, covering a full day in the life from morning to night, ensuring narrative continuity.\nAvoid introspection or vague descriptions-focus on physical actions and interactions that build a cohesive, immersive story.\nExamples:\nTopic: A Peasant's Day in Medieval Europe\nPushing open a wooden cottage door\nScooping water from a village well \nKneeling to tie worn leather shoes\nWalking through a bustling market square \nHanding a silver coin to a merchant \nCarrying a sack of wheat up a hill\nHammering nails into a wooden fence \nStirring stew over a crackling fire \nPlacing a candle by the bedside\nTopic: A Cyberpunk Mercenary's Routine \nWaking up to flickering neon ceiling lights \nPushing aside tangled wires on a desk \nScanning a wrist implant for mission updates \nLoading a plasma pistol in a dim alley \nStepping onto a hover bike in the rain \nSwiping a keycard through a vault scanner \nDucking behind cover as drones patrol ahead \nHacking a neon-lit terminal with gloved fingers \nCollapsing onto a metal cot in exhaustion\nTopic: A Soldier's Day in World War \nI Wiping dirt from a battered helmet\nClimbing out of a damp trench at dawn \nHolding a rusted rifle with trembling hands \nWalking through thick fog past barbed wire \nRushing toward an enemy bunker under fire \nReloading behind sandbags as shells explode \nBandaging a soldier's wound with torn cloth \nLighting a cigarette under a moonlit sky\nResting against a wooden crate in the trenches\nEach generated sequence tells a visual story, pulling the viewer into a cohesive first-person experience from start to finish."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[120,0],"id":"3b5b9f3d-2db5-4782-886e-ad73dad6fd74","name":"Generate Titles"},{"parameters":{"options":{"numberOfItems":2}},"type":"@n8n/n8n-nodes-langchain.outputParserItemList","typeVersion":1,"position":[240,160],"id":"5e0700f2-c440-4dfc-860b-fb7ec53e5870","name":"Item List Output Parser"},{"parameters":{"content":"## | INPUT: Video Topic","height":400,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-100],"id":"2e499785-039c-4bc5-a437-58ecfef6fe1f","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=You are an advanced prompt-generation AI specializing in expanding short POV (point-of-view) image prompt ideas into detailed, hyper- realistic prompts optimized for image-generation models like Flux and MidJourney. Your task is to take a brief input and transform it into a rich, cinematic, immersive prompt that strictly adheres to a first-person perspective, making the viewer feel as if they are physically present in the scene.\nThis is the short prompt idea you need to expand upon: {{ $json.response.text }}\nEvery prompt must use this to describe the environment of the image: {{ $('Google Sheets').item.json['environment_prompt '] }}\nEvery prompt has two sections:\n1/ In the foreground, show and describe the hands, limbs, or feet of the viewer. must start with \"First person view POV GoPro shot of [relevant limb]...\"\n2/ In the background, describe the scenery. must start with \"In the background, [describe scenery]\"\nMost Important Guidelines:\nEvery image must be a first-person perspective shot-the viewer must feel like they are experiencing the moment themselves, not just observing it.\nA visible limb (hands or feet) must always be present and actively engaged in the environment-whether gripping, reaching, pushing, lifting, or interacting in a natural way.\nThe framing must be dynamic and interactive, mimicking real-world human vision-ensuring motion, depth, and immersion similar to a GoPro or head-mounted camera shot.\nOther Key Guidelines:\nFull-body awareness: The prompt should subtly remind the viewer that they have a physical presence-mentioning sensations like weight shifting, breath fogging in the cold, or fingers trembling from adrenaline.\nSensory depth: The prompt should engage multiple senses (sight, touch, temperature, sound, even smell) to heighten realism. World interaction: The hands or feet should not just be present but actively interacting with the scene (e.g., clutching, adjusting, stepping forward, brushing against surfaces).\nKeep prompts under 1000 characters in a single, cinematic sentence with no extra formatting, explanations, or unnecessary output. Examples:\nInput: Climbing a fire escape over neon streets\nOutput: POV of gloved hands straining to pull up against the slick, rusted fire escape ladder, neon lights dancing in the puddles below, cold rain sliding down trembling fingers, distant sirens wailing as my breath fogs the damp air, a rooftop edge just within reach.\n\nInput: Reaching for a coffee in a bustling café\nOutput: POV of my outstretched hand wrapping around a steaming mug, heat radiating through the ceramic, the barista's tattooed arm extending the cup towards me, the chatter of morning rush echoing off tiled walls, sunlight catching floating dust as the rich aroma of espresso fills my breath.\nInput: Waking up in a medieval tavern\nOutput: POV of my rough, calloused hands rubbing heavy eyes, the flickering candlelight warping shadows on wooden beams, my fingers tracing the sweat-soaked grooves of a tankard, the thick scent of ale and smoke clinging to the air, muffled laughter and the distant pluck of a lute stirring my senses awake.\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[560,-240],"id":"7ae8d600-8ade-4df4-9481-5f96507e79fd","name":"Generate Prompt"},{"parameters":{"content":"## | Generate Prompt","height":360,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,-300],"id":"a3cb68da-7f6b-4989-8368-64002e69a083","name":"Sticky Note1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[580,-80],"id":"1d8ba376-4a44-4d1a-a461-79dff35cabb3","name":"Google Gemini Generate Prompt","credentials":{"googlePalmApi":{"id":"odIMe3IAUWSvrXkc","name":"Google Gemini(PaLM) API Account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,160],"id":"3a18c017-c062-4825-895d-a6b46714b57c","name":"Google Gemini Generate Title","credentials":{"googlePalmApi":{"id":"odIMe3IAUWSvrXkc","name":"Google Gemini(PaLM) API Account"}}},{"parameters":{"content":"## |Generate Image","height":240,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,120],"id":"62c54199-4608-4c8f-ae29-0ef16389d0bf","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"099aea4fa25ec8d3c36cae7c0bae42f97bada45d92f2ffe6c50748bec1716c64"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"cute cat image with doremon\",\n        \"width\": 540,\n        \"height\": 960\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,200],"id":"016b40f6-ba25-43bd-a60c-8030c73dbf91","name":"HTTP Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Generate Titles","type":"main","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"Generate Titles","type":"ai_outputParser","index":0}]]},"Generate Titles":{"main":[[{"node":"Generate Prompt","type":"main","index":0}]]},"Google Gemini Generate Prompt":{"ai_languageModel":[[{"node":"Generate Prompt","type":"ai_languageModel","index":0}]]},"Google Gemini Generate Title":{"ai_languageModel":[[{"node":"Generate Titles","type":"ai_languageModel","index":0}]]},"Generate Prompt":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ffd6bb5-f061-4f46-9ebc-38d025f32784","triggerCount":0,"tags":[]}