sd1-|-youtube-faceless-video-[production-agency]-backup-PibDe23KZBgnlBAi.json
{"createdAt":"2025-04-05T05:23:56.728Z","updatedAt":"2025-04-05T20:17:06.000Z","id":"PibDe23KZBgnlBAi","name":"SD1 | YouTube Faceless Video [Production Agency] Backup","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Production","lookupValue":"false"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1480,-1500],"id":"e5e56aba-ab0b-43c0-9233-6f724ca6354a","name":"Story Characters","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"promptType":"define","text":"=Generate a short and engaging Hindi story (75-80 words) for children based on the given parameters. The story should be entertaining, educational, and suitable for YouTube Shorts. Make it humorous while subtly teaching a moral lesson. Conclude with a clear and simple moral statement.","messages":{"messageValues":[{"message":"=You are an expert children's storyteller specializing in short, engaging, and educational Hindi stories. Your task is to craft a fun, lighthearted, and engaging story featuring two rival animals who overcome their differences and become friends when faced with a challenge. The story should be entertaining, humorous, and educational, suitable for YouTube Shorts.\n\n## Story Parameters:\n\n- Animal 1: {{ $json['Animal 1'] }}\n- Character Name 1: {{ $json['Character Name 1'] }} (A fun and engaging nickname for the first animal)\n- Animal 2: {{ $json['Animal 2'] }}\n- Character Name 2: {{ $json['Character Name 2'] }} (A fun and engaging nickname for the second animal)\n- Environmental Setting: {{ $json['Environmental Setting'] }}\n- Conflict Scenario: {{ $json['Conflict Scenario'] }} (A situation where both rival animals are in danger and must work together)\n- Emotional Tone: {{ $json['Emotional Tone'] }} (The mood of the story – humorous, adventurous, etc.)\n\n## Story Structure:\n\n1. Name Introduction – Begin by introducing both animals by their character names first\n2. Character Description – Briefly describe their personalities and establish their rivalry\n3. Conflict – Present a crisis that forces them to work together\n4. Resolution – Show how they overcome the challenge together\n5. Friendship – End with how they become friends\n6. Moral – Add a simple lesson about teamwork, friendship, or kindness\n\n## Requirements:\n\n- Length: STRICTLY 75-80 words total (count carefully)\n- Format: A flowing narrative in a continuous paragraph without scene breaks or dialogue markers\n- Tone: Child-friendly, humorous, and engaging\n- Language: Use only basic, simple Hindi words appropriate for young children\n- Avoid: Complex words, difficult conjuncts, uncommon letter combinations\n- Use: Short sentences, everyday vocabulary, and basic Hindi characters only\n- Structure: Always start with character names before describing them as animals\n- Moral: End with \"इससे हमने सीखा\" followed by a very simple moral lesson\n- Consistent Unicode: Ensure all Hindi text uses proper UTF-8 encoding\n- Output Format: Plain text with NO MARKDOWN, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES\n\n## Response Format:\n\nA continuous paragraph (75-80 words) with name introduction, character description, conflict, resolution, friendship formation, and moral lesson ending with \"इससे हमने सीखा: [Simple moral]\"\n\n## Example Response:\n\nचंचल और धीरज नदी के पास रहते थे। चंचल एक मज़ेदार बंदर था और धीरज एक शांत कछुआ था। वे हमेशा लड़ते थे। एक दिन, एक बड़ा मगर आया और दोनों को खाना चाहा! धीरज ने चंचल को अपनी पीठ पर बैठाया, और चंचल ने पेड़ से फल फेंककर मगर को भगाया। मुसीबत में दोनों ने साथ काम किया और अब वे अच्छे दोस्त हैं। इससे हमने सीखा: साथ मिलकर हम हर मुश्किल से जीत सकते हैं।"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-1320,-1500],"id":"69036791-daa4-4f63-83ca-dee5cf2d6057","name":"Story Generator"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1220,-1320],"id":"a28e154c-6f02-475f-a107-067877a45757","name":"Story Agent (DeepSeek Chat v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"content":"## STORY GENERATOR AGENT : DeepSeek-V3-0324","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-1660],"id":"e02e5142-f231-4e6d-8917-bb1ecbc63af2","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=You are an expert story analyst and scene generator. Your task is to deeply analyze a given Hindi story and break it into eight detailed scenes. Each scene should visually describe the characters, their movements, the environment, and what happens in that part of the story. The scenes should be consistent with the story’s characters, setting, and tone, ensuring smooth transitions.\n\n## Instructions:\n\n- **Verify input:** First check if the provided Hindi text is complete and coherent. Reject fragmented or nonsensical character sequences.\n- **Read the story carefully** to identify key moments.\n- **Break it into eight logical scenes** that align with the narrative flow.\n- **Describe each scene in detail**, focusing on:\n  - **Characters & their Visuals:** How they look, their expressions, clothing (if applicable). Ensure that each character's appearance remains exactly the same across all scenes (e.g., if a character is a lion, it should never be depicted as a tiger).\n  - **Environment & Setting:** The surroundings, weather, time of day, atmosphere.\n  - **Character Movements & Actions:** What the characters are doing in that scene.\n  - **Story Progression:** What happens in that scene that moves the story forward.\n- **Ensure continuity** between scenes so that characters and settings remain visually consistent in every scene.\n- **Consistent animal identification:** Always pair animal types with character names in every scene.\n- **Consistent Unicode handling:** Ensure all Hindi text uses proper UTF-8 encoding.\n- **Output must be plain text VALID JSON** with NO MARKDOWN FORMATTING, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES between elements.\n- **Use escaped quotes (\\\") where needed** within the Hindi text.\n\n## Response Format:\n\n{\"story\":\"<Complete story in Hindi which user provided as prompt>\",\"scenes\":[{\"scene_1\":\"<Scene 1 in details>\"},{\"scene_2\":\"<Scene 2 in details>\"},{\"scene_3\":\"<Scene 3 in details>\"},{\"scene_4\":\"<Scene 4 in details>\"},{\"scene_5\":\"<Scene 5 in details>\"},{\"scene_6\":\"<Scene 6 in details>\"},{\"scene_7\":\"<Scene 7 in details>\"},{\"scene_8\":\"<Scene 8 in details>\"}]}\n\n## Example Output:\n\n{\"story\":\"चंचल और धीरज नदी किनारे रहते थे। चंचल एक शरारती बंदर और धीरज एक धीमा कछुआ था। दोनों हमेशा झगड़ते रहते। एक दिन, एक भूखा मगरमच्छ आया और दोनों को पकड़ना चाहा! धीरज ने चंचल को अपनी पीठ पर बैठाया, और चंचल ने ऊँची डाल से केले फेंककर मगरमच्छ को भगाया। मुसीबत में दोनों ने मिलकर काम किया और अब वे अच्छे दोस्त बन गए। तो इस से हमने क्या सीखा: मिलकर काम करने से हर मुश्किल आसान हो जाती है।\",\"scenes\":[{\"scene_1\":\"सुनहरी धूप से नहाया हुआ नदी किनारा, जहां चंचल बंदर पेड़ की एक निचली शाखा पर बैठा उछल-कूद कर रहा है। उसके सामने धीरज कछुआ अपनी धीमी चाल से घास पर चल रहा है। दोनों के बीच स्पष्ट विपरीत स्वभाव दिखाई देते हैं।\"},{\"scene_2\":\"चंचल बंदर अपनी भूरी रंग की फर और चंचल आंखों के साथ धीरज कछुए की हरी कठोर खोल पर फल फेंक रहा है। धीरज कछुआ अपनी खोल में सिर छिपाकर बचाव कर रहा है। दोनों के बीच तनावपूर्ण वातावरण है।\"},{\"scene_3\":\"नदी के किनारे पर दोनों अलग-अलग दिशाओं में मुंह फेरकर बैठे हैं। चंचल बंदर पेड़ पर चढ़ा हुआ है जबकि धीरज कछुआ नदी के पास धूप सेंक रहा है। दोनों एक-दूसरे को नज़रअंदाज़ कर रहे हैं।\"},{\"scene_4\":\"अचानक पानी से एक बड़ा हरा-भूरा मगरमच्छ निकलता है, उसकी आंखें भूख से चमक रही हैं और दांत बाहर निकले हुए हैं। चंचल बंदर और धीरज कछुआ दोनों डर से कांप उठते हैं। आसमान में काले बादल छा गए हैं।\"},{\"scene_5\":\"मगरमच्छ चंचल बंदर और धीरज कछुए की ओर तेजी से बढ़ रहा है। चंचल बंदर डर से चिल्ला रहा है जबकि धीरज कछुआ तुरंत एक योजना बनाता है। दोनों पहली बार एक-दूसरे की तरफ सहायता के लिए देखते हैं।\"},{\"scene_6\":\"धीरज कछुआ अपनी पीठ पर चंचल बंदर को बिठाकर तेजी से (अपने लिए) आगे बढ़ रहा है। चंचल बंदर भयभीत लेकिन आश्चर्यचकित है। मगरमच्छ पीछे से उनका पीछा कर रहा है, उसके जबड़े खुले हुए हैं।\"},{\"scene_7\":\"चंचल बंदर ऊंची पेड़ की डाल पर चढ़ा हुआ है और अपने हाथों में पके हुए पीले केले लिए हुए है। वह नीचे मगरमच्छ पर केले फेंक रहा है, जिससे मगरमच्छ भ्रमित होकर पीछे हट रहा है। धीरज कछुआ नीचे से उत्साहित होकर देख रहा है।\"},{\"scene_8\":\"सूर्यास्त के सुनहरे आसमान के नीचे, चंचल बंदर और धीरज कछुआ एक साथ बैठे हुए हंस रहे हैं। चंचल बंदर धीरज के खोल पर हाथ रखे हुए है और धीरज मुस्कुरा रहा है। दोनों के चेहरे पर मित्रता की गर्मजोशी झलक रही है, पीछे नदी शांति से बह रही है।\"}]}\n\n**IMPORTANT:**\n\nDo not include any explanatory text or additional content outside this JSON structure"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-940,-1500],"id":"ee2bb39e-59ba-4707-a684-c9c33bfa1833","name":"Scene Generator"},{"parameters":{"jsCode":"const rawText = $input.first().json.text;\nconst parsedData = JSON.parse(rawText);\nconst storyScene = parsedData.scenes;\n\n// Convert key-value scene objects\nconst storyScenes = storyScene?.map((scene, index) => {\n  const sceneDetails = `scene_${index + 1}`;\n  return {\n    json: {\n      scene: scene[sceneDetails]\n    }\n  };\n});\n\nreturn storyScenes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,-1500],"id":"cff4975f-61d7-4f4b-a2ed-a7529ebb0307","name":"Extract Scenes"},{"parameters":{"content":"## SCENE GENERATOR AGENT : DeepSeek R1","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-1660],"id":"48a27961-650f-40b1-b1ed-83197610a799","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=Create an immersive, highly detailed image prompt for the current scene that maintains PERFECT character consistency across all scenes while following the Studio Ghibli art style.\n\nFULL_STORY: {{ $('Story Generator').item.json.text }}\n\nALL_SCENES: {{ JSON.parse($('Wait For Scenes').item.json.text).scenes?.map((scene, index) => `\"${scene[`scene_${index + 1}`]}\"`).join(\", \") }}\n\nCURRENT_SCENE: {{ $json.scene }}\n\nINSTRUCTIONS:\n1. FIRST establish detailed visual specifications for each character based on available descriptions\n2. Ensure ABSOLUTE visual consistency of these character details across all scenes\n3. Extract exact environmental conditions from the current scene\n4. Capture precise emotional states and interactions between characters\n5. Include subtle visual elements that connect to future story developments\n6. Specify camera angle, framing, and composition to highlight key narrative elements\n7. Apply Studio Ghibli art style with their signature watercolor textures and lighting\n\nGenerate a highly detailed, visually rich image prompt that captures every nuance of the current scene while maintaining perfect character consistency. Focus on emotional expressiveness, character consistency, and environmental storytelling in Studio Ghibli style.","messages":{"messageValues":[{"message":"=You are an expert image prompt engineer specializing in children's storybook illustrations. Your task is to create detailed, visually consistent image prompts that capture the essence of each scene while maintaining perfect character consistency across every illustration.\n\n## Analysis Process (Complete ALL steps):\n\n### 1. Character Consistency Blueprint (HIGHEST PRIORITY)\nFor EACH character, FIRST analyze the story and scene descriptions to:\n- Extract and define a detailed visual identity from available descriptions\n- Create consistent physical attributes (fur/skin color, body proportions, size ratios)\n- Establish distinctive facial features (eye shape/color, nose structure, mouth characteristics)\n- Define unique identifying elements (markings, distinctive features)\n- CRITICAL: Document these specifications internally and ensure they remain CONSISTENT across ALL scenes\n\n### 2. Story Context Analysis\n- Identify the central narrative theme and moral lesson\n- Map character relationships and their evolution\n- Note environmental changes and their symbolic meaning\n- Track emotional progression throughout the story\n\n### 3. Environment Detail Mapping\n- Establish atmospheric conditions (time of day, weather, lighting)\n- Identify 5-7 specific environmental elements that must appear\n- Note subtle environmental cues that foreshadow future events\n- Maintain consistent color palette and geographical features\n\n### 4. Narrative Moment Precision\n- Identify the exact emotional beat in the story's progression\n- Determine character dynamics specific to this moment\n- Highlight visual elements that connect to past/future scenes\n- Emphasize details that support the story's moral lesson\n\n### 5. Technical Visual Style Requirements\n- Create images in Studio Ghibli animation style\n- Focus on painterly watercolor textures with soft lighting\n- Apply Ghibli's characteristic attention to natural detail and movement\n- Include subtle atmospheric effects (light particles, gentle motion lines)\n- Ensure realistically proportioned animals with expressive faces\n- Maintain consistent character designs across ALL scenes\n\n## Output Format:\n\nGenerate a SINGLE CONTINUOUS PARAGRAPH (250-300 words) with NO MARKDOWN FORMATTING, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES between elements. The output must be plain text suitable for direct JSON inclusion.\n\nYour output must include:\n\n1. Opening statement specifying scene setting and primary action\n2. Detailed description of CHARACTER 1 including:\n   - CONSISTENT physical appearance with 5+ specific attributes that MUST remain identical across all scenes\n   - Exact facial expression with 3+ emotional indicators\n   - Precise body posture and positioning\n   - Specific action being performed\n\n3. Detailed description of CHARACTER 2 including:\n   - CONSISTENT physical appearance with 5+ specific attributes that MUST remain identical across all scenes\n   - Exact facial expression with 3+ emotional indicators\n   - Precise body posture and positioning\n   - Specific action being performed\n\n4. Environmental details including:\n   - 5-7 specific background elements with exact placement\n   - Lighting conditions with color temperature and shadow details\n   - Atmospheric effects relevant to story context\n   - Subtle details that connect to past/future scenes\n\n5. Compositional guidance:\n   - Camera angle and framing recommendations\n   - Focal point and depth specifications\n   - Dynamic elements and movement indicators\n   - Emotional tone conveyed through visual elements\n\n6. Conclude with EXACT technical style requirements:\n   \"Use a Studio Ghibli animation style with soft watercolor textures, delicate lighting effects, and meticulous natural details. Maintain consistent character designs with realistically proportioned animals featuring expressive, friendly faces suitable for children's educational content.\""}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-100,-1500],"id":"bede3f5e-4199-4cf1-9a05-ebc28359db8d","name":"Prompt Generator"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-580,-1500],"id":"cbc1fc81-8dc1-49d3-af11-9a2f5ccefc9a","name":"Wait For Scenes","webhookId":"a5591f8a-c89c-4e6f-a855-a08b00b05bd5"},{"parameters":{"content":"## PROMPT GENERATOR AGENT : DeepSeek-V3-0324","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-1660],"id":"c8316939-d1c3-43d6-a57b-8e8c9d24875e","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,-1500],"id":"dd167864-40bb-405b-8755-d81e10c62097","name":"Wait For Prompts","webhookId":"f94bf02b-e105-4364-8593-5634779a9d29"},{"parameters":{"method":"POST","url":"https://api.sayandey.dev/v1/image/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"prompt\": \"{{ $json.text }}\",\n    \"seed\": 1311721057,\n    \"randomize_seed\": false,\n    \"width\": 720,\n    \"height\": 1280,\n    \"num_inference_steps\": 25\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-940,-1020],"id":"2ae75c59-f3d7-4be9-a5df-e2cdb02737d7","name":"Generate Images","credentials":{"httpHeaderAuth":{"id":"ui50kstAC8Gzgx0b","name":"Sayan's FLUX API Key"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-740,-1020],"id":"3a9615ca-5a09-4fba-b692-15345cf45a3e","name":"Wait For Images","webhookId":"6dcf028b-4308-4f75-988b-bc7d6abbec64"},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-540,-1020],"id":"95048d94-18a6-4a81-8176-d7fba1145355","name":"Extract Images"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-1020],"id":"226c62e5-882a-49ba-97a5-628bb8065e8e","name":"Download Images"},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').item.json['R2 Bucket'] }}","fileName":"=image-{{ $itemIndex + 1 }}.webp","additionalFields":{"parentFolderKey":"images"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-120,-1020],"id":"1edf8de3-745c-4ebb-9344-d185e9643db4","name":"Upload Images","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"content":"## IMAGE GENERATOR AGENT : OWN API FLUX.1 [Schnell]","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-1140],"id":"8c118871-7744-4433-ad09-2369b020d7cd","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://api.us.elevenlabs.io/v1/text-to-speech/zgqefOY5FPQ3bB7OZTVR","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_128"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $json.elevenlabs }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Story Generator').item.json.text }}"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1560,-1020],"id":"7ae7c20f-f24f-4651-9f9c-cfacece7406d","name":"Generate Audio"},{"parameters":{"jsCode":"const elevenLabs = $('Preset Values').first().json['ElevenLabs API'];\nconst andyNoCode = $('Preset Values').first().json['AndyNoCode API'];\nconst currentDay = new Date().getDay();\n\nreturn [\n  {\n    json: {\n      elevenlabs: elevenLabs[currentDay % elevenLabs.length],\n      andynocode: andyNoCode[currentDay % andyNoCode.length]\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,-1020],"id":"7dccf51c-88dd-49bd-b501-210960832244","name":"Serve APIs"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1360,-1020],"id":"5af75aa1-9188-4423-b378-779a06aeb2ec","name":"Wait For Audio","webhookId":"cbd35801-c077-401c-968a-28452ae24cf2"},{"parameters":{"content":"## AUDIO GENERATOR AGENT : ElevenLabs Multilingual v2","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-1140],"id":"4d2b9889-75d7-4aad-95c1-1a9dc586b14e","name":"Sticky Note4"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"language","value":"hi"},{"name":"response_format","value":"verbose_json"},{"name":"timestamp_granularities[]","value":"word"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1560,-600],"id":"cd5e9322-b141-4d21-ac5d-263911504db3","name":"Generate Audio Transcriptions","credentials":{"httpHeaderAuth":{"id":"kp7FsLoxDaOhlxtp","name":"SD Social Groq API Key"}}},{"parameters":{"url":"={{ $('Preset Values').item.json['R2 Endpoint'] }}/sounds/voice-audio.mp3","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,-600],"id":"7693a831-eadf-40b9-bf2a-fd6a90600432","name":"Download Voice"},{"parameters":{"jsCode":"const words = $input.first().json.words;\nconst result = [];\n\nfor (let i = 0; i < words.length; i += 4) {\n  const chunk = words.slice(i, i + 4);\n  result.push({\n    words: chunk.map(\n      word => word.word.charAt(0).toUpperCase() + word.word.slice(1)\n    ).join(' '),\n    start: chunk[0].start,\n    end: chunk[chunk.length - 1].end,\n  });\n}\n\nreturn {\n  json: {\n    chunks: result,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1160,-600],"id":"2008c2ff-a70a-4bc5-8c3a-2c4337486ffc","name":"Create Word Chunks"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1360,-600],"id":"f11da285-738c-4563-91bb-9d88a2df113a","name":"Wait For Transcriptions","webhookId":"6bf8cd6b-b1a7-4e7e-ba2c-42c1e9bf4bec"},{"parameters":{"content":"## WHISPER GENERATOR AGENT : OpenAI Whisper Large v3","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-740],"id":"c00ff866-be4a-4e8b-88b0-c594e92ffdca","name":"Sticky Note5"},{"parameters":{"jsCode":"function getImageLinks(endpoint, count = 8) {\n  const imageLinks = [];\n  for (let i = 1; i <= count; i++) {\n    imageLinks.push(`${endpoint}/images/image-${i}.webp`);\n  }\n  return imageLinks;\n}\n\nconst bucketEndpoint = $('Preset Values').first().json['R2 Endpoint'];\nconst imageLinks = getImageLinks(bucketEndpoint);\n\nreturn [\n  {\n    json: {\n      images: imageLinks\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-1020],"id":"57584717-b400-462a-a659-061605acde2a","name":"Get All Images"},{"parameters":{"assignments":{"assignments":[{"id":"0aada009-de73-40a2-9f45-74dcdcae3da2","name":"BG Music","value":"={{ $('Preset Values').first().json['BG Music'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-1020],"id":"4d56dacc-d885-44f1-9a8c-7a0564647b8f","name":"BG Music"},{"parameters":{"content":"## MERGE IMAGES AND AUDIOS","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-1140],"id":"32502695-1283-4f1e-b6e5-6224be7416ac","name":"Sticky Note6"},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').item.json['R2 Bucket'] }}","fileName":"voice-audio.mp3","additionalFields":{"parentFolderKey":"sounds"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-1160,-1020],"id":"bf79cbfd-0650-4203-ad53-b2050895be52","name":"Upload Audio","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,-1500],"id":"6cc4ebca-48dc-4454-b712-6f4048ec2c4c","name":"Everyday 05:30 AM"},{"parameters":{"assignments":{"assignments":[{"id":"5fb3a7b9-7c56-493b-b266-77f3b2bb2fcb","name":"R2 Bucket","value":"n8n-youtube","type":"string"},{"id":"50a74261-6612-4be7-b801-bf84abe4618b","name":"R2 Endpoint","value":"https://pub-38a2654e096044979f868c7e5f469307.r2.dev","type":"string"},{"id":"ce1635cc-fde0-4a62-a3c6-45e3a63b5d28","name":"BG Music","value":"https://pub-38a2654e096044979f868c7e5f469307.r2.dev/sounds/bg-music.mp3","type":"string"},{"id":"86d418dd-a5b5-41a8-a6b6-49176d333cf5","name":"AndyNoCode API","value":"=[\n  'f524f6016ef8269ff8e5681868864a9bcc4fd1f0a1bf943a092bcb85e884374e',\n  '749a55a9f075881db739f33e4eb29db7f5e1b6b3485e99587f807dd062b4dd6d',\n  '48032ac16c2981b6d0669380480e17f57ad86cfdecadb11a22211d1fdd21e1fc',\n  '1245c1135ff38634d35f96b915fbe2613b41ee6b0f0ab6c84f30f1c228dc0569'\n]","type":"array"},{"id":"e8a8d70a-4347-4c4a-b7a9-4c37809009f1","name":"ElevenLabs API","value":"=[\n  'sk_3839263c6c6cd412caf1b5a202e4ba1022743a78e8f2495e',\n  'sk_a627bb61b9df00be5954141341953e762c19f65cb062c801',\n  'sk_70df2b8fd142257df6ec0dbb8e8b518dd0a6e6161dffbcd2',\n  'sk_5696a83a5708fc904d974a4f02a142c18997b6cb957ea549'\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1620,-1500],"id":"315070aa-bd33-4e1b-aa78-2fa2b8577b22","name":"Preset Values"},{"parameters":{"method":"POST","url":"https://ai-automation-community.vercel.app/api/function/video-generation/image-video","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('Serve APIs').first().json.andynocode }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"type\": \"image-video\",\n    \"data\": {\n        \"voice_url\": \"{{ $json['Voice Audio'] }}\",\n        \"background_url\": \"{{ $json['BG Music'] }}\",\n        \"image_list\": {{ JSON.stringify($json.images) }},\n        \"transcripts\": {{ JSON.stringify($json.chunks) }}\n    }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,-600],"id":"bc4ce220-0191-46fc-9fab-bbca43e7b882","name":"Generate Video"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-660,-600],"id":"bcee4733-0fcf-4749-b0c3-ddddb5bf782a","name":"Merge All Items"},{"parameters":{"assignments":{"assignments":[{"id":"64825898-fa82-44f8-91c0-588404b4cb8b","name":"Voice Audio","value":"={{ $('Preset Values').item.json['R2 Endpoint'] }}/sounds/voice-audio.mp3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,-600],"id":"168c7961-7cd0-40eb-8ede-9244b101209f","name":"Voice Audio"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[480,-1020],"id":"47058ab9-03ce-45aa-8270-3c7127df22f4","name":"Merge Images & BG Music"},{"parameters":{"amount":1.3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-260,-600],"id":"57ef599c-5537-4a57-9059-854041f6807c","name":"Wait For Video","webhookId":"e1018063-f98e-4860-ba45-f54c23af7425"},{"parameters":{"url":"=https://ai-automation-community.vercel.app/api/function/video-generation/progress/{{ $json.data.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('Serve APIs').first().json.andynocode }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-600],"id":"6b071d6e-0d84-43df-afba-2fdab2134a42","name":"Check Status"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Story Characters').first().json.ID }}","Production":"true","Script":"={{ $('Story Generator').first().json.text }}","Video URL":"={{ $json['Final Video Link'] }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Animal 1","displayName":"Animal 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Character Name 1","displayName":"Character Name 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Animal 1 Visual ID","displayName":"Animal 1 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Animal 2","displayName":"Animal 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Character Name 2","displayName":"Character Name 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Animal 2 Visual ID","displayName":"Animal 2 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Setting","displayName":"Environmental Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conflict Scenario","displayName":"Conflict Scenario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Emotional Tone","displayName":"Emotional Tone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Production","displayName":"Production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Title","displayName":"Video Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Description","displayName":"Video Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Script","displayName":"Script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,-600],"id":"bfb69239-686d-4922-9186-44cfdbc0d84e","name":"Update GSheet","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"url":"=https://ai-automation-community.vercel.app/api/function/video-generation/preview?id={{ $('Wait For Video').item.json.data.id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-600],"id":"e286c880-9712-4531-af3a-0c1ee85e6a0f","name":"Download Video"},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').first().json['R2 Bucket'] }}","fileName":"={{ $('Generate Video').item.json.data.id }}.mp4","additionalFields":{"parentFolderKey":"videos"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-1760,-220],"id":"20d9a2f8-6cb5-476a-88de-165c52e394c7","name":"Upload Video","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Download Video').item.json.ID }}","Video URL":"={{ $('Preset Values').first().json['R2 Endpoint'] }}/videos/{{ $('Wait For Video').item.json.data.id }}.mp4"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Animal 1","displayName":"Animal 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Character Name 1","displayName":"Character Name 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Animal 1 Visual ID","displayName":"Animal 1 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Animal 2","displayName":"Animal 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Character Name 2","displayName":"Character Name 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Animal 2 Visual ID","displayName":"Animal 2 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Environmental Setting","displayName":"Environmental Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conflict Scenario","displayName":"Conflict Scenario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Emotional Tone","displayName":"Emotional Tone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Production","displayName":"Production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Title","displayName":"Video Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Description","displayName":"Video Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Script","displayName":"Script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1560,-220],"id":"d8ce973d-1d22-4e6b-a791-8f067a6d36d3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"content":"## VIDEO GENERATOR AGENT : AndyNoCode Image to Video","height":360,"width":1600},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-740],"id":"6c285377-35ed-4cd4-87a8-5312d4b8e7d8","name":"Sticky Note7"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1360,-220],"id":"183ba0e5-b72d-467c-9f6d-e2ee45baa262","name":"Wait For GSheet","webhookId":"3096710c-ff81-4d09-b437-1bfa3fd1a4fb"},{"parameters":{"method":"POST","url":"https://n8n.serverhome.biz/webhook/f76746af-69aa-4b1a-844a-8350903efc9d","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"sheet_id","value":"={{ $('Download Video').item.json.ID }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1160,-220],"id":"427ff26a-8d81-49db-9083-edcf11835320","name":"Call Publish Agency","credentials":{"httpHeaderAuth":{"id":"FyT2IpExNnHDAvtv","name":"SD Social Webhook API Keys"}}},{"parameters":{"content":"## VIDEO FINALIZE : Knock Publish Agency","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-340],"id":"83296902-ebfa-4aca-891e-120663c86dac","name":"Sticky Note8"},{"parameters":{"model":"deepseek/deepseek-r1:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-860,-1320],"id":"d0b07a65-f0a1-4502-af24-fb9946a5ed32","name":"Scene Agent (DeepSeek R1)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-20,-1320],"id":"ff4582b0-5341-4ce7-b7ca-2ef6e610e53a","name":"Prompt Agent (DeepSeek Chat v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"32c79efe-5fdd-4883-bf7d-d5431eae20ef","name":"Final Video Link","value":"={{ $json.data.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-600],"id":"9df7a421-0f2a-4cff-a234-1c90de0eafcb","name":"Final Video Link"}],"connections":{"Story Characters":{"main":[[{"node":"Story Generator","type":"main","index":0}]]},"Story Agent (DeepSeek Chat v3)":{"ai_languageModel":[[{"node":"Story Generator","type":"ai_languageModel","index":0}]]},"Story Generator":{"main":[[{"node":"Scene Generator","type":"main","index":0}]]},"Scene Generator":{"main":[[{"node":"Wait For Scenes","type":"main","index":0},{"node":"Serve APIs","type":"main","index":0}]]},"Extract Scenes":{"main":[[{"node":"Prompt Generator","type":"main","index":0}]]},"Wait For Scenes":{"main":[[{"node":"Extract Scenes","type":"main","index":0}]]},"Prompt Generator":{"main":[[{"node":"Wait For Prompts","type":"main","index":0}]]},"Wait For Prompts":{"main":[[{"node":"Generate Images","type":"main","index":0}]]},"Generate Images":{"main":[[{"node":"Wait For Images","type":"main","index":0}]]},"Wait For Images":{"main":[[{"node":"Extract Images","type":"main","index":0}]]},"Extract Images":{"main":[[{"node":"Download Images","type":"main","index":0}]]},"Download Images":{"main":[[{"node":"Upload Images","type":"main","index":0}]]},"Serve APIs":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Wait For Audio","type":"main","index":0}]]},"Wait For Audio":{"main":[[{"node":"Upload Audio","type":"main","index":0}]]},"Download Voice":{"main":[[{"node":"Generate Audio Transcriptions","type":"main","index":0}]]},"Generate Audio Transcriptions":{"main":[[{"node":"Wait For Transcriptions","type":"main","index":0}]]},"Wait For Transcriptions":{"main":[[{"node":"Create Word Chunks","type":"main","index":0}]]},"Upload Images":{"main":[[{"node":"Get All Images","type":"main","index":0}]]},"Get All Images":{"main":[[{"node":"BG Music","type":"main","index":0},{"node":"Merge Images & BG Music","type":"main","index":1}]]},"BG Music":{"main":[[{"node":"Merge Images & BG Music","type":"main","index":0}]]},"Create Word Chunks":{"main":[[{"node":"Voice Audio","type":"main","index":0},{"node":"Merge All Items","type":"main","index":1}]]},"Upload Audio":{"main":[[{"node":"Download Voice","type":"main","index":0}]]},"Everyday 05:30 AM":{"main":[[{"node":"Preset Values","type":"main","index":0}]]},"Preset Values":{"main":[[{"node":"Story Characters","type":"main","index":0}]]},"Merge All Items":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"Merge Images & BG Music":{"main":[[{"node":"Merge All Items","type":"main","index":0}]]},"Voice Audio":{"main":[[{"node":"Merge All Items","type":"main","index":2}]]},"Generate Video":{"main":[[{"node":"Wait For Video","type":"main","index":0}]]},"Wait For Video":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Final Video Link","type":"main","index":0}]]},"Update GSheet":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Upload Video","type":"main","index":0}]]},"Upload Video":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait For GSheet","type":"main","index":0}]]},"Wait For GSheet":{"main":[[{"node":"Call Publish Agency","type":"main","index":0}]]},"Scene Agent (DeepSeek R1)":{"ai_languageModel":[[{"node":"Scene Generator","type":"ai_languageModel","index":0}]]},"Prompt Agent (DeepSeek Chat v3)":{"ai_languageModel":[[{"node":"Prompt Generator","type":"ai_languageModel","index":0}]]},"Final Video Link":{"main":[[{"node":"Update GSheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3bb5de7-57c9-49ab-96f7-5f44ad37e01f","triggerCount":0,"tags":[]}