sd1-|-youtube-faceless-video-[production-agent]-WCgZFNKs57nFIiWb.json
{"createdAt":"2025-03-29T18:23:22.558Z","updatedAt":"2025-04-23T20:13:58.000Z","id":"WCgZFNKs57nFIiWb","name":"SD1 | YouTube Faceless Video [Production Agent]","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Production","lookupValue":"false"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1540,-1500],"id":"a1ad100d-291b-4b51-960a-7eb54c775e7c","name":"Story Characters","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"promptType":"define","text":"=Generate a short and engaging Hindi story (75-80 words) for children based on the given parameters. The story should be entertaining, educational, and suitable for YouTube Shorts. Make it humorous while subtly teaching a moral lesson. Conclude with a clear and simple moral statement.","messages":{"messageValues":[{"message":"=You are an expert children's storyteller specializing in short, engaging, and educational Hindi stories. Your task is to craft a fun, lighthearted, and engaging story featuring two rival animals who overcome their differences and become friends when faced with a challenge. The story should be entertaining, humorous, and educational, suitable for YouTube Shorts.\n\n## Story Parameters:\n\n- Animal 1: {{ $('Story Characters').item.json['Animal 1'] }}\n- Character Name 1: {{ $('Story Characters').item.json['Character Name 1'] }} (A fun and engaging nickname for the first animal)\n- Animal 2: {{ $('Story Characters').item.json['Animal 2'] }}\n- Character Name 2: {{ $('Story Characters').item.json['Character Name 2'] }} (A fun and engaging nickname for the second animal)\n- Environmental Setting: {{ $('Story Characters').item.json['Environmental Setting'] }}\n- Conflict Scenario: {{ $('Story Characters').item.json['Conflict Scenario'] }} (A situation where both rival animals are in danger and must work together)\n- Emotional Tone: {{ $('Story Characters').item.json['Emotional Tone'] }} (The mood of the story – humorous, adventurous, etc.)\n\n## Story Structure:\n\n1. Name Introduction – Begin by introducing both animals by their character names first\n2. Character Description – Briefly describe their personalities and establish their rivalry\n3. Conflict – Present a crisis that forces them to work together\n4. Resolution – Show how they overcome the challenge together\n5. Friendship – End with how they become friends\n6. Moral – Add a simple lesson about teamwork, friendship, or kindness\n\n## Requirements:\n\n- Length: STRICTLY 75-80 words total (count carefully)\n- Format: A flowing narrative in a continuous paragraph without scene breaks or dialogue markers\n- Tone: Child-friendly, humorous, and engaging\n- Language: Use only basic, simple Hindi words appropriate for young children\n- Avoid: Complex words, difficult conjuncts, uncommon letter combinations\n- Use: Short sentences, everyday vocabulary, and basic Hindi characters only\n- Structure: Always start with character names before describing them as animals\n- Moral: End with \"इससे हमने सीखा\" followed by a very simple moral lesson\n- Consistent Unicode: Ensure all Hindi text uses proper UTF-8 encoding\n- Output Format: Plain text with NO MARKDOWN, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES\n\n## Response Format:\n\nA continuous paragraph (75-80 words) with name introduction, character description, conflict, resolution, friendship formation, and moral lesson ending with \"इससे हमने सीखा: [Simple moral]\""}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-1320,-1500],"id":"68b1fcfc-a083-4919-8127-33add4e7a58e","name":"Story Generator"},{"parameters":{"content":"## STORY GENERATOR AGENT : DeepSeek-V3-0324","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-1660],"id":"361ff62c-a967-489c-9f87-938c9639f9b4","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"={{ $('Story Generator').item.json.text }}","messages":{"messageValues":[{"message":"=You are an expert story analyst and scene generator. Your task is to deeply analyze a given Hindi story and break it into eight detailed scenes. Each scene should visually describe the characters, their movements, the environment, and what happens in that part of the story. The scenes should be consistent with the story’s characters, setting, and tone, ensuring smooth transitions.\n\n## Instructions:\n\n- **Verify input:** First check if the provided Hindi text is complete and coherent. Reject fragmented or nonsensical character sequences.\n- **Read the story carefully** to identify key moments.\n- **Break it into eight logical scenes** that align with the narrative flow.\n- **Describe each scene in detail**, focusing on:\n  - **Characters & their Visuals:** How they look, their expressions, clothing (if applicable). Ensure that each character's appearance remains exactly the same across all scenes (e.g., if a character is a lion, it should never be depicted as a tiger).\n  - **Environment & Setting:** The surroundings, weather, time of day, atmosphere.\n  - **Character Movements & Actions:** What the characters are doing in that scene.\n  - **Story Progression:** What happens in that scene that moves the story forward.\n- **Ensure continuity** between scenes so that characters and settings remain visually consistent in every scene.\n- **Consistent animal identification:** Always pair animal types with character names in every scene.\n- **Consistent Unicode handling:** Ensure all Hindi text uses proper UTF-8 encoding.\n- **Output must be plain text VALID JSON** with NO MARKDOWN FORMATTING, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES between elements.\n- **Use escaped quotes (\\\") where needed** within the Hindi text.\n\n## Response Format:\n\n{\"story\":\"<Complete story in Hindi which user provided as prompt>\",\"scenes\":[{\"scene_1\":\"<Scene 1 in details>\"},{\"scene_2\":\"<Scene 2 in details>\"},{\"scene_3\":\"<Scene 3 in details>\"},{\"scene_4\":\"<Scene 4 in details>\"},{\"scene_5\":\"<Scene 5 in details>\"},{\"scene_6\":\"<Scene 6 in details>\"},{\"scene_7\":\"<Scene 7 in details>\"},{\"scene_8\":\"<Scene 8 in details>\"}]}\n\n## Example Output:\n\n{\"story\":\"चंचल और धीरज नदी किनारे रहते थे। चंचल एक शरारती बंदर और धीरज एक धीमा कछुआ था। दोनों हमेशा झगड़ते रहते। एक दिन, एक भूखा मगरमच्छ आया और दोनों को पकड़ना चाहा! धीरज ने चंचल को अपनी पीठ पर बैठाया, और चंचल ने ऊँची डाल से केले फेंककर मगरमच्छ को भगाया। मुसीबत में दोनों ने मिलकर काम किया और अब वे अच्छे दोस्त बन गए। तो इस से हमने क्या सीखा: मिलकर काम करने से हर मुश्किल आसान हो जाती है।\",\"scenes\":[{\"scene_1\":\"सुनहरी धूप से नहाया हुआ नदी किनारा, जहां चंचल बंदर पेड़ की एक निचली शाखा पर बैठा उछल-कूद कर रहा है। उसके सामने धीरज कछुआ अपनी धीमी चाल से घास पर चल रहा है। दोनों के बीच स्पष्ट विपरीत स्वभाव दिखाई देते हैं।\"},{\"scene_2\":\"चंचल बंदर अपनी भूरी रंग की फर और चंचल आंखों के साथ धीरज कछुए की हरी कठोर खोल पर फल फेंक रहा है। धीरज कछुआ अपनी खोल में सिर छिपाकर बचाव कर रहा है। दोनों के बीच तनावपूर्ण वातावरण है।\"},{\"scene_3\":\"नदी के किनारे पर दोनों अलग-अलग दिशाओं में मुंह फेरकर बैठे हैं। चंचल बंदर पेड़ पर चढ़ा हुआ है जबकि धीरज कछुआ नदी के पास धूप सेंक रहा है। दोनों एक-दूसरे को नज़रअंदाज़ कर रहे हैं।\"},{\"scene_4\":\"अचानक पानी से एक बड़ा हरा-भूरा मगरमच्छ निकलता है, उसकी आंखें भूख से चमक रही हैं और दांत बाहर निकले हुए हैं। चंचल बंदर और धीरज कछुआ दोनों डर से कांप उठते हैं। आसमान में काले बादल छा गए हैं।\"},{\"scene_5\":\"मगरमच्छ चंचल बंदर और धीरज कछुए की ओर तेजी से बढ़ रहा है। चंचल बंदर डर से चिल्ला रहा है जबकि धीरज कछुआ तुरंत एक योजना बनाता है। दोनों पहली बार एक-दूसरे की तरफ सहायता के लिए देखते हैं।\"},{\"scene_6\":\"धीरज कछुआ अपनी पीठ पर चंचल बंदर को बिठाकर तेजी से (अपने लिए) आगे बढ़ रहा है। चंचल बंदर भयभीत लेकिन आश्चर्यचकित है। मगरमच्छ पीछे से उनका पीछा कर रहा है, उसके जबड़े खुले हुए हैं।\"},{\"scene_7\":\"चंचल बंदर ऊंची पेड़ की डाल पर चढ़ा हुआ है और अपने हाथों में पके हुए पीले केले लिए हुए है। वह नीचे मगरमच्छ पर केले फेंक रहा है, जिससे मगरमच्छ भ्रमित होकर पीछे हट रहा है। धीरज कछुआ नीचे से उत्साहित होकर देख रहा है।\"},{\"scene_8\":\"सूर्यास्त के सुनहरे आसमान के नीचे, चंचल बंदर और धीरज कछुआ एक साथ बैठे हुए हंस रहे हैं। चंचल बंदर धीरज के खोल पर हाथ रखे हुए है और धीरज मुस्कुरा रहा है। दोनों के चेहरे पर मित्रता की गर्मजोशी झलक रही है, पीछे नदी शांति से बह रही है।\"}]}\n\n**IMPORTANT:**\n\nDo not include any explanatory text or additional content outside this JSON structure"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-940,-1500],"id":"2eb5010e-ee73-4322-8137-a2750fdf6eb2","name":"Scene Generator"},{"parameters":{"jsCode":"const rawText = $('Wait For Scenes').first().json.text;\nconst parsedData = JSON.parse(rawText);\nconst storyScene = parsedData.scenes;\n\n// Convert key-value scene objects\nconst storyScenes = storyScene?.map((scene, index) => {\n  const sceneDetails = `scene_${index + 1}`;\n  return {\n    json: {\n      scene: scene[sceneDetails]\n    }\n  };\n});\n\nreturn storyScenes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,-1500],"id":"ddd5e1c9-348f-4882-b19b-88f621ea2433","name":"Extract Scenes"},{"parameters":{"content":"## SCENE GENERATOR AGENT : DeepSeek R1","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-1660],"id":"a0a1697e-a9a7-4316-aa47-0202c9096706","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=Create an immersive, highly detailed image prompt for the current scene that maintains PERFECT character consistency across all scenes while following the Jungle Book art style.\n\nFULL_STORY: {{ $('Story Generator').item.json.text }}\n\nALL_SCENES: {{ JSON.parse($('Wait For Scenes').item.json.text).scenes?.map((scene, index) => `\"${scene[`scene_${index + 1}`]}\"`).join(\", \") }}\n\nCURRENT_SCENE: {{ $('Extract Scenes').item.json.scene }}\n\n**INSTRUCTIONS:**\n\n1. FIRST establish detailed visual specifications for each character based on available descriptions\n2. Ensure ABSOLUTE visual consistency of these character details across all scenes\n3. Extract exact environmental conditions from the current scene\n4. Capture precise emotional states and interactions between characters\n5. Include subtle visual elements that connect to future story developments\n6. Specify camera angle, framing, and composition to highlight key narrative elements\n7. Apply Jungle Book art style with vibrant colors, clear outlines, and expressive characters\n\nGenerate a highly detailed, visually rich image prompt that captures every nuance of the current scene while maintaining perfect character consistency. Focus on emotional expressiveness, character consistency, and environmental storytelling in Jungle Book style.","messages":{"messageValues":[{"message":"=You are an expert image prompt engineer specializing in children's storybook illustrations. Your task is to create detailed, visually consistent image prompts that capture the essence of each scene while maintaining perfect character consistency across every illustration.\n\n## Analysis Process (Complete ALL steps):\n\n### 1. Character Consistency Blueprint (HIGHEST PRIORITY)\nFor EACH character, FIRST analyze the story and scene descriptions to:\n- Extract and define a detailed visual identity from available descriptions\n- Create consistent physical attributes (fur/skin color, body proportions, size ratios)\n- Establish distinctive facial features (eye shape/color, nose structure, mouth characteristics)\n- Define unique identifying elements (markings, distinctive features)\n- CRITICAL: Document these specifications internally and ensure they remain CONSISTENT across ALL scenes\n\n### 2. Story Context Analysis\n- Identify the central narrative theme and moral lesson\n- Map character relationships and their evolution\n- Note environmental changes and their symbolic meaning\n- Track emotional progression throughout the story\n\n### 3. Environment Detail Mapping\n- Establish atmospheric conditions (time of day, weather, lighting)\n- Identify 5-7 specific environmental elements that must appear\n- Note subtle environmental cues that foreshadow future events\n- Maintain consistent color palette and geographical features\n\n### 4. Narrative Moment Precision\n- Identify the exact emotional beat in the story's progression\n- Determine character dynamics specific to this moment\n- Highlight visual elements that connect to past/future scenes\n- Emphasize details that support the story's moral lesson\n\n### 5. Technical Visual Style Requirements\n- Create images in Disney's Jungle Book animation style\n- Apply vibrant colors with clear outlines and defined shapes\n- Focus on expressive character facial expressions and gestures\n- Include lush jungle environments with appropriate lighting\n- Ensure cartoon-styled proportions for animals with highly expressive faces\n- Maintain absolutely consistent character designs across ALL scenes\n\n## Output Format:\nGenerate a SINGLE CONTINUOUS ENGLISH PARAGRAPH (200-250 words) with NO MARKDOWN FORMATTING, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES between elements. The output must be plain text suitable for direct JSON inclusion.\n\nYour output must include:\n1. Opening statement specifying scene setting and primary action\n2. Detailed description of CHARACTER 1 including:\n   - CONSISTENT physical appearance with 5+ specific attributes that MUST remain identical across all scenes\n   - Exact facial expression with 3+ emotional indicators\n   - Precise body posture and positioning\n   - Specific action being performed\n3. Detailed description of CHARACTER 2 including:\n   - CONSISTENT physical appearance with 5+ specific attributes that MUST remain identical across all scenes\n   - Exact facial expression with 3+ emotional indicators\n   - Precise body posture and positioning\n   - Specific action being performed\n4. Environmental details including:\n   - 5-7 specific background elements with exact placement\n   - Lighting conditions with color temperature and shadow details\n   - Atmospheric effects relevant to story context\n   - Subtle details that connect to past/future scenes\n5. Compositional guidance:\n   - Camera angle and framing recommendations\n   - Focal point and depth specifications\n   - Dynamic elements and movement indicators\n   - Emotional tone conveyed through visual elements\n6. Conclude with EXACT technical style requirements:\n   \"Use Disney's Jungle Book animation style with vibrant colors, clear outlines, and expressive characters. Maintain absolutely consistent character designs with cartoon-styled animal proportions featuring highly expressive, friendly faces suitable for children's educational content. Apply rich, warm lighting appropriate for jungle settings with distinct shadows that enhance the mood of the scene.\""}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-100,-1500],"id":"e35fd108-f206-4ae2-b2be-9c4f590b3f09","name":"Prompt Generator"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,-1500],"id":"64c305a1-7f62-41d2-ab01-1763c7fb5648","name":"Wait For Scenes","webhookId":"49c3b54e-0900-4fbe-908d-61c8c78300e6"},{"parameters":{"content":"## PROMPT GENERATOR AGENT : DeepSeek-V3-0324","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-1700],"id":"197c94ba-a235-4883-8317-3c75b1375451","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[260,-1500],"id":"705723dd-34c2-4575-b4ec-b976d7b42d7e","name":"Wait For Prompts","webhookId":"1d39fbac-5481-49a3-89d4-f330ce325355"},{"parameters":{"method":"POST","url":"https://api.sayandey.dev/v1/image/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Format Prompts').item.json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,-1020],"id":"498f28ba-7532-45c5-b24a-4c349d3ebdf9","name":"Generate Images","credentials":{"httpHeaderAuth":{"id":"ui50kstAC8Gzgx0b","name":"Sayan's FLUX API Key"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1560,-1020],"id":"5e5c0dcc-44bb-4ccf-9632-ecdf13a04a04","name":"Wait For Images","webhookId":"eb877fbc-6c7b-45c2-a1c5-caf8cf10e96c"},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1360,-1020],"id":"4f1527a0-013f-43bb-baf4-fc2bdbd68c96","name":"Extract Images"},{"parameters":{"url":"={{ $('Extract Images').item.json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1160,-1020],"id":"d49d30dc-e234-47a7-ab1f-eb6758faca7b","name":"Download Images"},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').first().json['R2 Bucket'] }}","fileName":"=image-{{ $itemIndex + 1 }}.webp","additionalFields":{"parentFolderKey":"images"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-740,-1020],"id":"4555e9db-cb8f-4fce-a1db-04a6dec270c0","name":"Upload Images","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"content":"## IMAGE GENERATOR AGENT : OWN API FLUX.1 [Schnell]","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-1140],"id":"3f25ae68-2c6f-42c7-93c4-ee412cdb24de","name":"Sticky Note3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[280,-1020],"id":"022e8316-c6a5-46a4-8484-ea4c14e4bf47","name":"Wait For Audio","webhookId":"0402b4b6-d787-45d5-b0ed-4a0b146bd338"},{"parameters":{"content":"## AUDIO GENERATOR AGENT : ElevenLabs Multilingual v2","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-1140],"id":"caca38a2-0f2b-4157-82a3-c5133578023f","name":"Sticky Note4"},{"parameters":{"jsCode":"function getImageLinks(endpoint, count = 8) {\n  const imageLinks = [];\n  for (let i = 1; i <= count; i++) {\n    imageLinks.push(`${endpoint}/images/image-${i}.webp`);\n  }\n  return imageLinks;\n}\n\nconst bucketEndpoint = $('Preset Values').first().json['R2 Endpoint'];\nconst imageLinks = getImageLinks(bucketEndpoint);\n\nreturn [\n  {\n    json: {\n      images: imageLinks\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,-1020],"id":"b4639338-6a1f-4ca5-a024-4f30faa6a59a","name":"Get All Images"},{"parameters":{"content":"## UPLOAD IMAGES AND RETURN URLS","height":360,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-1140],"id":"570dfd30-5acc-456d-bc55-0e04202fa632","name":"Sticky Note6"},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').first().json['R2 Bucket'] }}","fileName":"voice-audio.mp3","additionalFields":{"parentFolderKey":"sounds"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[480,-1020],"id":"364c13a1-9b3e-4d93-b428-913f5c520beb","name":"Upload Audio","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fb3a7b9-7c56-493b-b266-77f3b2bb2fcb","name":"R2 Bucket","value":"n8n-youtube","type":"string"},{"id":"50a74261-6612-4be7-b801-bf84abe4618b","name":"R2 Endpoint","value":"https://pub-38a2654e096044979f868c7e5f469307.r2.dev","type":"string"},{"id":"e8a8d70a-4347-4c4a-b7a9-4c37809009f1","name":"ElevenLabs API","value":"=[\n  'sk_3839263c6c6cd412caf1b5a202e4ba1022743a78e8f2495e',\n  'sk_a627bb61b9df00be5954141341953e762c19f65cb062c801',\n  'sk_70df2b8fd142257df6ec0dbb8e8b518dd0a6e6161dffbcd2',\n  'sk_5696a83a5708fc904d974a4f02a142c18997b6cb957ea549'\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,-1500],"id":"ce2b85a2-7cc9-43dd-9508-61ed422824b0","name":"Preset Values"},{"parameters":{"method":"POST","url":"https://matrixsayan-snap-to-scene.hf.space/create-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Prepare Video Payload').item.json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1300,-100],"id":"09a4221d-a9e0-4886-acc6-1a90cd7e26eb","name":"Generate Video","credentials":{"httpHeaderAuth":{"id":"yB9xIUIXGAqsrUJO","name":"SD Social SnapToScene API Key"}}},{"parameters":{"amount":6,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1060,-100],"id":"320192ef-e9b0-4bed-bd96-299145d996c1","name":"Wait For Video","webhookId":"d1f48d1e-c0c9-4619-a1a6-e45596e3fc42"},{"parameters":{"url":"=https://matrixsayan-snap-to-scene.hf.space/video-status/{{ $('Wait For Video').item.json.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-820,-100],"id":"07b527da-5f8e-4c1b-844e-9b8499705169","name":"Check Status","credentials":{"httpHeaderAuth":{"id":"yB9xIUIXGAqsrUJO","name":"SD Social SnapToScene API Key"}}},{"parameters":{"url":"=https://matrixsayan-snap-to-scene.hf.space/video/{{ $('IF').item.json.video_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-100],"id":"b64ad8ba-19a9-402e-9f6b-a9e0e435015f","name":"Download Video","credentials":{"httpHeaderAuth":{"id":"yB9xIUIXGAqsrUJO","name":"SD Social SnapToScene API Key"}}},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').first().json['R2 Bucket'] }}","fileName":"={{ $('Download Video').item.json.video_id }}.mp4","additionalFields":{"parentFolderKey":"videos"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-120,-600],"id":"98fcf633-2999-48e3-bf36-4e0baaf1f012","name":"Upload Video","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"content":"## VIDEO GENERATOR AGENT : AndyNoCode Image to Video","height":360,"width":1600},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-220],"id":"4ec8129b-a02d-483c-b34f-ab209bb189aa","name":"Sticky Note7"},{"parameters":{"content":"## VIDEO FINALIZE : Knock Publish Agency","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-740],"id":"c467e54a-1a2d-45ef-bca9-acc212241e6a","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-940,-1020],"id":"73a346c1-a5df-4611-a4a5-d45c48ce6bf9","name":"Wait For Get Images","webhookId":"25924bab-7e17-4819-ac60-3cc1cb2cf81d"},{"parameters":{"jsCode":"const elevenLabs = $('Preset Values').first().json['ElevenLabs API'];\nconst currentDay = new Date().getDay();\n\nreturn [\n  {\n    json: {\n      elevenlabs: elevenLabs[currentDay % elevenLabs.length]\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-120,-1020],"id":"7a979fc4-e656-4115-9f27-d60c2dfc6e19","name":"Get Elevenlabs API"},{"parameters":{"jsCode":"const rawData = $('Wait For Prompts').all();\n\nreturn rawData.map(item => {\n  const cleanedPrompt = item.json.text\n    .replace(/\\s+/g, ' ')\n    .replace(/\"/g, '\\\\\"')\n    .trim();\n\n  return {\n    json: {\n      prompt: cleanedPrompt,\n      seed: 1311721057,\n      randomize_seed: false,\n      width: 720,\n      height: 1280,\n      num_inference_steps: 25\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-1500],"id":"1d9d2bc4-77aa-4bd9-b6bb-c2ec2d9f7d73","name":"Format Prompts"},{"parameters":{"content":"## THUMBNAIL PROMPT GENERATOR AGENT : Gemini Flash 2.0","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,-740],"id":"90c779d7-a23e-4849-8764-7051c0520bce","name":"Sticky Note9"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-540,-1020],"id":"cf00a934-751b-4d5e-8b89-f8116b9e067c","name":"Wait For Upload Images","webhookId":"4b020f65-c0f2-4cf8-9821-d8d7f35efd48"},{"parameters":{"promptType":"define","text":"=Please create a detailed image generation prompt for a YouTube Short thumbnail based on this Hindi children's story:\n{{ $('Story Generator').first().json.text }}\n\nThe story includes these specific scenes: \n{{ JSON.parse($('Wait For Scenes').first().json.text).scenes?.map((scene, index) => `\"${scene[`scene_${index + 1}`]}\"`).join(\", \") }}\n\nThe main characters are:\n1. Character Name: {{ $('Story Characters').first().json['Animal 1'] }} with {{ $('Story Characters').first().json['Animal 1 Visual ID'] }}\n2. Character Name: {{ $('Story Characters').first().json['Animal 2'] }} with {{ $('Story Characters').first().json['Animal 2 Visual ID'] }}\n\nI need a prompt that will generate an eye-catching thumbnail that captures the essence of this animal friendship story in Studio Ghibli animation style. The thumbnail should be visually appealing to children and instantly communicate the story's theme.\n\n**IMPORTANT:** Ensure each animal character is clearly recognizable as its specific species and visually distinct from any other similar animals in the story. Be extremely precise about distinguishing features when the story includes animals from the same family (like different reptiles, birds, or cats).\n\nRemember to follow all technical requirements: create a single continuous paragraph (250-300 words) with no markdown formatting, no backticks, no line breaks, and no extra whitespaces between elements. The output must be plain text suitable for direct JSON inclusion into an API call.","messages":{"messageValues":[{"message":"=You are an expert image prompt engineer specializing in children's storybook illustrations, particularly in the Studio Ghibli animation style. Your task is to create detailed, effective image generation prompts for YouTube Short thumbnails based on Hindi children's stories.\n\n## PROCESS:\n1. Analyze the provided Hindi story and its scenes carefully\n2. Identify the main characters (animals), their specific species, and physical characteristics\n3. Determine the most visually striking scene that captures the story's essence\n4. Create a detailed image generation prompt that will result in an eye-catching YouTube thumbnail\n\n## CRITICAL CHARACTER GUIDELINES:\n- For each animal character, clearly specify its EXACT species (e.g., \"Asian elephant\" not just \"elephant\")\n- Include 3-5 defining physical characteristics for each character that distinguish it from similar animals\n- When characters are from similar animal families (like reptiles), emphasize their distinguishing features\n- Use phrases like \"clearly recognizable as a [specific animal]\" and \"with distinct [species] features\"\n- If multiple species appear, include text ensuring they remain \"visually distinct from each other\"\n\n## STYLE REQUIREMENTS:\n- Studio Ghibli animation style with soft watercolor textures\n- Delicate lighting effects highlighting emotional moments\n- Meticulous natural details in backgrounds and environments\n- Realistically proportioned animals with expressive, friendly faces\n- Colors should be vibrant yet harmonious\n- Designed specifically for children's educational content\n\n## OUTPUT FORMAT:\nProduce a detailed, single-paragraph image generation prompt (250-300 words) with no markdown formatting, no backticks, no line breaks, and no extra whitespaces between elements. The output must be plain text suitable for direct JSON inclusion.\n\n### The final prompt must include:\n- Main characters with detailed species-specific descriptions\n- Setting/environment details\n- Lighting, mood, and atmosphere\n- Composition specifications (for YouTube thumbnail visibility)\n- Studio Ghibli specific artistic elements\n- No text overlays (this will be added separately)\n\n### Conclude with EXACT technical style requirements:\n- Use a Studio Ghibli animation style with soft watercolor textures, delicate lighting effects, and meticulous natural details. Maintain consistent character designs with realistically proportioned animals featuring expressive, friendly faces suitable for children's educational content.\n\nRemember to focus on the most emotionally resonant or action-packed moment that will attract viewers to click on the video."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-1760,-600],"id":"58ef6c78-39b2-48f3-a1b6-a44e476b49e4","name":"Thumb Prompt Generator"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1380,-600],"id":"f0c1ca08-ea95-49fc-90ff-8ba94d7b53ad","name":"Wait For Thumb Prompt","webhookId":"5c45e87d-3d07-4af3-8c3a-fcc8b3a772b4"},{"parameters":{"jsCode":"const rawPrompt = $('Wait For Thumb Prompt').first().json.text;\nconst cleanedPrompt = rawPrompt\n  .replace(/\\s+/g, ' ')\n  .replace(/\"/g, '\\\\\"')\n  .trim();\n\nreturn [\n  {\n    json: {\n      prompt: cleanedPrompt,\n      seed: 1311721057,\n      randomize_seed: false,\n      width: 720,\n      height: 1280,\n      num_inference_steps: 25\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1160,-600],"id":"186c512d-0768-491e-b1cc-786efe59fb42","name":"Format Thumb Prompt"},{"parameters":{"content":"## THUMB IMAGE GENERATOR AGENT : OWN API FLUX.1 [Schnell]","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-740],"id":"6d7aaf52-3360-412e-93bc-344030c53835","name":"Sticky Note10"},{"parameters":{"method":"POST","url":"https://api.sayandey.dev/v1/image/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Format Thumb Prompt').item.json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-940,-600],"id":"f9454bed-1365-4ce4-9c24-cf730ad04bc2","name":"Generate Thumb Image","credentials":{"httpHeaderAuth":{"id":"ui50kstAC8Gzgx0b","name":"Sayan's FLUX API Key"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-740,-600],"id":"8e06387f-0d24-4f6b-a7aa-a520c02268ad","name":"Wait For Thumb Image","webhookId":"eb877fbc-6c7b-45c2-a1c5-caf8cf10e96c"},{"parameters":{"url":"={{ $('Wait For Thumb Image').item.json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,-600],"id":"ce0e4b4e-ed43-429e-8f60-48096cb60ab9","name":"Download Thumb Image"},{"parameters":{"operation":"upload","bucketName":"={{ $('Preset Values').first().json['R2 Bucket'] }}","fileName":"image-thumb.webp","additionalFields":{"parentFolderKey":"images"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-340,-600],"id":"ed12e334-99f3-4e8a-8df7-162fbcc0f70d","name":"Upload Thumb Image","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"64825898-fa82-44f8-91c0-588404b4cb8b","name":"Voiceover","value":"={{ $('Preset Values').first().json['R2 Endpoint'] }}/sounds/voice-audio.mp3","type":"string"},{"id":"32f05cde-f97a-41b1-83aa-bf92dd391a95","name":"Video Images","value":"={{ JSON.stringify($('Get All Images').item.json.images) }}","type":"array"},{"id":"bbd9bbc4-c7b5-40d3-b37c-3c604b9c3002","name":"Video Thumb","value":"={{ $('Preset Values').first().json['R2 Endpoint'] }}/images/image-thumb.webp","type":"string"},{"id":"0339206d-e6a4-4b93-bfb2-f12910ec406a","name":"Background Audio","value":"={{ $('Preset Values').first().json['R2 Endpoint'] }}/sounds/apprehensive.mp3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,-100],"id":"ad6c5c5b-edb6-4ba8-98d7-834ef7369568","name":"Merge All Items"},{"parameters":{"jsCode":"const payloadData = $('Merge All Items').first().json;\nconst combinedImages = [...payloadData[\"Video Images\"], payloadData[\"Video Thumb\"]];\n\nreturn [\n  {\n    json: {\n      images: combinedImages,\n      voiceover: payloadData[\"Voiceover\"],\n      background: payloadData[\"Background Audio\"]\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1540,-100],"id":"7b56dea6-fcb0-4bd6-8c9d-68cb44f0cadd","name":"Prepare Video Payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"813e4f90-7e31-4ee6-918a-138bda0db804","leftValue":"={{ $('Check Status').item.json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b50450dc-043c-450a-b02d-aa5166035479","leftValue":"={{ $('Check Status').item.json.progress }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-580,-100],"id":"5f9ccc68-bdb7-4d9a-abc8-fa94d40c89dd","name":"IF"},{"parameters":{"method":"POST","url":"https://api.us.elevenlabs.io/v1/text-to-speech/zgqefOY5FPQ3bB7OZTVR","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_128"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"={{ $('Get Elevenlabs API').item.json.elevenlabs }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Story Generator').first().json.text }} दोस्तो क्या आप इन दोनों के लिए लाइक या सब्सक्राइब नहीं करेंगे?"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-1020],"id":"8c3f894c-c938-4420-9975-c70fa869c7bc","name":"Generate Audio"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Story Characters').first().json.ID }}","Video URL":"={{ $('Preset Values').first().json['R2 Endpoint'] }}/videos/{{ $('Download Video').item.json.video_id }}.mp4","Production":"true","Script":"={{ $('Story Generator').first().json.text }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Animal 1","displayName":"Animal 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Character Name 1","displayName":"Character Name 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 1 Visual ID","displayName":"Animal 1 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 2","displayName":"Animal 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Character Name 2","displayName":"Character Name 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 2 Visual ID","displayName":"Animal 2 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Environmental Setting","displayName":"Environmental Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Conflict Scenario","displayName":"Conflict Scenario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Emotional Tone","displayName":"Emotional Tone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Production","displayName":"Production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Title","displayName":"Video Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video Description","displayName":"Video Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script","displayName":"Script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[80,-600],"id":"7a80b2e4-2402-4ab9-adf1-b4b2ff26a93c","name":"Update GSheet","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"chatId":"5670586061","text":"=Hello Sayan,\n\nNew YouTube short is generated.\n\nStory Number: {{ $('Update GSheet').item.json['ID'] }}\nCharecters: {{ $('Story Characters').first().json['Animal 1'] + ' & ' + $('Story Characters').first().json['Animal 2'] }}\n\nVideo URL: {{ $('Update GSheet').item.json['Video URL'] }}\n\nThank you,\nColourful Ai","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Enter short's ID","additionalFields":{"callback_data":"proceed_ytshort_id"}},{"text":"Cancel Process","additionalFields":{"callback_data":"canceled_ytshort_id"}}]}}]},"additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[280,-600],"id":"683f8706-02eb-41f8-8473-3a22ad48e1ca","name":"Update Telegram","webhookId":"01c92276-1713-4667-b81a-20e9d4c73cef","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"httpMethod":"POST","path":"e2c004f6-8e1e-422a-8bd8-fd83f4bd98f6","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2020,-1380],"id":"97d55399-7b91-4fa9-9e71-dee81a4c343c","name":"Twice Daily","webhookId":"e2c004f6-8e1e-422a-8bd8-fd83f4bd98f6","credentials":{"httpHeaderAuth":{"id":"FyT2IpExNnHDAvtv","name":"SD Social Webhook API Keys"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2020,-1560],"id":"956bb012-8631-4bdf-a1eb-2852d14d0350","name":"Manual Run","disabled":true},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1400,-1320],"id":"f85809db-d315-434f-9532-ede9b2d1a0ca","name":"Story Agent (DeepSeek Chat v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-20,-1320],"id":"f875184c-af75-474a-86ec-6f717c40620d","name":"Prompt Agent (Gemini Falsh 2.0)","credentials":{"googlePalmApi":{"id":"zwTeEecvrA4f0HRt","name":"SD Social Gemini Account"}}},{"parameters":{"model":"deepseek/deepseek-r1:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-680,-1320],"id":"07340594-e188-4d32-b38b-a74aefddb95a","name":"Scene Agent (DeepSeek R1)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1480,-420],"id":"759dee12-dd20-4e03-8420-b9dbae5f058a","name":"Thumbnail Agent (DeepSeek Chat v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[160,-1320],"id":"3047497a-756a-42aa-9e52-8bc5260c515b","name":"Prompt Agent (DeepSeek Chat v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1680,-420],"id":"4cf6eec3-8142-4302-9381-2a743cb6c5c9","name":"Thumbnail Agent (Gemini Flash 2.0)","credentials":{"googlePalmApi":{"id":"odIMe3IAUWSvrXkc","name":"Google Gemini(PaLM) API Account"}}},{"parameters":{"content":"## TRIGGER NODE","height":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,-1660],"id":"417cd244-e129-4c24-b87e-e4d4f5d7dbae","name":"Sticky Note5"},{"parameters":{"model":"google/gemini-2.5-pro-exp-03-25:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-840,-1320],"id":"fe7ddffb-f303-4c2f-85cf-924d0844f272","name":"Scene Agent (Gemini 2.5 Pro)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}}],"connections":{"Story Characters":{"main":[[{"node":"Story Generator","type":"main","index":0}]]},"Story Generator":{"main":[[{"node":"Scene Generator","type":"main","index":0}]]},"Scene Generator":{"main":[[{"node":"Wait For Scenes","type":"main","index":0}]]},"Extract Scenes":{"main":[[{"node":"Prompt Generator","type":"main","index":0}]]},"Wait For Scenes":{"main":[[{"node":"Extract Scenes","type":"main","index":0}]]},"Prompt Generator":{"main":[[{"node":"Wait For Prompts","type":"main","index":0}]]},"Wait For Prompts":{"main":[[{"node":"Format Prompts","type":"main","index":0}]]},"Generate Images":{"main":[[{"node":"Wait For Images","type":"main","index":0}]]},"Wait For Images":{"main":[[{"node":"Extract Images","type":"main","index":0}]]},"Extract Images":{"main":[[{"node":"Download Images","type":"main","index":0}]]},"Download Images":{"main":[[{"node":"Wait For Get Images","type":"main","index":0}]]},"Wait For Audio":{"main":[[{"node":"Upload Audio","type":"main","index":0}]]},"Upload Images":{"main":[[{"node":"Wait For Upload Images","type":"main","index":0}]]},"Get All Images":{"main":[[{"node":"Get Elevenlabs API","type":"main","index":0}]]},"Upload Audio":{"main":[[{"node":"Thumb Prompt Generator","type":"main","index":0}]]},"Preset Values":{"main":[[{"node":"Story Characters","type":"main","index":0}]]},"Generate Video":{"main":[[{"node":"Wait For Video","type":"main","index":0}]]},"Wait For Video":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"IF","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Upload Video","type":"main","index":0}]]},"Upload Video":{"main":[[{"node":"Update GSheet","type":"main","index":0}]]},"Wait For Get Images":{"main":[[{"node":"Upload Images","type":"main","index":0}]]},"Get Elevenlabs API":{"main":[[{"node":"Generate Audio","type":"main","index":0}]]},"Format Prompts":{"main":[[{"node":"Generate Images","type":"main","index":0}]]},"Wait For Upload Images":{"main":[[{"node":"Get All Images","type":"main","index":0}]]},"Thumb Prompt Generator":{"main":[[{"node":"Wait For Thumb Prompt","type":"main","index":0}]]},"Wait For Thumb Prompt":{"main":[[{"node":"Format Thumb Prompt","type":"main","index":0}]]},"Generate Thumb Image":{"main":[[{"node":"Wait For Thumb Image","type":"main","index":0}]]},"Format Thumb Prompt":{"main":[[{"node":"Generate Thumb Image","type":"main","index":0}]]},"Wait For Thumb Image":{"main":[[{"node":"Download Thumb Image","type":"main","index":0}]]},"Download Thumb Image":{"main":[[{"node":"Upload Thumb Image","type":"main","index":0}]]},"Upload Thumb Image":{"main":[[{"node":"Merge All Items","type":"main","index":0}]]},"Merge All Items":{"main":[[{"node":"Prepare Video Payload","type":"main","index":0}]]},"Prepare Video Payload":{"main":[[{"node":"Generate Video","type":"main","index":0}]]},"IF":{"main":[[{"node":"Download Video","type":"main","index":0}],[{"node":"Wait For Video","type":"main","index":0}]]},"Update GSheet":{"main":[[{"node":"Update Telegram","type":"main","index":0}]]},"Update Telegram":{"main":[[]]},"Generate Audio":{"main":[[{"node":"Wait For Audio","type":"main","index":0}]]},"Twice Daily":{"main":[[{"node":"Preset Values","type":"main","index":0}]]},"Manual Run":{"main":[[]]},"Story Agent (DeepSeek Chat v3)":{"ai_languageModel":[[{"node":"Story Generator","type":"ai_languageModel","index":0}]]},"Prompt Agent (Gemini Falsh 2.0)":{"ai_languageModel":[[{"node":"Prompt Generator","type":"ai_languageModel","index":0}]]},"Scene Agent (DeepSeek R1)":{"ai_languageModel":[[{"node":"Scene Generator","type":"ai_languageModel","index":0}]]},"Thumbnail Agent (DeepSeek Chat v3)":{"ai_languageModel":[[]]},"Prompt Agent (DeepSeek Chat v3)":{"ai_languageModel":[[]]},"Thumbnail Agent (Gemini Flash 2.0)":{"ai_languageModel":[[{"node":"Thumb Prompt Generator","type":"ai_languageModel","index":0}]]},"Scene Agent (Gemini 2.5 Pro)":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09dd1e40-890e-4e43-8917-f16a059f1d15","triggerCount":1,"tags":[{"createdAt":"2025-03-29T18:23:37.380Z","updatedAt":"2025-03-29T18:23:37.380Z","id":"4rNF53LuFAX5nbfy","name":"YouTube"}]}