sd1-|-youtube-faceless-video-[seo-agent]-4WydyPpGOqBC6mGy.json
{"createdAt":"2025-04-05T15:05:33.719Z","updatedAt":"2025-04-27T06:12:35.000Z","id":"4WydyPpGOqBC6mGy","name":"SD1 | YouTube Faceless Video [SEO Agent]","active":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[180,-100],"id":"d12db65d-7d3f-475d-8b7c-c907a561c127","name":"Short ID Trigger","webhookId":"325cd394-eeb8-4c6e-a17c-bd19247c510c","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"261e8967-6fe9-484a-9ac9-f53499ff891c","leftValue":"={{ $('Short ID Trigger').item.json.message.text }}","rightValue":"^@ShortID:\\s*[A-Za-z0-9_-]{11}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,-100],"id":"e19a9264-769f-4315-bb4b-e5df05159fdb","name":"IF Format Matched"},{"parameters":{"chatId":"5670586061","text":"=No YouTube video found for the provided ID. Please check and try again with a valid Shorts video ID.","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,80],"id":"ddf00fa6-c34f-4a60-9f2b-246b02b8e933","name":"Short ID Not Matched","webhookId":"22341c03-8114-43d9-aa0f-29b6d625cb78","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $('IF Format Matched').item.json.message.text.match(/@ShortID:\\s*([A-Za-z0-9_-]{11})/)?.[1] }}","part":["id"],"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[600,-280],"id":"594eb126-ce9b-4d6b-986e-7a2dba050a29","name":"Check YouTube Video","credentials":{"youTubeOAuth2Api":{"id":"jFMxLpChzn3R8jrm","name":"SD Social YouTube Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ecad0a92-f476-48cc-8a15-efe29cc46b8a","leftValue":"={{ $('Check YouTube Video').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}},{"id":"12fead52-a475-4e99-9735-4faf8a781870","leftValue":"={{ $('Check YouTube Video').item.json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,-280],"id":"3f3a23c1-2539-4191-a132-ef1ab5a788e6","name":"IF Video Availabe"},{"parameters":{"documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Production","lookupValue":"true"},{"lookupColumn":"YT Published","lookupValue":"Pending"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1020,-280],"id":"b7a7640f-4f46-4b34-a48c-f60c269beda5","name":"Get Story Script","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8abe163d-0448-406d-b9d7-e420cfacdd9e","leftValue":"={{ $('Get Story Script').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,-280],"id":"f7a8c5c7-70c4-4ebe-8264-c4d555ff1881","name":"IF Publishing Pending"},{"parameters":{"content":"## TRIGGER ON TELEGRAM MESSAGE","height":620,"width":1900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-340],"id":"771039a9-920f-450b-a7d2-8a3e2868accb","name":"Sticky Note1"},{"parameters":{"chatId":"5670586061","text":"=No video available for publishing at the moment.\n\nPlease wait while a new video is being generated. You'll be notified once it's ready to publish.","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1020,80],"id":"44dd9e4a-6b6a-47cf-8b86-1640cda5ea46","name":"No Video For Publishing","webhookId":"22341c03-8114-43d9-aa0f-29b6d625cb78","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"chatId":"5670586061","text":"=We couldn't detect a valid `@ShortID:` in your message.\n\nPlease double-check the format — it should look like `@ShortID: YT-SHORT-ID`","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,80],"id":"abdd4d3d-01bb-452a-b935-a24183bde1e3","name":"No Video Found","webhookId":"22341c03-8114-43d9-aa0f-29b6d625cb78","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4aec5a6d-5dca-44ec-9aaf-54ba5903b53e","name":"Video Tags","value":"ai, ai story, ai short, ai short video, ai video, ai storytelling, ai channel, ai animated, ai art, ai generated, trending, trending shorts, viral shorts, viral video, viral short video, youtubeshorts, ytshorts, shortsfeed, ai short video, ai short video generator, ai short video channel, ai small animal video, ai animation short video generator, ai short video viral, ai short video generator free","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,-280],"id":"0a08da82-8f58-463f-b33a-d49f52118dbf","name":"Set Tags"},{"parameters":{"promptType":"define","text":"={{ $('IF Publishing Pending').item.json.Script }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a specialized YouTube Shorts content optimizer that produces only the requested JSON output. Your task is to transform any transcript into attention-grabbing titles and engaging descriptions optimized for the YouTube Shorts format.\n\n## Input Analysis:\n\nAnalyze the provided transcript to identify:\n- Main animal characters and their distinctive personalities/traits\n- Key moments of drama, humor, or emotional impact\n- Visual storytelling elements\n- Core message or takeaway\n\n## Instructions:\n\n- **Output must be plain text valid JSON** output with no additional text, markdown formatting, backticks, line breaks (\\n), extra whitespaces, explanations, or reasoning.\n\n## Response Format:\n\n{\"title\": \"string\",\"description\": \"string\"}\n\n## Title Specifications:\n\n- Create a punchy, attention-grabbing title that instantly hooks viewers\n- Maximum 6 WORDS in ENGLISH only\n- Always include the story animal's emoji ONLY in the middle or at the end of the title (NEVER at the beginning)\n- Use powerful action verbs or emotional triggers\n- Emphasize conflict, surprise, or transformation\n- Create curiosity without being misleading\n\n## Description Specifications:\n\n- Maximum 350 characters (not words) for optimal mobile display in English\n- Begin with a compelling hook that expands on the title\n- Always include the story animal's emoji at natural points in the description\n- Use short, impactful sentences with action-oriented language\n- Include a clear call-to-action\n- Format with short paragraphs (1-2 sentences each)\n- Mention key emotional moments or transformations\n- Do not use hashtags in descriptions\n\nFor any animal story transcript, focus on the most visually striking moments, emotional high points, and unexpected twists that will make viewers want to watch the entire short."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1660,-280],"id":"3b461aa5-e012-4753-a690-a1486c92057a","name":"SEO Generator"},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"string\",\n  \"description\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1860,-100],"id":"915e2a0f-fc76-46a5-8c4b-7d9ca278270b","name":"Structured Output"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('IF Publishing Pending').item.json.ID }}","Video Title":"={{ $('SEO Generator').item.json.output.title.replaceAll(\"\\\"\", \"\") }}","Video Description":"={{ $('SEO Generator').item.json.output.description }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Animal 1","displayName":"Animal 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Character Name 1","displayName":"Character Name 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 1 Visual ID","displayName":"Animal 1 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 2","displayName":"Animal 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Character Name 2","displayName":"Character Name 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 2 Visual ID","displayName":"Animal 2 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Environmental Setting","displayName":"Environmental Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Conflict Scenario","displayName":"Conflict Scenario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Emotional Tone","displayName":"Emotional Tone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Production","displayName":"Production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video Title","displayName":"Video Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Video Description","displayName":"Video Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Script","displayName":"Script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1240,80],"id":"9adda6ee-36a7-4d01-b9e7-3c58d86df9ca","name":"Update Video Metadata","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"resource":"video","operation":"update","videoId":"={{ $('IF Video Availabe').item.json.id }}","title":"={{ $('Update Video Metadata').first().json['Video Title'] }} #youtubeshorts #shorts #shortsfeed","regionCode":"IN","categoryId":"22","updateFields":{"defaultLanguage":"en-IN","description":"={{ $('Update Video Metadata').first().json['Video Description'] }}\n\n#youtubeshorts #shorts #ytshorts #shortsfeed #trendingshorts #trendingvideo #trendingsong #viralshort #viralvideo #aivideo #viralshortvideo #ai #aistorytelling #ytviral #fypシ゚viral #fyp\n\nVideo Keywords:\nai short video\nai short video generator\nai short video kaise banaye\nai short video generator free\nai short video generator free website\nai short video editing\nai short video kaise upload kare\nai short video channel monetization\nai short video channel\nai short video monetize hota hai ya nahin\nai short video viral\nai short video app\nai short video generator for free\nai short video editing app\nai animation short video generator\nai small animal video","embeddable":true,"notifySubscribers":true,"tags":"={{ $('Set Tags').item.json['Video Tags'] + ', ' }}{{ 'ai ' + $('Get Story Script').item.json['Animal 1'].toLowerCase() + ' story, ' }}{{ 'ai ' + $('Get Story Script').item.json['Animal 2'].toLowerCase() + ' video' }}"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1640,80],"id":"a9b19b31-17d1-4ae5-a9ef-c05b4ad07b8e","name":"Update YouTube Video","credentials":{"youTubeOAuth2Api":{"id":"jFMxLpChzn3R8jrm","name":"SD Social YouTube Account"}}},{"parameters":{"jsCode":"const randomHashtags = ['#trending', '#trendingshorts', '#viral', '#viralshort', '#animals', '#shortsfeed'];\nconst commonHashtags = ['#youtubeshorts', '#shorts', '#ytshorts'];\n\nconst shuffledRandom = [...randomHashtags].sort(() => Math.random() - 0.5);\nconst selectedRandom = shuffledRandom.slice(0, 2);\nconst hashTags = [...commonHashtags, ...selectedRandom].join(' ');\n\nreturn {\n  hashtags: hashTags\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,80],"id":"d7a9b9fc-9d14-4f8b-ab7e-7b303704b8fa","name":"Create Hashtags"},{"parameters":{"chatId":"5670586061","text":"=YouTube Short video's SEO metadata has been successfully updated. All your configurations have been saved and applied to the video.","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,80],"id":"e86b728a-e8de-48ce-8063-678c7b57ce1c","name":"Update On Telegram","webhookId":"22341c03-8114-43d9-aa0f-29b6d625cb78","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1460,-100],"id":"6028f74e-1992-40dc-a959-45845e5a9a05","name":"SEO Agent (Gemini Flash 2.0)","credentials":{"googlePalmApi":{"id":"zwTeEecvrA4f0HRt","name":"SD Social Gemini Account"}}},{"parameters":{"model":"meta-llama/llama-4-maverick:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1640,-100],"id":"1238d755-4bd5-47a2-ab41-8a77b9c04298","name":"SEO Agent (Meta Llama 4)","credentials":{"openRouterApi":{"id":"HSHx5dUpyiXwOrDq","name":"Sayan's Project OpenRouter Account"}},"disabled":true}],"connections":{"Short ID Trigger":{"main":[[{"node":"IF Format Matched","type":"main","index":0}]]},"IF Format Matched":{"main":[[{"node":"Check YouTube Video","type":"main","index":0}],[{"node":"Short ID Not Matched","type":"main","index":0}]]},"Check YouTube Video":{"main":[[{"node":"IF Video Availabe","type":"main","index":0}]]},"IF Video Availabe":{"main":[[{"node":"Get Story Script","type":"main","index":0}],[{"node":"No Video Found","type":"main","index":0}]]},"Get Story Script":{"main":[[{"node":"IF Publishing Pending","type":"main","index":0}]]},"IF Publishing Pending":{"main":[[{"node":"Set Tags","type":"main","index":0}],[{"node":"No Video For Publishing","type":"main","index":0}]]},"Set Tags":{"main":[[{"node":"SEO Generator","type":"main","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"SEO Generator","type":"ai_outputParser","index":0}]]},"SEO Generator":{"main":[[{"node":"Update Video Metadata","type":"main","index":0}]]},"Update Video Metadata":{"main":[[{"node":"Create Hashtags","type":"main","index":0}]]},"Create Hashtags":{"main":[[{"node":"Update YouTube Video","type":"main","index":0}]]},"Update YouTube Video":{"main":[[{"node":"Update On Telegram","type":"main","index":0}]]},"Update On Telegram":{"main":[[]]},"SEO Agent (Gemini Flash 2.0)":{"ai_languageModel":[[{"node":"SEO Generator","type":"ai_languageModel","index":0}]]},"SEO Agent (Meta Llama 4)":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5608309-9e5f-47ce-8dc3-ab83b4c290d7","triggerCount":1,"tags":[{"createdAt":"2025-03-29T18:23:37.380Z","updatedAt":"2025-03-29T18:23:37.380Z","id":"4rNF53LuFAX5nbfy","name":"YouTube"}]}