sd1-|-youtube-faceless-video-UvSzGpgVdqHNlIPS.json
{"createdAt":"2025-03-23T07:35:03.722Z","updatedAt":"2025-03-23T12:45:23.000Z","id":"UvSzGpgVdqHNlIPS","name":"SD1 | YouTube Faceless Video","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-680,-80],"id":"07b57799-585a-41cf-9d40-1d9a2bc16441","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Production","lookupValue":"false"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-520,-80],"id":"bd883959-d517-489d-bbaa-e8d0c3eb7d6a","name":"Story Details","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"promptType":"define","text":"=Create a captivating Hindi story about two rival animals who become friends, following these parameters:\n\nAnimals: {{ $json['Animal 1'] }} (give a descriptive name like \"चालाक लोमड़ी राजू\") and {{ $json['Animal 2'] }} (give a descriptive name like \"तेज़ खरगोश मोहन\")\nSetting: {{ $json['Environmental Setting'] }} (like \"घने जंगल की झाड़ियों में\")\nConflict: {{ $json['Conflict Scenario'] }} (like \"अचानक आई भयंकर आग\")\nEmotional Tone: {{ $json['Emotional Tone'] }} (like \"साहसिक\")\n\nFirst, provide a flowing narrative story in continuous paragraph form (55-60 words total) that tells the complete story without scene breaks or dialogue markers.\n\nThen, break down the same story into 5 distinct visual scenes (10-12 words each) that can be used for image generation:\n\nScene 1: Introduce first animal with visual details\nScene 2: Introduce second animal and show their rivalry\nScene 3: Present the conflict that threatens both animals\nScene 4: Show their cooperation to overcome the challenge\nScene 5: Reveal their new friendship with a meaningful conclusion\n\nEnsure the story follows social media guidelines for YouTube Shorts (family-friendly, no violence, appropriate for all ages). Use simple Hindi vocabulary and visually descriptive language throughout.\n\nExample:\n\nFlowing Narrative:\nबलशाली बाघ विक्रम बांस के जंगल में अकेले राज करता था। छोटा हिरण रोहन भी वहीं रहता था, लेकिन बाघ से हमेशा दूर भागता रहता था। एक दिन शिकारियों ने जंगल में जाल बिछाया जिससे दोनों खतरे में थे। विक्रम ने शिकारियों को देखा जबकि रोहन ने सुरक्षित रास्ता ढूंढा। दोनों ने मिलकर बचने की योजना बनाई और आज वे एक-दूसरे के सबसे अच्छे मित्र हैं।\n\nScene Breakdown:\nScene 1: बलशाली बाघ विक्रम बांस के जंगल में अकेले रहता था, हर जानवर उससे डरता था।\nScene 2: छोटा हिरण रोहन भी वहीं रहता था, बाघ से हमेशा दूर भागता रहता था।\nScene 3: एक दिन शिकारियों ने जंगल में जाल बिछाया, दोनों फंसने के खतरे में थे।\nScene 4: विक्रम ने शिकारियों को देखा, रोहन ने सुरक्षित रास्ता ढूंढा, दोनों ने मिलकर बचने की योजना बनाई।\nScene 5: आज वे एक-दूसरे के सबसे अच्छे मित्र हैं, विक्रम सुरक्षा देता है, रोहन रास्ता दिखाता है।","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a specialized Hindi storytelling assistant designed to create engaging, family-friendly stories about animal friendships. Your task is to generate imaginative and visually descriptive stories following the user's specific parameters.\n\n## Story Parameters\n\nWhen given a user request, you will create a story using these elements:\n- **Two animal characters** with descriptive Hindi names\n- **Environmental setting** that serves as the backdrop\n- **Conflict scenario** that brings the rival animals together\n- **Emotional tone** that guides the narrative arc\n\n## Story Format Requirements\n\nYour response must include:\n\n1. **Flowing Narrative Version**: \n   - A continuous paragraph (55-60 words total)\n   - Complete story with beginning, middle, and end\n   - No scene breaks or dialogue markers\n   - Natural narrative flow in simple Hindi\n\n2. **Scene Breakdown Version**:\n   - The same story divided into 5 distinct visual scenes\n   - Each scene must be 10-12 words\n   - Each scene must be self-contained and visually descriptive\n   - Scenes must follow this progression:\n     - Scene 1: Introduce first animal with visual details\n     - Scene 2: Introduce second animal and show their rivalry\n     - Scene 3: Present the conflict that threatens both animals\n     - Scene 4: Show their cooperation to overcome the challenge\n     - Scene 5: Reveal their new friendship with a meaningful conclusion\n\n## Content Guidelines\n\nAll stories must be:\n- **Family-friendly**: Suitable for all ages, including young children\n- **Non-violent**: No graphic descriptions of injuries, bloodshed, or death\n- **Positive**: Focus on cooperation, friendship, and overcoming differences\n- **Visually oriented**: Use descriptive language that translates well to imagery\n- **Culturally appropriate**: Respect Indian cultural contexts and values\n- **Simple Hindi**: Use vocabulary accessible to Hindi learners and children\n\n## Response Structure\n\n1. First generate creative values for:\n   - {{ $json['Animal 1'] }} - First animal with descriptive Hindi name\n   - {{ $json['Animal 2'] }} - Second animal with descriptive Hindi name\n   - {{ $json['Environmental Setting'] }} - Specific location description\n   - {{ $json['Conflict Scenario'] }} - Challenge that threatens both animals\n   - {{ $json['Emotional Tone'] }} - Overall feeling of the narrative\n\n2. Then provide:\n   - The complete flowing narrative (55-60 words)\n   - The 5-scene breakdown (10-12 words per scene)\n\nAlways ensure that both versions tell the same story, with the scene breakdown being a restructured version of the flowing narrative optimized for visual storytelling."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-340,-80],"id":"27194cbc-5d70-4e09-9f70-fd74d7955b32","name":"Generate Story"},{"parameters":{"model":"deepseek/deepseek-chat:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-340,80],"id":"5a89bfce-5ab7-48a5-bd16-6d863c4e4b7a","name":"DeepSeek Chat Model","credentials":{"openRouterApi":{"id":"aoqxRDswhPdPHVuW","name":"OpenRouter Account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"text\": {\n    \"flowing_narrative\": \"<Complete story in Hindi>\",\n    \"scene_breakdown\": [\n      { \"scene_1\": \"<Scene 1 details>\" },\n      { \"scene_2\": \"<Scene 2 details>\" },\n      { \"scene_3\": \"<Scene 3 details>\" },\n      { \"scene_4\": \"<Scene 4 details>\" },\n      { \"scene_5\": \"<Scene 5 details>\" }\n    ]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-180,80],"id":"50c44c31-249a-4725-b60c-9b11998f9c1c","name":"Story Output Parser"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Story Details","type":"main","index":0}]]},"Story Details":{"main":[[{"node":"Generate Story","type":"main","index":0}]]},"Generate Story":{"main":[[]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Generate Story","type":"ai_languageModel","index":0}]]},"Story Output Parser":{"ai_outputParser":[[{"node":"Generate Story","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f412229-b358-474e-bb94-a39978284c27","triggerCount":0,"tags":[]}