sd1-|-youtube-faceless-video-[instagram-agent]-6mrrS2f6q253kq9n.json
{"createdAt":"2025-04-05T21:42:51.794Z","updatedAt":"2025-04-08T09:51:56.000Z","id":"6mrrS2f6q253kq9n","name":"SD1 | YouTube Faceless Video [Instagram Agent]","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"843c70c8-473f-4136-b4ae-54538b802467","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-60],"id":"402fa4bc-e091-4432-9113-ee184276983b","name":"Webhook","webhookId":"843c70c8-473f-4136-b4ae-54538b802467","credentials":{"httpHeaderAuth":{"id":"FyT2IpExNnHDAvtv","name":"SD Social Webhook API Keys"}}},{"parameters":{"documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $('Webhook').item.json.body.sheet_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,-60],"id":"5fb72e3c-d827-435e-b491-d5a30e1a810f","name":"Get Story Script","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"promptType":"define","text":"=Please create Instagram captions for our animated Hindi children's story about {{ $('Get Story Script').item.json['Character Name 1'] }} the {{ $('Get Story Script').item.json['Animal 1'] }} and {{ $('Get Story Script').item.json['Character Name 2'] }} the {{ $('Get Story Script').item.json['Animal 2'] }}, who transform from rivals to friends.\n\nStory summary:\n{{ $('Get Story Script').item.json.Script }}\n\nThe captions should highlight the friendship theme and moral lesson. Use appropriate emojis that match the animal characters and story theme. Include an engaging question that encourages parents to comment.\n\nRemember: Provide ONLY the one caption options in plain text format in English language. No additional text, formatting, or JSON.","messages":{"messageValues":[{"message":"=You are a creative social media copywriter for children's content. Create engaging Instagram captions for animated Hindi children's stories. Your output must follow the EXACT format below.\n\n## CAPTION FORMAT REQUIREMENTS:\n\n- Provide exactly one caption options\n- Format as plain text with minimal formatting\n- No JSON formatting, no markdown, no extra elements\n- No numbering, headers, or decorative characters\n- No explanation or commentary outside the captions themselves\n\n## CAPTION CONTENT REQUIREMENTS:\n\n- Caption: 70-100 characters in English language\n- Include character names and one engaging question in each caption\n- Incorporate emojis naturally (2-4 per caption)\n- Focus on the story's friendship theme and moral lesson\n- Target audience: parents with children ages 4-35\n\n## OUTPUT EXAMPLE STRUCTURE:\n\n[Caption text with emojis and question]"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[120,-60],"id":"418b7a90-bdf5-41f8-9c99-e4c92864adbc","name":"Generate Caption"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[200,120],"id":"045d0930-35eb-4cb5-a425-f27495fab0ef","name":"Caption Agent (DeepSeek v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841473783689448","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $('Wait For Media').item.json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[100,260],"id":"09cebdbe-4e3f-4fab-b0fe-e1b5fa4a47f9","name":"Post To Instagram","credentials":{"facebookGraphApi":{"id":"zUYquJUA2a6F3rvD","name":"SD Social FB Graph Account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841473783689448","edge":"media","options":{"queryParameters":{"parameter":[{"name":"video_url","value":"={{ $('Get Story Script').first().json['Video URL'] }}"},{"name":"caption","value":"={{ $('Generate Caption').item.json.text }}\n\n#reels #reelsinstagram #aistory #aistorytelling #animals #ghibli"},{"name":"media_type","value":"REELS"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-320,260],"id":"3218ee5e-d8aa-4bcb-9e6f-b1a1282b6124","name":"Create Container","credentials":{"facebookGraphApi":{"id":"zUYquJUA2a6F3rvD","name":"SD Social FB Graph Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Get Story Script').first().json.ID }}","Insta Published":"Published"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Animal 1","displayName":"Animal 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Character Name 1","displayName":"Character Name 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 1 Visual ID","displayName":"Animal 1 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 2","displayName":"Animal 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Character Name 2","displayName":"Character Name 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Animal 2 Visual ID","displayName":"Animal 2 Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Environmental Setting","displayName":"Environmental Setting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Conflict Scenario","displayName":"Conflict Scenario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Emotional Tone","displayName":"Emotional Tone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Production","displayName":"Production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video Title","displayName":"Video Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video Description","displayName":"Video Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script","displayName":"Script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YT Published","displayName":"YT Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Insta Published","displayName":"Insta Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,260],"id":"39d354af-af31-45c6-96f3-bb29997f4eb8","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"content":"## INSTAGRAM PUBLISHING AGENT","height":560,"width":840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-140],"id":"5168c943-289c-448c-b478-df323ab1787f","name":"Sticky Note"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-120,260],"id":"8f96cb34-fe3b-4206-a225-1724816cedaf","name":"Wait For Media","webhookId":"6b6bbbbb-effc-489e-9dbe-32588879f280"}],"connections":{"Webhook":{"main":[[{"node":"Get Story Script","type":"main","index":0}]]},"Get Story Script":{"main":[[{"node":"Generate Caption","type":"main","index":0}]]},"Caption Agent (DeepSeek v3)":{"ai_languageModel":[[{"node":"Generate Caption","type":"ai_languageModel","index":0}]]},"Generate Caption":{"main":[[{"node":"Create Container","type":"main","index":0}]]},"Create Container":{"main":[[{"node":"Wait For Media","type":"main","index":0}]]},"Post To Instagram":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Wait For Media":{"main":[[{"node":"Post To Instagram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"352c3da6-991f-44b1-b08c-6e400a2940e2","triggerCount":1,"tags":[{"createdAt":"2025-03-29T18:24:22.615Z","updatedAt":"2025-03-29T18:24:22.615Z","id":"ojsrysqpER92L5ov","name":"Instagram"},{"createdAt":"2025-03-29T18:24:13.818Z","updatedAt":"2025-03-29T18:24:13.818Z","id":"y79vlm3Z8kW8VuVB","name":"Facebook"}]}