sd1-|-instagram-autopilot-post-[instagram-agent]-2ZoZ368u8aOwBLJ9.json
{"createdAt":"2025-04-06T08:10:40.787Z","updatedAt":"2025-04-06T14:06:52.000Z","id":"2ZoZ368u8aOwBLJ9","name":"SD1 | Instagram Autopilot Post [Instagram Agent]","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1V5AUMhSnfmo2s4_NB8VXNix6AF7JdOPtjLFR2a6NFeo","mode":"list","cachedResultName":"SD1 | Instagram Autopilot Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V5AUMhSnfmo2s4_NB8VXNix6AF7JdOPtjLFR2a6NFeo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V5AUMhSnfmo2s4_NB8VXNix6AF7JdOPtjLFR2a6NFeo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"IG Status","lookupValue":"Pending"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,-80],"id":"aa658eeb-4a5a-476e-abb1-9963470248bf","name":"Get Animal Details","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"promptType":"define","text":"=Create a child-friendly Studio Ghibli style illustration of a {{ $('Get Animal Details').item.json['Animal Name'] }} with these distinctive features: {{ $('Get Animal Details').item.json['Visual ID'] }}.\n\nShow the {{ $('Get Animal Details').item.json['Animal Name'] }} in a richly detailed {{ $('Get Animal Details').item.json.Environment }} setting that feels magical yet natural. The animal should be the focal point, portrayed with slightly exaggerated expressive features while maintaining anatomical believability.\n\nESSENTIAL GHIBLI STYLE REQUIREMENTS:\n- Use soft, hand-painted watercolor textures with visible gentle brushstrokes\n- Implement a warm, pastel-dominant color palette with delicate lighting effects\n- Include Ghibli's signature atmospheric elements (floating dust particles, gentle motion lines)\n- Create depth through atmospheric perspective and subtle background desaturation\n- Add meticulous natural details to vegetation and environmental elements\n- Design the {{ $('Get Animal Details').item.json['Animal Name'] }} with a gentle, friendly expression suitable for young children\n- Balance magical whimsy with natural authenticity in a way that inspires wonder\n\nThe scene should capture a peaceful, enchanting moment that feels like it was lifted directly from \"My Neighbor Totoro\" or \"Ponyo,\" with the innocent charm and reverence for nature that makes Ghibli films beloved by children worldwide.","messages":{"messageValues":[{"message":"=You are a master image prompt creator specializing in Studio Ghibli's distinctive animation style for children's content. Your expertise lies in creating enchanting animal illustrations that capture the whimsical, gentle, and magical quality that defines Miyazaki's work.\n\nWhen crafting image prompts, follow these ESSENTIAL Studio Ghibli visual requirements:\n\n### Character Consistency Blueprint (HIGHEST PRIORITY)\n\n- Create consistent, child-friendly animal designs with perfect proportional consistency\n- Establish soft, rounded features with gentle expressions appropriate for young audiences\n- Define distinctive identifying elements that remain consistent across all images\n- Ensure animals maintain their unique visual identity while being expressive and approachable\n\n### Technical Ghibli Style Elements (MANDATORY)\n\n- Implement Ghibli's signature hand-painted watercolor textures with visible soft brushstrokes\n- Use a pastel-dominant color palette with gentle, diffused lighting effects\n- Create depth through atmospheric perspective with subtle color desaturation\n- Include Ghibli's characteristic \"magic dust\" particles floating in light beams\n- Apply delicate motion lines to suggest gentle movement (swaying grass, flowing water)\n- Design backgrounds with meticulous natural details (individual leaves, grass blades)\n- Balance realism and stylization to create a world both magical and believable\n- Include subtle environmental storytelling elements that hint at a larger world\n\nEach image should evoke the dreamlike wonder, respect for nature, and innocent charm that permeates Studio Ghibli's most beloved children's content.\n\n## Output Format:\n\nGenerate a SINGLE CONTINUOUS PARAGRAPH (150-200 words) with NO MARKDOWN FORMATTING, NO BACKTICKS, NO LINE BREAKS (\\n), and NO EXTRA WHITESPACES between elements NO EMOJI. The output must be plain text suitable for direct JSON inclusion."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[120,-80],"id":"a167a9ef-d05c-4961-8198-ec43c6ad13bf","name":"Generate Prompt"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[220,60],"id":"8842e266-eb3c-4ec3-9bec-90e34724fd4e","name":"Prompt Agent (DeepSeek Chat v3)","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"method":"POST","url":"https://api.sayandey.dev/v1/image/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"prompt\": \"{{ $('Generate Prompt').item.json.text }}\",\n    \"seed\": 880548519,\n    \"randomize_seed\": false,\n    \"width\": 1024,\n    \"height\": 1280,\n    \"num_inference_steps\": 25\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-80],"id":"eda0dd3c-3707-4a23-9b8b-297e32e783fa","name":"Generate Image","credentials":{"httpHeaderAuth":{"id":"ui50kstAC8Gzgx0b","name":"Sayan's FLUX API Key"}}},{"parameters":{"url":"={{ $('Wait For Images').item.json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-520,200],"id":"fe2f22f4-898f-4363-83c3-92e160ca6867","name":"Download Image"},{"parameters":{"assignments":{"assignments":[{"id":"261479f2-6730-457c-8ed9-d263757a78d1","name":"Bucket Name","value":"n8n-youtube","type":"string"},{"id":"5266e16b-b334-41a1-bba0-c42928d6a93c","name":"Bucket Link","value":"https://pub-38a2654e096044979f868c7e5f469307.r2.dev","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-80],"id":"31cb7c5b-3a82-4624-bbfa-7d16fbfaa91d","name":"Bucket Settings"},{"parameters":{"operation":"upload","bucketName":"={{ $('Bucket Settings').item.json['Bucket Name'] }}","fileName":"animal-image.webp","additionalFields":{"parentFolderKey":"ig-images"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-320,200],"id":"447d0839-5876-4422-ad73-f0737a493904","name":"Upload To R2","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841473783689448","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $('Bucket Settings').first().json['Bucket Link'] }}/ig-images/animal-image.webp?{{ Math.random().toString(36).substr(2, ).toLowerCase() }}"},{"name":"caption","value":"={{ $('Get Animal Details').item.json.Caption }}\n\n{{ $('Get Animal Details').item.json.Hashtags }}"},{"name":"alt_text","value":"={{ $('Get Animal Details').item.json['Animal Name'] + ' in ' + $('Get Animal Details').item.json.Environment }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-100,200],"id":"aabcd37f-9e8f-4021-924f-9ab894e54afe","name":"Create Contailer","credentials":{"facebookGraphApi":{"id":"zUYquJUA2a6F3rvD","name":"SD Social FB Graph Account"}}},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[120,200],"id":"05bd494e-6a64-4121-a727-e055dba4f798","name":"Wait For Container","webhookId":"d8a453f6-e155-42de-9722-4c5c6f655dea"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841473783689448","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $('Wait For Container').item.json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[340,200],"id":"86af1553-b743-4775-8fd5-7618828c1428","name":"Post To Instagram","credentials":{"facebookGraphApi":{"id":"zUYquJUA2a6F3rvD","name":"SD Social FB Graph Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1V5AUMhSnfmo2s4_NB8VXNix6AF7JdOPtjLFR2a6NFeo","mode":"list","cachedResultName":"SD1 | Instagram Autopilot Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V5AUMhSnfmo2s4_NB8VXNix6AF7JdOPtjLFR2a6NFeo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V5AUMhSnfmo2s4_NB8VXNix6AF7JdOPtjLFR2a6NFeo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Get Animal Details').item.json.ID }}","IG Status":"Posted"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Animal Name","displayName":"Animal Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visual ID","displayName":"Visual ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Environment","displayName":"Environment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hashtags","displayName":"Hashtags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"IG Status","displayName":"IG Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,200],"id":"6c36e7ad-6001-4f6b-a2de-19bbb8090d88","name":"Update GSheet Status","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"httpMethod":"POST","path":"8b54d76c-455f-4e58-9edf-11220e23890a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,-80],"id":"cc6007ae-834d-4965-94ad-4e7200f7d695","name":"Webhook","webhookId":"8b54d76c-455f-4e58-9edf-11220e23890a"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,-80],"id":"052e28ef-15b4-4e15-861c-7ef53bf9aff4","name":"Wait For Images","webhookId":"c0e38012-0e06-43a1-86ac-dd8b4e05d7d4"},{"parameters":{"content":"## DAILY INSTAGRAM POST AGENT","height":600,"width":1480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-600,-200],"id":"93554e02-9570-4f9e-acd8-80f3a728450c","name":"Sticky Note"}],"connections":{"Get Animal Details":{"main":[[{"node":"Generate Prompt","type":"main","index":0}]]},"Prompt Agent (DeepSeek Chat v3)":{"ai_languageModel":[[{"node":"Generate Prompt","type":"ai_languageModel","index":0}]]},"Generate Prompt":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Wait For Images","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload To R2","type":"main","index":0}]]},"Bucket Settings":{"main":[[{"node":"Get Animal Details","type":"main","index":0}]]},"Upload To R2":{"main":[[{"node":"Create Contailer","type":"main","index":0}]]},"Create Contailer":{"main":[[{"node":"Wait For Container","type":"main","index":0}]]},"Wait For Container":{"main":[[{"node":"Post To Instagram","type":"main","index":0}]]},"Post To Instagram":{"main":[[{"node":"Update GSheet Status","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Bucket Settings","type":"main","index":0}]]},"Wait For Images":{"main":[[{"node":"Download Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e502b07-8425-4dec-ba65-bc741abebc6e","triggerCount":1,"tags":[]}