sd1-|-youtube-faceless-video-[telegram-agent]-amN1RQR8PoJvesCd.json
{"createdAt":"2025-04-05T18:38:17.395Z","updatedAt":"2025-04-24T10:10:33.000Z","id":"amN1RQR8PoJvesCd","name":"SD1 | YouTube Faceless Video [Telegram Agent]","active":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Button Callback').item.json.callback_query.data }}","rightValue":"proceed_ytshort_id","operator":{"type":"string","operation":"equals"},"id":"536bf64d-d202-41c7-9d78-6a87e25d23d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Proceed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74ba1715-cf33-460e-8bb6-da0df8068609","leftValue":"={{ $('Button Callback').item.json.callback_query.data }}","rightValue":"canceled_ytshort_id","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelled"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-420,40],"id":"134a4476-4df5-4492-abd9-f4674d2f821c","name":"Check Callback"},{"parameters":{"resource":"callback","queryId":"={{ $('Check Callback').item.json.callback_query.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,-60],"id":"46375057-393a-4a3c-bc65-f1225a0ce729","name":"Get Query ID","webhookId":"4a907340-3f34-4e94-a56e-189a3cec0f1d","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"chatId":"5670586061","text":"=Please enter the YouTube Shorts video ID below to update video metadata.\n\nEnter the Shorts ID in this format only: `@ShortID: abc123XYZ`\n\n(Example: For https://youtube.com/shorts/abc123XYZ, the ID is abc123XYZ.)","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[20,-60],"id":"32e21035-f55d-4290-8ec0-f9b42e9017b5","name":"Ask For Short ID","webhookId":"22341c03-8114-43d9-aa0f-29b6d625cb78","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-640,40],"id":"9d28c170-e110-47fd-b495-a015280a0647","name":"Button Callback","webhookId":"fe69efa1-2083-4a4a-8eb1-70d16e7cf979","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"chatId":"5670586061","text":"=No worries! Your action has been cancelled successfully. If you need anything else, feel free to start again anytime.","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-200,140],"id":"ad28cd94-d8a8-416a-ac5b-e768283612aa","name":"Cancellation Message","webhookId":"22341c03-8114-43d9-aa0f-29b6d625cb78","credentials":{"telegramApi":{"id":"4SyawlyQL2q5Y7NY","name":"SD Social Telegram Account"}}},{"parameters":{"content":"## TRIGGER ON TELEGRAM BUTTON CALLBACK","height":480,"width":840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,-180],"id":"0ba74e28-0173-41c9-8667-5a641f9f3c0c","name":"Sticky Note"}],"connections":{"Check Callback":{"main":[[{"node":"Get Query ID","type":"main","index":0}],[{"node":"Cancellation Message","type":"main","index":0}]]},"Get Query ID":{"main":[[{"node":"Ask For Short ID","type":"main","index":0}]]},"Button Callback":{"main":[[{"node":"Check Callback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"688698ea-63ec-4c83-a50f-a202f9cdb9e5","triggerCount":1,"tags":[{"createdAt":"2025-03-29T18:23:37.380Z","updatedAt":"2025-03-29T18:23:37.380Z","id":"4rNF53LuFAX5nbfy","name":"YouTube"}]}