sd1-|-youtube-faceless-video-UvSzGpgVdqHNlIPS.json
{"createdAt":"2025-03-23T07:35:03.722Z","updatedAt":"2025-03-26T20:12:49.000Z","id":"UvSzGpgVdqHNlIPS","name":"SD1 | YouTube Faceless Video","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1120,-340],"id":"07b57799-585a-41cf-9d40-1d9a2bc16441","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM","mode":"list","cachedResultName":"SD1 | YouTube Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XTd0jq-sOvlKCdH9wuyEhbPq8EFJjBLfd69xiVEOMWM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Production","lookupValue":"false"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-880,-340],"id":"bd883959-d517-489d-bbaa-e8d0c3eb7d6a","name":"Story Details","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"promptType":"define","text":"=Generate a short and engaging Hindi story (65-70 words) for children based on the given parameters. The story should be entertaining, educational, and suitable for YouTube Shorts. Make it humorous while subtly teaching a moral lesson. Conclude with a clear and simple moral statement.","messages":{"messageValues":[{"message":"=You are an expert children's storyteller specializing in short, engaging, and educational Hindi stories. Your task is to craft a fun, lighthearted story featuring two rival animals who overcome their differences and become friends when faced with a challenge. The story should be entertaining, humorous, and educational, suitable for YouTube Shorts.\n\n## Story Parameters:\n\n- Animal 1: {{ $json['Animal 1'] }}\n- Character Name 1: {{ $json['Character Name 1'] }} (A fun and engaging nickname for the first animal)\n- Animal 2: {{ $json['Animal 2'] }}\n- Character Name 2: {{ $json['Character Name 2'] }} (A fun and engaging nickname for the second animal)\n- Environmental Setting: {{ $json['Environmental Setting'] }}\n- Conflict Scenario: {{ $json['Conflict Scenario'] }} (A situation where both rival animals are in danger and must work together to - survive or escape)\n- Emotional Tone: {{ $json['Emotional Tone'] }} (The mood of the story – humorous, adventurous, etc.)\n\n## Story Structure:\n\n1. Introduction – Introduce both animals, highlighting their rivalry and differences.\n2. Conflict – A crisis forces them to work together.\n3. Resolution – They overcome the challenge and become friends.\n4. Moral – A simple lesson that teaches teamwork, friendship, or kindness.\n\n## Requirements:\n\n- Length: 65-72 words\n- Format: A flowing narrative in a continuous paragraph form without scene breaks or dialogue markers.\n- Tone: Child-friendly, humorous, and engaging.\n- Storytelling Style: Smooth and natural, maintaining a rhythmic and engaging pace.\n- Moral: End the story with \"तो इस से हमने क्या सीखा\" followed by a simple and clear moral lesson.\n\n## Response Format:\n\nA continuous paragraph with an engaging beginning, conflict, resolution. and a moral lesson तो इस से हमने क्या सीखा: [Concise moral in simple words]\n\n## Example Response:\n\nधीरज कछुआ और चंचल बंदर नदी किनारे रहते थे, लेकिन हमेशा झगड़ते रहते। एक दिन, एक भूखा मगरमच्छ आया और दोनों को पकड़ना चाहा! धीरज ने चंचल को अपनी कठोर पीठ पर बैठाया, और चंचल ने ऊँची डाल से मगरमच्छ को केले फेंककर भगाया। मुसीबत में दोनों ने मिलकर काम किया और अब वे अच्छे दोस्त बन गए। तो इस से हमने क्या सीखा: मिलकर काम करने से हर मुश्किल आसान हो जाती है।\n\n**IMPORTANT:**\n \nDo not include any explanatory text or additional content outside"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-640,-340],"id":"27194cbc-5d70-4e09-9f70-fd74d7955b32","name":"Generate Story"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-420,-540],"id":"1db52432-3147-4f49-8f35-72fbeae8c5ff","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"aoqxRDswhPdPHVuW","name":"OpenRouter Account"}}},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-520],"id":"e288e336-85ec-4b9f-ba94-74a14346bef7","name":"Download Image"},{"parameters":{"method":"POST","url":"https://api.sayandey.dev/v1/image/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"prompt\": \"{{ $json.response.text }}\",\n    \"seed\": 1311721057,\n    \"randomize_seed\": false,\n    \"width\": 540,\n    \"height\": 960,\n    \"num_inference_steps\": 25\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,-740],"id":"4c4ba25a-e8f5-40b0-830f-e7e96f7089dc","name":"Generate Image","notesInFlow":false,"retryOnFail":false,"credentials":{"httpHeaderAuth":{"id":"ui50kstAC8Gzgx0b","name":"Sayan's FLUX API Key"}}},{"parameters":{"fieldToSplitOut":"url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-40,-520],"id":"0a1f9d1b-c7e4-4042-b20a-50b1a7168934","name":"Split Images"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-220,-520],"id":"97ee6f92-352e-41ba-89e2-0db8b1831e63","name":"Wait 1","webhookId":"6e8e3cd9-279c-4862-8360-a2410101de98"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[160,-740],"id":"ff252f2a-ffac-4307-a66d-39f2e6ff2d75","name":"Wait","webhookId":"f55b588e-5832-44eb-b85b-d6f0c66b7ca0"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[340,-520],"id":"54a366c6-fb82-4361-8dfe-aae8f8b6c282","name":"Wait 2","webhookId":"8b4b0d29-9df4-4e49-a6d3-224dc6f1ceb9"},{"parameters":{"promptType":"define","text":"={{ $json.response.text }}","messages":{"messageValues":[{"message":"=You are an expert story analyst and scene generator. Your task is to deeply analyze a given Hindi story and break it into six detailed scenes. Each scene should visually describe the characters, their movements, the environment, and what happens in that part of the story. The scenes should be consistent with the story’s characters, setting, and tone, ensuring smooth transitions.\n\n## Instructions:\n\n- **Read the story carefully** to identify key moments.\n- **Break it into six logical scenes** that align with the narrative flow.\n- **Describe each scene in detail**, focusing on:\n  - **Characters & their Visuals:** How they look, their expressions, clothing (if applicable).\n  - **Environment & Setting:** The surroundings, weather, time of day, atmosphere.\n  - **Character Movements & Actions:** What the characters are doing in that scene.\n  - **Story Progression:** What happens in that scene that moves the story forward.\n- **Ensure continuity** between scenes so that characters and settings remain visually consistent.\n- **Output must be VALID** JSON with NO line breaks (\\n) or extra spaces between elements.\n- **Use escaped quotes (\\\") where needed** within the Hindi text.\n\n## Response Format:\n\n{\"story\":\"<Complete story in Hindi whch user provided as prompt>\",\"scenes\":[{\"scene_1\":\"<Scene 1 in details>\"},{\"scene_2\":\"<Scene 2 in details>\"},{\"scene_3\":\"<Scene 3 in details>\"},{\"scene_4\":\"<Scene 4 in details>\"},{\"scene_5\":\"<Scene 5 in details>\"},{\"scene_6\":\"<Scene 6 in details>\"}]}\n\n## Example Output:\n\n{\"story\":\"धीरज कछुआ और चंचल बंदर नदी किनारे रहते थे, लेकिन हमेशा झगड़ते रहते। एक दिन, एक भूखा मगरमच्छ आया और दोनों को पकड़ना चाहा! धीरज ने चंचल को अपनी कठोर पीठ पर बैठाया, और चंचल ने ऊँची डाल से मगरमच्छ को केले फेंककर भगाया। मुसीबत में दोनों ने मिलकर काम किया और अब वे अच्छे दोस्त बन गए।\",\"scenes\":[{\"scene_1\":\"सूरज की रोशनी में चमकती नदी के किनारे हरा-भरा पेड़ खड़ा है। एक चंचल बंदर ऊँची डाल पर बैठा खेल रहा है, नीचे पानी के किनारे एक धीमी चाल वाला कछुआ आराम से चल रहा है।\"},{\"scene_2\":\"बंदर और कछुआ एक दूसरे से बहस कर रहे हैं। बंदर अपने लंबे हाथों से इशारे कर रहा है, जबकि कछुआ अपनी छोटी आँखों से गुस्से में देख रहा है।\"},{\"scene_3\":\"अचानक, पानी में एक बड़ा मगरमच्छ उभरता है। उसकी चमकती आँखें और खतरनाक दाँत दिख रहे हैं, और वह धीरे-धीरे किनारे की ओर बढ़ रहा है।\"},{\"scene_4\":\"कछुआ तेजी से अपना सिर अंदर कर लेता है, जबकि बंदर पेड़ की डाल पर चढ़ने की कोशिश करता है। मगरमच्छ अपना मुँह खोलकर हमला करने ही वाला होता है।\"},{\"scene_5\":\"कछुआ अपनी कठोर पीठ पर बंदर को बैठने देता है और धीरे-धीरे पानी में बढ़ता है, जबकि बंदर ऊँची डाल से मगरमच्छ पर केले फेंकता है।\"},{\"scene_6\":\"मगरमच्छ हार मानकर पीछे हट जाता है। कछुआ और बंदर राहत की साँस लेते हैं और एक-दूसरे को देखकर मुस्कुराते हैं। अब वे अच्छे दोस्त बन गए हैं।\"}]}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-1140,-720],"id":"70512aef-cc4c-4912-8a7d-6c0951949d6b","name":"Scene Generator"},{"parameters":{"jsCode":"const rawText = $input.first().json.response.text;\nconst parsedData = JSON.parse(rawText);\nconst scenes = parsedData.scenes;\n\n// Convert key-value scene objects\nconst storyScenes = scenes.map((scene, index) => {\n  const sceneDetails = `scene_${index + 1}`;\n  return {\n    json: {\n      scene: scene[sceneDetails]\n    },\n  };\n});\n\nreturn storyScenes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,-620],"id":"0f644527-947d-47ec-be29-254431a2c917","name":"Extract Scene"},{"parameters":{"method":"POST","url":"https://api.us.elevenlabs.io/v1/text-to-speech/Sxk6njaoa7XLsAFT7WcN","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $('Generate Story').item.json.response.text }}"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,-900],"id":"0403bf38-25fc-446d-a800-c8743def20fc","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"QcZaNhLooDUSfO2Y","name":"Elevenlabs API Key"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-720,-100],"id":"4803a561-f97b-476a-a62f-3f7bfafaf79e","name":"Story Agent (DeepSeek v3)","credentials":{"openRouterApi":{"id":"aoqxRDswhPdPHVuW","name":"OpenRouter Account"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1020,-500],"id":"1f2c7673-ee70-4c67-820c-35453b846e15","name":"Scene Agent (DeepSeek v3)","credentials":{"openRouterApi":{"id":"aoqxRDswhPdPHVuW","name":"OpenRouter Account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-400,-1080],"id":"f3f21f19-7905-4184-9fa6-80b9dae68060","name":"Wait1","webhookId":"e669ad31-bbc4-4b61-9a71-b83d2aa8d763"},{"parameters":{"url":"={{ $json['Audio URL'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,-1080],"id":"d1874103-b76b-40ab-9402-2057c60f5020","name":"Download Audio"},{"parameters":{"assignments":{"assignments":[{"id":"4a03e589-64d7-44ab-be2e-f37ee96d219b","name":"Audio URL","value":"https://pub-38a2654e096044979f868c7e5f469307.r2.dev/audio","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-1080],"id":"a4595675-884e-4959-b603-01b2f0fc3ff3","name":"Get Audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"language","value":"hi"},{"name":"response_format","value":"verbose_json"},{"name":"timestamp_granularities[]","value":"word"},{"name":"url","value":"={{ $json[\"Audio URL\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-1080],"id":"3ef797cd-5061-42c1-8875-b2c8e21dd03f","name":"Open AI Whisper","credentials":{"httpHeaderAuth":{"id":"5c9jsSkQksFsvBnV","name":"Groq API Key"}}},{"parameters":{"operation":"getAll","bucketName":"=n8n-youtube","returnAll":true,"options":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-40,-280],"id":"384886bc-55c3-4352-95ba-41bfd2025cc2","name":"S32","alwaysOutputData":false,"credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"operation":"upload","bucketName":"n8n-youtube","fileName":"audio","additionalFields":{"parentFolderKey":"sounds"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-220,-1080],"id":"b503e2fb-12ec-443b-b085-238714adc131","name":"Upload Audio","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"operation":"upload","bucketName":"=n8n-youtube","fileName":"=image-{{ $itemIndex + 1 }}","additionalFields":{"parentFolderKey":"images"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-220,-280],"id":"dc6a3eee-63dc-4700-b9b9-065537011302","name":"Upload Images","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"jsCode":"return $input.first().json.words"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-1080],"id":"144e4344-4931-418c-9bd7-2f73f2f100a0","name":"Code","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.scene }}","messages":{"messageValues":[{"message":"=You are an expert in creating highly detailed image prompts for an Image LLM model. Your task is to deeply analyze the given story scene and generate a **visually rich, consistent, and child-friendly cartoon-style image prompt**.\n\nTo ensure **character consistency**, all animal characters must resemble **The Jungle Book animated style** featuring **realistically proportioned animals with expressive, friendly faces** while maintaining a warm and engaging tone for children. The **environment should stay visually consistent** across all scenes, preserving the same lighting, background details, and artistic mood.\n\nEvery image prompt MUST explicitly include: **Use bright colors, simplified forms, and a vector illustration style with clean lines** to ensure consistency.\n\n## **Guidelines for Image Generation**\n\nAlways use bright colors, simplified forms, and a vector illustration style with clean lines\n\n### **1. Character Consistency**\n- All animals must resemble characters from *The Jungle Book* (Disney animated version).\n- Use bright colors, simplified forms, and a vector illustration style with clean lines\n\n### **2. Environmental Consistency**\n- If the story is set in a **jungle, riverside, or tree**, the **background must remain visually consistent** across all images.\n- Maintain **consistent colors, lighting, and foliage density** to ensure seamless scene transitions.\n- Use **lush, vibrant natural elements** (e.g., dense trees, vines, rocks, rivers) to create an immersive jungle setting.\n\n### **3. Character Movements & Expressions**\n- Clearly describe **how the character moves, their facial expressions, and their interactions** within the scene.\n- Ensure **poses and gestures match** the emotions conveyed in the scene (e.g., excitement, fear, curiosity, happiness).\n- If a conflict or action occurs, ensure **dynamic but friendly composition** suitable for children's content.\n\n## **Art Style Guidelines (The Jungle Book Cartoon Style in 8K Ultra HD)**\n\n- **Hand-drawn animation look** with rich shading and soft textures.\n- **8K Ultra HD resolution** to ensure crisp and lifelike details.\n- **Vibrant but earthy color palette** (deep greens, warm browns, soft oranges, golden yellows).\n- **Lush jungle backgrounds** with towering trees, twisting vines, detailed foliage, and warm sunlight filtering through leaves.\n- **Slightly anthropomorphic animals** with expressive, friendly faces and natural postures.\n- **Bright colors, simplified forms, and clean vector illustration style** suitable for children's educational content.\n- **Peaceful, harmonious atmosphere** with a blue sky, green trees, and a water element (if applicable).\n- Designed to be **engaging, whimsical, and suitable for young audiences**.\n\n## **Technical Requirements**\n- **No quotation marks:** Do not include any double quotes (\") or single quotes (') in your output.\n- **Complete sentences:** Use **full descriptive phrases** rather than fragmented grammar.\n- **Direct output only:** Provide **only** the final image prompt text—no explanations, line breaks (\\n), extra spaces, or additional commentary.\n- **Ensure 100% valid prompt formatting** for direct input into the Image LLM model.\n\n## **Response Format**\n\nThe **final output** should be a **single flowing image prompt** without any markdown, special characters, or unnecessary formatting.\n\n**Example Output (Properly Formatted for Image LLM Model):**\n\nGenerate a cheerful cartoon forest scene with friendly wild animals. Include a yellow snake in a tree, a tiger and leopard resting by a stream, a gray hippopotamus, a brown bear with an owl perched above it, a rabbit on a tree stump, and small rodents in a shelter by the water. Use bright colors, simplified forms, and a vector illustration style with clean lines. The scene should have a peaceful, harmonious feeling with a blue sky, green trees, and a water element. Designed for children's educational content."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-220,-740],"id":"1eda103f-9e04-4dd0-8781-1ea24bdd48cd","name":"Generate Image Prompt"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Story Details","type":"main","index":0}]]},"Story Details":{"main":[[{"node":"Generate Story","type":"main","index":0}]]},"Generate Story":{"main":[[{"node":"Scene Generator","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Generate Image Prompt","type":"ai_languageModel","index":0}]]},"Generate Image":{"main":[[{"node":"Wait 1","type":"main","index":0}]]},"Split Images":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Wait 2","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"Split Images","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Upload Images","type":"main","index":0}]]},"Scene Generator":{"main":[[{"node":"Extract Scene","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Extract Scene":{"main":[[{"node":"Generate Image Prompt","type":"main","index":0}]]},"Story Agent (DeepSeek v3)":{"ai_languageModel":[[{"node":"Generate Story","type":"ai_languageModel","index":0}]]},"Scene Agent (DeepSeek v3)":{"ai_languageModel":[[{"node":"Scene Generator","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Upload Audio","type":"main","index":0}]]},"Get Audio":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Open AI Whisper","type":"main","index":0}]]},"Upload Audio":{"main":[[{"node":"Get Audio","type":"main","index":0}]]},"Upload Images":{"main":[[{"node":"S32","type":"main","index":0}]]},"Open AI Whisper":{"main":[[{"node":"Code","type":"main","index":0}]]},"Generate Image Prompt":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Generate Story":[{"json":{"response":{"text":"सवाना में तेजस्वी शेर और छोटू चूहा हमेशा झगड़ते रहते थे। तेजस्वी कहता, \"तुम बेकार हो!\" छोटू हँसकर भाग जाता। एक दिन सूखे ने सबका खाना खत्म कर दिया। भूख से बेहाल तेजस्वी जाल में फँस गया! छोटू ने अपने नुकीले दाँतों से जाल काट दिया। तेजस्वी ने उसे गले लगाया और दोस्ती कर ली। तो इस से हमने क्या सीखा: दोस्ती में कोई बड़ा-छोटा नहीं होता!"}}}],"Scene Generator":[{"json":{"response":{"text":"{\"story\":\"सवाना में तेजस्वी शेर और छोटू चूहा हमेशा झगड़ते रहते थे। तेजस्वी कहता, \\\"तुम बेकार हो!\\\" छोटू हँसकर भाग जाता। एक दिन सूखे ने सबका खाना खत्म कर दिया। भूख से बेहाल तेजस्वी जाल में फँस गया! छोटू ने अपने नुकीले दाँतों से जाल काट दिया। तेजस्वी ने उसे गले लगाया और दोस्ती कर ली। तो इस से हमने क्या सीखा: दोस्ती में कोई बड़ा-छोटा नहीं होता!\",\"scenes\":[{\"scene_1\":\"सुनहरी धूप में सवाना का विशाल मैदान दिखाई देता है। तेजस्वी शेर, अपने घने अयाल और गर्वित मुद्रा में, एक पत्थर पर बैठा है। छोटू चूहा, छोटे आकार और चंचल आँखों वाला, पास की झाड़ी से झाँक रहा है।\"},{\"scene_2\":\"तेजस्वी शेर गर्जना करता है, \\\"तुम बेकार हो!\\\" उसकी आँखें गुस्से से चमक रही हैं। छोटू चूहा हँसता है और तेजी से झाड़ियों में कूदकर भाग जाता है, अपनी पूँछ हवा में लहराते हुए।\"},{\"scene_3\":\"सवाना में भयंकर सूखा पड़ा है। पेड़ सूखे हुए हैं, और जमीन फटी हुई है। तेजस्वी शेर, अब कमजोर और भूखा, धीरे-धीरे चल रहा है, उसकी आँखें थकी हुई हैं।\"},{\"scene_4\":\"तेजस्वी शेर एक शिकारी के जाल में फँस जाता है। वह जाल में लिपटा हुआ है और छटपटा रहा है, लेकिन छुटकारा नहीं पा रहा। उसकी गर्जना अब मदद की पुकार बन गई है।\"},{\"scene_5\":\"छोटू चूहा, जाल की आवाज सुनकर वहाँ पहुँचता है। वह अपने नुकीले दाँतों से जाल के रस्सों को काटना शुरू कर देता है। तेजस्वी शेर आश्चर्य से देख रहा है क्योंकि जाल धीरे-धीरे खुल रहा है।\"},{\"scene_6\":\"जाल पूरी तरह से खुल जाता है, और तेजस्वी शेर आजाद हो जाता है। वह छोटू चूहे को गले लगाता है, उसकी आँखों में आभार है। दोनों एक-दूसरे की ओर मुस्कुराते हैं, और सवाना में उनकी दोस्ती की शुरुआत होती है।\"}]}"}}}],"Open AI Whisper":[{"json":{"task":"transcribe","language":"Hindi","duration":25.8,"text":" सवाना में तेजस्वी शेर और छोटू चूहा हमेशा जगडते रहते थे। तेजस्वी कहता, तुम बेकार हो। छोटू हस कर भाग जाता. एक दिन सुखे ने सबका खाना खत्म कर दिया. भूख से बेहाल तेजस्वी जाल में फंस गया. छोटू ने अपने नुकीले दाटों से जाल काड़ दिया. तेजस्वी ने उसे गले लगाया और दोस्ती कर लिया. तो इससे हमने क्या सीखा? दोस्ती में कोई बड़ा चोटा नहीं होता।","words":[{"word":"सवाना","start":0,"end":0.52},{"word":"में","start":0.52,"end":0.7},{"word":"तेजस्वी","start":0.7,"end":1.2},{"word":"शेर","start":1.2,"end":1.52},{"word":"और","start":1.52,"end":1.7},{"word":"छोटू","start":1.7,"end":2.02},{"word":"चूहा","start":2.02,"end":2.42},{"word":"हमेशा","start":2.42,"end":3.12},{"word":"जगडते","start":3.12,"end":3.6},{"word":"रहते","start":3.6,"end":3.88},{"word":"थे।","start":3.88,"end":4.28},{"word":"तेजस्वी","start":4,"end":5.1},{"word":"कहता,","start":5.1,"end":5.5},{"word":"तुम","start":5.5,"end":6.14},{"word":"बेकार","start":6.14,"end":6.58},{"word":"हो।","start":6.58,"end":6.88},{"word":"छोटू","start":6.8,"end":7.64},{"word":"हस","start":7.64,"end":7.88},{"word":"कर","start":7.88,"end":8.06},{"word":"भाग","start":8.06,"end":8.28},{"word":"जाता.","start":8.28,"end":8.6},{"word":"एक","start":9.28,"end":9.48},{"word":"दिन","start":9.48,"end":9.66},{"word":"सुखे","start":9.66,"end":10.06},{"word":"ने","start":10.06,"end":10.26},{"word":"सबका","start":10.26,"end":10.68},{"word":"खाना","start":10.68,"end":10.98},{"word":"खत्म","start":10.98,"end":11.24},{"word":"कर","start":11.24,"end":11.52},{"word":"दिया.","start":11.52,"end":11.68},{"word":"भूख","start":12.36,"end":12.66},{"word":"से","start":12.66,"end":12.86},{"word":"बेहाल","start":12.86,"end":13.28},{"word":"तेजस्वी","start":13.28,"end":13.78},{"word":"जाल","start":13.78,"end":14.06},{"word":"में","start":14.06,"end":14.22},{"word":"फंस","start":14.22,"end":14.44},{"word":"गया.","start":14.44,"end":14.66},{"word":"छोटू","start":15.42,"end":15.74},{"word":"ने","start":15.74,"end":15.92},{"word":"अपने","start":15.92,"end":16.18},{"word":"नुकीले","start":16.18,"end":16.58},{"word":"दाटों","start":16.58,"end":16.92},{"word":"से","start":16.92,"end":17.02},{"word":"जाल","start":17.02,"end":17.28},{"word":"काड़","start":17.28,"end":17.56},{"word":"दिया.","start":17.56,"end":17.78},{"word":"तेजस्वी","start":18.54,"end":18.92},{"word":"ने","start":18.92,"end":19.1},{"word":"उसे","start":19.1,"end":19.26},{"word":"गले","start":19.26,"end":19.48},{"word":"लगाया","start":19.48,"end":19.94},{"word":"और","start":19.94,"end":20.34},{"word":"दोस्ती","start":20.34,"end":20.72},{"word":"कर","start":20.72,"end":20.94},{"word":"लिया.","start":20.94,"end":21.06},{"word":"तो","start":21.86,"end":21.94},{"word":"इससे","start":21.94,"end":22.24},{"word":"हमने","start":22.24,"end":22.5},{"word":"क्या","start":22.5,"end":22.68},{"word":"सीखा?","start":22.68,"end":23.04},{"word":"दोस्ती","start":23.74,"end":24.14},{"word":"में","start":24.14,"end":24.28},{"word":"कोई","start":24.28,"end":24.42},{"word":"बड़ा","start":24.42,"end":24.66},{"word":"चोटा","start":24.66,"end":24.96},{"word":"नहीं","start":24.96,"end":25.18},{"word":"होता।","start":25.18,"end":25.72}],"segments":null,"x_groq":{"id":"req_01jq9xpbv5eqkbetb3mxj99en1"}}}],"Story Details":[{"json":{"row_number":2,"ID":1,"Animal 1":"Lion","Character Name 1":"तेजस्वी (Tejasvi)","Animal 1 Visual ID":"Golden mane, amber eyes, strong build","Animal 2":"Mouse","Character Name 2":"छोटू (Chhotu)","Animal 2 Visual ID":"Grey fur, pink ears, tiny whiskers","Environmental Setting":"Savannah","Conflict Scenario":"Food shortage during drought","Emotional Tone":"Heartwarming","Production":false,"Video Title":"","Video Description":"","Script":"","Video URL":"","Published":"Pending"}}],"Upload Audio":[{"json":{"success":true}}],"Generate Image Prompt":[{"json":{"response":{"text":"Generate a vibrant savanna scene under golden sunlight, featuring a majestic lion with a thick mane and proud posture sitting on a large rock. Nearby, a small and playful mouse named Chhotu peeks out from a bush with curious, twinkling eyes. The background includes tall golden grasses, scattered acacia trees, and a bright blue sky with soft clouds. Use bright colors, simplified forms, and a vector illustration style with clean lines. The lion should resemble the expressive, friendly style of The Jungle Book characters, while the mouse has a cute, animated appearance. The scene should feel warm, lively, and child-friendly, with a harmonious balance of nature and wildlife."}}},{"json":{"response":{"text":"Generate a dynamic jungle scene featuring a majestic lion with a fierce expression, roaring angrily with glowing eyes, standing tall on a sunlit rock. A tiny mouse named Chhotu is seen laughing mischievously while swiftly jumping into dense bushes, his tail playfully waving in the air. The background includes lush green foliage, tall trees with twisting vines, and warm golden sunlight filtering through the leaves. Use bright colors, simplified forms, and a vector illustration style with clean lines. The lion resembles the animated style of The Jungle Book, with realistic proportions but expressive features, while the mouse has a cute, friendly design. The scene captures the contrast between the lion's anger and the mouse's playful escape, maintaining a child-friendly and engaging tone. The jungle setting remains consistent with vibrant earthy tones and detailed natural elements."}}},{"json":{"response":{"text":"Generate a sad and dry savanna scene with a weak and hungry lion walking slowly. The trees are dried up, and the ground is cracked. The lion, resembling The Jungle Book animated style, has a tired expression with drooping eyes and a slow gait. The background shows a barren landscape with withered plants and a harsh sun in the sky. Use bright colors, simplified forms, and a vector illustration style with clean lines. The scene should evoke a sense of drought and struggle while maintaining a child-friendly tone. The lion's fur should be slightly dulled to show his weakened state, and the overall color palette should lean towards dusty yellows and browns to emphasize the dry environment. Designed for children's educational content."}}},{"json":{"response":{"text":"Generate a dramatic yet child-friendly jungle scene where a majestic lion, resembling the animated style of The Jungle Book, is trapped in a hunter's net. The lion is tangled in thick ropes, struggling to break free with a distressed yet expressive face, roaring for help. Surrounding him are dense green foliage, tall trees with twisting vines, and warm sunlight filtering through the leaves. The background features a lush jungle with earthy tones of brown and green, maintaining a vibrant yet natural color palette. The lion's fur is golden with rich shading, and his movements are dynamic but not frightening, suitable for young audiences. Use bright colors, simplified forms, and a vector illustration style with clean lines. The scene should evoke a sense of urgency but remain engaging and whimsical for children."}}},{"json":{"response":{"text":"Generate a vibrant jungle scene featuring a small brown mouse named Chhotu, resembling a Disney-style animated character, with expressive eyes and tiny sharp teeth, busily gnawing at the ropes of a large, tangled net. The net is partially unraveling as Chhotu works diligently. Nearby, a majestic lion with a golden mane, styled like The Jungle Book's characters, watches with wide, astonished eyes, his mouth slightly open in surprise. The background is filled with lush green foliage, tall trees with twisting vines, and soft sunlight filtering through the leaves. Use bright colors, simplified forms, and a vector illustration style with clean lines. The scene should convey a sense of wonder and excitement, suitable for children's storytelling."}}},{"json":{"response":{"text":"Generate a heartwarming cartoon savanna scene featuring a majestic lion and a tiny mouse. The lion has just been freed from a net, standing tall with a proud yet grateful expression, his golden mane flowing in the breeze. The tiny mouse stands on its hind legs, looking up at the lion with a cheerful smile, their friendship blossoming. The background showcases a vast savanna with golden grasslands, scattered acacia trees, and a bright blue sky with soft clouds. The lion gently embraces the mouse with one paw, symbolizing gratitude and newfound friendship. Use bright colors, simplified forms, and a vector illustration style with clean lines. The scene should evoke warmth, joy, and harmony, designed for children's educational content. The lion resembles Disney's Jungle Book style with expressive eyes and a friendly demeanor, while the mouse is small, round, and endearing. The sunlight casts a gentle glow over the scene, enhancing the emotional connection between the characters."}}}],"S32":[{"json":{"Key":"audio","Size":"412943","LastModified":"2025-03-26T18:53:13.868Z","ETag":"\"a23892eee1590124d9dd2cdd2af2f3e1\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-1","Size":"44310","LastModified":"2025-03-26T19:36:40.199Z","ETag":"\"230a1d159049c6e1623cfcf57272557d\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-2","Size":"54266","LastModified":"2025-03-26T19:36:41.337Z","ETag":"\"33082471a465cf2360aa9a669274e0ba\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-3","Size":"53348","LastModified":"2025-03-26T19:36:42.163Z","ETag":"\"3928b74cb10c435e7ffe5964c964dd7f\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-4","Size":"63568","LastModified":"2025-03-26T19:36:43.087Z","ETag":"\"4b3434ee1852e3f3f79260697ce5b28a\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-5","Size":"51626","LastModified":"2025-03-26T19:36:43.723Z","ETag":"\"cebb6d64e490f44e59420a1dceb1251e\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-6","Size":"38578","LastModified":"2025-03-26T19:36:44.502Z","ETag":"\"c47cc5161121e61720db90669caabc98\"","StorageClass":"STANDARD"}},{"json":{"Key":"audio","Size":"412943","LastModified":"2025-03-26T18:53:13.868Z","ETag":"\"a23892eee1590124d9dd2cdd2af2f3e1\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-1","Size":"44310","LastModified":"2025-03-26T19:36:40.199Z","ETag":"\"230a1d159049c6e1623cfcf57272557d\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-2","Size":"54266","LastModified":"2025-03-26T19:36:41.337Z","ETag":"\"33082471a465cf2360aa9a669274e0ba\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-3","Size":"53348","LastModified":"2025-03-26T19:36:42.163Z","ETag":"\"3928b74cb10c435e7ffe5964c964dd7f\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-4","Size":"63568","LastModified":"2025-03-26T19:36:43.087Z","ETag":"\"4b3434ee1852e3f3f79260697ce5b28a\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-5","Size":"51626","LastModified":"2025-03-26T19:36:43.723Z","ETag":"\"cebb6d64e490f44e59420a1dceb1251e\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-6","Size":"38578","LastModified":"2025-03-26T19:36:44.502Z","ETag":"\"c47cc5161121e61720db90669caabc98\"","StorageClass":"STANDARD"}},{"json":{"Key":"audio","Size":"412943","LastModified":"2025-03-26T18:53:13.868Z","ETag":"\"a23892eee1590124d9dd2cdd2af2f3e1\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-1","Size":"44310","LastModified":"2025-03-26T19:36:40.199Z","ETag":"\"230a1d159049c6e1623cfcf57272557d\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-2","Size":"54266","LastModified":"2025-03-26T19:36:41.337Z","ETag":"\"33082471a465cf2360aa9a669274e0ba\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-3","Size":"53348","LastModified":"2025-03-26T19:36:42.163Z","ETag":"\"3928b74cb10c435e7ffe5964c964dd7f\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-4","Size":"63568","LastModified":"2025-03-26T19:36:43.087Z","ETag":"\"4b3434ee1852e3f3f79260697ce5b28a\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-5","Size":"51626","LastModified":"2025-03-26T19:36:43.723Z","ETag":"\"cebb6d64e490f44e59420a1dceb1251e\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-6","Size":"38578","LastModified":"2025-03-26T19:36:44.502Z","ETag":"\"c47cc5161121e61720db90669caabc98\"","StorageClass":"STANDARD"}},{"json":{"Key":"audio","Size":"412943","LastModified":"2025-03-26T18:53:13.868Z","ETag":"\"a23892eee1590124d9dd2cdd2af2f3e1\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-1","Size":"44310","LastModified":"2025-03-26T19:36:40.199Z","ETag":"\"230a1d159049c6e1623cfcf57272557d\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-2","Size":"54266","LastModified":"2025-03-26T19:36:41.337Z","ETag":"\"33082471a465cf2360aa9a669274e0ba\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-3","Size":"53348","LastModified":"2025-03-26T19:36:42.163Z","ETag":"\"3928b74cb10c435e7ffe5964c964dd7f\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-4","Size":"63568","LastModified":"2025-03-26T19:36:43.087Z","ETag":"\"4b3434ee1852e3f3f79260697ce5b28a\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-5","Size":"51626","LastModified":"2025-03-26T19:36:43.723Z","ETag":"\"cebb6d64e490f44e59420a1dceb1251e\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-6","Size":"38578","LastModified":"2025-03-26T19:36:44.502Z","ETag":"\"c47cc5161121e61720db90669caabc98\"","StorageClass":"STANDARD"}},{"json":{"Key":"audio","Size":"412943","LastModified":"2025-03-26T18:53:13.868Z","ETag":"\"a23892eee1590124d9dd2cdd2af2f3e1\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-1","Size":"44310","LastModified":"2025-03-26T19:36:40.199Z","ETag":"\"230a1d159049c6e1623cfcf57272557d\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-2","Size":"54266","LastModified":"2025-03-26T19:36:41.337Z","ETag":"\"33082471a465cf2360aa9a669274e0ba\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-3","Size":"53348","LastModified":"2025-03-26T19:36:42.163Z","ETag":"\"3928b74cb10c435e7ffe5964c964dd7f\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-4","Size":"63568","LastModified":"2025-03-26T19:36:43.087Z","ETag":"\"4b3434ee1852e3f3f79260697ce5b28a\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-5","Size":"51626","LastModified":"2025-03-26T19:36:43.723Z","ETag":"\"cebb6d64e490f44e59420a1dceb1251e\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-6","Size":"38578","LastModified":"2025-03-26T19:36:44.502Z","ETag":"\"c47cc5161121e61720db90669caabc98\"","StorageClass":"STANDARD"}},{"json":{"Key":"audio","Size":"412943","LastModified":"2025-03-26T18:53:13.868Z","ETag":"\"a23892eee1590124d9dd2cdd2af2f3e1\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-1","Size":"44310","LastModified":"2025-03-26T19:36:40.199Z","ETag":"\"230a1d159049c6e1623cfcf57272557d\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-2","Size":"54266","LastModified":"2025-03-26T19:36:41.337Z","ETag":"\"33082471a465cf2360aa9a669274e0ba\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-3","Size":"53348","LastModified":"2025-03-26T19:36:42.163Z","ETag":"\"3928b74cb10c435e7ffe5964c964dd7f\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-4","Size":"63568","LastModified":"2025-03-26T19:36:43.087Z","ETag":"\"4b3434ee1852e3f3f79260697ce5b28a\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-5","Size":"51626","LastModified":"2025-03-26T19:36:43.723Z","ETag":"\"cebb6d64e490f44e59420a1dceb1251e\"","StorageClass":"STANDARD"}},{"json":{"Key":"image-6","Size":"38578","LastModified":"2025-03-26T19:36:44.502Z","ETag":"\"c47cc5161121e61720db90669caabc98\"","StorageClass":"STANDARD"}}]},"versionId":"1d4f9385-6537-4179-aea5-f176129a86ff","triggerCount":0,"tags":[]}