sd2-|-youtube-faceless-video-[production-agent]-zcfRztEIFX0GqOVM.json
{"createdAt":"2025-04-09T16:03:40.078Z","updatedAt":"2025-04-12T16:43:31.000Z","id":"zcfRztEIFX0GqOVM","name":"SD2 | YouTube Faceless Video [Production Agent]","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,-240],"id":"14581551-9b6e-434c-801a-81912815ce11","name":"Manual Run"},{"parameters":{"assignments":{"assignments":[{"id":"0076e7e9-ecde-4518-86f7-49d8829d22f6","name":"Gameplay YouTube ID","value":"AsetdKZN11o","type":"string"},{"id":"ea8375cc-294b-4ee5-ac47-48e93f4ebf54","name":"Music YouTube ID","value":"MCscTvpQ7po","type":"string"},{"id":"7b07b5d8-ef05-4a3a-8e80-0bcd2d14043b","name":"Podcast YouTube ID","value":"M-ZH3psUbfU","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1180,-240],"id":"737c1e20-8cad-4249-a945-b59d50d6103c","name":"YouTube Assets"},{"parameters":{"command":"=yt-dlp --cookies cookie.txt -o \"gameplay\" \"https://www.youtube.com/watch?v={{ $('YouTube Assets').item.json['Gameplay YouTube ID'] }}\" -f \"bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-960,-240],"id":"011d5eb0-dee9-4da0-ae7d-834c7b31a13a","name":"Download Gameplay"},{"parameters":{"command":"=yt-dlp --cookies /home/node/cookie.txt -x --audio-format mp3 -o \"bgm\" \"https://www.youtube.com/watch?v={{ $('YouTube Assets').item.json['Music YouTube ID'] }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-740,-240],"id":"8d002fe7-ec44-4d79-89e4-b0ba59ffe6df","name":"Download Music"},{"parameters":{"command":"=yt-dlp --cookies cookie.txt -o \"podcast\" \"https://www.youtube.com/watch?v={{ $('YouTube Assets').item.json['Podcast YouTube ID'] }}\" -f \"bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-520,-240],"id":"020da7ba-ba0d-4b50-afc0-bbdfe86de3ae","name":"Download Podcast"},{"parameters":{"command":"=ffmpeg -i podcast.mp4 -q:a 0 -map a podcast_audio.mp3 -y"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-300,-240],"id":"0e568637-eb07-4d11-98b6-0ead4d0c58d8","name":"Extract Podcast Audio"},{"parameters":{"fileSelector":"podcast_audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1380,40],"id":"7a7124e9-9b41-4844-bf06-90566c2005b1","name":"Read Podcast Audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"language","value":"en"},{"name":"response_format","value":"verbose_json"},{"name":"timestamp_granularities[]","value":"word"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1180,40],"id":"ac9e7b34-134f-4eab-93e6-71fcec741741","name":"Open AI Whisper (Podcast)","credentials":{"httpHeaderAuth":{"id":"kp7FsLoxDaOhlxtp","name":"SD Social Groq API Key"}}},{"parameters":{"command":"> list.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-960,40],"id":"62564a57-b235-4d02-b740-15eae802d45c","name":"Create List"},{"parameters":{"promptType":"define","text":"=Analyze the provided transcript array (formatted as { \"index\": index, \"text\": string, start: starting second, end: ending second }) and return multiple highlights that meet the following criteria:\n\n1. Total duration of all highlights combined must not exceed 2 minutes (120 seconds).\n2. Total duration of all highlights combined must at least 1 minute (60 seconds).\n3. Prioritize sections with high informational value, emotional impact, or key takeaways.\n4. Avoid overlapping segments.\n5. Find the segment can outline the highlight in the first segment.\n6. For each highlight, return:\n\n```json```\n{\n  \"transcript\": \"the transcript of the section\",\n  \"start_index\": \"starting word index (use original value)\",\n  \"end_index\": \"ending word index (use original value)\"\n}\n```json```\n\nExample Output:\n[{\n    \"transcript\": \"You like I\", \n    \"start_index\": 10, \n    \"end_index\": 17\n}]\n\nRules:\n- Merge adjacent/sequential entries if they form a coherent highlight.\n- Trim overly verbose text (e.g., filler words) while retaining meaning.\n- Return only the JSON array, no explanations.","hasOutputParser":true,"messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"={{ JSON.stringify($('Open AI Whisper (Podcast)').item.json.words.map((word, index) => ({ index: index, text: word.word, start: word.start, end: word.end }))) }}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-720,40],"id":"48cb39ab-a98a-4dbe-b966-8f6bf3f761ef","name":"Generate Highlights"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-760,220],"id":"2bc6b3a9-2351-46d8-b2ee-40adf169fc70","name":"DeepSeek Chat v3","credentials":{"openRouterApi":{"id":"2Lm95RoNdj63E4rr","name":"SD Social OpenRouter Account"}}},{"parameters":{"jsonSchemaExample":"[{\n    \"transcript\": \"You like I\", \n    \"start_index\": 10, \n    \"end_index\": 13\n},{\n    \"transcript\": \"Really like I\", \n    \"start_index\": 16, \n    \"end_index\": 19\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-480,220],"id":"f885cdf2-d0a7-4c50-98cd-fbd99132a1a8","name":"Structured Output"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"start_index"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1420,560],"id":"a45c610c-7ab6-4e25-a5b1-f1f464c79da2","name":"Sort Highlights"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-300,40],"id":"95db8a1d-68cf-41d3-ac8c-5fd0119c564f","name":"Split Highlights"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1160,560],"id":"de77d0da-e681-4ddd-a346-c8631ab519ae","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"8f5e1849-329e-4a8e-b41b-17443dca9006","name":"Random String","value":"={{ Array.from({ length: 10 }, () => Math.random().toString(36)[2]).join('') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,640],"id":"a2b7cab0-14d2-4cda-80d5-b65a1546cc1f","name":"Random String"},{"parameters":{"command":"=ffmpeg -y -ss {{ Math.floor($('Open AI Whisper (Podcast)').item.json.words [$('Loop Over Items').item.json.start_index].start * 100) / 100 }} -i podcast.mp4 -t {{ Math.ceil(($('Open AI Whisper (Podcast)').item.json.words[$('Loop Over Items').item.json.end_index].end - $('Open AI Whisper (Podcast)').item.json.words [$('Loop Over Items').item.json.start_index].start) * 100) / 100 }} -c:v libx264 -c:a aac segment_{{ $('Random String').item.json['Random String'] }}.mp4"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-700,640],"id":"be497843-408d-4bb9-96e7-d25aa364d45a","name":"FFmpeg Concate Video"},{"parameters":{"command":"=echo \"file 'segment_{{ $('Random String').item.json['Random String'] }}.mp4'\" >> list.txt"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-480,640],"id":"53ed734d-33fe-4427-943a-ad0ff3fc4575","name":"Update List"},{"parameters":{"fileSelector":"=segment_{{ $('Random String').item.json['Random String'] }}.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-260,640],"id":"0120a3f0-b327-4c44-b923-37c9dc456c8e","name":"Preview Segment"},{"parameters":{"command":"ffmpeg -f concat -safe 0 -i list.txt -c copy -fflags +genpts upper.mp4 -y"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-940,460],"id":"4c2bfeef-df0b-4639-b6fa-a8d03f6f0ef1","name":"Concate Video"},{"parameters":{"command":"ffmpeg -i upper.mp4 -q:a 0 -map a audio.mp3 -y"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-700,460],"id":"2764b208-28a4-4cf2-ab2c-7c77caff6972","name":"Extract Audio"},{"parameters":{"fileSelector":"upper.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-260,460],"id":"dbbe1df4-44f9-4ea4-905b-760f9e76e43b","name":"Preview Upper"},{"parameters":{"assignments":{"assignments":[{"id":"ee02b3e8-1050-4221-9929-090b078ff8fd","name":"Random String","value":"hea3bwts","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,460],"id":"426fe422-22bf-40cf-bde1-37fd0ca69e5f","name":"Set Filename"},{"parameters":{"fileSelector":"bgm.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1180,980],"id":"d4776ccb-dd4e-4fe5-82f1-8fedd3804465","name":"Video BGM"},{"parameters":{"operation":"upload","bucketName":"n8n-youtube","fileName":"={{ $('Set Filename').item.json['Random String'] }}_upper.mp4","additionalFields":{"parentFolderKey":"yt-podcast"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-1420,980],"id":"d34f321c-092e-41b5-bf91-8d48c02b8117","name":"Upload Video","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"operation":"upload","bucketName":"n8n-youtube","fileName":"={{ $('Set Filename').first().json['Random String'] }}_bgm.mp3","additionalFields":{"parentFolderKey":"yt-podcast"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-940,980],"id":"462f9d37-5d9e-48c4-ae39-9d065e5dd0db","name":"Upload BGM","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"fileSelector":"gameplay.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-700,980],"id":"6453c455-bea9-49e2-89d3-db7a56a3361f","name":"Gameplay Video"},{"parameters":{"operation":"upload","bucketName":"n8n-youtube","fileName":"={{ $('Set Filename').first().json['Random String'] }}_gameplay.mp4","additionalFields":{"parentFolderKey":"yt-podcast"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-480,980],"id":"70037b22-c97b-491e-9a08-5c5bcc39a52b","name":"Upload Gameplay","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}},{"parameters":{"fileSelector":"audio.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-260,980],"id":"f170bb02-fe10-49ab-a9c8-4741d75b2998","name":"Podcast Audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"language","value":"en"},{"name":"response_format","value":"verbose_json"},{"name":"timestamp_granularities[]","value":"word"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1420,1220],"id":"34baffc1-3f9b-43ff-9bc2-343d4a55546e","name":"Transcribe Audio","credentials":{"httpHeaderAuth":{"id":"kp7FsLoxDaOhlxtp","name":"SD Social Groq API Key"}}},{"parameters":{"jsCode":"const words = $('Transcribe Audio').first().json.words;\nconst result = [];\n\nfor (let i = 0; i < words.length; i += 3) {\n  const chunk = words.slice(i, i + 3);\n  result.push({\n    words: chunk.map(\n      word => word.word.charAt(0).toUpperCase() + word.word.slice(1)\n    ).join(' '),\n    start: chunk[0].start,\n    end: chunk[chunk.length - 1].end,\n  });\n}\n\nreturn {\n  json: {\n    chunks: result,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1180,1220],"id":"d782cec4-d563-4f50-af34-0a7f2de2fefd","name":"Combine Transcribe"},{"parameters":{"method":"POST","url":"https://api.andynocode.com/api/function/video-generation/clip-video","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"9283a403a5053821f1fa1ec400e585da36e296c6ef034b5e57c16c407e2ffa57"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"clip-video\",\n  \"data\": {\n    \"clip_url\": \"https://pub-38a2654e096044979f868c7e5f469307.r2.dev/yt-podcast/hea3bwts_upper.mp4\",\n    \"gameplay_url\": \"https://pub-38a2654e096044979f868c7e5f469307.r2.dev/yt-podcast/hea3bwts_gameplay.mp4\",\n    \"background_url\": \"https://pub-38a2654e096044979f868c7e5f469307.r2.dev/yt-podcast/hea3bwts_bgm.mp3\",\n    \"transcripts\": {{ JSON.stringify($('Combine Transcribe').item.json.chunks) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-940,1220],"id":"a6d1d26e-5825-4a25-b25a-855c2642d54b","name":"Create Video"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-720,1220],"id":"9aca68d5-e52a-48bf-b379-7f2dfcb08bef","name":"Wait For Video","webhookId":"47a303f4-f0a5-499f-8580-926670355761"},{"parameters":{"url":"=https://api.andynocode.com/api/function/video-generation/progress/{{ $('Wait For Video').item.json.data.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"9283a403a5053821f1fa1ec400e585da36e296c6ef034b5e57c16c407e2ffa57"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,1220],"id":"ce5085e2-9740-4f70-b7df-cdb110f230cb","name":"Check Video Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0852dce-7189-424d-952c-f9b65cd91cee","leftValue":"={{ $('Check Video Status').item.json.data.status }}","rightValue":"done","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,1220],"id":"eb1e3b9f-aa42-4c67-ad81-45fb5f97c728","name":"IF Generated"},{"parameters":{"url":"={{ $('IF Generated').item.json.data.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1420,1460],"id":"d9911466-f455-4b8d-9e39-abde6e2843a8","name":"Download Video"},{"parameters":{"operation":"upload","bucketName":"n8n-youtube","fileName":"={{ $('Create Video').item.json.data.id }}.mp4","additionalFields":{"parentFolderKey":"yt-podcast/videos"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-1200,1460],"id":"02adc0fb-27be-4deb-812e-e16f8402eccc","name":"Upload Final Video","credentials":{"s3":{"id":"gBvf53cq7gXSzf7O","name":"CloudFlare R2 Account"}}}],"connections":{"Manual Run":{"main":[[{"node":"YouTube Assets","type":"main","index":0}]]},"YouTube Assets":{"main":[[{"node":"Download Gameplay","type":"main","index":0}]]},"Download Gameplay":{"main":[[{"node":"Download Music","type":"main","index":0}]]},"Download Music":{"main":[[{"node":"Download Podcast","type":"main","index":0}]]},"Download Podcast":{"main":[[{"node":"Extract Podcast Audio","type":"main","index":0}]]},"Extract Podcast Audio":{"main":[[{"node":"Read Podcast Audio","type":"main","index":0}]]},"Read Podcast Audio":{"main":[[{"node":"Open AI Whisper (Podcast)","type":"main","index":0}]]},"Open AI Whisper (Podcast)":{"main":[[{"node":"Create List","type":"main","index":0}]]},"Create List":{"main":[[{"node":"Generate Highlights","type":"main","index":0}]]},"DeepSeek Chat v3":{"ai_languageModel":[[{"node":"Generate Highlights","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"Generate Highlights","type":"ai_outputParser","index":0}]]},"Generate Highlights":{"main":[[{"node":"Split Highlights","type":"main","index":0}]]},"Split Highlights":{"main":[[{"node":"Sort Highlights","type":"main","index":0}]]},"Sort Highlights":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Concate Video","type":"main","index":0}],[{"node":"Random String","type":"main","index":0}]]},"Random String":{"main":[[{"node":"FFmpeg Concate Video","type":"main","index":0}]]},"FFmpeg Concate Video":{"main":[[{"node":"Update List","type":"main","index":0}]]},"Update List":{"main":[[{"node":"Preview Segment","type":"main","index":0}]]},"Preview Segment":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Concate Video":{"main":[[{"node":"Extract Audio","type":"main","index":0}]]},"Extract Audio":{"main":[[{"node":"Set Filename","type":"main","index":0}]]},"Preview Upper":{"main":[[{"node":"Upload Video","type":"main","index":0}]]},"Set Filename":{"main":[[{"node":"Preview Upper","type":"main","index":0}]]},"Upload Video":{"main":[[{"node":"Video BGM","type":"main","index":0}]]},"Video BGM":{"main":[[{"node":"Upload BGM","type":"main","index":0}]]},"Upload BGM":{"main":[[{"node":"Gameplay Video","type":"main","index":0}]]},"Gameplay Video":{"main":[[{"node":"Upload Gameplay","type":"main","index":0}]]},"Upload Gameplay":{"main":[[{"node":"Podcast Audio","type":"main","index":0}]]},"Podcast Audio":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Combine Transcribe","type":"main","index":0}]]},"Combine Transcribe":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait For Video","type":"main","index":0}]]},"Wait For Video":{"main":[[{"node":"Check Video Status","type":"main","index":0}]]},"Check Video Status":{"main":[[{"node":"IF Generated","type":"main","index":0}]]},"IF Generated":{"main":[[{"node":"Download Video","type":"main","index":0}],[{"node":"Wait For Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Upload Final Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Download Music":[{"json":{"exitCode":0,"stderr":"","stdout":"[youtube] Extracting URL: https://www.youtube.com/watch?v=MCscTvpQ7po\n[youtube] MCscTvpQ7po: Downloading webpage\n[youtube] MCscTvpQ7po: Downloading tv client config\n[youtube] MCscTvpQ7po: Downloading player 9599b765-main\n[youtube] MCscTvpQ7po: Downloading tv player API JSON\n[info] MCscTvpQ7po: Downloading 1 format(s): 251\n[download] Destination: bgm\n\r[download]   0.0% of   12.36MiB at  Unknown B/s ETA Unknown\r[download]   0.0% of   12.36MiB at    2.55MiB/s ETA 00:04  \r[download]   0.1% of   12.36MiB at    4.14MiB/s ETA 00:02\r[download]   0.1% of   12.36MiB at    6.73MiB/s ETA 00:01\r[download]   0.2% of   12.36MiB at    2.40MiB/s ETA 00:05\r[download]   0.5% of   12.36MiB at    2.51MiB/s ETA 00:04\r[download]   1.0% of   12.36MiB at    3.36MiB/s ETA 00:03\r[download]   2.0% of   12.36MiB at    4.73MiB/s ETA 00:02\r[download]   4.0% of   12.36MiB at    7.59MiB/s ETA 00:01\r[download]   8.1% of   12.36MiB at   12.40MiB/s ETA 00:00\r[download]  16.2% of   12.36MiB at   20.89MiB/s ETA 00:00\r[download]  32.4% of   12.36MiB at   35.61MiB/s ETA 00:00\r[download]  64.7% of   12.36MiB at   13.65MiB/s ETA 00:00\r[download]  80.0% of   12.36MiB at   10.82MiB/s ETA 00:00\r[download]  80.1% of   12.36MiB at  Unknown B/s ETA Unknown\r[download]  80.1% of   12.36MiB at    2.24MiB/s ETA 00:01  \r[download]  80.1% of   12.36MiB at    3.77MiB/s ETA 00:00\r[download]  80.2% of   12.36MiB at    6.11MiB/s ETA 00:00\r[download]  80.3% of   12.36MiB at    2.13MiB/s ETA 00:01\r[download]  80.5% of   12.36MiB at    2.27MiB/s ETA 00:01\r[download]  81.1% of   12.36MiB at    3.01MiB/s ETA 00:00\r[download]  82.1% of   12.36MiB at    4.55MiB/s ETA 00:00\r[download]  84.1% of   12.36MiB at    7.36MiB/s ETA 00:00\r[download]  88.1% of   12.36MiB at    6.37MiB/s ETA 00:00\r[download]  96.2% of   12.36MiB at    6.41MiB/s ETA 00:00\r[download] 100.0% of   12.36MiB at    6.53MiB/s ETA 00:00\r[download] 100% of   12.36MiB in 00:00:01 at 7.22MiB/s   \n[ExtractAudio] Destination: bgm.mp3\nDeleting original file bgm (pass -k to keep)"}}],"Download Podcast":[{"json":{"exitCode":0,"stderr":"","stdout":"[youtube] Extracting URL: https://www.youtube.com/watch?v=M-ZH3psUbfU\n[youtube] M-ZH3psUbfU: Downloading webpage\n[youtube] M-ZH3psUbfU: Downloading tv client config\n[youtube] M-ZH3psUbfU: Downloading player 9599b765-main\n[youtube] M-ZH3psUbfU: Downloading tv player API JSON\n[info] M-ZH3psUbfU: Downloading 1 format(s): 399+140\n[download] Destination: podcast.f399.mp4\n\r[download]   0.0% of   18.21MiB at  Unknown B/s ETA Unknown\r[download]   0.0% of   18.21MiB at    2.70MiB/s ETA 00:06  \r[download]   0.0% of   18.21MiB at    4.29MiB/s ETA 00:04\r[download]   0.1% of   18.21MiB at    6.85MiB/s ETA 00:02\r[download]   0.2% of   18.21MiB at    2.45MiB/s ETA 00:07\r[download]   0.3% of   18.21MiB at    2.58MiB/s ETA 00:07\r[download]   0.7% of   18.21MiB at    3.45MiB/s ETA 00:05\r[download]   1.4% of   18.21MiB at    5.07MiB/s ETA 00:03\r[download]   2.7% of   18.21MiB at    8.17MiB/s ETA 00:02\r[download]   5.5% of   18.21MiB at   13.50MiB/s ETA 00:01\r[download]  11.0% of   18.21MiB at   22.62MiB/s ETA 00:00\r[download]  22.0% of   18.21MiB at   39.12MiB/s ETA 00:00\r[download]  43.9% of   18.21MiB at   12.77MiB/s ETA 00:00\r[download]  53.1% of   18.21MiB at   10.49MiB/s ETA 00:00\r[download]  53.1% of   18.21MiB at  Unknown B/s ETA Unknown\r[download]  53.1% of   18.21MiB at    2.75MiB/s ETA 00:03  \r[download]  53.1% of   18.21MiB at    4.29MiB/s ETA 00:01\r[download]  53.2% of   18.21MiB at    6.93MiB/s ETA 00:01\r[download]  53.2% of   18.21MiB at    2.38MiB/s ETA 00:03\r[download]  53.4% of   18.21MiB at    2.53MiB/s ETA 00:03\r[download]  53.8% of   18.21MiB at    3.42MiB/s ETA 00:02\r[download]  54.4% of   18.21MiB at    5.09MiB/s ETA 00:01\r[download]  55.8% of   18.21MiB at    8.08MiB/s ETA 00:00\r[download]  58.6% of   18.21MiB at    6.43MiB/s ETA 00:01\r[download]  64.1% of   18.21MiB at    6.69MiB/s ETA 00:00\r[download]  75.0% of   18.21MiB at    6.07MiB/s ETA 00:00\r[download]  97.0% of   18.21MiB at    5.90MiB/s ETA 00:00\r[download] 100.0% of   18.21MiB at    5.92MiB/s ETA 00:00\r[download] 100% of   18.21MiB in 00:00:02 at 6.43MiB/s   \n[download] Destination: podcast.f140.m4a\n\r[download]   0.0% of    7.69MiB at  411.41KiB/s ETA 00:19\r[download]   0.0% of    7.69MiB at  983.50KiB/s ETA 00:08\r[download]   0.1% of    7.69MiB at    1.92MiB/s ETA 00:04\r[download]   0.2% of    7.69MiB at    3.62MiB/s ETA 00:02\r[download]   0.4% of    7.69MiB at    2.20MiB/s ETA 00:03\r[download]   0.8% of    7.69MiB at    2.35MiB/s ETA 00:03\r[download]   1.6% of    7.69MiB at    3.16MiB/s ETA 00:02\r[download]   3.2% of    7.69MiB at    4.72MiB/s ETA 00:01\r[download]   6.5% of    7.69MiB at    7.47MiB/s ETA 00:00\r[download]  13.0% of    7.69MiB at   12.55MiB/s ETA 00:00\r[download]  26.0% of    7.69MiB at   21.06MiB/s ETA 00:00\r[download]  52.0% of    7.69MiB at   10.08MiB/s ETA 00:00\r[download] 100.0% of    7.69MiB at    7.43MiB/s ETA 00:00\r[download] 100% of    7.69MiB in 00:00:01 at 6.54MiB/s   \n[Merger] Merging formats into \"podcast.mp4\"\nDeleting original file podcast.f140.m4a (pass -k to keep)\nDeleting original file podcast.f399.mp4 (pass -k to keep)"}}],"Extract Podcast Audio":[{"json":{"exitCode":0,"stderr":"ffmpeg version 6.1.2 Copyright (c) 2000-2024 the FFmpeg developers\n  built with gcc 14.2.0 (Alpine 14.2.0)\n  configuration: --prefix=/usr --disable-librtmp --disable-lzma --disable-static --disable-stripping --enable-avfilter --enable-gpl --enable-ladspa --enable-libaom --enable-libass --enable-libbluray --enable-libdav1d --enable-libdrm --enable-libfontconfig --enable-libfreetype --enable-libfribidi --enable-libharfbuzz --enable-libmp3lame --enable-libopenmpt --enable-libopus --enable-libplacebo --enable-libpulse --enable-librav1e --enable-librist --enable-libsoxr --enable-libsrt --enable-libssh --enable-libtheora --enable-libv4l2 --enable-libvidstab --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxcb --enable-libxml2 --enable-libxvid --enable-libzimg --enable-libzmq --enable-lto=auto --enable-lv2 --enable-openssl --enable-pic --enable-postproc --enable-pthreads --enable-shared --enable-vaapi --enable-vdpau --enable-version3 --enable-vulkan --optflags=-O3 --enable-libjxl --enable-libsvtav1 --enable-libvpl\n  libavutil      58. 29.100 / 58. 29.100\n  libavcodec     60. 31.102 / 60. 31.102\n  libavformat    60. 16.100 / 60. 16.100\n  libavdevice    60.  3.100 / 60.  3.100\n  libavfilter     9. 12.100 /  9. 12.100\n  libswscale      7.  5.100 /  7.  5.100\n  libswresample   4. 12.100 /  4. 12.100\n  libpostproc    57.  3.100 / 57.  3.100\n[libdav1d @ 0x782fb9070940] libdav1d 1.5.0\nInput #0, mov,mp4,m4a,3gp,3g2,mj2, from 'podcast.mp4':\n  Metadata:\n    major_brand     : isom\n    minor_version   : 512\n    compatible_brands: isomav01iso2mp41\n    encoder         : Lavf60.16.100\n  Duration: 00:08:18.46, start: 0.000000, bitrate: 438 kb/s\n  Stream #0:0[0x1](und): Video: av1 (Main) (av01 / 0x31307661), yuv420p(tv, bt709), 1920x1080, 303 kb/s, 30 fps, 30 tbr, 15360 tbn (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n  Stream #0:1[0x2](und): Audio: aac (LC) (mp4a / 0x6134706D), 44100 Hz, stereo, fltp, 127 kb/s (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\nStream mapping:\n  Stream #0:1 -> #0:0 (aac (native) -> mp3 (libmp3lame))\nPress [q] to stop, [?] for help\nOutput #0, mp3, to 'podcast_audio.mp3':\n  Metadata:\n    major_brand     : isom\n    minor_version   : 512\n    compatible_brands: isomav01iso2mp41\n    TSSE            : Lavf60.16.100\n  Stream #0:0(und): Audio: mp3, 44100 Hz, stereo, fltp (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 libmp3lame\nsize=       0kB time=N/A bitrate=N/A speed=N/A    \rsize=     152kB time=00:00:06.94 bitrate= 178.8kbits/s speed=13.9x    \rsize=     256kB time=00:00:13.27 bitrate= 158.0kbits/s speed=13.3x    \rsize=     512kB time=00:00:19.09 bitrate= 219.6kbits/s speed=12.7x    \rsize=     512kB time=00:00:25.20 bitrate= 166.4kbits/s speed=12.6x    \rsize=     768kB time=00:00:31.89 bitrate= 197.2kbits/s speed=12.7x    \rsize=    1024kB time=00:00:37.59 bitrate= 223.2kbits/s speed=12.5x    \rsize=    1024kB time=00:00:44.48 bitrate= 188.6kbits/s speed=12.7x    \rsize=    1280kB time=00:00:50.75 bitrate= 206.6kbits/s speed=12.7x    \rsize=    1536kB time=00:00:57.05 bitrate= 220.5kbits/s speed=12.7x    \rsize=    1792kB time=00:01:02.87 bitrate= 233.5kbits/s speed=12.6x    \rsize=    1792kB time=00:01:08.93 bitrate= 212.9kbits/s speed=12.5x    \rsize=    2048kB time=00:01:15.54 bitrate= 222.1kbits/s speed=12.6x    \rsize=    2304kB time=00:01:22.26 bitrate= 229.4kbits/s speed=12.6x    \rsize=    2304kB time=00:01:28.53 bitrate= 213.2kbits/s speed=12.6x    \rsize=    2560kB time=00:01:35.06 bitrate= 220.6kbits/s speed=12.7x    \rsize=    2816kB time=00:01:40.02 bitrate= 230.6kbits/s speed=12.5x    \rsize=    2816kB time=00:01:46.08 bitrate= 217.5kbits/s speed=12.5x    \rsize=    3072kB time=00:01:52.79 bitrate= 223.1kbits/s speed=12.5x    \rsize=    3328kB time=00:01:59.04 bitrate= 229.0kbits/s speed=12.5x    \rsize=    3584kB time=00:02:04.63 bitrate= 235.6kbits/s speed=12.4x    \rsize=    3584kB time=00:02:10.71 bitrate= 224.6kbits/s speed=12.4x    \rsize=    3840kB time=00:02:17.77 bitrate= 228.3kbits/s speed=12.5x    \rsize=    4096kB time=00:02:24.40 bitrate= 232.4kbits/s speed=12.5x    \rsize=    4352kB time=00:02:30.44 bitrate= 237.0kbits/s speed=12.5x    \rsize=    4352kB time=00:02:36.52 bitrate= 227.8kbits/s speed=12.5x    \rsize=    4608kB time=00:02:42.56 bitrate= 232.2kbits/s speed=12.5x    \rsize=    4864kB time=00:02:49.22 bitrate= 235.5kbits/s speed=12.5x    \rsize=    5120kB time=00:02:55.46 bitrate= 239.0kbits/s speed=12.5x    \rsize=    5120kB time=00:03:02.36 bitrate= 230.0kbits/s speed=12.6x    \rsize=    5376kB time=00:03:09.10 bitrate= 232.9kbits/s speed=12.6x    \rsize=    5632kB time=00:03:15.47 bitrate= 236.0kbits/s speed=12.6x    \rsize=    5632kB time=00:03:22.08 bitrate= 228.3kbits/s speed=12.6x    \rsize=    5888kB time=00:03:28.64 bitrate= 231.2kbits/s speed=12.6x    \rsize=    6144kB time=00:03:34.67 bitrate= 234.5kbits/s speed=12.6x    \rsize=    6400kB time=00:03:41.15 bitrate= 237.1kbits/s speed=12.6x    \rsize=    6400kB time=00:03:46.87 bitrate= 231.1kbits/s speed=12.6x    \rsize=    6656kB time=00:03:53.22 bitrate= 233.8kbits/s speed=12.6x    \rsize=    6912kB time=00:03:59.59 bitrate= 236.3kbits/s speed=12.6x    \rsize=    7168kB time=00:04:06.07 bitrate= 238.6kbits/s speed=12.6x    \rsize=    7168kB time=00:04:12.13 bitrate= 232.9kbits/s speed=12.6x    \rsize=    7424kB time=00:04:18.50 bitrate= 235.3kbits/s speed=12.6x    \rsize=    7680kB time=00:04:24.69 bitrate= 237.7kbits/s speed=12.6x    \rsize=    7936kB time=00:04:31.57 bitrate= 239.4kbits/s speed=12.6x    \rsize=    7936kB time=00:04:37.73 bitrate= 234.1kbits/s speed=12.6x    \rsize=    8192kB time=00:04:43.66 bitrate= 236.6kbits/s speed=12.6x    \rsize=    8448kB time=00:04:49.41 bitrate= 239.1kbits/s speed=12.6x    \rsize=    8704kB time=00:04:55.68 bitrate= 241.1kbits/s speed=12.6x    \rsize=    8704kB time=00:05:01.89 bitrate= 236.2kbits/s speed=12.6x    \rsize=    8960kB time=00:05:09.10 bitrate= 237.5kbits/s speed=12.6x    \rsize=    9216kB time=00:05:15.48 bitrate= 239.3kbits/s speed=12.6x    \rsize=    9472kB time=00:05:21.35 bitrate= 241.5kbits/s speed=12.6x    \rsize=    9472kB time=00:05:28.02 bitrate= 236.6kbits/s speed=12.6x    \rsize=    9728kB time=00:05:34.23 bitrate= 238.4kbits/s speed=12.6x    \rsize=    9984kB time=00:05:39.98 bitrate= 240.6kbits/s speed=12.5x    \rsize=   10240kB time=00:05:46.33 bitrate= 242.2kbits/s speed=12.5x    \rsize=   10496kB time=00:05:52.68 bitrate= 243.8kbits/s speed=12.5x    \rsize=   10496kB time=00:05:58.94 bitrate= 239.5kbits/s speed=12.5x    \rsize=   10752kB time=00:06:05.74 bitrate= 240.8kbits/s speed=12.6x    \rsize=   11008kB time=00:06:12.01 bitrate= 242.4kbits/s speed=12.6x    \rsize=   11264kB time=00:06:18.07 bitrate= 244.1kbits/s speed=12.6x    \rsize=   11264kB time=00:06:24.15 bitrate= 240.2kbits/s speed=12.6x    \rsize=   11520kB time=00:06:30.50 bitrate= 241.7kbits/s speed=12.6x    \rsize=   11776kB time=00:06:36.90 bitrate= 243.1kbits/s speed=12.6x    \rsize=   12032kB time=00:06:43.12 bitrate= 244.5kbits/s speed=12.6x    \rsize=   12288kB time=00:06:49.18 bitrate= 246.0kbits/s speed=12.5x    \rsize=   12288kB time=00:06:55.16 bitrate= 242.5kbits/s speed=12.5x    \rsize=   12544kB time=00:07:01.12 bitrate= 244.0kbits/s speed=12.5x    \rsize=   12800kB time=00:07:06.63 bitrate= 245.8kbits/s speed=12.5x    \rsize=   12800kB time=00:07:13.18 bitrate= 242.1kbits/s speed=12.5x    \rsize=   13056kB time=00:07:19.40 bitrate= 243.4kbits/s speed=12.5x    \rsize=   13312kB time=00:07:25.88 bitrate= 244.6kbits/s speed=12.5x    \rsize=   13568kB time=00:07:31.76 bitrate= 246.0kbits/s speed=12.5x    \rsize=   13568kB time=00:07:38.00 bitrate= 242.7kbits/s speed=12.5x    \rsize=   13824kB time=00:07:44.48 bitrate= 243.8kbits/s speed=12.5x    \rsize=   14080kB time=00:07:50.91 bitrate= 244.9kbits/s speed=12.5x    \rsize=   14336kB time=00:07:57.07 bitrate= 246.2kbits/s speed=12.5x    \rsize=   14336kB time=00:08:07.99 bitrate= 240.7kbits/s speed=12.6x    \r[out#0/mp3 @ 0x782fbd376680] video:0kB audio:14549kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 0.002390%\nsize=   14549kB time=00:08:18.44 bitrate= 239.1kbits/s speed=12.8x","stdout":""}}],"Open AI Whisper (Podcast)":[{"json":{"task":"transcribe","language":"English","duration":498.3610205,"text":" You, like I mentioned with SpaceX, you give a lot of people hope, and a lot of people look up to you, millions of people look up to you. If we think about young people in high school, maybe in college, what advice would you give to them about, if they want to try to do something big in this world, they want to really have a big positive impact, what advice would you give them about their career, maybe about life in general? to be useful. You do things that are useful to your fellow human beings to the world. It's very hard to be useful. Very hard. You know, are you contributing more than you consume? You know, like, like, can you try to have a positive net contribution to society? I think that's the thing to aim for you know not not to try to be sort of a leader for just for the sake of being a leader or whatever um a lot of time people who a lot of times the people you want as leaders are the people who don't want to be leaders so um if you can live a useful life that is a good life a life worth having lived um you know and i like i said i would i would encourage people to use the mental tools of physics and apply them broadly in life they are the best tools when you think about education and self-education what do you recommend And so there's the university, there's self-study, there is hands-on sort of finding a company or a place or a set of people that do the thing you're passionate about and joining them as early as possible. There taking a road trip across Europe for a few years and writing some poetry Which trajectory do you suggest In terms of learning about how you can become useful as you mentioned how you can have the most positive impact. I'd encourage people to read a lot of books. basically try to ingest as much information as you can and try to also just develop a good general knowledge so you at least have a rough lay of the land of the knowledge landscape try to learn a little bit about a lot of things because you might not know what you're really interested in how would you know what you're really interested in if you at least aren't like doing it peripheral export exploration of broadly of, of the knowledge landscape. And you talk to people from different walks of life and different industries and professions and skills and occupations, like Just try to learn as much as possible. Man's search for meaning. Isn't the whole thing a search for meaning? Yeah, what's the meaning of life and all. But just generally, like I said, I would encourage people to read broadly in many different subject areas. and then try to find something where there's an overlap of your talents and what you're interested in. So people may be good at something, or they may have skill at a particular thing, but they don't like doing it. So you want to try to find a thing where that's a good combination of the things that you're inherently good at, but you also like doing. and and reading is a super fast shortcut to figure out which where are you both good at it you like doing it and it will actually have positive impact Well you got to learn about things somehow So reading a broad range, just really read it. You know, one point when I was a kid, I read through the encyclopedia. So that was pretty helpful. And also things I didn't even know existed, a lot, obviously. It's like as broad as it gets. Encyclopedias were digestible, I think, you know, whatever, 40 years ago. So, you know, maybe read through the condensed version of the Encyclopedia Britannica. I'd recommend that. You can always, like, skip subjects where you read a few paragraphs and you know you're not interested. Just jump to the next one. So read the encyclopedia or skim through it. and um but i you know put a lot of stock and certainly have a lot of respect for someone who puts in an honest day's work uh to do useful things and and just generally to have like not a zero-sum mindset um or a like have have more of a grow the pie mindset like the if you if you sort of say like when when we see people like perhaps um including some very smart people kind of taking an attitude of like like like doing things that seem like morally questionable it's often because they have at at a base sort of axiomatic level a zero-sum mindset um and and they without realizing it they don't realize they have a zero-sum mindset or at least that they don't realize it consciously um and so if you have a zero-sum mindset then the only way to get ahead is by taking things from others. If it's like, if the pie is fixed, then the only way to have more pie is to take someone else pie But this is false Like obviously the pie has grown dramatically over time the economic pie So in reality you can have I overused this analogy We can have a lot of... There's a lot of pie. Pie is not fixed. So you really want to make sure you're not operating without realizing it from a zero-sum mindset, where the only way to get ahead is to take things from others. then that's going to result in you trying to take things from others, which is not good. It's much better to work on adding to the economic pie. You know, so creating, like I said, creating more than you consume, doing more than you, yeah. So that's a big deal. I think there's like a fair number of people in finance that do have a bit of a zero-sum mindset. I mean, it's all walks of life. I've seen that. One of the reasons Rogan inspires me is he celebrates others a lot. There's not creating a constant competition. There's a scarcity of resources. What happens when you celebrate others and you promote others, the ideas of others, it actually grows that pie. I mean, the resources become less scarce. And that applies in a lot of kinds of domains. It applies in academia where a lot of people see some funding for academic research is zero sum. It is not. If you celebrate each other, if you get everybody to be excited about AI, about physics, about mathematics, I think there'd be more and more funding, and I think everybody wins. Yeah, that applies, I think, broadly. Yeah, yeah, exactly. you","words":[{"word":"You,","start":0,"end":3.92},{"word":"like","start":3.92,"end":4},{"word":"I","start":4,"end":4.14},{"word":"mentioned","start":4.14,"end":4.46},{"word":"with","start":4.46,"end":4.86},{"word":"SpaceX,","start":4.86,"end":5.92},{"word":"you","start":5.92,"end":5.96},{"word":"give","start":5.96,"end":6.08},{"word":"a","start":6.08,"end":6.2},{"word":"lot","start":6.2,"end":6.3},{"word":"of","start":6.3,"end":6.38},{"word":"people","start":6.38,"end":6.58},{"word":"hope,","start":6.58,"end":7.3},{"word":"and","start":7.3,"end":7.42},{"word":"a","start":7.42,"end":7.52},{"word":"lot","start":7.52,"end":7.64},{"word":"of","start":7.64,"end":7.7},{"word":"people","start":7.7,"end":7.9},{"word":"look","start":7.42,"end":8.1},{"word":"up","start":8.1,"end":8.2},{"word":"to","start":8.2,"end":8.32},{"word":"you,","start":8.32,"end":8.4},{"word":"millions","start":8.4,"end":8.72},{"word":"of","start":8.72,"end":8.86},{"word":"people","start":8.86,"end":9.08},{"word":"look","start":9.08,"end":9.28},{"word":"up","start":9.28,"end":9.42},{"word":"to","start":9.42,"end":9.56},{"word":"you.","start":9.56,"end":10.3},{"word":"If","start":10.06,"end":10.68},{"word":"we","start":10.68,"end":10.78},{"word":"think","start":10.78,"end":11.04},{"word":"about","start":11.04,"end":11.26},{"word":"young","start":11.26,"end":11.54},{"word":"people","start":11.54,"end":12},{"word":"in","start":12,"end":13.02},{"word":"high","start":13.02,"end":13.26},{"word":"school,","start":13.26,"end":13.62},{"word":"maybe","start":13.62,"end":13.8},{"word":"in","start":13.8,"end":13.92},{"word":"college,","start":13.92,"end":15.58},{"word":"what","start":15.58,"end":16.2},{"word":"advice","start":16.2,"end":16.6},{"word":"would","start":16.6,"end":16.84},{"word":"you","start":16.84,"end":17.08},{"word":"give","start":17.08,"end":17.48},{"word":"to","start":16.94,"end":17.66},{"word":"them","start":17.66,"end":17.96},{"word":"about,","start":17.96,"end":18.42},{"word":"if","start":18.42,"end":19.66},{"word":"they","start":19.66,"end":19.8},{"word":"want","start":19.8,"end":19.94},{"word":"to","start":19.94,"end":20.02},{"word":"try","start":20.02,"end":20.34},{"word":"to","start":20.34,"end":20.54},{"word":"do","start":20.54,"end":20.66},{"word":"something","start":20.66,"end":20.96},{"word":"big","start":20.96,"end":21.22},{"word":"in","start":21.22,"end":21.32},{"word":"this","start":21.32,"end":21.46},{"word":"world,","start":21.46,"end":21.78},{"word":"they","start":21.78,"end":21.9},{"word":"want","start":21.9,"end":22.04},{"word":"to","start":22.04,"end":22.14},{"word":"really","start":22.14,"end":22.32},{"word":"have","start":22.32,"end":22.56},{"word":"a","start":22.02,"end":22.7},{"word":"big","start":22.7,"end":22.88},{"word":"positive","start":22.88,"end":23.22},{"word":"impact,","start":23.22,"end":23.72},{"word":"what","start":23.72,"end":23.86},{"word":"advice","start":23.86,"end":24.12},{"word":"would","start":24.12,"end":24.3},{"word":"you","start":24.3,"end":24.4},{"word":"give","start":24.4,"end":24.56},{"word":"them","start":24.56,"end":24.96},{"word":"about","start":24.96,"end":25.52},{"word":"their","start":25.52,"end":25.74},{"word":"career,","start":25.74,"end":26.32},{"word":"maybe","start":26.32,"end":26.52},{"word":"about","start":26.52,"end":26.78},{"word":"life","start":26.56,"end":27.06},{"word":"in","start":27.06,"end":27.22},{"word":"general?","start":27.22,"end":28.26},{"word":"to","start":29.6,"end":29.7},{"word":"be","start":29.7,"end":29.88},{"word":"useful.","start":29.88,"end":32.24},{"word":"You","start":32.24,"end":32.28},{"word":"do","start":32.28,"end":32.44},{"word":"things","start":32.44,"end":32.7},{"word":"that","start":32.7,"end":32.84},{"word":"are","start":32.84,"end":32.94},{"word":"useful","start":32.94,"end":33.26},{"word":"to","start":33.26,"end":33.56},{"word":"your","start":33.56,"end":33.82},{"word":"fellow","start":33.82,"end":34.16},{"word":"human","start":34.16,"end":34.42},{"word":"beings","start":34.42,"end":34.82},{"word":"to","start":34.82,"end":35.48},{"word":"the","start":35.48,"end":35.58},{"word":"world.","start":35.58,"end":36.56},{"word":"It's","start":36.14,"end":36.68},{"word":"very","start":36.68,"end":36.88},{"word":"hard","start":36.88,"end":37.08},{"word":"to","start":37.08,"end":37.18},{"word":"be","start":37.18,"end":37.3},{"word":"useful.","start":37.3,"end":41.38},{"word":"Very","start":41.38,"end":41.48},{"word":"hard.","start":41.48,"end":43.08},{"word":"You","start":43.08,"end":43.86},{"word":"know,","start":43.86,"end":44.04},{"word":"are","start":44.04,"end":44.28},{"word":"you","start":44.28,"end":44.32},{"word":"contributing","start":44.32,"end":44.74},{"word":"more","start":44.74,"end":45.06},{"word":"than","start":45.06,"end":45.26},{"word":"you","start":45.26,"end":45.62},{"word":"consume?","start":45.62,"end":47.84},{"word":"You","start":46.86,"end":47.38},{"word":"know,","start":47.38,"end":47.82},{"word":"like,","start":47.82,"end":49.62},{"word":"like,","start":49.62,"end":50.14},{"word":"can","start":50.14,"end":50.48},{"word":"you","start":50.48,"end":50.92},{"word":"try","start":50.92,"end":52.34},{"word":"to","start":52.34,"end":52.52},{"word":"have","start":52.52,"end":52.7},{"word":"a","start":52.7,"end":53.02},{"word":"positive","start":53.02,"end":53.44},{"word":"net","start":53.44,"end":53.68},{"word":"contribution","start":53.68,"end":54.14},{"word":"to","start":54.14,"end":54.96},{"word":"society?","start":54.96,"end":56.18},{"word":"I","start":56.18,"end":57.96},{"word":"think","start":57.94,"end":58.06},{"word":"that's","start":58.06,"end":58.32},{"word":"the","start":58.32,"end":58.4},{"word":"thing","start":58.4,"end":58.54},{"word":"to","start":58.54,"end":58.66},{"word":"aim","start":58.66,"end":58.78},{"word":"for","start":58.78,"end":59.04},{"word":"you","start":59.04,"end":59.66},{"word":"know","start":59.66,"end":59.74},{"word":"not","start":59.74,"end":59.92},{"word":"not","start":59.92,"end":60.14},{"word":"to","start":60.14,"end":60.42},{"word":"try","start":60.42,"end":60.56},{"word":"to","start":60.56,"end":60.64},{"word":"be","start":60.64,"end":60.84},{"word":"sort","start":60.84,"end":61.3},{"word":"of","start":61.3,"end":61.4},{"word":"a","start":61.4,"end":61.6},{"word":"leader","start":61.6,"end":61.76},{"word":"for","start":61.76,"end":62.12},{"word":"just","start":62.12,"end":62.9},{"word":"for","start":62.9,"end":63.44},{"word":"the","start":63.32,"end":63.58},{"word":"sake","start":63.58,"end":63.72},{"word":"of","start":63.72,"end":63.82},{"word":"being","start":63.82,"end":63.9},{"word":"a","start":63.9,"end":64.04},{"word":"leader","start":64.04,"end":64.18},{"word":"or","start":64.18,"end":64.32},{"word":"whatever","start":64.32,"end":64.64},{"word":"um","start":64.64,"end":65.2},{"word":"a","start":65.2,"end":67.3},{"word":"lot","start":67.3,"end":67.38},{"word":"of","start":67.38,"end":67.48},{"word":"time","start":67.48,"end":67.7},{"word":"people","start":67.7,"end":67.96},{"word":"who","start":67.96,"end":68.72},{"word":"a","start":68.72,"end":69.84},{"word":"lot","start":69.84,"end":69.96},{"word":"of","start":69.96,"end":70.04},{"word":"times","start":70.04,"end":70.18},{"word":"the","start":70.18,"end":70.36},{"word":"people","start":70.36,"end":70.76},{"word":"you","start":70.76,"end":70.88},{"word":"want","start":70.5,"end":71.08},{"word":"as","start":71.08,"end":71.2},{"word":"leaders","start":71.2,"end":71.44},{"word":"are","start":71.44,"end":71.9},{"word":"the","start":71.9,"end":72.06},{"word":"people","start":72.06,"end":72.2},{"word":"who","start":72.2,"end":72.32},{"word":"don't","start":72.32,"end":72.48},{"word":"want","start":72.48,"end":72.62},{"word":"to","start":72.62,"end":72.72},{"word":"be","start":72.72,"end":72.8},{"word":"leaders","start":72.8,"end":73.08},{"word":"so","start":73.08,"end":74.7},{"word":"um","start":74.7,"end":76.8},{"word":"if","start":76.8,"end":79.56},{"word":"you","start":79.56,"end":79.66},{"word":"can","start":79.66,"end":79.78},{"word":"live","start":79.78,"end":79.86},{"word":"a","start":79.86,"end":80.06},{"word":"useful","start":80.06,"end":80.42},{"word":"life","start":80.42,"end":80.8},{"word":"that","start":82.4,"end":82.5},{"word":"is","start":82.5,"end":82.64},{"word":"a","start":82.64,"end":82.7},{"word":"good","start":82.7,"end":82.82},{"word":"life","start":82.82,"end":83.12},{"word":"a","start":83.12,"end":84.08},{"word":"life","start":84.08,"end":84.26},{"word":"worth","start":84.26,"end":84.52},{"word":"having","start":84.52,"end":85.8},{"word":"lived","start":85.8,"end":86.06},{"word":"um","start":86.06,"end":87.66},{"word":"you","start":87.66,"end":88.7},{"word":"know","start":88.7,"end":88.82},{"word":"and","start":88.82,"end":89.04},{"word":"i","start":89.04,"end":89.2},{"word":"like","start":89.2,"end":89.5},{"word":"i","start":89.5,"end":89.56},{"word":"said","start":89.56,"end":89.68},{"word":"i","start":89.68,"end":89.78},{"word":"would","start":89.78,"end":90.8},{"word":"i","start":90.8,"end":90.82},{"word":"would","start":90.82,"end":91.04},{"word":"encourage","start":90.66,"end":91.56},{"word":"people","start":91.56,"end":91.82},{"word":"to","start":91.82,"end":92.24},{"word":"use","start":92.24,"end":94.36},{"word":"the","start":94.36,"end":94.64},{"word":"mental","start":94.64,"end":95.2},{"word":"tools","start":95.2,"end":95.5},{"word":"of","start":95.5,"end":95.62},{"word":"physics","start":95.62,"end":96},{"word":"and","start":96,"end":96.64},{"word":"apply","start":96.64,"end":96.84},{"word":"them","start":96.84,"end":97},{"word":"broadly","start":97,"end":97.24},{"word":"in","start":97.24,"end":97.44},{"word":"life","start":97.44,"end":97.68},{"word":"they","start":98.36,"end":98.56},{"word":"are","start":98.56,"end":98.72},{"word":"the","start":98.72,"end":98.86},{"word":"best","start":98.86,"end":99.04},{"word":"tools","start":99.04,"end":99.46},{"word":"when","start":99.46,"end":100.12},{"word":"you","start":100.12,"end":100.22},{"word":"think","start":100.22,"end":100.36},{"word":"about","start":100.36,"end":100.54},{"word":"education","start":100.54,"end":101.14},{"word":"and","start":101.14,"end":101.44},{"word":"self-education","start":101.44,"end":102.2},{"word":"what","start":102.2,"end":102.62},{"word":"do","start":102.62,"end":102.76},{"word":"you","start":102.76,"end":102.82},{"word":"recommend","start":102.82,"end":103.34},{"word":"And","start":103.46,"end":103.48},{"word":"so","start":103.48,"end":104.22},{"word":"there's","start":104.22,"end":104.42},{"word":"the","start":104.42,"end":104.6},{"word":"university,","start":104.6,"end":105.68},{"word":"there's","start":105.68,"end":106.26},{"word":"self-study,","start":106.26,"end":108.1},{"word":"there","start":108.94,"end":109.2},{"word":"is","start":109.2,"end":109.56},{"word":"hands-on","start":109.56,"end":110.64},{"word":"sort","start":110.64,"end":110.86},{"word":"of","start":110.86,"end":111.02},{"word":"finding","start":111.02,"end":111.84},{"word":"a","start":111.84,"end":112.22},{"word":"company","start":112.22,"end":112.62},{"word":"or","start":112.62,"end":112.78},{"word":"a","start":112.78,"end":112.88},{"word":"place","start":112.88,"end":113.24},{"word":"or","start":112.92,"end":113.38},{"word":"a","start":113.38,"end":113.44},{"word":"set","start":113.44,"end":113.6},{"word":"of","start":113.6,"end":113.72},{"word":"people","start":113.72,"end":114.08},{"word":"that","start":114.08,"end":114.32},{"word":"do","start":114.32,"end":114.54},{"word":"the","start":114.54,"end":114.74},{"word":"thing","start":114.74,"end":114.88},{"word":"you're","start":114.88,"end":115},{"word":"passionate","start":115,"end":115.34},{"word":"about","start":115.34,"end":115.54},{"word":"and","start":115.26,"end":115.7},{"word":"joining","start":115.7,"end":116},{"word":"them","start":116,"end":116.24},{"word":"as","start":116.24,"end":116.4},{"word":"early","start":116.4,"end":116.58},{"word":"as","start":116.58,"end":116.68},{"word":"possible.","start":116.68,"end":119.78},{"word":"There's","start":118.8,"end":119.52},{"word":"taking","start":119.52,"end":120.12},{"word":"a","start":120.12,"end":120.34},{"word":"road","start":120.34,"end":120.56},{"word":"trip","start":120.56,"end":120.66},{"word":"across","start":120.66,"end":121.04},{"word":"Europe","start":121.04,"end":121.42},{"word":"for","start":121.42,"end":121.66},{"word":"a","start":121.66,"end":121.72},{"word":"few","start":121.72,"end":121.9},{"word":"years","start":121.9,"end":122.26},{"word":"and","start":121.96,"end":122.42},{"word":"writing","start":122.36367,"end":122.58367},{"word":"some","start":122.58367,"end":122.783676},{"word":"poetry.","start":122.783676,"end":123.66367},{"word":"Which","start":124.18367,"end":124.203674},{"word":"trajectory","start":124.203674,"end":125.243675},{"word":"do","start":125.243675,"end":125.50367},{"word":"you","start":125.50367,"end":125.703674},{"word":"suggest?","start":125.703674,"end":126.44367},{"word":"In","start":128.26367,"end":128.60367},{"word":"terms","start":128.60367,"end":128.80368},{"word":"of","start":128.80368,"end":128.98367},{"word":"learning","start":128.98367,"end":129.26367},{"word":"about","start":129.26367,"end":129.68367},{"word":"how","start":129.68367,"end":130.58368},{"word":"you","start":130.58368,"end":130.94366},{"word":"can","start":130.94366,"end":131.12367},{"word":"become","start":131.12367,"end":131.66367},{"word":"useful,","start":131.66367,"end":132.74367},{"word":"as","start":132.74367,"end":132.86368},{"word":"you","start":132.86368,"end":132.94366},{"word":"mentioned,","start":132.94366,"end":133.26367},{"word":"how","start":133.52367,"end":133.66367},{"word":"you","start":133.66367,"end":133.84367},{"word":"can","start":133.84367,"end":133.96367},{"word":"have","start":133.96367,"end":134.08368},{"word":"the","start":134.08368,"end":134.22368},{"word":"most","start":134.22368,"end":134.34367},{"word":"positive","start":134.34367,"end":134.68367},{"word":"impact.","start":134.68367,"end":135.04367},{"word":"I'd","start":142.82367,"end":143.30368},{"word":"encourage","start":143.30368,"end":143.48367},{"word":"people","start":143.48367,"end":143.74367},{"word":"to","start":143.74367,"end":143.90367},{"word":"read","start":143.90367,"end":144.08368},{"word":"a","start":144.08368,"end":144.18367},{"word":"lot","start":144.18367,"end":144.30368},{"word":"of","start":144.30368,"end":144.38367},{"word":"books.","start":144.38367,"end":144.64368},{"word":"basically","start":144.70367,"end":146.38367},{"word":"try","start":146.38367,"end":148.54367},{"word":"to","start":148.54367,"end":148.66367},{"word":"ingest","start":148.66367,"end":149.06367},{"word":"as","start":149.06367,"end":149.44366},{"word":"much","start":149.44366,"end":149.64368},{"word":"information","start":149.64368,"end":150.06367},{"word":"as","start":150.06367,"end":150.36368},{"word":"you","start":150.36368,"end":150.48367},{"word":"can","start":150.48367,"end":150.82367},{"word":"and","start":150.38367,"end":153.60367},{"word":"try","start":153.60367,"end":153.76367},{"word":"to","start":153.76367,"end":153.86368},{"word":"also","start":153.86368,"end":154.14368},{"word":"just","start":154.14368,"end":154.34367},{"word":"develop","start":154.34367,"end":154.62367},{"word":"a","start":154.62367,"end":154.90367},{"word":"good","start":154.90367,"end":155.04367},{"word":"general","start":155.04367,"end":155.26367},{"word":"knowledge","start":155.26367,"end":155.70367},{"word":"so","start":157.16367,"end":157.66367},{"word":"you","start":157.66367,"end":158.58368},{"word":"at","start":158.58368,"end":158.70367},{"word":"least","start":158.70367,"end":158.76367},{"word":"have","start":158.76367,"end":159.02368},{"word":"a","start":158.56367,"end":160.40367},{"word":"rough","start":160.40367,"end":160.70367},{"word":"lay","start":160.70367,"end":160.86368},{"word":"of","start":160.86368,"end":160.96367},{"word":"the","start":160.96367,"end":161.08368},{"word":"land","start":161.08368,"end":161.32367},{"word":"of","start":161.32367,"end":161.48367},{"word":"the","start":161.48367,"end":161.76367},{"word":"knowledge","start":161.76367,"end":162.40367},{"word":"landscape","start":162.40367,"end":162.88367},{"word":"try","start":164.28368,"end":164.64368},{"word":"to","start":164.64368,"end":164.76367},{"word":"learn","start":164.76367,"end":164.94366},{"word":"a","start":164.94366,"end":165.42368},{"word":"little","start":165.42368,"end":165.58368},{"word":"bit","start":165.58368,"end":165.82367},{"word":"about","start":165.82367,"end":166.28368},{"word":"a","start":166.28368,"end":166.46367},{"word":"lot","start":166.46367,"end":166.56367},{"word":"of","start":166.56367,"end":166.62367},{"word":"things","start":166.62367,"end":166.92368},{"word":"because","start":168.48367,"end":168.64368},{"word":"you","start":168.64368,"end":168.68367},{"word":"might","start":168.68367,"end":168.80368},{"word":"not","start":168.80368,"end":168.90367},{"word":"know","start":168.90367,"end":169.06367},{"word":"what","start":169.06367,"end":169.18367},{"word":"you're","start":169.18367,"end":169.34367},{"word":"really","start":169.34367,"end":169.50368},{"word":"interested","start":169.50368,"end":169.68367},{"word":"in","start":169.68367,"end":169.84367},{"word":"how","start":169.90367,"end":170.06367},{"word":"would","start":170.06367,"end":170.22366},{"word":"you","start":170.22366,"end":170.26367},{"word":"know","start":170.26367,"end":170.36368},{"word":"what","start":170.36368,"end":170.48367},{"word":"you're","start":170.48367,"end":170.58368},{"word":"really","start":170.58368,"end":170.74367},{"word":"interested","start":170.74367,"end":170.90367},{"word":"in","start":170.90367,"end":171.10367},{"word":"if","start":171.10367,"end":171.34367},{"word":"you","start":171.34367,"end":171.46367},{"word":"at","start":171.46367,"end":171.58368},{"word":"least","start":171.58368,"end":171.70367},{"word":"aren't","start":171.70367,"end":172.20367},{"word":"like","start":172.20367,"end":172.66367},{"word":"doing","start":172.66367,"end":173.02368},{"word":"it","start":173.02368,"end":173.28368},{"word":"peripheral","start":173.28368,"end":174.40367},{"word":"export","start":174.06367,"end":174.80368},{"word":"exploration","start":174.80368,"end":175.46367},{"word":"of","start":175.46367,"end":175.66367},{"word":"broadly","start":175.66367,"end":175.92368},{"word":"of,","start":175.92368,"end":177.28368},{"word":"of","start":177.28368,"end":177.30368},{"word":"the","start":177.30368,"end":178.20367},{"word":"knowledge","start":178.20367,"end":178.58368},{"word":"landscape.","start":178.58368,"end":182.16367},{"word":"And","start":182.16367,"end":182.60367},{"word":"you","start":182.60367,"end":183.20367},{"word":"talk","start":183.20367,"end":183.44366},{"word":"to","start":183.44366,"end":183.60367},{"word":"people","start":183.60367,"end":183.88367},{"word":"from","start":183.88367,"end":184.10367},{"word":"different","start":184.10367,"end":184.32367},{"word":"walks","start":183.84367,"end":184.58368},{"word":"of","start":184.58368,"end":184.80368},{"word":"life","start":184.80368,"end":185.04367},{"word":"and","start":185.04367,"end":185.16367},{"word":"different","start":185.16367,"end":185.60367},{"word":"industries","start":185.60367,"end":187.40367},{"word":"and","start":187.40367,"end":187.66367},{"word":"professions","start":187.66367,"end":188.42368},{"word":"and","start":188.42368,"end":188.66367},{"word":"skills","start":188.66367,"end":189.06367},{"word":"and","start":189.06367,"end":189.20367},{"word":"occupations,","start":189.20367,"end":190.56367},{"word":"like","start":190.56367,"end":190.58368},{"word":"Just","start":190.58368,"end":190.76367},{"word":"try","start":190.76367,"end":190.96367},{"word":"to","start":190.96367,"end":191.14368},{"word":"learn","start":191.14368,"end":193.82367},{"word":"as","start":193.82367,"end":193.96367},{"word":"much","start":193.96367,"end":194.14368},{"word":"as","start":194.14368,"end":194.20367},{"word":"possible.","start":194.20367,"end":194.62367},{"word":"Man's","start":197.46367,"end":197.72366},{"word":"search","start":197.72366,"end":197.98367},{"word":"for","start":197.98367,"end":198.12367},{"word":"meaning.","start":198.12367,"end":198.34367},{"word":"Isn't","start":201.00366,"end":201.20367},{"word":"the","start":201.20367,"end":201.38367},{"word":"whole","start":201.38367,"end":201.52368},{"word":"thing","start":201.52368,"end":201.84367},{"word":"a","start":201.84367,"end":201.96367},{"word":"search","start":201.96367,"end":202.16367},{"word":"for","start":202.16367,"end":202.30368},{"word":"meaning?","start":202.30368,"end":202.84367},{"word":"Yeah,","start":204.90367,"end":205.12367},{"word":"what's","start":205.12367,"end":205.34367},{"word":"the","start":205.34367,"end":205.44366},{"word":"meaning","start":205.44366,"end":205.46367},{"word":"of","start":205.46367,"end":205.56367},{"word":"life","start":205.56367,"end":205.82367},{"word":"and","start":205.82367,"end":205.98367},{"word":"all.","start":205.98367,"end":206.54367},{"word":"But","start":207.32367,"end":207.44366},{"word":"just","start":207.44366,"end":207.58368},{"word":"generally,","start":207.58368,"end":208.04367},{"word":"like","start":208.04367,"end":208.18367},{"word":"I","start":208.18367,"end":208.24368},{"word":"said,","start":208.24368,"end":208.48367},{"word":"I","start":208.48367,"end":208.50366},{"word":"would","start":208.50366,"end":208.76367},{"word":"encourage","start":208.76367,"end":209.02368},{"word":"people","start":209.02368,"end":209.24368},{"word":"to","start":209.24368,"end":209.38367},{"word":"read","start":209.38367,"end":209.60367},{"word":"broadly","start":209.60367,"end":210.02368},{"word":"in","start":210.02368,"end":211.16367},{"word":"many","start":211.16367,"end":211.36368},{"word":"different","start":211.36368,"end":211.60367},{"word":"subject","start":211.60367,"end":211.92368},{"word":"areas.","start":211.92368,"end":212.30368},{"word":"and","start":212.38367,"end":214.52368},{"word":"then","start":214.52368,"end":215.30368},{"word":"try","start":215.30368,"end":215.86368},{"word":"to","start":215.86368,"end":215.98367},{"word":"find","start":215.98367,"end":216.22366},{"word":"something","start":216.22366,"end":216.64368},{"word":"where","start":216.20367,"end":216.96367},{"word":"there's","start":216.96367,"end":217.36368},{"word":"an","start":217.36368,"end":217.86368},{"word":"overlap","start":217.86368,"end":218.22366},{"word":"of","start":218.22366,"end":218.72366},{"word":"your","start":218.72366,"end":219.26367},{"word":"talents","start":219.26367,"end":219.74368},{"word":"and","start":219.30368,"end":220.32367},{"word":"what","start":220.32367,"end":221.22366},{"word":"you're","start":221.22366,"end":221.38367},{"word":"interested","start":221.38367,"end":221.64368},{"word":"in.","start":221.64368,"end":221.96367},{"word":"So","start":221.98367,"end":222.14368},{"word":"people","start":222.14368,"end":222.24368},{"word":"may","start":222.24368,"end":222.46367},{"word":"be","start":222.46367,"end":222.98367},{"word":"good","start":222.98367,"end":223.18367},{"word":"at","start":223.18367,"end":223.30368},{"word":"something,","start":223.30368,"end":224.04367},{"word":"or","start":224.04367,"end":224.24368},{"word":"they","start":224.24368,"end":224.36368},{"word":"may","start":224.36368,"end":224.50366},{"word":"have","start":224.50366,"end":224.70367},{"word":"skill","start":224.70367,"end":225.58368},{"word":"at","start":225.58368,"end":225.78368},{"word":"a","start":225.78368,"end":225.90367},{"word":"particular","start":225.90367,"end":226.20367},{"word":"thing,","start":226.20367,"end":226.48367},{"word":"but","start":226.50366,"end":226.52368},{"word":"they","start":226.52368,"end":226.64368},{"word":"don't","start":226.64368,"end":226.84367},{"word":"like","start":226.84367,"end":227.06367},{"word":"doing","start":227.06367,"end":227.30368},{"word":"it.","start":227.30368,"end":227.62367},{"word":"So","start":229.62367,"end":229.74368},{"word":"you","start":229.74368,"end":229.84367},{"word":"want","start":229.84367,"end":229.90367},{"word":"to","start":229.90367,"end":229.98367},{"word":"try","start":229.98367,"end":230.10367},{"word":"to","start":230.10367,"end":230.22366},{"word":"find","start":230.22366,"end":230.44366},{"word":"a","start":230.44366,"end":230.76367},{"word":"thing","start":230.76367,"end":230.92368},{"word":"where","start":230.44366,"end":231.16367},{"word":"that's","start":231.16367,"end":233.10367},{"word":"a","start":233.10367,"end":233.18367},{"word":"good","start":233.18367,"end":233.64368},{"word":"combination","start":233.64368,"end":234.60367},{"word":"of","start":234.22366,"end":235.54367},{"word":"the","start":235.54367,"end":236.52368},{"word":"things","start":236.52368,"end":236.72366},{"word":"that","start":236.72366,"end":236.88367},{"word":"you're","start":236.88367,"end":237.10367},{"word":"inherently","start":237.10367,"end":237.40367},{"word":"good","start":237.40367,"end":237.74368},{"word":"at,","start":237.74368,"end":238.06367},{"word":"but","start":238.60367,"end":238.70367},{"word":"you","start":238.70367,"end":238.82367},{"word":"also","start":238.82367,"end":239.08368},{"word":"like","start":239.08368,"end":239.36368},{"word":"doing.","start":239.36368,"end":239.60367},{"word":"and","start":239.66367,"end":242.54367},{"word":"and","start":242.28368,"end":243.52368},{"word":"reading","start":243.52368,"end":243.76367},{"word":"is","start":243.28368,"end":243.96367},{"word":"a","start":243.96367,"end":244.08368},{"word":"super","start":244.08368,"end":244.36368},{"word":"fast","start":243.86368,"end":244.70367},{"word":"shortcut","start":244.70367,"end":245.06367},{"word":"to","start":244.56367,"end":245.34367},{"word":"figure","start":245.34367,"end":246.20367},{"word":"out","start":245.74368,"end":246.54367},{"word":"which","start":246.54367,"end":246.96367},{"word":"where","start":246.52368,"end":247.64368},{"word":"are","start":247.64368,"end":247.96367},{"word":"you","start":247.48367,"end":248.16367},{"word":"both","start":248.16367,"end":248.56367},{"word":"good","start":248.14368,"end":249.00368},{"word":"at","start":249.00368,"end":249.26367},{"word":"it","start":249.26367,"end":249.42368},{"word":"you","start":249.44734,"end":249.60735},{"word":"like","start":249.60735,"end":249.84735},{"word":"doing","start":249.84735,"end":250.14734},{"word":"it,","start":250.14734,"end":251.00734},{"word":"and","start":250.92734,"end":251.26735},{"word":"it","start":251.26735,"end":251.42734},{"word":"will","start":251.42734,"end":251.56735},{"word":"actually","start":251.56735,"end":251.84735},{"word":"have","start":251.84735,"end":251.96735},{"word":"positive","start":251.96735,"end":252.28734},{"word":"impact.","start":252.28734,"end":253.18735},{"word":"Well,","start":253.36734,"end":253.46735},{"word":"you've","start":253.46735,"end":253.78734},{"word":"got","start":253.78734,"end":253.80734},{"word":"to","start":253.80734,"end":253.88734},{"word":"learn","start":253.88734,"end":254.00734},{"word":"about","start":254.00734,"end":254.20735},{"word":"things","start":254.20735,"end":254.34735},{"word":"somehow.","start":254.34735,"end":255.14734},{"word":"So","start":255.10735,"end":255.26735},{"word":"reading","start":255.26735,"end":255.86734},{"word":"a","start":255.86734,"end":257.72736},{"word":"broad","start":257.72736,"end":257.94736},{"word":"range,","start":257.94736,"end":258.50735},{"word":"just","start":258.50735,"end":258.60733},{"word":"really","start":258.60733,"end":259.22736},{"word":"read","start":259.22736,"end":260.60736},{"word":"it.","start":260.60736,"end":260.80734},{"word":"You","start":261.42734,"end":261.48734},{"word":"know,","start":261.48734,"end":262.00735},{"word":"one","start":262.00735,"end":262.18735},{"word":"point","start":262.18735,"end":262.40735},{"word":"when","start":262.40735,"end":262.50735},{"word":"I","start":262.50735,"end":262.54733},{"word":"was","start":262.54733,"end":262.56735},{"word":"a","start":262.56735,"end":262.70734},{"word":"kid,","start":262.70734,"end":263.34735},{"word":"I","start":263.24734,"end":263.36734},{"word":"read","start":263.36734,"end":264.22736},{"word":"through","start":264.22736,"end":264.52734},{"word":"the","start":264.52734,"end":265.02734},{"word":"encyclopedia.","start":265.02734,"end":265.44736},{"word":"So","start":266.08734,"end":266.68735},{"word":"that","start":266.68735,"end":267.66736},{"word":"was","start":267.66736,"end":267.68735},{"word":"pretty","start":267.68735,"end":267.84735},{"word":"helpful.","start":267.84735,"end":268.10736},{"word":"And","start":270.58734,"end":271.38733},{"word":"also","start":271.38733,"end":271.94736},{"word":"things","start":271.94736,"end":272.18735},{"word":"I","start":272.18735,"end":272.32733},{"word":"didn't","start":272.32733,"end":272.44736},{"word":"even","start":272.44736,"end":272.54733},{"word":"know","start":272.54733,"end":272.68735},{"word":"existed,","start":272.68735,"end":273.10736},{"word":"a","start":273.10736,"end":273.16736},{"word":"lot,","start":273.16736,"end":273.94736},{"word":"obviously.","start":273.94736,"end":274.18735},{"word":"It's","start":274.44736,"end":274.70734},{"word":"like","start":274.70734,"end":274.76733},{"word":"as","start":274.76733,"end":274.88733},{"word":"broad","start":274.88733,"end":275.14734},{"word":"as","start":275.14734,"end":275.30734},{"word":"it","start":275.30734,"end":275.42734},{"word":"gets.","start":275.42734,"end":276.24734},{"word":"Encyclopedias","start":276.48734,"end":276.68735},{"word":"were","start":276.68735,"end":276.90735},{"word":"digestible,","start":276.90735,"end":277.66736},{"word":"I","start":277.66736,"end":277.68735},{"word":"think,","start":277.68735,"end":279.04733},{"word":"you","start":279.04733,"end":279.06735},{"word":"know,","start":279.06735,"end":279.44736},{"word":"whatever,","start":279.44736,"end":280.08734},{"word":"40","start":280.08734,"end":280.32733},{"word":"years","start":280.32733,"end":280.52734},{"word":"ago.","start":280.52734,"end":280.74734},{"word":"So,","start":283.68735,"end":283.70734},{"word":"you","start":283.70734,"end":285.32733},{"word":"know,","start":285.32733,"end":285.40735},{"word":"maybe","start":285.40735,"end":285.74734},{"word":"read","start":285.74734,"end":285.94736},{"word":"through","start":285.94736,"end":286.08734},{"word":"the","start":286.08734,"end":286.30734},{"word":"condensed","start":286.30734,"end":286.98734},{"word":"version","start":286.98734,"end":287.48734},{"word":"of","start":287.48734,"end":287.66736},{"word":"the","start":287.66736,"end":287.88733},{"word":"Encyclopedia","start":287.88733,"end":288.38733},{"word":"Britannica.","start":288.38733,"end":288.80734},{"word":"I'd","start":289.08734,"end":289.28735},{"word":"recommend","start":289.28735,"end":289.48734},{"word":"that.","start":289.48734,"end":289.78735},{"word":"You","start":291.32733,"end":291.44736},{"word":"can","start":291.44736,"end":291.52734},{"word":"always,","start":291.52734,"end":291.62735},{"word":"like,","start":291.62735,"end":291.78735},{"word":"skip","start":291.78735,"end":292.02734},{"word":"subjects","start":292.02734,"end":292.64734},{"word":"where","start":292.64734,"end":292.78735},{"word":"you","start":292.78735,"end":293.18735},{"word":"read","start":293.18735,"end":293.38733},{"word":"a","start":293.38733,"end":293.46735},{"word":"few","start":293.46735,"end":293.54733},{"word":"paragraphs","start":293.54733,"end":293.88733},{"word":"and","start":293.88733,"end":294.16736},{"word":"you","start":294.16736,"end":294.64734},{"word":"know","start":294.64734,"end":295.18735},{"word":"you're","start":295.18735,"end":295.32733},{"word":"not","start":295.32733,"end":295.46735},{"word":"interested.","start":295.46735,"end":295.82733},{"word":"Just","start":295.76733,"end":295.96735},{"word":"jump","start":295.96735,"end":296.12735},{"word":"to","start":296.12735,"end":296.22736},{"word":"the","start":296.22736,"end":296.32733},{"word":"next","start":296.32733,"end":296.46735},{"word":"one.","start":296.46735,"end":296.66736},{"word":"So","start":297.56735,"end":297.88733},{"word":"read","start":297.88733,"end":298.36734},{"word":"the","start":298.36734,"end":298.52734},{"word":"encyclopedia","start":298.52734,"end":299.02734},{"word":"or","start":299.02734,"end":299.52734},{"word":"skim","start":299.52734,"end":300.86734},{"word":"through","start":300.86734,"end":301.08734},{"word":"it.","start":301.08734,"end":301.40735},{"word":"and","start":304.72736,"end":305.32733},{"word":"um","start":305.32733,"end":305.78735},{"word":"but","start":305.78735,"end":307.68735},{"word":"i","start":307.68735,"end":307.82733},{"word":"you","start":307.82733,"end":308.08734},{"word":"know","start":308.08734,"end":308.14734},{"word":"put","start":308.14734,"end":308.30734},{"word":"a","start":308.30734,"end":308.38733},{"word":"lot","start":308.38733,"end":308.50735},{"word":"of","start":308.50735,"end":308.60736},{"word":"stock","start":308.60736,"end":308.84735},{"word":"and","start":308.84735,"end":308.98734},{"word":"certainly","start":308.98734,"end":309.18735},{"word":"have","start":309.18735,"end":309.32733},{"word":"a","start":309.32733,"end":309.58734},{"word":"lot","start":309.58734,"end":309.72736},{"word":"of","start":309.72736,"end":309.74734},{"word":"respect","start":309.74734,"end":310.04736},{"word":"for","start":310.04736,"end":310.34735},{"word":"someone","start":309.90735,"end":311.06735},{"word":"who","start":311.06735,"end":311.48734},{"word":"puts","start":311.48734,"end":312.14734},{"word":"in","start":312.14734,"end":312.30734},{"word":"an","start":312.30734,"end":312.42734},{"word":"honest","start":312.42734,"end":312.64734},{"word":"day's","start":312.64734,"end":312.88733},{"word":"work","start":312.88733,"end":313.16736},{"word":"uh","start":313.16736,"end":313.82733},{"word":"to","start":313.82733,"end":314.00735},{"word":"do","start":314.00735,"end":314.12735},{"word":"useful","start":314.12735,"end":314.42734},{"word":"things","start":314.42734,"end":314.78735},{"word":"and","start":314.78735,"end":316.36734},{"word":"and","start":316.36734,"end":317.06735},{"word":"just","start":317.06735,"end":317.16736},{"word":"generally","start":317.16736,"end":317.60736},{"word":"to","start":317.60736,"end":317.86734},{"word":"have","start":317.86734,"end":318.12735},{"word":"like","start":318.12735,"end":318.34735},{"word":"not","start":317.90735,"end":319.00735},{"word":"a","start":319.00735,"end":319.20734},{"word":"zero-sum","start":319.20734,"end":319.58734},{"word":"mindset","start":319.58734,"end":320.08734},{"word":"um","start":320.08734,"end":320.66736},{"word":"or","start":320.66736,"end":321.66736},{"word":"a","start":321.66736,"end":322.02734},{"word":"like","start":322.02734,"end":322.52734},{"word":"have","start":322.52734,"end":322.74734},{"word":"have","start":322.74734,"end":322.90735},{"word":"more","start":322.90735,"end":323.06735},{"word":"of","start":323.06735,"end":323.20734},{"word":"a","start":323.20734,"end":323.44733},{"word":"grow","start":323.44733,"end":324.62735},{"word":"the","start":324.62735,"end":324.80734},{"word":"pie","start":324.80734,"end":325.00735},{"word":"mindset","start":325.00735,"end":325.38733},{"word":"like","start":325.38733,"end":326.04736},{"word":"the","start":326.04736,"end":326.30734},{"word":"if","start":325.90735,"end":328.28735},{"word":"you","start":328.28735,"end":328.52734},{"word":"if","start":328.52734,"end":328.66736},{"word":"you","start":328.66736,"end":328.68735},{"word":"sort","start":328.68735,"end":328.78735},{"word":"of","start":328.78735,"end":328.86734},{"word":"say","start":328.86734,"end":328.94733},{"word":"like","start":328.94733,"end":329.12735},{"word":"when","start":329.12735,"end":330.04736},{"word":"when","start":330.04736,"end":330.58734},{"word":"we","start":330.58734,"end":330.82733},{"word":"see","start":330.82733,"end":330.94733},{"word":"people","start":330.94733,"end":331.20734},{"word":"like","start":331.20734,"end":331.38733},{"word":"perhaps","start":331.38733,"end":331.84735},{"word":"um","start":331.84735,"end":332.22736},{"word":"including","start":332.22736,"end":333.00735},{"word":"some","start":333.00735,"end":333.18735},{"word":"very","start":333.18735,"end":333.32733},{"word":"smart","start":333.32733,"end":333.50735},{"word":"people","start":333.52734,"end":333.84735},{"word":"kind","start":333.84735,"end":334.94733},{"word":"of","start":334.94733,"end":335.64734},{"word":"taking","start":335.64734,"end":336.26733},{"word":"an","start":336.26733,"end":336.44733},{"word":"attitude","start":336.44733,"end":336.70734},{"word":"of","start":336.70734,"end":337.18735},{"word":"like","start":337.18735,"end":337.74734},{"word":"like","start":337.74734,"end":337.88733},{"word":"like","start":337.88733,"end":338.26733},{"word":"doing","start":338.26733,"end":338.46735},{"word":"things","start":338.46735,"end":338.68735},{"word":"that","start":338.68735,"end":338.86734},{"word":"seem","start":338.86734,"end":339.08734},{"word":"like","start":339.08734,"end":339.28735},{"word":"morally","start":339.28735,"end":339.56735},{"word":"questionable","start":339.56735,"end":340.06735},{"word":"it's","start":339.62735,"end":341.24734},{"word":"often","start":341.24734,"end":341.42734},{"word":"because","start":341.42734,"end":341.76733},{"word":"they","start":341.76733,"end":341.96735},{"word":"have","start":341.96735,"end":342.38733},{"word":"at","start":342.38733,"end":342.80734},{"word":"at","start":342.80734,"end":343.00735},{"word":"a","start":343.00735,"end":343.14734},{"word":"base","start":343.14734,"end":343.48734},{"word":"sort","start":343.48734,"end":343.82733},{"word":"of","start":343.82733,"end":343.92734},{"word":"axiomatic","start":343.92734,"end":344.38733},{"word":"level","start":344.38733,"end":344.86734},{"word":"a","start":344.86734,"end":345.58734},{"word":"zero-sum","start":345.58734,"end":345.90735},{"word":"mindset","start":345.90735,"end":346.28735},{"word":"um","start":345.80734,"end":347.76733},{"word":"and","start":347.76733,"end":348.16736},{"word":"and","start":348.16736,"end":348.60736},{"word":"they","start":348.60736,"end":348.84735},{"word":"without","start":348.84735,"end":349.62735},{"word":"realizing","start":349.62735,"end":349.98734},{"word":"it","start":349.98734,"end":350.18735},{"word":"they","start":350.18735,"end":350.28735},{"word":"don't","start":350.28735,"end":350.40735},{"word":"realize","start":350.40735,"end":350.74734},{"word":"they","start":350.74734,"end":350.88733},{"word":"have","start":350.88733,"end":350.96735},{"word":"a","start":350.96735,"end":351.12735},{"word":"zero-sum","start":351.12735,"end":352.26733},{"word":"mindset","start":352.26733,"end":352.56735},{"word":"or","start":352.56735,"end":353.02734},{"word":"at","start":353.02734,"end":353.34735},{"word":"least","start":353.34735,"end":353.42734},{"word":"that","start":352.92734,"end":353.64734},{"word":"they","start":353.64734,"end":353.86734},{"word":"don't","start":353.86734,"end":354.00735},{"word":"realize","start":354.00735,"end":354.34735},{"word":"it","start":354.34735,"end":354.48734},{"word":"consciously","start":354.48734,"end":354.92734},{"word":"um","start":354.92734,"end":355.84735},{"word":"and","start":355.84735,"end":356.12735},{"word":"so","start":356.12735,"end":356.36734},{"word":"if","start":356.36734,"end":356.76733},{"word":"you","start":356.76733,"end":356.84735},{"word":"have","start":356.84735,"end":356.94733},{"word":"a","start":356.94733,"end":357.04736},{"word":"zero-sum","start":357.04736,"end":357.26733},{"word":"mindset","start":357.26733,"end":357.62735},{"word":"then","start":357.62735,"end":357.82733},{"word":"the","start":357.82733,"end":357.94733},{"word":"only","start":357.94733,"end":358.06735},{"word":"way","start":358.06735,"end":358.20734},{"word":"to","start":358.20734,"end":358.30734},{"word":"get","start":358.30734,"end":358.42734},{"word":"ahead","start":358.42734,"end":358.68735},{"word":"is","start":358.68735,"end":359.02734},{"word":"by","start":359.02734,"end":359.16736},{"word":"taking","start":359.16736,"end":359.38733},{"word":"things","start":359.38733,"end":359.62735},{"word":"from","start":359.62735,"end":359.78735},{"word":"others.","start":359.78735,"end":361.80734},{"word":"If","start":361.80734,"end":361.82733},{"word":"it's","start":361.82733,"end":362.06735},{"word":"like,","start":362.06735,"end":362.58734},{"word":"if","start":362.58734,"end":362.82733},{"word":"the","start":362.82733,"end":363.22736},{"word":"pie","start":363.22736,"end":364.16736},{"word":"is","start":364.16736,"end":364.36734},{"word":"fixed,","start":364.36734,"end":365.32733},{"word":"then","start":365.32733,"end":365.42734},{"word":"the","start":365.42734,"end":365.52734},{"word":"only","start":365.08734,"end":365.66736},{"word":"way","start":365.66736,"end":365.84735},{"word":"to","start":365.84735,"end":366.02734},{"word":"have","start":366.02734,"end":366.52734},{"word":"more","start":366.52734,"end":366.96735},{"word":"pie","start":366.96735,"end":367.24734},{"word":"is","start":367.24734,"end":367.44733},{"word":"to","start":367.44733,"end":367.58734},{"word":"take","start":367.58734,"end":367.74734},{"word":"someone","start":367.74734,"end":367.94733},{"word":"else's","start":367.94733,"end":368.18735},{"word":"pie.","start":368.18735,"end":369.44733},{"word":"But","start":369.44733,"end":369.62735},{"word":"this","start":369.62735,"end":370.18735},{"word":"is","start":370.18735,"end":370.32733},{"word":"false.","start":370.32733,"end":370.80734},{"word":"Like","start":370.80734,"end":370.96735},{"word":"obviously","start":370.96735,"end":371.16736},{"word":"the","start":370.70734,"end":371.34735},{"word":"pie","start":371.34735,"end":371.48734},{"word":"has","start":371.48734,"end":371.68735},{"word":"grown","start":371.68735,"end":371.88733},{"word":"dramatically","start":371.88733,"end":372.34735},{"word":"over","start":372.19104,"end":372.45102},{"word":"time,","start":372.45102,"end":373.15103},{"word":"the","start":372.37103,"end":372.83102},{"word":"economic","start":372.83102,"end":373.21103},{"word":"pie.","start":373.21103,"end":373.43103},{"word":"So","start":374.21103,"end":374.93103},{"word":"in","start":374.93103,"end":375.83102},{"word":"reality,","start":375.83102,"end":376.73102},{"word":"you","start":376.73102,"end":376.75104},{"word":"can","start":376.75104,"end":376.93103},{"word":"have...","start":376.93103,"end":377.65103},{"word":"I","start":379.61102,"end":379.71103},{"word":"overused","start":379.71103,"end":380.65103},{"word":"this","start":380.65103,"end":380.81104},{"word":"analogy.","start":380.81104,"end":381.57104},{"word":"We","start":380.73102,"end":381.27103},{"word":"can","start":381.27103,"end":381.41104},{"word":"have","start":381.41104,"end":381.47104},{"word":"a","start":381.47104,"end":381.95102},{"word":"lot","start":381.95102,"end":382.09103},{"word":"of...","start":382.09103,"end":382.31104},{"word":"There's","start":381.87103,"end":382.99103},{"word":"a","start":382.99103,"end":383.45102},{"word":"lot","start":383.45102,"end":383.59103},{"word":"of","start":383.59103,"end":383.67102},{"word":"pie.","start":383.67102,"end":383.87103},{"word":"Pie","start":386.09103,"end":386.37103},{"word":"is","start":386.37103,"end":386.65103},{"word":"not","start":386.65103,"end":386.79105},{"word":"fixed.","start":386.79105,"end":387.63104},{"word":"So","start":388.91104,"end":389.15103},{"word":"you","start":389.15103,"end":389.93103},{"word":"really","start":389.93103,"end":390.19104},{"word":"want","start":390.19104,"end":390.29105},{"word":"to","start":390.29105,"end":390.33102},{"word":"make","start":390.33102,"end":390.47104},{"word":"sure","start":390.47104,"end":390.61102},{"word":"you're","start":390.11102,"end":391.11102},{"word":"not","start":391.11102,"end":391.19104},{"word":"operating","start":391.19104,"end":391.51105},{"word":"without","start":391.51105,"end":393.23102},{"word":"realizing","start":393.23102,"end":393.65103},{"word":"it","start":393.65103,"end":393.87103},{"word":"from","start":393.39102,"end":394.13104},{"word":"a","start":394.13104,"end":394.29105},{"word":"zero-sum","start":394.29105,"end":394.59103},{"word":"mindset,","start":394.59103,"end":395.03104},{"word":"where","start":395.77103,"end":396.61102},{"word":"the","start":396.61102,"end":396.73102},{"word":"only","start":396.73102,"end":396.91104},{"word":"way","start":396.91104,"end":397.01105},{"word":"to","start":397.01105,"end":397.13104},{"word":"get","start":397.13104,"end":397.25104},{"word":"ahead","start":397.25104,"end":397.39102},{"word":"is","start":396.89102,"end":397.51105},{"word":"to","start":397.51105,"end":397.61102},{"word":"take","start":397.61102,"end":397.75104},{"word":"things","start":397.75104,"end":397.93103},{"word":"from","start":397.93103,"end":398.07104},{"word":"others.","start":398.07104,"end":398.75104},{"word":"then","start":398.27103,"end":398.45102},{"word":"that's","start":398.45102,"end":398.69104},{"word":"going","start":398.69104,"end":398.77103},{"word":"to","start":398.77103,"end":398.85104},{"word":"result","start":398.85104,"end":399.07104},{"word":"in","start":399.07104,"end":399.21103},{"word":"you","start":399.21103,"end":399.31104},{"word":"trying","start":399.31104,"end":399.73102},{"word":"to","start":399.73102,"end":399.83102},{"word":"take","start":399.83102,"end":400.01105},{"word":"things","start":400.01105,"end":400.17102},{"word":"from","start":400.17102,"end":400.31104},{"word":"others,","start":400.31104,"end":400.71103},{"word":"which","start":400.65103,"end":400.81104},{"word":"is","start":400.81104,"end":401.05103},{"word":"not","start":401.05103,"end":401.29102},{"word":"good.","start":401.29102,"end":402.41104},{"word":"It's","start":402.03104,"end":402.13104},{"word":"much","start":402.13104,"end":402.29102},{"word":"better","start":402.29102,"end":402.47104},{"word":"to","start":402.47104,"end":402.59103},{"word":"work","start":402.59103,"end":402.81104},{"word":"on","start":402.81104,"end":403.09103},{"word":"adding","start":403.09103,"end":405.43103},{"word":"to","start":405.43103,"end":405.61102},{"word":"the","start":405.61102,"end":405.71103},{"word":"economic","start":405.71103,"end":406.05103},{"word":"pie.","start":406.05103,"end":406.77103},{"word":"You","start":405.79102,"end":406.63104},{"word":"know,","start":406.63104,"end":406.97104},{"word":"so","start":406.97104,"end":407.33102},{"word":"creating,","start":407.33102,"end":410.77103},{"word":"like","start":410.77103,"end":412.39102},{"word":"I","start":412.39102,"end":412.45105},{"word":"said,","start":412.45105,"end":412.61102},{"word":"creating","start":412.61102,"end":413.03104},{"word":"more","start":413.03104,"end":413.25104},{"word":"than","start":413.25104,"end":413.39102},{"word":"you","start":413.39102,"end":413.49103},{"word":"consume,","start":413.49103,"end":413.81104},{"word":"doing","start":414.73102,"end":414.97104},{"word":"more","start":414.97104,"end":415.15103},{"word":"than","start":415.15103,"end":415.25104},{"word":"you,","start":415.25104,"end":415.53104},{"word":"yeah.","start":415.53104,"end":416.21103},{"word":"So","start":417.65103,"end":417.99103},{"word":"that's","start":417.99103,"end":418.43103},{"word":"a","start":418.43103,"end":418.51105},{"word":"big","start":418.51105,"end":418.63104},{"word":"deal.","start":418.63104,"end":419.35104},{"word":"I","start":419.41104,"end":419.51105},{"word":"think","start":419.51105,"end":419.63104},{"word":"there's","start":419.63104,"end":419.81104},{"word":"like","start":419.81104,"end":420.03104},{"word":"a","start":420.03104,"end":420.77103},{"word":"fair","start":420.77103,"end":420.97104},{"word":"number","start":420.97104,"end":421.09103},{"word":"of","start":421.09103,"end":421.17102},{"word":"people","start":421.17102,"end":421.43103},{"word":"in","start":421.43103,"end":422.89102},{"word":"finance","start":422.89102,"end":423.31104},{"word":"that","start":422.83102,"end":424.57104},{"word":"do","start":424.57104,"end":425.17102},{"word":"have","start":425.17102,"end":425.33102},{"word":"a","start":425.33102,"end":425.51105},{"word":"bit","start":425.51105,"end":425.55103},{"word":"of","start":425.55103,"end":425.67102},{"word":"a","start":425.67102,"end":425.91104},{"word":"zero-sum","start":425.91104,"end":426.19104},{"word":"mindset.","start":426.19104,"end":426.53104},{"word":"I","start":426.53104,"end":427.45105},{"word":"mean,","start":427.45105,"end":427.63104},{"word":"it's","start":427.63104,"end":427.87103},{"word":"all","start":427.87103,"end":428.01105},{"word":"walks","start":428.01105,"end":428.33102},{"word":"of","start":428.33102,"end":428.47104},{"word":"life.","start":428.47104,"end":429.11102},{"word":"I've","start":429.11102,"end":429.33102},{"word":"seen","start":429.33102,"end":429.51105},{"word":"that.","start":429.51105,"end":430.43103},{"word":"One","start":430.43103,"end":430.45105},{"word":"of","start":430.45105,"end":430.57104},{"word":"the","start":430.57104,"end":431.15103},{"word":"reasons","start":431.15103,"end":431.41104},{"word":"Rogan","start":431.41104,"end":433.53104},{"word":"inspires","start":433.53104,"end":434.23102},{"word":"me","start":434.23102,"end":434.49103},{"word":"is","start":434.49103,"end":434.67102},{"word":"he","start":434.67102,"end":434.91104},{"word":"celebrates","start":434.91104,"end":435.45105},{"word":"others","start":435.45105,"end":435.73102},{"word":"a","start":435.73102,"end":435.89102},{"word":"lot.","start":435.89102,"end":436.55103},{"word":"There's","start":436.55103,"end":436.69104},{"word":"not","start":436.69104,"end":437.41104},{"word":"creating","start":437.41104,"end":438.09103},{"word":"a","start":438.09103,"end":438.29102},{"word":"constant","start":438.29102,"end":438.61102},{"word":"competition.","start":438.61102,"end":439.67102},{"word":"There's","start":439.67102,"end":439.85104},{"word":"a","start":439.85104,"end":439.99103},{"word":"scarcity","start":439.99103,"end":440.35104},{"word":"of","start":440.35104,"end":440.47104},{"word":"resources.","start":440.47104,"end":441.37103},{"word":"What","start":440.89102,"end":441.47104},{"word":"happens","start":441.47104,"end":441.77103},{"word":"when","start":441.77103,"end":441.95105},{"word":"you","start":441.95105,"end":442.07104},{"word":"celebrate","start":442.07104,"end":442.45105},{"word":"others","start":442.45105,"end":442.91104},{"word":"and","start":442.91104,"end":443.35104},{"word":"you","start":443.35104,"end":443.43103},{"word":"promote","start":443.43103,"end":443.77103},{"word":"others,","start":443.77103,"end":445.05103},{"word":"the","start":445.05103,"end":445.09103},{"word":"ideas","start":445.09103,"end":445.43103},{"word":"of","start":445.43103,"end":445.65103},{"word":"others,","start":445.65103,"end":446.93103},{"word":"it","start":446.93103,"end":446.95105},{"word":"actually","start":446.95105,"end":448.09103},{"word":"grows","start":448.09103,"end":448.43103},{"word":"that","start":448.43103,"end":448.69104},{"word":"pie.","start":448.69104,"end":449.41104},{"word":"I","start":448.63104,"end":449.11102},{"word":"mean,","start":449.11102,"end":449.97104},{"word":"the","start":449.97104,"end":450.69104},{"word":"resources","start":450.69104,"end":453.03104},{"word":"become","start":453.03104,"end":453.39102},{"word":"less","start":453.39102,"end":453.65103},{"word":"scarce.","start":453.65103,"end":454.51105},{"word":"And","start":454.71103,"end":454.91104},{"word":"that","start":454.91104,"end":455.33102},{"word":"applies","start":455.33102,"end":455.69104},{"word":"in","start":455.69104,"end":455.83102},{"word":"a","start":455.83102,"end":455.93103},{"word":"lot","start":455.93103,"end":456.07104},{"word":"of","start":456.07104,"end":456.15103},{"word":"kinds","start":456.15103,"end":456.37103},{"word":"of","start":456.37103,"end":456.43103},{"word":"domains.","start":456.43103,"end":457.17102},{"word":"It","start":456.81104,"end":456.87103},{"word":"applies","start":456.87103,"end":457.11102},{"word":"in","start":457.11102,"end":457.27103},{"word":"academia","start":457.27103,"end":457.77103},{"word":"where","start":457.77103,"end":457.97104},{"word":"a","start":457.97104,"end":458.05103},{"word":"lot","start":458.05103,"end":458.21103},{"word":"of","start":458.21103,"end":458.27103},{"word":"people","start":458.27103,"end":458.59103},{"word":"see","start":458.59103,"end":460.11102},{"word":"some","start":460.11102,"end":460.49103},{"word":"funding","start":460.49103,"end":460.99103},{"word":"for","start":460.99103,"end":461.25104},{"word":"academic","start":461.25104,"end":461.65103},{"word":"research","start":461.65103,"end":462.15103},{"word":"is","start":462.15103,"end":462.31104},{"word":"zero","start":462.31104,"end":462.61102},{"word":"sum.","start":462.61102,"end":463.29102},{"word":"It","start":463.29102,"end":463.61102},{"word":"is","start":463.61102,"end":463.79102},{"word":"not.","start":463.79102,"end":464.51105},{"word":"If","start":464.03104,"end":464.23102},{"word":"you","start":464.23102,"end":464.33102},{"word":"celebrate","start":464.33102,"end":464.67102},{"word":"each","start":464.67102,"end":464.93103},{"word":"other,","start":464.93103,"end":465.29102},{"word":"if","start":465.29102,"end":465.33102},{"word":"you","start":465.33102,"end":465.41104},{"word":"get","start":465.41104,"end":466.47104},{"word":"everybody","start":466.47104,"end":466.79102},{"word":"to","start":466.79102,"end":466.93103},{"word":"be","start":466.93103,"end":467.05103},{"word":"excited","start":467.05103,"end":467.41104},{"word":"about","start":467.41104,"end":467.59103},{"word":"AI,","start":467.59103,"end":468.21103},{"word":"about","start":468.21103,"end":468.23102},{"word":"physics,","start":468.23102,"end":468.89102},{"word":"about","start":468.89102,"end":468.99103},{"word":"mathematics,","start":468.99103,"end":470.47104},{"word":"I","start":470.47104,"end":470.49103},{"word":"think","start":470.49103,"end":470.77103},{"word":"there'd","start":470.77103,"end":471.13104},{"word":"be","start":471.13104,"end":471.29102},{"word":"more","start":471.29102,"end":471.61102},{"word":"and","start":471.61102,"end":471.63104},{"word":"more","start":471.63104,"end":471.75104},{"word":"funding,","start":471.75104,"end":472.17102},{"word":"and","start":472.17102,"end":472.51105},{"word":"I","start":472.51105,"end":472.65103},{"word":"think","start":472.65103,"end":472.81104},{"word":"everybody","start":472.81104,"end":473.07104},{"word":"wins.","start":473.07104,"end":473.89102},{"word":"Yeah,","start":473.97104,"end":474.11102},{"word":"that","start":474.11102,"end":474.31104},{"word":"applies,","start":474.31104,"end":474.73102},{"word":"I","start":474.73102,"end":474.81104},{"word":"think,","start":474.81104,"end":474.95105},{"word":"broadly.","start":474.95105,"end":475.33102},{"word":"Yeah,","start":476.71103,"end":477.19104},{"word":"yeah,","start":477.19104,"end":477.65103},{"word":"exactly.","start":477.65103,"end":478.51105},{"word":"you","start":494.15103,"end":494.23102}],"segments":null,"x_groq":{"id":"req_01jre0hw8pfwmrarm51qc4n4z3"}}}],"Generate Highlights":[{"json":{"output":[{"transcript":"You give a lot of people hope, and a lot of people look up to you, millions of people look up to you.","start_index":6,"end_index":28},{"transcript":"If we think about young people in high school, maybe in college, what advice would you give to them about, if they want to try to do something big in this world, they want to really have a big positive impact?","start_index":29,"end_index":69},{"transcript":"Try to be useful. You do things that are useful to your fellow human beings to the world. It's very hard to be useful. Very hard.","start_index":84,"end_index":108},{"transcript":"I would encourage people to read a lot of books. Basically try to ingest as much information as you can and try to also just develop a good general knowledge.","start_index":330,"end_index":358},{"transcript":"Try to learn a little bit about a lot of things because you might not know what you're really interested in.","start_index":374,"end_index":403},{"transcript":"Find something where there's an overlap of your talents and what you're interested in.","start_index":492,"end_index":505},{"transcript":"Have a grow the pie mindset. If you have a zero-sum mindset, the only way to get ahead is by taking things from others.","start_index":739,"end_index":848},{"transcript":"You really want to make sure you're not operating without realizing it from a zero-sum mindset.","start_index":928,"end_index":940}]}}],"Random String":[{"json":{"Random String":"q99ob6405h"}}],"FFmpeg Concate Video":[{"json":{"exitCode":0,"stderr":"ffmpeg version 6.1.2 Copyright (c) 2000-2024 the FFmpeg developers\n  built with gcc 14.2.0 (Alpine 14.2.0)\n  configuration: --prefix=/usr --disable-librtmp --disable-lzma --disable-static --disable-stripping --enable-avfilter --enable-gpl --enable-ladspa --enable-libaom --enable-libass --enable-libbluray --enable-libdav1d --enable-libdrm --enable-libfontconfig --enable-libfreetype --enable-libfribidi --enable-libharfbuzz --enable-libmp3lame --enable-libopenmpt --enable-libopus --enable-libplacebo --enable-libpulse --enable-librav1e --enable-librist --enable-libsoxr --enable-libsrt --enable-libssh --enable-libtheora --enable-libv4l2 --enable-libvidstab --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxcb --enable-libxml2 --enable-libxvid --enable-libzimg --enable-libzmq --enable-lto=auto --enable-lv2 --enable-openssl --enable-pic --enable-postproc --enable-pthreads --enable-shared --enable-vaapi --enable-vdpau --enable-version3 --enable-vulkan --optflags=-O3 --enable-libjxl --enable-libsvtav1 --enable-libvpl\n  libavutil      58. 29.100 / 58. 29.100\n  libavcodec     60. 31.102 / 60. 31.102\n  libavformat    60. 16.100 / 60. 16.100\n  libavdevice    60.  3.100 / 60.  3.100\n  libavfilter     9. 12.100 /  9. 12.100\n  libswscale      7.  5.100 /  7.  5.100\n  libswresample   4. 12.100 /  4. 12.100\n  libpostproc    57.  3.100 / 57.  3.100\n[libdav1d @ 0x71d4f4277940] libdav1d 1.5.0\nInput #0, mov,mp4,m4a,3gp,3g2,mj2, from 'podcast.mp4':\n  Metadata:\n    major_brand     : isom\n    minor_version   : 512\n    compatible_brands: isomav01iso2mp41\n    encoder         : Lavf60.16.100\n  Duration: 00:08:18.46, start: 0.000000, bitrate: 438 kb/s\n  Stream #0:0[0x1](und): Video: av1 (Main) (av01 / 0x31307661), yuv420p(tv, bt709), 1920x1080, 303 kb/s, 30 fps, 30 tbr, 15360 tbn (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n  Stream #0:1[0x2](und): Audio: aac (LC) (mp4a / 0x6134706D), 44100 Hz, stereo, fltp, 127 kb/s (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n[libdav1d @ 0x71d4f2e1f8c0] libdav1d 1.5.0\nStream mapping:\n  Stream #0:0 -> #0:0 (av1 (libdav1d) -> h264 (libx264))\n  Stream #0:1 -> #0:1 (aac (native) -> aac (native))\nPress [q] to stop, [?] for help\n[libx264 @ 0x71d4f2ce8980] using SAR=1/1\n[libx264 @ 0x71d4f2ce8980] using cpu capabilities: MMX2 SSE2Fast SSSE3 SSE4.2 AVX FMA3 BMI2 AVX2\n[libx264 @ 0x71d4f2ce8980] profile High, level 4.0, 4:2:0, 8-bit\n[libx264 @ 0x71d4f2ce8980] 264 - core 164 r3108 - H.264/MPEG-4 AVC codec - Copyleft 2003-2023 - http://www.videolan.org/x264.html - options: cabac=1 ref=3 deblock=1:0:0 analyse=0x3:0x113 me=hex subme=7 psy=1 psy_rd=1.00:0.00 mixed_ref=1 me_range=16 chroma_me=1 trellis=1 8x8dct=1 cqm=0 deadzone=21,11 fast_pskip=1 chroma_qp_offset=-2 threads=3 lookahead_threads=1 sliced_threads=0 nr=0 decimate=1 interlaced=0 bluray_compat=0 constrained_intra=0 bframes=3 b_pyramid=2 b_adapt=1 b_bias=0 direct=1 weightb=1 open_gop=0 weightp=2 keyint=250 keyint_min=25 scenecut=40 intra_refresh=0 rc_lookahead=40 rc=crf mbtree=1 crf=23.0 qcomp=0.60 qpmin=0 qpmax=69 qpstep=4 ip_ratio=1.40 aq=1:1.00\nOutput #0, mp4, to 'segment_q99ob6405h.mp4':\n  Metadata:\n    major_brand     : isom\n    minor_version   : 512\n    compatible_brands: isomav01iso2mp41\n    encoder         : Lavf60.16.100\n  Stream #0:0(und): Video: h264 (avc1 / 0x31637661), yuv420p(tv, bt709, progressive), 1920x1080 [SAR 1:1 DAR 16:9], q=2-31, 30 fps, 15360 tbn (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 libx264\n    Side data:\n      cpb: bitrate max/min/avg: 0/0/0 buffer size: 0 vbv_delay: N/A\n  Stream #0:1(und): Audio: aac (LC) (mp4a / 0x6134706D), 44100 Hz, stereo, fltp, 128 kb/s (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 aac\nframe=    0 fps=0.0 q=0.0 size=       0kB time=00:00:00.02 bitrate=  16.5kbits/s dup=1 drop=0 speed=0.0195x    \rframe=    0 fps=0.0 q=0.0 size=       0kB time=00:00:00.67 bitrate=   0.6kbits/s dup=1 drop=0 speed=0.398x    \rframe=    0 fps=0.0 q=0.0 size=       0kB time=00:00:01.46 bitrate=   0.3kbits/s dup=1 drop=0 speed=0.644x    \rframe=    0 fps=0.0 q=0.0 size=       0kB time=00:00:01.50 bitrate=   0.3kbits/s dup=1 drop=0 speed=0.505x    \rframe=    2 fps=0.6 q=29.0 size=       0kB time=00:00:01.62 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.455x    \rframe=    6 fps=1.4 q=29.0 size=       0kB time=00:00:01.76 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.404x    \rframe=    9 fps=1.8 q=29.0 size=       0kB time=00:00:01.85 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.373x    \rframe=   13 fps=2.4 q=29.0 size=       0kB time=00:00:01.99 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.365x    \rframe=   17 fps=2.8 q=29.0 size=       0kB time=00:00:02.13 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.357x    \rframe=   22 fps=3.3 q=29.0 size=       0kB time=00:00:02.27 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.341x    \rframe=   25 fps=3.5 q=29.0 size=       0kB time=00:00:02.39 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.333x    \rframe=   30 fps=3.8 q=29.0 size=       0kB time=00:00:02.55 bitrate=   0.2kbits/s dup=1 drop=0 speed=0.325x    \rframe=   35 fps=4.2 q=29.0 size=       0kB time=00:00:02.71 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.324x    \rframe=   39 fps=4.3 q=29.0 size=       0kB time=00:00:02.85 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.318x    \rframe=   41 fps=4.3 q=29.0 size=       0kB time=00:00:02.92 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.309x    \rframe=   45 fps=4.5 q=29.0 size=       0kB time=00:00:03.06 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.307x    \rframe=   49 fps=4.7 q=29.0 size=       0kB time=00:00:03.18 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.303x    \rframe=   51 fps=4.6 q=29.0 size=       0kB time=00:00:03.27 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.296x    \rframe=   55 fps=4.7 q=29.0 size=       0kB time=00:00:03.39 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.293x    \rframe=   57 fps=4.7 q=29.0 size=       0kB time=00:00:03.45 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.286x    \rframe=   61 fps=4.8 q=29.0 size=       0kB time=00:00:03.57 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.282x    \rframe=   65 fps=4.9 q=29.0 size=       0kB time=00:00:03.71 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.28x    \rframe=   69 fps=5.0 q=29.0 size=       0kB time=00:00:03.85 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.279x    \rframe=   73 fps=5.0 q=29.0 size=       0kB time=00:00:03.99 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.274x    \rframe=   76 fps=5.0 q=29.0 size=       0kB time=00:00:04.08 bitrate=   0.1kbits/s dup=1 drop=0 speed=0.268x    \rframe=   80 fps=5.1 q=29.0 size=     256kB time=00:00:04.22 bitrate= 496.3kbits/s dup=1 drop=0 speed=0.268x    \rframe=   84 fps=5.1 q=29.0 size=     256kB time=00:00:04.34 bitrate= 483.1kbits/s dup=1 drop=0 speed=0.265x    \rframe=   88 fps=5.2 q=29.0 size=     256kB time=00:00:04.48 bitrate= 468.0kbits/s dup=1 drop=0 speed=0.264x    \rframe=   92 fps=5.2 q=29.0 size=     256kB time=00:00:04.62 bitrate= 453.9kbits/s dup=1 drop=0 speed=0.263x    \rframe=   96 fps=5.3 q=29.0 size=     256kB time=00:00:04.76 bitrate= 440.7kbits/s dup=1 drop=0 speed=0.262x    \rframe=   99 fps=5.3 q=29.0 size=     256kB time=00:00:04.85 bitrate= 432.2kbits/s dup=1 drop=0 speed=0.26x    \rframe=  104 fps=5.4 q=29.0 size=     256kB time=00:00:05.01 bitrate= 418.2kbits/s dup=1 drop=0 speed=0.26x    \rframe=  108 fps=5.4 q=29.0 size=     256kB time=00:00:05.15 bitrate= 406.9kbits/s dup=1 drop=0 speed=0.257x    \rframe=  110 fps=5.3 q=29.0 size=     256kB time=00:00:05.22 bitrate= 401.5kbits/s dup=1 drop=0 speed=0.253x    \rframe=  113 fps=5.3 q=29.0 size=     256kB time=00:00:05.31 bitrate= 394.5kbits/s dup=1 drop=0 speed=0.25x    \rframe=  116 fps=5.3 q=29.0 size=     256kB time=00:00:05.41 bitrate= 387.7kbits/s dup=1 drop=0 speed=0.247x    \rframe=  119 fps=5.3 q=29.0 size=     256kB time=00:00:05.52 bitrate= 379.6kbits/s dup=1 drop=0 speed=0.246x    \rframe=  122 fps=5.3 q=29.0 size=     256kB time=00:00:05.61 bitrate= 373.3kbits/s dup=1 drop=0 speed=0.243x    \rframe=  125 fps=5.3 q=29.0 size=     256kB time=00:00:05.66 bitrate= 370.2kbits/s dup=1 drop=0 speed=0.239x    \r[out#0/mp4 @ 0x71d4f857d680] video:436kB audio:95kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 1.430749%\nframe=  173 fps=5.9 q=-1.0 Lsize=     538kB time=00:00:05.73 bitrate= 768.6kbits/s dup=1 drop=0 speed=0.197x    \n[libx264 @ 0x71d4f2ce8980] frame I:1     Avg QP:15.91  size: 33660\n[libx264 @ 0x71d4f2ce8980] frame P:44    Avg QP:18.37  size:  5859\n[libx264 @ 0x71d4f2ce8980] frame B:128   Avg QP:21.69  size:  1205\n[libx264 @ 0x71d4f2ce8980] consecutive B-frames:  0.6%  2.3%  0.0% 97.1%\n[libx264 @ 0x71d4f2ce8980] mb I  I16..4: 10.8% 81.3%  8.0%\n[libx264 @ 0x71d4f2ce8980] mb P  I16..4:  1.3%  3.3%  0.1%  P16..4: 13.8%  2.8%  1.1%  0.0%  0.0%    skip:77.4%\n[libx264 @ 0x71d4f2ce8980] mb B  I16..4:  0.0%  0.0%  0.0%  B16..8: 11.4%  0.2%  0.0%  direct: 0.2%  skip:88.1%  L0:43.8% L1:55.5% BI: 0.7%\n[libx264 @ 0x71d4f2ce8980] 8x8 transform intra:73.2% inter:86.7%\n[libx264 @ 0x71d4f2ce8980] coded y,uvDC,uvAC intra: 15.2% 15.8% 3.0% inter: 1.0% 1.1% 0.0%\n[libx264 @ 0x71d4f2ce8980] i16 v,h,dc,p: 64% 15%  4% 17%\n[libx264 @ 0x71d4f2ce8980] i8 v,h,dc,ddl,ddr,vr,hd,vl,hu: 38% 11% 36%  2%  3%  3%  3%  3%  1%\n[libx264 @ 0x71d4f2ce8980] i4 v,h,dc,ddl,ddr,vr,hd,vl,hu: 37% 21% 13%  4%  5%  4% 10%  4%  2%\n[libx264 @ 0x71d4f2ce8980] i8c dc,h,v,p: 76%  9% 13%  2%\n[libx264 @ 0x71d4f2ce8980] Weighted P-Frames: Y:0.0% UV:0.0%\n[libx264 @ 0x71d4f2ce8980] ref P L0: 70.2%  6.9% 17.5%  5.4%\n[libx264 @ 0x71d4f2ce8980] ref B L0: 75.8% 22.7%  1.6%\n[libx264 @ 0x71d4f2ce8980] ref B L1: 95.3%  4.7%\n[libx264 @ 0x71d4f2ce8980] kb/s:618.29\n[aac @ 0x71d4f298c8c0] Qavg: 721.867","stdout":""}}],"Update List":[{"json":{"exitCode":0,"stderr":"","stdout":""}}],"Concate Video":[{"json":{"exitCode":0,"stderr":"ffmpeg version 6.1.2 Copyright (c) 2000-2024 the FFmpeg developers\n  built with gcc 14.2.0 (Alpine 14.2.0)\n  configuration: --prefix=/usr --disable-librtmp --disable-lzma --disable-static --disable-stripping --enable-avfilter --enable-gpl --enable-ladspa --enable-libaom --enable-libass --enable-libbluray --enable-libdav1d --enable-libdrm --enable-libfontconfig --enable-libfreetype --enable-libfribidi --enable-libharfbuzz --enable-libmp3lame --enable-libopenmpt --enable-libopus --enable-libplacebo --enable-libpulse --enable-librav1e --enable-librist --enable-libsoxr --enable-libsrt --enable-libssh --enable-libtheora --enable-libv4l2 --enable-libvidstab --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxcb --enable-libxml2 --enable-libxvid --enable-libzimg --enable-libzmq --enable-lto=auto --enable-lv2 --enable-openssl --enable-pic --enable-postproc --enable-pthreads --enable-shared --enable-vaapi --enable-vdpau --enable-version3 --enable-vulkan --optflags=-O3 --enable-libjxl --enable-libsvtav1 --enable-libvpl\n  libavutil      58. 29.100 / 58. 29.100\n  libavcodec     60. 31.102 / 60. 31.102\n  libavformat    60. 16.100 / 60. 16.100\n  libavdevice    60.  3.100 / 60.  3.100\n  libavfilter     9. 12.100 /  9. 12.100\n  libswscale      7.  5.100 /  7.  5.100\n  libswresample   4. 12.100 /  4. 12.100\n  libpostproc    57.  3.100 / 57.  3.100\n[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726599368800] Auto-inserting h264_mp4toannexb bitstream filter\nInput #0, concat, from 'list.txt':\n  Duration: N/A, start: -0.023220, bitrate: 678 kb/s\n  Stream #0:0(und): Video: h264 (High) (avc1 / 0x31637661), yuv420p(tv, bt709, progressive), 1920x1080 [SAR 1:1 DAR 16:9], 541 kb/s, 30 fps, 30 tbr, 15360 tbn\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 libx264\n  Stream #0:1(und): Audio: aac (LC) (mp4a / 0x6134706D), 44100 Hz, stereo, fltp, 137 kb/s\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\nOutput #0, mp4, to 'upper.mp4':\n  Metadata:\n    encoder         : Lavf60.16.100\n  Stream #0:0(und): Video: h264 (High) (avc1 / 0x31637661), yuv420p(tv, bt709, progressive), 1920x1080 [SAR 1:1 DAR 16:9], q=2-31, 541 kb/s, 30 fps, 30 tbr, 15360 tbn\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 libx264\n  Stream #0:1(und): Audio: aac (LC) (mp4a / 0x6134706D), 44100 Hz, stereo, fltp, 137 kb/s\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\nStream mapping:\n  Stream #0:0 -> #0:0 (copy)\n  Stream #0:1 -> #0:1 (copy)\nPress [q] to stop, [?] for help\nsize=       0kB time=-00:00:00.04 bitrate=  -0.0kbits/s speed=N/A    \r[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726593e5f700] Auto-inserting h264_mp4toannexb bitstream filter\n[mp4 @ 0x726599368d40] Non-monotonic DTS in output stream 0:1; previous: 194560, current: 194040; changing to 194561. This may result in incorrect timestamps in the output file.\n[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726599368800] Auto-inserting h264_mp4toannexb bitstream filter\n[mp4 @ 0x726599368d40] Non-monotonic DTS in output stream 0:1; previous: 797176, current: 796740; changing to 797177. This may result in incorrect timestamps in the output file.\nsize=    2048kB time=00:00:27.08 bitrate= 619.3kbits/s speed=47.9x    \r[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726599368800] Auto-inserting h264_mp4toannexb bitstream filter\n[mov,mp4,m4a,3gp,3g2,mj2 @ 0x72659408f340] Auto-inserting h264_mp4toannexb bitstream filter\nsize=    4096kB time=00:00:50.55 bitrate= 663.7kbits/s speed=47.4x    \r[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726599368800] Auto-inserting h264_mp4toannexb bitstream filter\n[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726598e348c0] Auto-inserting h264_mp4toannexb bitstream filter\nsize=    6144kB time=00:01:14.80 bitrate= 672.8kbits/s speed=47.8x    \r[mov,mp4,m4a,3gp,3g2,mj2 @ 0x726598e34600] Auto-inserting h264_mp4toannexb bitstream filter\n[out#0/mp4 @ 0x726597561280] video:7099kB audio:1708kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 1.252658%\nsize=    8918kB time=00:01:42.55 bitrate= 712.3kbits/s speed=51.9x","stdout":""}}],"Extract Audio":[{"json":{"exitCode":0,"stderr":"ffmpeg version 6.1.2 Copyright (c) 2000-2024 the FFmpeg developers\n  built with gcc 14.2.0 (Alpine 14.2.0)\n  configuration: --prefix=/usr --disable-librtmp --disable-lzma --disable-static --disable-stripping --enable-avfilter --enable-gpl --enable-ladspa --enable-libaom --enable-libass --enable-libbluray --enable-libdav1d --enable-libdrm --enable-libfontconfig --enable-libfreetype --enable-libfribidi --enable-libharfbuzz --enable-libmp3lame --enable-libopenmpt --enable-libopus --enable-libplacebo --enable-libpulse --enable-librav1e --enable-librist --enable-libsoxr --enable-libsrt --enable-libssh --enable-libtheora --enable-libv4l2 --enable-libvidstab --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxcb --enable-libxml2 --enable-libxvid --enable-libzimg --enable-libzmq --enable-lto=auto --enable-lv2 --enable-openssl --enable-pic --enable-postproc --enable-pthreads --enable-shared --enable-vaapi --enable-vdpau --enable-version3 --enable-vulkan --optflags=-O3 --enable-libjxl --enable-libsvtav1 --enable-libvpl\n  libavutil      58. 29.100 / 58. 29.100\n  libavcodec     60. 31.102 / 60. 31.102\n  libavformat    60. 16.100 / 60. 16.100\n  libavdevice    60.  3.100 / 60.  3.100\n  libavfilter     9. 12.100 /  9. 12.100\n  libswscale      7.  5.100 /  7.  5.100\n  libswresample   4. 12.100 /  4. 12.100\n  libpostproc    57.  3.100 / 57.  3.100\nInput #0, mov,mp4,m4a,3gp,3g2,mj2, from 'upper.mp4':\n  Metadata:\n    major_brand     : isom\n    minor_version   : 512\n    compatible_brands: isomiso2avc1mp41\n    encoder         : Lavf60.16.100\n  Duration: 00:01:42.59, start: 0.000000, bitrate: 712 kb/s\n  Stream #0:0[0x1](und): Video: h264 (High) (avc1 / 0x31637661), yuv420p(tv, bt709, progressive), 1920x1080 [SAR 1:1 DAR 16:9], 567 kb/s, 30 fps, 30 tbr, 15360 tbn (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 libx264\n  Stream #0:1[0x2](und): Audio: aac (LC) (mp4a / 0x6134706D), 44100 Hz, stereo, fltp, 136 kb/s (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\nStream mapping:\n  Stream #0:1 -> #0:0 (aac (native) -> mp3 (libmp3lame))\nPress [q] to stop, [?] for help\nOutput #0, mp3, to 'audio.mp3':\n  Metadata:\n    major_brand     : isom\n    minor_version   : 512\n    compatible_brands: isomiso2avc1mp41\n    TSSE            : Lavf60.16.100\n  Stream #0:0(und): Audio: mp3, 44100 Hz, stereo, fltp (default)\n    Metadata:\n      handler_name    : ISO Media file produced by Google Inc.\n      vendor_id       : [0][0][0][0]\n      encoder         : Lavc60.31.102 libmp3lame\nsize=       0kB time=N/A bitrate=N/A speed=N/A    \rsize=     183kB time=00:00:05.53 bitrate= 270.7kbits/s speed=  11x    \rsize=     256kB time=00:00:11.77 bitrate= 178.1kbits/s speed=11.8x    \rsize=     512kB time=00:00:18.09 bitrate= 231.8kbits/s speed=12.1x    \rsize=     512kB time=00:00:24.07 bitrate= 174.3kbits/s speed=  12x    \rsize=     768kB time=00:00:29.60 bitrate= 212.5kbits/s speed=11.8x    \rsize=    1024kB time=00:00:35.49 bitrate= 236.3kbits/s speed=11.8x    \rsize=    1024kB time=00:00:41.87 bitrate= 200.3kbits/s speed=  12x    \rsize=    1280kB time=00:00:48.05 bitrate= 218.2kbits/s speed=  12x    \rsize=    1536kB time=00:00:54.25 bitrate= 231.9kbits/s speed=  12x    \rsize=    1792kB time=00:00:59.88 bitrate= 245.2kbits/s speed=  12x    \rsize=    1792kB time=00:01:05.62 bitrate= 223.7kbits/s speed=11.9x    \rsize=    2048kB time=00:01:11.58 bitrate= 234.4kbits/s speed=11.9x    \rsize=    2304kB time=00:01:17.22 bitrate= 244.4kbits/s speed=11.9x    \rsize=    2304kB time=00:01:23.07 bitrate= 227.2kbits/s speed=11.8x    \rsize=    2560kB time=00:01:29.32 bitrate= 234.8kbits/s speed=11.9x    \rsize=    2816kB time=00:01:35.53 bitrate= 241.5kbits/s speed=11.9x    \rsize=    2816kB time=00:01:41.16 bitrate= 228.0kbits/s speed=11.9x    \r[out#0/mp3 @ 0x7d0097f5d680] video:0kB audio:3120kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 0.011144%\nsize=    3120kB time=00:01:42.57 bitrate= 249.2kbits/s speed=11.9x","stdout":""}}],"Download Gameplay":[{"json":{"exitCode":0,"stderr":"","stdout":"[youtube] Extracting URL: https://www.youtube.com/watch?v=AsetdKZN11o\n[youtube] AsetdKZN11o: Downloading webpage\n[youtube] AsetdKZN11o: Downloading tv client config\n[youtube] AsetdKZN11o: Downloading player 9599b765-main\n[youtube] AsetdKZN11o: Downloading tv player API JSON\n[info] AsetdKZN11o: Downloading 1 format(s): 299+140\n[download] Destination: gameplay.f299.mp4\n\r[download]   0.0% of  127.87MiB at  422.69KiB/s ETA 05:11\r[download]   0.0% of  127.87MiB at  906.68KiB/s ETA 02:24\r[download]   0.0% of  127.87MiB at    1.78MiB/s ETA 01:11\r[download]   0.0% of  127.87MiB at    3.35MiB/s ETA 00:38\r[download]   0.0% of  127.87MiB at    6.07MiB/s ETA 00:21\r[download]   0.0% of  127.87MiB at    5.10MiB/s ETA 00:25\r[download]   0.1% of  127.87MiB at    4.54MiB/s ETA 00:28\r[download]   0.2% of  127.87MiB at    6.35MiB/s ETA 00:20\r[download]   0.4% of  127.87MiB at    9.28MiB/s ETA 00:13\r[download]   0.8% of  127.87MiB at   14.53MiB/s ETA 00:08\r[download]   1.6% of  127.87MiB at   23.28MiB/s ETA 00:05\r[download]   3.1% of  127.87MiB at   37.76MiB/s ETA 00:03\r[download]   6.3% of  127.87MiB at    9.99MiB/s ETA 00:12\r[download]   7.8% of  127.87MiB at    8.68MiB/s ETA 00:13\r[download]   7.8% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]   7.8% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]   7.8% of  127.87MiB at    5.93MiB/s ETA 00:20  \r[download]   7.8% of  127.87MiB at    8.60MiB/s ETA 00:13\r[download]   7.8% of  127.87MiB at   13.53MiB/s ETA 00:08\r[download]   7.8% of  127.87MiB at    3.78MiB/s ETA 00:31\r[download]   7.9% of  127.87MiB at    3.79MiB/s ETA 00:31\r[download]   8.0% of  127.87MiB at    4.95MiB/s ETA 00:23\r[download]   8.2% of  127.87MiB at    7.45MiB/s ETA 00:15\r[download]   8.6% of  127.87MiB at   11.87MiB/s ETA 00:09\r[download]   9.3% of  127.87MiB at    7.67MiB/s ETA 00:15\r[download]  10.9% of  127.87MiB at    6.77MiB/s ETA 00:16\r[download]  14.0% of  127.87MiB at    6.20MiB/s ETA 00:17\r[download]  15.3% of  127.87MiB at    6.11MiB/s ETA 00:17\r[download]  15.3% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  15.3% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  15.3% of  127.87MiB at    5.03MiB/s ETA 00:21  \r[download]  15.3% of  127.87MiB at    7.58MiB/s ETA 00:14\r[download]  15.3% of  127.87MiB at   12.01MiB/s ETA 00:09\r[download]  15.4% of  127.87MiB at    4.66MiB/s ETA 00:23\r[download]  15.4% of  127.87MiB at    4.75MiB/s ETA 00:22\r[download]  15.5% of  127.87MiB at    6.68MiB/s ETA 00:16\r[download]  15.7% of  127.87MiB at    9.62MiB/s ETA 00:11\r[download]  16.1% of  127.87MiB at    6.46MiB/s ETA 00:16\r[download]  16.9% of  127.87MiB at    6.37MiB/s ETA 00:16\r[download]  18.5% of  127.87MiB at    6.11MiB/s ETA 00:17\r[download]  21.6% of  127.87MiB at    4.69MiB/s ETA 00:21\r[download]  22.9% of  127.87MiB at    5.38MiB/s ETA 00:18\r[download]  22.9% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  22.9% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  22.9% of  127.87MiB at    5.05MiB/s ETA 00:19  \r[download]  22.9% of  127.87MiB at    7.62MiB/s ETA 00:12\r[download]  22.9% of  127.87MiB at   12.12MiB/s ETA 00:08\r[download]  23.0% of  127.87MiB at    4.72MiB/s ETA 00:20\r[download]  23.0% of  127.87MiB at    4.80MiB/s ETA 00:20\r[download]  23.1% of  127.87MiB at    6.55MiB/s ETA 00:15\r[download]  23.3% of  127.87MiB at    9.49MiB/s ETA 00:10\r[download]  23.7% of  127.87MiB at   14.87MiB/s ETA 00:06\r[download]  24.5% of  127.87MiB at    9.05MiB/s ETA 00:10\r[download]  26.0% of  127.87MiB at    8.15MiB/s ETA 00:11\r[download]  29.2% of  127.87MiB at    6.70MiB/s ETA 00:13\r[download]  30.4% of  127.87MiB at    6.53MiB/s ETA 00:13\r[download]  30.4% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  30.4% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  30.4% of  127.87MiB at    5.88MiB/s ETA 00:15  \r[download]  30.4% of  127.87MiB at    8.67MiB/s ETA 00:10\r[download]  30.4% of  127.87MiB at   13.38MiB/s ETA 00:06\r[download]  30.4% of  127.87MiB at    4.87MiB/s ETA 00:18\r[download]  30.5% of  127.87MiB at    5.05MiB/s ETA 00:17\r[download]  30.6% of  127.87MiB at    7.10MiB/s ETA 00:12\r[download]  30.8% of  127.87MiB at   10.33MiB/s ETA 00:08\r[download]  31.2% of  127.87MiB at    6.98MiB/s ETA 00:12\r[download]  31.9% of  127.87MiB at    6.77MiB/s ETA 00:12\r[download]  33.5% of  127.87MiB at    6.18MiB/s ETA 00:13\r[download]  36.6% of  127.87MiB at    5.96MiB/s ETA 00:13\r[download]  38.2% of  127.87MiB at    5.83MiB/s ETA 00:13\r[download]  38.2% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  38.2% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  38.2% of  127.87MiB at    4.35MiB/s ETA 00:18  \r[download]  38.2% of  127.87MiB at    6.78MiB/s ETA 00:11\r[download]  38.2% of  127.87MiB at   10.88MiB/s ETA 00:07\r[download]  38.2% of  127.87MiB at    5.25MiB/s ETA 00:15\r[download]  38.3% of  127.87MiB at    6.54MiB/s ETA 00:12\r[download]  38.4% of  127.87MiB at    8.00MiB/s ETA 00:09\r[download]  38.6% of  127.87MiB at   11.43MiB/s ETA 00:06\r[download]  39.0% of  127.87MiB at   17.90MiB/s ETA 00:04\r[download]  39.7% of  127.87MiB at   27.91MiB/s ETA 00:02\r[download]  41.3% of  127.87MiB at   10.57MiB/s ETA 00:07\r[download]  44.4% of  127.87MiB at    7.48MiB/s ETA 00:09\r[download]  45.6% of  127.87MiB at    7.15MiB/s ETA 00:09\r[download]  45.6% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  45.6% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  45.6% of  127.87MiB at    5.43MiB/s ETA 00:12  \r[download]  45.6% of  127.87MiB at    7.41MiB/s ETA 00:09\r[download]  45.7% of  127.87MiB at   11.92MiB/s ETA 00:05\r[download]  45.7% of  127.87MiB at    5.07MiB/s ETA 00:13\r[download]  45.7% of  127.87MiB at    5.16MiB/s ETA 00:13\r[download]  45.8% of  127.87MiB at    7.07MiB/s ETA 00:09\r[download]  46.0% of  127.87MiB at   10.37MiB/s ETA 00:06\r[download]  46.4% of  127.87MiB at    6.94MiB/s ETA 00:09\r[download]  47.2% of  127.87MiB at    6.59MiB/s ETA 00:10\r[download]  48.8% of  127.87MiB at    6.14MiB/s ETA 00:10\r[download]  51.9% of  127.87MiB at    5.94MiB/s ETA 00:10\r[download]  53.1% of  127.87MiB at    5.87MiB/s ETA 00:10\r[download]  53.1% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  53.1% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  53.1% of  127.87MiB at    5.46MiB/s ETA 00:11  \r[download]  53.1% of  127.87MiB at    8.45MiB/s ETA 00:07\r[download]  53.1% of  127.87MiB at   13.16MiB/s ETA 00:04\r[download]  53.2% of  127.87MiB at    5.21MiB/s ETA 00:11\r[download]  53.2% of  127.87MiB at    5.27MiB/s ETA 00:11\r[download]  53.3% of  127.87MiB at    7.77MiB/s ETA 00:07\r[download]  53.5% of  127.87MiB at   10.95MiB/s ETA 00:05\r[download]  53.9% of  127.87MiB at    6.85MiB/s ETA 00:08\r[download]  54.7% of  127.87MiB at    6.78MiB/s ETA 00:08\r[download]  56.2% of  127.87MiB at    6.23MiB/s ETA 00:08\r[download]  59.4% of  127.87MiB at    5.93MiB/s ETA 00:08\r[download]  60.7% of  127.87MiB at    5.71MiB/s ETA 00:08\r[download]  60.7% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  60.7% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  60.7% of  127.87MiB at    5.77MiB/s ETA 00:08  \r[download]  60.8% of  127.87MiB at    8.77MiB/s ETA 00:05\r[download]  60.8% of  127.87MiB at   13.37MiB/s ETA 00:03\r[download]  60.8% of  127.87MiB at    4.42MiB/s ETA 00:11\r[download]  60.8% of  127.87MiB at    4.63MiB/s ETA 00:10\r[download]  60.9% of  127.87MiB at    6.67MiB/s ETA 00:07\r[download]  61.1% of  127.87MiB at    9.52MiB/s ETA 00:05\r[download]  61.5% of  127.87MiB at   15.09MiB/s ETA 00:03\r[download]  62.3% of  127.87MiB at    7.94MiB/s ETA 00:06\r[download]  63.9% of  127.87MiB at    6.77MiB/s ETA 00:06\r[download]  67.0% of  127.87MiB at    6.20MiB/s ETA 00:06\r[download]  68.3% of  127.87MiB at    6.10MiB/s ETA 00:06\r[download]  68.3% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  68.3% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  68.3% of  127.87MiB at    5.12MiB/s ETA 00:07  \r[download]  68.3% of  127.87MiB at    8.02MiB/s ETA 00:05\r[download]  68.3% of  127.87MiB at   12.57MiB/s ETA 00:03\r[download]  68.3% of  127.87MiB at    3.78MiB/s ETA 00:10\r[download]  68.4% of  127.87MiB at    4.21MiB/s ETA 00:09\r[download]  68.5% of  127.87MiB at    5.63MiB/s ETA 00:07\r[download]  68.7% of  127.87MiB at    8.31MiB/s ETA 00:04\r[download]  69.1% of  127.87MiB at    6.16MiB/s ETA 00:06\r[download]  69.9% of  127.87MiB at    6.75MiB/s ETA 00:05\r[download]  71.4% of  127.87MiB at    6.11MiB/s ETA 00:05\r[download]  74.5% of  127.87MiB at    5.99MiB/s ETA 00:05\r[download]  76.0% of  127.87MiB at    5.95MiB/s ETA 00:05\r[download]  76.0% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  76.0% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  76.0% of  127.87MiB at    5.78MiB/s ETA 00:05  \r[download]  76.0% of  127.87MiB at    8.36MiB/s ETA 00:03\r[download]  76.1% of  127.87MiB at   13.04MiB/s ETA 00:02\r[download]  76.1% of  127.87MiB at    3.98MiB/s ETA 00:07\r[download]  76.1% of  127.87MiB at    4.32MiB/s ETA 00:07\r[download]  76.2% of  127.87MiB at    3.44MiB/s ETA 00:08\r[download]  76.4% of  127.87MiB at    5.66MiB/s ETA 00:05\r[download]  76.8% of  127.87MiB at    6.43MiB/s ETA 00:04\r[download]  77.6% of  127.87MiB at    6.21MiB/s ETA 00:04\r[download]  79.2% of  127.87MiB at    3.09MiB/s ETA 00:08\r[download]  80.8% of  127.87MiB at    4.00MiB/s ETA 00:06\r[download]  83.8% of  127.87MiB at    5.30MiB/s ETA 00:03\r[download]  83.8% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  83.8% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  83.8% of  127.87MiB at    5.08MiB/s ETA 00:04  \r[download]  83.8% of  127.87MiB at    8.00MiB/s ETA 00:02\r[download]  83.8% of  127.87MiB at   12.71MiB/s ETA 00:01\r[download]  83.8% of  127.87MiB at    4.68MiB/s ETA 00:04\r[download]  83.9% of  127.87MiB at    4.76MiB/s ETA 00:04\r[download]  84.0% of  127.87MiB at    6.16MiB/s ETA 00:03\r[download]  84.2% of  127.87MiB at    9.00MiB/s ETA 00:02\r[download]  84.6% of  127.87MiB at   14.45MiB/s ETA 00:01\r[download]  85.4% of  127.87MiB at   20.02MiB/s ETA 00:00\r[download]  86.9% of  127.87MiB at    8.96MiB/s ETA 00:01\r[download]  90.0% of  127.87MiB at    7.00MiB/s ETA 00:01\r[download]  91.6% of  127.87MiB at    6.67MiB/s ETA 00:01\r[download]  91.6% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  91.6% of  127.87MiB at    2.39MiB/s ETA 00:04  \r[download]  91.6% of  127.87MiB at    1.95MiB/s ETA 00:05\r[download]  91.6% of  127.87MiB at    3.10MiB/s ETA 00:03\r[download]  91.6% of  127.87MiB at    5.16MiB/s ETA 00:02\r[download]  91.7% of  127.87MiB at    3.95MiB/s ETA 00:02\r[download]  91.7% of  127.87MiB at    4.44MiB/s ETA 00:02\r[download]  91.8% of  127.87MiB at    6.25MiB/s ETA 00:01\r[download]  92.0% of  127.87MiB at    9.34MiB/s ETA 00:01\r[download]  92.4% of  127.87MiB at    6.69MiB/s ETA 00:01\r[download]  93.2% of  127.87MiB at    6.98MiB/s ETA 00:01\r[download]  94.7% of  127.87MiB at    6.20MiB/s ETA 00:01\r[download]  97.9% of  127.87MiB at    6.01MiB/s ETA 00:00\r[download]  99.1% of  127.87MiB at    5.98MiB/s ETA 00:00\r[download]  99.1% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  99.1% of  127.87MiB at  Unknown B/s ETA Unknown\r[download]  99.1% of  127.87MiB at    5.22MiB/s ETA 00:00  \r[download]  99.1% of  127.87MiB at    8.10MiB/s ETA 00:00\r[download]  99.1% of  127.87MiB at   12.66MiB/s ETA 00:00\r[download]  99.1% of  127.87MiB at    4.86MiB/s ETA 00:00\r[download]  99.2% of  127.87MiB at    4.90MiB/s ETA 00:00\r[download]  99.3% of  127.87MiB at    7.09MiB/s ETA 00:00\r[download]  99.5% of  127.87MiB at   10.20MiB/s ETA 00:00\r[download]  99.9% of  127.87MiB at    6.00MiB/s ETA 00:00\r[download] 100.0% of  127.87MiB at    6.98MiB/s ETA 00:00\r[download] 100% of  127.87MiB in 00:00:22 at 5.75MiB/s   \n[download] Destination: gameplay.f140.m4a\n\r[download]   0.0% of    3.11MiB at   43.69KiB/s ETA 01:13\r[download]   0.1% of    3.11MiB at  126.59KiB/s ETA 00:25\r[download]   0.2% of    3.11MiB at  289.23KiB/s ETA 00:11\r[download]   0.5% of    3.11MiB at  607.62KiB/s ETA 00:05\r[download]   1.0% of    3.11MiB at    1.20MiB/s ETA 00:02\r[download]   2.0% of    3.11MiB at    2.38MiB/s ETA 00:01\r[download]   4.0% of    3.11MiB at    2.94MiB/s ETA 00:01\r[download]   8.0% of    3.11MiB at    4.07MiB/s ETA 00:00\r[download]  16.0% of    3.11MiB at    6.50MiB/s ETA 00:00\r[download]  32.1% of    3.11MiB at   10.90MiB/s ETA 00:00\r[download]  64.2% of    3.11MiB at    8.59MiB/s ETA 00:00\r[download] 100.0% of    3.11MiB at    7.54MiB/s ETA 00:00\r[download] 100% of    3.11MiB in 00:00:00 at 6.20MiB/s   \n[Merger] Merging formats into \"gameplay.mp4\"\nDeleting original file gameplay.f140.m4a (pass -k to keep)\nDeleting original file gameplay.f299.mp4 (pass -k to keep)"}}],"Transcribe Audio":[{"json":{"task":"transcribe","language":"English","duration":102.72,"text":" Give a lot of people hope. And a lot of people look up to you. Millions of people look up to you. If we think about young people in high school, maybe in college, what advice would you give to them about if they want to try to do something big in this world, they want to really have a big positive impact? Try to be useful. Do things that are useful to your fellow human beings, to the world. It's very hard to be useful. very hard I'd encourage people to read a lot of books just read basically try to ingest as much information as you can and try to also just develop a good general knowledge try to learn a little bit about a lot of things because you might not know what you're really interested in how would you know what you're really interested in find something where there's an overlap of your talents and what you're interested in, zero-sum mindset, or have more of a grow-the-pie mindset. Like, if you sort of say, like, when we see people, like, perhaps, including some very smart people, kind of taking an attitude of, like, doing things that seem, like, morally questionable, it's often because they have, at a base sort of axiomatic level, a zero-sum mindset. And they, without realizing it, they don't realize they have a zero sum mindset, or at least they don't realize it consciously. And so if you have a zero sum mindset, then the only way to get ahead without realizing it from a zero sum mindset, where the only way to get ahead","words":[{"word":"Give","start":0,"end":0.18},{"word":"a","start":0.18,"end":0.32},{"word":"lot","start":0.32,"end":0.42},{"word":"of","start":0.42,"end":0.48},{"word":"people","start":0.48,"end":0.7},{"word":"hope.","start":0.7,"end":1.5},{"word":"And","start":1.42,"end":1.58},{"word":"a","start":1.58,"end":1.66},{"word":"lot","start":1.66,"end":1.78},{"word":"of","start":1.78,"end":1.82},{"word":"people","start":1.82,"end":2.02},{"word":"look","start":2.02,"end":2.2},{"word":"up","start":2.2,"end":2.3},{"word":"to","start":2.3,"end":2.44},{"word":"you.","start":2.44,"end":3},{"word":"Millions","start":2.66,"end":2.82},{"word":"of","start":2.82,"end":2.98},{"word":"people","start":2.98,"end":3.18},{"word":"look","start":3.18,"end":3.36},{"word":"up","start":3.36,"end":3.52},{"word":"to","start":3.52,"end":3.68},{"word":"you.","start":3.68,"end":3.92},{"word":"If","start":4.86,"end":5.08},{"word":"we","start":5.08,"end":5.2},{"word":"think","start":5.2,"end":5.44},{"word":"about","start":5.44,"end":5.64},{"word":"young","start":5.64,"end":5.94},{"word":"people","start":5.94,"end":6.28},{"word":"in","start":6.28,"end":7.38},{"word":"high","start":7.38,"end":7.6},{"word":"school,","start":7.6,"end":8.14},{"word":"maybe","start":8.14,"end":8.18},{"word":"in","start":8.18,"end":8.32},{"word":"college,","start":8.32,"end":8.86},{"word":"what","start":10.06,"end":10.6},{"word":"advice","start":10.6,"end":11.04},{"word":"would","start":11.04,"end":11.28},{"word":"you","start":11.28,"end":11.5},{"word":"give","start":11.5,"end":11.9},{"word":"to","start":11.9,"end":12.06},{"word":"them","start":12.06,"end":12.32},{"word":"about","start":12.32,"end":12.66},{"word":"if","start":12.66,"end":14.04},{"word":"they","start":14.04,"end":14.18},{"word":"want","start":14.18,"end":14.34},{"word":"to","start":14.34,"end":14.42},{"word":"try","start":14.42,"end":14.68},{"word":"to","start":14.68,"end":14.9},{"word":"do","start":14.9,"end":15.04},{"word":"something","start":15.04,"end":15.34},{"word":"big","start":15.34,"end":15.6},{"word":"in","start":15.6,"end":15.72},{"word":"this","start":15.72,"end":15.88},{"word":"world,","start":15.88,"end":16.2},{"word":"they","start":16.14,"end":16.32},{"word":"want","start":16.32,"end":16.46},{"word":"to","start":16.46,"end":16.56},{"word":"really","start":16.56,"end":16.76},{"word":"have","start":16.76,"end":16.98},{"word":"a","start":16.98,"end":17.12},{"word":"big","start":17.12,"end":17.28},{"word":"positive","start":17.28,"end":17.64},{"word":"impact?","start":17.64,"end":18.52},{"word":"Try","start":18.14,"end":18.28},{"word":"to","start":18.28,"end":18.34},{"word":"be","start":18.34,"end":18.5},{"word":"useful.","start":18.5,"end":18.84},{"word":"Do","start":20.78,"end":20.96},{"word":"things","start":20.96,"end":21.26},{"word":"that","start":21.26,"end":21.42},{"word":"are","start":21.42,"end":21.52},{"word":"useful","start":21.52,"end":21.82},{"word":"to","start":21.82,"end":22.12},{"word":"your","start":22.12,"end":22.38},{"word":"fellow","start":22.38,"end":22.74},{"word":"human","start":22.74,"end":23.02},{"word":"beings,","start":23.02,"end":24.04},{"word":"to","start":24.04,"end":24.06},{"word":"the","start":24.06,"end":24.16},{"word":"world.","start":24.16,"end":24.42},{"word":"It's","start":25.06,"end":25.22},{"word":"very","start":25.22,"end":25.44},{"word":"hard","start":25.44,"end":25.62},{"word":"to","start":25.62,"end":25.76},{"word":"be","start":25.76,"end":25.86},{"word":"useful.","start":25.86,"end":26.16},{"word":"very","start":26.2,"end":29.98},{"word":"hard","start":29.98,"end":30.32},{"word":"I'd","start":29.86,"end":32.14},{"word":"encourage","start":32.14,"end":32.32},{"word":"people","start":32.32,"end":32.6},{"word":"to","start":32.6,"end":32.74},{"word":"read","start":32.74,"end":32.96},{"word":"a","start":32.96,"end":33.06},{"word":"lot","start":33.06,"end":33.18},{"word":"of","start":33.18,"end":33.26},{"word":"books","start":33.26,"end":33.56},{"word":"just","start":34.84,"end":35},{"word":"read","start":35,"end":35.22},{"word":"basically","start":34.8,"end":37.04},{"word":"try","start":37.04,"end":37.44},{"word":"to","start":37.44,"end":37.54},{"word":"ingest","start":37.54,"end":37.94},{"word":"as","start":37.5,"end":38.34},{"word":"much","start":38.34,"end":38.54},{"word":"information","start":38.54,"end":38.9},{"word":"as","start":38.9,"end":39.24},{"word":"you","start":39.24,"end":39.38},{"word":"can","start":39.38,"end":39.72},{"word":"and","start":41.54,"end":42.46},{"word":"try","start":42.46,"end":42.64},{"word":"to","start":42.64,"end":42.76},{"word":"also","start":42.76,"end":43.04},{"word":"just","start":43.04,"end":43.22},{"word":"develop","start":43.22,"end":43.52},{"word":"a","start":43.06,"end":43.84},{"word":"good","start":43.84,"end":43.94},{"word":"general","start":43.94,"end":44.18},{"word":"knowledge","start":44.18,"end":44.52},{"word":"try","start":44.52,"end":44.98},{"word":"to","start":44.98,"end":45.06},{"word":"learn","start":45.06,"end":45.26},{"word":"a","start":45.26,"end":45.74},{"word":"little","start":45.74,"end":45.9},{"word":"bit","start":45.9,"end":46.14},{"word":"about","start":46.14,"end":46.56},{"word":"a","start":46.56,"end":46.78},{"word":"lot","start":46.78,"end":46.88},{"word":"of","start":46.88,"end":46.96},{"word":"things","start":46.96,"end":47.24},{"word":"because","start":48.34,"end":48.96},{"word":"you","start":48.96,"end":49.02},{"word":"might","start":49.02,"end":49.14},{"word":"not","start":49.14,"end":49.24},{"word":"know","start":49.24,"end":49.36},{"word":"what","start":49.36,"end":49.5},{"word":"you're","start":49.5,"end":49.66},{"word":"really","start":49.66,"end":49.8},{"word":"interested","start":49.8,"end":50.02},{"word":"in","start":50.02,"end":50.18},{"word":"how","start":49.74,"end":50.4},{"word":"would","start":50.4,"end":50.54},{"word":"you","start":50.54,"end":50.6},{"word":"know","start":50.6,"end":50.68},{"word":"what","start":50.68,"end":50.8},{"word":"you're","start":50.8,"end":50.92},{"word":"really","start":50.92,"end":51.04},{"word":"interested","start":51.04,"end":51.24},{"word":"in","start":51.24,"end":51.4},{"word":"find","start":50.9,"end":51.68},{"word":"something","start":51.68,"end":52.14},{"word":"where","start":52.14,"end":52.44},{"word":"there's","start":52.44,"end":52.84},{"word":"an","start":52.84,"end":53.32},{"word":"overlap","start":53.32,"end":53.7},{"word":"of","start":53.2,"end":54.24},{"word":"your","start":54.24,"end":54.78},{"word":"talents","start":54.78,"end":55.24},{"word":"and","start":55.24,"end":55.74},{"word":"what","start":55.74,"end":56.68},{"word":"you're","start":56.68,"end":56.86},{"word":"interested","start":56.86,"end":57.12},{"word":"in,","start":57.12,"end":57.52},{"word":"zero-sum","start":57.52,"end":57.82},{"word":"mindset,","start":57.82,"end":58.74},{"word":"or","start":59.76,"end":59.98},{"word":"have","start":59.98,"end":60.9},{"word":"more","start":60.9,"end":61.32},{"word":"of","start":61.32,"end":61.46},{"word":"a","start":61.46,"end":61.66},{"word":"grow-the-pie","start":61.66,"end":63.22},{"word":"mindset.","start":63.22,"end":63.64},{"word":"Like,","start":63.18,"end":64.48},{"word":"if","start":64.48,"end":66.6},{"word":"you","start":66.6,"end":66.88},{"word":"sort","start":66.88,"end":67.1},{"word":"of","start":67.1,"end":67.12},{"word":"say,","start":67.12,"end":67.32},{"word":"like,","start":67.32,"end":67.4},{"word":"when","start":67.4,"end":68.3},{"word":"we","start":68.3,"end":69.1},{"word":"see","start":69.1,"end":69.22},{"word":"people,","start":69.22,"end":69.6},{"word":"like,","start":69.6,"end":69.64},{"word":"perhaps,","start":69.64,"end":70.6},{"word":"including","start":71,"end":71.3},{"word":"some","start":71.3,"end":71.48},{"word":"very","start":71.48,"end":71.64},{"word":"smart","start":71.64,"end":71.82},{"word":"people,","start":71.82,"end":72.2},{"word":"kind","start":72.2,"end":73.8},{"word":"of","start":73.8,"end":74},{"word":"taking","start":74,"end":74.58},{"word":"an","start":74.58,"end":74.74},{"word":"attitude","start":74.74,"end":75},{"word":"of,","start":75,"end":75.48},{"word":"like,","start":75.96,"end":76.58},{"word":"doing","start":76.58,"end":76.76},{"word":"things","start":76.76,"end":76.98},{"word":"that","start":76.98,"end":77.16},{"word":"seem,","start":77.16,"end":77.42},{"word":"like,","start":77.42,"end":77.62},{"word":"morally","start":77.62,"end":77.88},{"word":"questionable,","start":77.88,"end":78.34},{"word":"it's","start":79.38,"end":79.54},{"word":"often","start":79.54,"end":79.72},{"word":"because","start":79.72,"end":80.06},{"word":"they","start":80.06,"end":80.28},{"word":"have,","start":80.28,"end":80.66},{"word":"at","start":80.66,"end":81.16},{"word":"a","start":81.16,"end":81.4},{"word":"base","start":81.4,"end":81.8},{"word":"sort","start":81.8,"end":82.1},{"word":"of","start":82.1,"end":82.2},{"word":"axiomatic","start":82.2,"end":82.62},{"word":"level,","start":82.62,"end":83.6},{"word":"a","start":83.7,"end":83.8},{"word":"zero-sum","start":83.8,"end":84.22},{"word":"mindset.","start":84.22,"end":84.58},{"word":"And","start":85.28,"end":86.36},{"word":"they,","start":86.36,"end":87.28},{"word":"without","start":87.28,"end":87.88},{"word":"realizing","start":87.88,"end":88.24},{"word":"it,","start":88.24,"end":88.48},{"word":"they","start":88.48,"end":88.56},{"word":"don't","start":88.56,"end":88.7},{"word":"realize","start":88.7,"end":89.02},{"word":"they","start":88.58,"end":89.14},{"word":"have","start":89.14,"end":89.34},{"word":"a","start":89.34,"end":90.34},{"word":"zero","start":90.34,"end":90.48},{"word":"sum","start":90.48,"end":90.52},{"word":"mindset,","start":90.52,"end":91.26},{"word":"or","start":90.72,"end":91.54},{"word":"at","start":91.54,"end":91.66},{"word":"least","start":91.66,"end":91.72},{"word":"they","start":91.72,"end":92.1},{"word":"don't","start":92.1,"end":92.26},{"word":"realize","start":92.26,"end":92.62},{"word":"it","start":92.62,"end":92.72},{"word":"consciously.","start":92.72,"end":94.76},{"word":"And","start":93.78,"end":94.44},{"word":"so","start":94.44,"end":94.7},{"word":"if","start":94.7,"end":95.04},{"word":"you","start":95.04,"end":95.14},{"word":"have","start":95.14,"end":95.24},{"word":"a","start":95.24,"end":95.3},{"word":"zero","start":95.3,"end":95.46},{"word":"sum","start":95.46,"end":95.56},{"word":"mindset,","start":95.56,"end":96.08},{"word":"then","start":95.66,"end":96.16},{"word":"the","start":96.16,"end":96.24},{"word":"only","start":96.24,"end":96.38},{"word":"way","start":96.38,"end":96.52},{"word":"to","start":96.52,"end":96.6},{"word":"get","start":96.6,"end":96.72},{"word":"ahead","start":96.72,"end":96.94},{"word":"without","start":96.94,"end":98.74},{"word":"realizing","start":98.74,"end":99.22},{"word":"it","start":99.22,"end":99.44},{"word":"from","start":98.98,"end":99.68},{"word":"a","start":99.68,"end":99.82},{"word":"zero","start":99.82,"end":100.04},{"word":"sum","start":100.04,"end":100.16},{"word":"mindset,","start":100.16,"end":100.68},{"word":"where","start":100.68,"end":102.18},{"word":"the","start":102.18,"end":102.32},{"word":"only","start":102.32,"end":102.48},{"word":"way","start":102.48,"end":102.62},{"word":"to","start":102.62,"end":102.84},{"word":"get","start":102.84,"end":102.96},{"word":"ahead","start":102.96,"end":102.98}],"segments":null,"x_groq":{"id":"req_01jrfzbdxfezdbz9kxy9pgfvwr"}}}],"Upload Video":[{"json":{"success":true}}],"Upload Gameplay":[{"json":{"success":true}}],"Upload BGM":[{"json":{"success":true}}],"Create List":[{"json":{"exitCode":0,"stderr":"","stdout":""}}],"Create Video":[{"json":{"success":true,"message":"Video generation started","data":{"id":"791d46e9-90e1-4944-aefc-b011f5c360d3"}}}]},"versionId":"59cf97b0-f04b-402b-bea6-944c410b3292","triggerCount":0,"tags":[]}