sd3-|-youtube-faceless-video-[production-agent]-jDJ8HAEX7YJ0lVYW.json
{"createdAt":"2025-04-12T16:43:49.816Z","updatedAt":"2025-04-23T20:04:20.000Z","id":"jDJ8HAEX7YJ0lVYW","name":"SD3 | YouTube Faceless Video [Production Agent]","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":86279200,"mode":"list","cachedResultName":"Video Footage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit#gid=86279200"},"filtersUI":{"values":[{"lookupColumn":"Status"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,20],"id":"084d5d36-af01-4cc6-83a9-01d8063a6361","name":"Get Background Footage","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-100,20],"id":"d6099806-74d9-4623-8a8e-b0267765e283","name":"Limit Footage"},{"parameters":{"content":"## Download Copyright Free Video Background Foorage From YouTube","height":520,"width":1980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-600,-280],"id":"7002a21f-131c-4405-a9f1-d6701a52c97f","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":86279200,"mode":"list","cachedResultName":"Video Footage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit#gid=86279200"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Success"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,380],"id":"365f5959-d58f-4161-a285-dd456875bb7d","name":"Get Footage","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Cloud Path"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[340,380],"id":"db2c6859-62bd-4779-817e-2c1419d9023d","name":"Aggregate Videos"},{"parameters":{"documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Dynamic Category').first().json.sheetid }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Status"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,380],"id":"fc1471c0-9df9-4ec2-bd39-9f1884be9235","name":"Get Video Quotes","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"fileSelector":"={{ $('Generate Inputs').item.json.video_name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[560,640],"id":"961f7dd2-8ea1-48ae-8c3d-95a27f7e6407","name":"Preview Video"},{"parameters":{"jsCode":"/**\n * Dynamic FFmpeg Text Generator\n *\n * This script takes quote text and automatically formats it with proper\n * line breaks based on screen dimensions and font size, then generates\n * the appropriate FFmpeg command.\n */\n\nconst config = {\n  fontSize: 80,\n  fontFileBold: './fonts/inter-bold.ttf',\n  fontFileExBold: './fonts/inter-exbold.ttf',\n  lineHeightMultiplier: 1.35,\n  videoWidth: 1080,\n  videoDuration: 10,\n  shadowColor: 'black@0.5',\n  shadowOffset: 2,\n  primaryColour: '#FFFFFF',\n  secondaryColour: '#FFED29',\n  channelName: '@scrolldailyfacts',\n  channelNameFontSize: 35,\n  channelNameY: 'h-150',\n  fadeInDelay: 0.2,\n  musicVolume: 0.8, // Adjust volume level (0.0-1.0)\n  musicFile: $('Generate Inputs').first().json.music_path,\n  footageFile: $('Generate Inputs').first().json.video_path,\n  outputFile: $('Generate Inputs').first().json.video_name,\n};\n\nconst quotes = {\n  firstPart: {\n    text: $('Get Video Quotes').first().json['First Part'],\n    startTime: 0,\n    endTime: 5,\n    initialFadeIn: 0.5,\n  },\n  secondPart: {\n    text: $('Get Video Quotes').first().json['Second Part'],\n    startTime: 5,\n    endTime: 10,\n    initialFadeIn: 5.5,\n  },\n};\n\nfunction escapeFFmpegText(text) {\n  return text\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/'/g, \"\\\\\\\\'\")\n    .replace(/:/g, '\\\\:')\n    .replace(/\\[/g, '\\\\[')\n    .replace(/\\]/g, '\\\\]');\n}\n\nfunction calculateLineBreaks(text) {\n  const maxChars = Math.floor(config.videoWidth / (config.fontSize * 0.6));\n  const words = text.split(' ');\n  const lines = [];\n  let line = '';\n\n  for (let word of words) {\n    if ((line + ' ' + word).trim().length <= maxChars) {\n      line = (line + ' ' + word).trim();\n    } else {\n      lines.push(line);\n      line = word;\n    }\n  }\n  if (line) lines.push(line);\n  return lines;\n}\n\nfunction generateDrawTextFilters(quote, lines) {\n  const lh = config.fontSize * config.lineHeightMultiplier;\n  const totalHeight = lines.length * lh;\n  const filters = [];\n\n  for (let index = 0; index < lines.length; index++) {\n    const line = lines[index];\n    const escapedLine = escapeFFmpegText(line);\n\n    const yOffset = index * lh - totalHeight / 2 + config.fontSize / 2;\n    const y = `(h/2)${yOffset >= 0 ? '+' : ''}${yOffset}`;\n\n    // Calculate fade-in time for each line with consistent delay\n    const fadeInTime = quote.initialFadeIn + index * config.fadeInDelay;\n    const alpha = `alpha='if(lt(t,${fadeInTime}),0,if(lt(t,${fadeInTime + 1}),(t-${fadeInTime})/1,1))'`;\n    const enable = `enable='between(t,${quote.startTime},${quote.endTime})'`;\n    const lineColor = index % 2 === 0 ? config.primaryColour : config.secondaryColour;\n\n    filters.push(\n      `drawtext=fontfile='${config.fontFileExBold}':text='${escapedLine}':fontsize=${config.fontSize}:fontcolor=${config.shadowColor}:x=(w-text_w)/2+${config.shadowOffset}:y=${y}+${config.shadowOffset}:${alpha}:${enable}`\n    );\n    filters.push(\n      `drawtext=fontfile='${config.fontFileExBold}':text='${escapedLine}':fontsize=${config.fontSize}:fontcolor=${lineColor}:x=(w-text_w)/2:y=${y}:${alpha}:${enable}`\n    );\n  }\n\n  return filters;\n}\n\nfunction processQuotes() {\n  const filters = [];\n  filters.push(\n    ...generateDrawTextFilters(\n      quotes.firstPart,\n      calculateLineBreaks(quotes.firstPart.text)\n    )\n  );\n  filters.push(\n    ...generateDrawTextFilters(\n      quotes.secondPart,\n      calculateLineBreaks(quotes.secondPart.text)\n    )\n  );\n\n  filters.push(\n    `drawtext=fontfile='${config.fontFileBold}':text='${config.channelName}':fontsize=${config.channelNameFontSize}:fontcolor=${config.primaryColour}:x=(w-text_w)/2:y=${config.channelNameY}:enable='between(t,0,${config.videoDuration})'`\n  );\n\n  return filters.join(',');\n}\n\nfunction generateFFmpegCommand() {\n  const filters = processQuotes();\n  const videoHasAudio = false;\n\n  let audioSection;\n  if (videoHasAudio) {\n    audioSection = `[1:a]volume=${config.musicVolume},atrim=duration=${config.videoDuration}[music];[0:a][music]amix=inputs=2:duration=shortest[outa]`;\n  } else {\n    audioSection = `[1:a]volume=${config.musicVolume},atrim=duration=${config.videoDuration}[outa]`;\n  }\n\n  const command = `ffmpeg -i \"${config.footageFile}\" -i \"${config.musicFile}\" -filter_complex \"[0:v]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920[vid];color=black@0.3:size=1080x1920:d=${config.videoDuration}[bg];[vid][bg]overlay=format=auto[base];[base]${filters}[outv];${audioSection}\" -map \"[outv]\" -map \"[outa]\" -t ${config.videoDuration} -aspect 9:16 -c:v libx264 -preset fast -crf 20 -r 30 -c:a aac -b:a 192k \"${config.outputFile}\" -y`;\n  return command;\n}\n\nreturn {\n  json: {\n    command: generateFFmpegCommand(),\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,640],"id":"1d6c8022-d2dd-42dc-8b32-a8767f7abb97","name":"Generate FFmpeg Command"},{"parameters":{"command":"={{ $('Generate FFmpeg Command').item.json.command }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[120,640],"id":"fce45f98-3c40-4766-b809-cf33b071eab6","name":"Generate Quote Video"},{"parameters":{"content":"## Daily Facts Quote Generator Agent","height":580,"width":1980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-600,280],"id":"cae3ef8d-4bb7-41ed-ad36-4e3ec89e62f8","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"dcbbe993-1793-4229-b2b8-dd437fca9bff","name":"Categories","value":"['Love Facts', 'Psychology Facts', 'Success Facts']","type":"array"},{"id":"4422e0ad-7f0e-4f90-bfe8-57fe9ffd1bbc","name":"Category_IDs","value":"['748366762', '1039331985', '351498571']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,380],"id":"fbd0efb9-d545-4fae-b9e3-be3f2344d400","name":"Fact Category IDs"},{"parameters":{"jsCode":"const sheetCategories = $('Fact Category IDs').first().json.Categories;\nconst sheetCategoryIds = $('Fact Category IDs').first().json.Category_IDs;\n\n// Get current date and time in IST (UTC+5:30)\nconst nowUTC = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000; // 5.5 hours in milliseconds\nconst nowIST = new Date(nowUTC.getTime() + istOffset);\n\nconst currentDay = nowIST.getUTCDay(); // 0 = Sunday, 1 = Monday, etc.\nconst currentHour = nowIST.getUTCHours();\n\n// Create fixed rotation patterns for each day\nconst dailyRotation = [\n  [0, 2], // Sunday: Love Facts, Success Facts\n  [1, 0], // Monday: Psychology Facts, Love Facts\n  [2, 1], // Tuesday: Success Facts, Psychology Facts\n  [0, 2], // Wednesday: Love Facts, Success Facts \n  [1, 0], // Thursday: Psychology Facts, Love Facts\n  [2, 1], // Friday: Success Facts, Psychology Facts\n  [0, 2]  // Saturday: Love Facts, Success Facts\n];\n\n// Get today's rotation\nconst todaysRotation = dailyRotation[currentDay];\n\n// IMPORTANT FIX: Explicitly select morning (0) or afternoon (1) index\nconst timeIndex = currentHour < 12 ? 0 : 1;\nconst categoryIndex = todaysRotation[timeIndex];\n\n// Get the category name and sheet ID based on the selected index\nconst categoryToUse = sheetCategories[categoryIndex];\nconst categoryIdToUse = sheetCategoryIds[categoryIndex];\n\n// Output the selected category and sheet ID\nreturn {\n  today: currentDay,\n  timeof: currentHour < 12 ? 'morning' : 'afternoon',\n  sheetid: categoryIdToUse,\n  category: categoryToUse,\n  rotation: todaysRotation\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,380],"id":"6718c30f-ff49-45bb-a591-b7c7fb004bf4","name":"Dynamic Category"},{"parameters":{"assignments":{"assignments":[{"id":"e75afb58-bcd1-433a-baca-20a47f3d14c6","name":"Endpoint","value":"https://pub-548c7339d02244f48a3d1760c3fabdf7.r2.dev","type":"string"},{"id":"cb339023-ce1e-47f1-ac15-677cc1490807","name":"Bucket","value":"n8n-assets","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,640],"id":"76eccab1-2da7-40e2-aea0-1c434458bb7a","name":"Configure Bucket"},{"parameters":{"operation":"upload","bucketName":"={{ $('Configure Bucket').item.json.Bucket }}","fileName":"={{ $('Preview Video').item.json.fileName }}","additionalFields":{"parentFolderKey":"videos"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[780,640],"id":"4cd8f6e6-7efb-4f3b-95e6-a96838648a76","name":"Upload To Cloud","credentials":{"s3":{"id":"kFgmGa6ctMXtgqN1","name":"Sayan's Project R2 Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Dynamic Category').item.json.sheetid }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Number":"={{ $('Get Video Quotes').item.json.Number }}","Status":"Success","YouTube Status":"Pending","Instagram Status":"Pending"},"matchingColumns":["Number"],"schema":[{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Part","displayName":"First Part","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Second Part","displayName":"Second Part","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube Status","displayName":"YouTube Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram Status","displayName":"Instagram Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Post Time","displayName":"Post Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,640],"id":"15e82646-ab32-4816-bcba-8935f4cd144a","name":"Update Quote Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"chatId":"5670586061","text":"=Hello Sayan,\n\nA new quotation fact video is published.\n\nDate: {{ $now.setZone('Asia/Kolkata').toFormat(\"dd-MM-yyyy 'at' hh:mm a\") }}\nCategoty: {{ $('Dynamic Category').item.json.category }}\nTime of Day: {{ $('Dynamic Category').item.json.timeof.toSentenceCase() }}\n\n1st Part: {{ $('Get Video Quotes').item.json['First Part'] }}\n2nd Part: {{ $('Get Video Quotes').item.json['Second Part'] }}\n\nThank You,\nSDF Team","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1500,620],"id":"95cb7ea5-3e51-4cc8-ac2a-0473300b6c76","name":"Update To Telegram","webhookId":"7c57c8f4-2cd4-43f2-ba5e-61fc47b4f8ea","credentials":{"telegramApi":{"id":"0lNYWnv6Pt5sPFZM","name":"Sayan's Project Telegram Bot"}}},{"parameters":{"command":"=rm -f /home/node/{{ $('Generate Inputs').item.json.video_name.replace(/^\\.\\//, '') }} && \\\nrm -f /home/node/{{ $('Generate Inputs').item.json.music_path.replace(/^\\.\\//, '') }} && \\\nrm -f /home/node/{{ $('Generate Inputs').item.json.video_path.replace(/^\\.\\//, '') }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1720,620],"id":"67b07eb5-4659-482e-bbea-98f9c2bf5158","name":"Delete Local Video"},{"parameters":{"httpMethod":"POST","path":"f9da12f9-c8f6-418c-96e6-95d736aec8ff","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,380],"id":"e34df46f-4220-4373-8834-3d09f9e28b37","name":"Twice Daily","webhookId":"f9da12f9-c8f6-418c-96e6-95d736aec8ff","credentials":{"httpHeaderAuth":{"id":"FyT2IpExNnHDAvtv","name":"SD Social Webhook API Keys"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"d705ac68-327c-4bd0-8bfc-e0ec6cabc315","name":"Footage Name","value":"={{ Array.from({ length: 10 }, () => Math.random().toString(36) [2]).join('') }}","type":"string"},{"id":"138e1445-c874-4c3b-ba46-ba42a75c04f9","name":"Footage Folder","value":"footage","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,20],"id":"7c8b0e94-70ad-4f99-83e8-7e060a02a606","name":"Generate Footage Name"},{"parameters":{"executeOnce":false,"command":"=yt-dlp --cookies cookies.txt -o \"./{{ $('Generate Footage Name').item.json['Footage Folder'] }}/{{ $('Generate Footage Name').item.json['Footage Name'] }}.mp4\" \"{{ $('Get Background Footage').item.json['Video Path'] }}\" -f \"bestvideo[ext=mp4]/best[ext=mp4]\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[340,20],"id":"f8ccc5ef-8743-43d4-896b-afe66df720b0","name":"Download Footage"},{"parameters":{"documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":723511661,"mode":"list","cachedResultName":"Music Footage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit#gid=723511661"},"filtersUI":{"values":[{"lookupColumn":"Status"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,-180],"id":"6e57da64-4a1c-4cd3-ad87-b705739705fa","name":"Get Background Music","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-100,-180],"id":"09f45bfd-db9f-41d1-9391-428ac4cbe67f","name":"Limit Music"},{"parameters":{"assignments":{"assignments":[{"id":"d705ac68-327c-4bd0-8bfc-e0ec6cabc315","name":"Music Name","value":"={{ Array.from({ length: 10 }, () => Math.random().toString(36) [2]).join('') }}","type":"string"},{"id":"138e1445-c874-4c3b-ba46-ba42a75c04f9","name":"Music Folder","value":"music","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-180],"id":"d58f3a56-0487-419f-90d3-f88bceaaa817","name":"Generate Music Name"},{"parameters":{"executeOnce":false,"command":"=yt-dlp --cookies cookies.txt -x --audio-format mp3 -o \"./{{ $('Generate Music Name').item.json['Music Folder'] }}/{{ $('Generate Music Name').item.json['Music Name'] }}.mp3\" \"{{ $('Get Background Music').item.json['Audio Path'] }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[340,-180],"id":"bac46aef-cb27-4f83-98a0-16ef3dc6877a","name":"Download Music"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":723511661,"mode":"list","cachedResultName":"Audio Footage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit#gid=723511661"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Background Music').item.json.row_number }}","Status":"Success","Cloud Path":"=https://pub-548c7339d02244f48a3d1760c3fabdf7.r2.dev/music/{{ $('Read Music').item.json.fileName }}"},"matchingColumns":["row_number"],"schema":[{"id":"Audio Path","displayName":"Audio Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cloud Path","displayName":"Cloud Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,-180],"id":"b7b7983f-62ab-4456-b754-c117c4b28682","name":"Update Music Data","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"operation":"upload","bucketName":"n8n-assets","fileName":"={{ $('Read Music').item.json.fileName }}","additionalFields":{"parentFolderKey":"music"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[780,-180],"id":"4fd57896-aa02-4468-a36b-943e30a4f2a5","name":"Upload Music S3","credentials":{"s3":{"id":"kFgmGa6ctMXtgqN1","name":"Sayan's Project R2 Account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-540,-180],"id":"e1494f8b-7f32-4f8e-9ae1-2e01a1b1aa82","name":"Schedule Music","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-540,20],"id":"30f0e133-3b18-415b-8f15-a7f75a6bee54","name":"Schedule Footage","disabled":true},{"parameters":{"operation":"upload","bucketName":"n8n-assets","fileName":"={{ $('Read Footage').item.json.fileName }}","additionalFields":{"parentFolderKey":"footage"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[780,20],"id":"191ceb99-8354-470d-8492-630de8c07fc1","name":"Upload Footage S3","credentials":{"s3":{"id":"kFgmGa6ctMXtgqN1","name":"Sayan's Project R2 Account"}}},{"parameters":{"fileSelector":"={{ $('Generate Music Name').item.json['Music Folder'] }}/{{ $('Generate Music Name').item.json['Music Name'] }}.mp3","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[560,-180],"id":"93e727f3-9af5-4af6-a0a3-d92407cd4b59","name":"Read Music"},{"parameters":{"executeOnce":false,"command":"=rm -f /home/node/{{ $('Generate Music Name').item.json['Music Folder'] }}/{{ $('Read Music').item.json.fileName }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1220,-180],"id":"e261c650-a60b-4998-930b-539a26bb7c12","name":"Delete Local Music"},{"parameters":{"fileSelector":"={{ $('Generate Footage Name').item.json['Footage Folder'] }}/{{ $('Generate Footage Name').item.json['Footage Name'] }}.mp4","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[560,20],"id":"1d97dfbe-c4b1-4f0f-b8bf-1763f5815fd6","name":"Read Footage"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":86279200,"mode":"list","cachedResultName":"Video Footage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit#gid=86279200"},"columns":{"mappingMode":"defineBelow","value":{"Cloud Path":"=https://pub-548c7339d02244f48a3d1760c3fabdf7.r2.dev/footage/{{ $('Read Footage').item.json.fileName }}","Status":"Success","row_number":"={{ $('Get Background Footage').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Path","displayName":"Video Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cloud Path","displayName":"Cloud Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,20],"id":"7afd2689-d85e-4fbf-a975-1c24e435d656","name":"Update Footage Data","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"executeOnce":false,"command":"=rm -f /home/node/{{ $('Generate Footage Name').item.json['Footage Folder'] }}/{{ $('Read Footage').item.json.fileName }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1220,20],"id":"29230647-00ee-4681-989e-2a268aa15b9d","name":"Delete Local Footage"},{"parameters":{"assignments":{"assignments":[{"id":"f19e09c3-8715-46e1-9f4a-bc62e94b9bae","name":"video_link","value":"={{ $('Aggregate Videos').item.json['Cloud Path'][Math.floor(Math.random() * $('Aggregate Videos').item.json['Cloud Path'].length)] }}","type":"string"},{"id":"9577ed3d-cd83-4ace-a059-77320cbd0ee2","name":"music_link","value":"={{ $('Aggregate Musics').item.json['Cloud Path'][Math.floor(Math.random() * $('Aggregate Musics').item.json['Cloud Path'].length)] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,380],"id":"f67b33fe-6064-4102-832e-10b7a5dcbc29","name":"Pick Random F/M"},{"parameters":{"documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":723511661,"mode":"list","cachedResultName":"Music Footage","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit#gid=723511661"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Success"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,380],"id":"376751d2-ca62-4c13-87a2-d6e60135b156","name":"Get Music","credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Cloud Path"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[780,380],"id":"b4aa78c0-657e-4ff9-9a3f-e596a363a2d7","name":"Aggregate Musics"},{"parameters":{"command":"=curl --output-dir /home/node/music -O {{ $('Pick Random F/M').item.json.music_link }} && curl --output-dir /home/node/footage -O {{ $('Pick Random F/M').item.json.video_link }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-540,640],"id":"0e5e6082-07e7-4a0f-873b-3780cf6e9916","name":"Download Assets"},{"parameters":{"assignments":{"assignments":[{"id":"3eab138d-5a7d-4341-a8e9-8266037634c0","name":"video_path","value":"={{ '.' + $('Pick Random F/M').item.json.video_link.extractUrlPath() }}","type":"string"},{"id":"ca0099f8-e9c2-4665-a806-51092f5baafe","name":"music_path","value":"={{ '.' + $('Pick Random F/M').item.json.music_link.extractUrlPath() }}","type":"string"},{"id":"f520f49d-957f-4e31-8d86-f3b70e1cb9ca","name":"video_name","value":"=./videos/{{ Array.from({ length: 10 }, () => Math.random().toString(36) [2]).join('') }}.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,640],"id":"52987ee5-93bf-4b7f-99f5-20c0851537e1","name":"Generate Inputs"},{"parameters":{"model":"meta-llama/llama-4-maverick:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1500,20],"id":"e2d9582b-2a72-40d7-a5d6-d37699fe2ef7","name":"Meta Llama 4 Maverick","credentials":{"openRouterApi":{"id":"HSHx5dUpyiXwOrDq","name":"Sayan's Project OpenRouter Account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"youtube_title\": \"SEO-optimized title for YouTube Shorts (max 100 characters)\",\n  \"youtube_description\": \"SEO-optimized YouTube Shorts description with call-to-action (100-200 characters)\",\n  \"youtube_tags\": \"relevant,seo,optimized,tags,in,lowercase,comma,separated,format\",\n  \"youtube_hashtags\": \"#trending #relevant #category #quote\",\n  \"insta_title\": \"Attention-grabbing title for Instagram Reels (max 100 characters)\",\n  \"instagram_caption\": \"Engaging Instagram caption with storytelling element and call-to-action (150-300 characters)\",\n  \"instagram_hashtags\": \"#relevant #trendingnow #quoteoftheday #categoryspecific #motivationalquotes\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1680,20],"id":"ddc5043c-2a20-42d2-a4ee-031d13c6ebf9","name":"Structured JSON Output"},{"parameters":{"promptType":"define","text":"=**Category:** \n{{ $('Dynamic Category').item.json.category }}\n\n**Quote:** \n{{ $('Get Video Quotes').item.json['First Part'] }} \n{{ $('Get Video Quotes').item.json['Second Part'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert SEO specialist for social media content, specifically for quote videos. When presented with a quote and its category, you will generate optimized content for maximum reach and engagement on both YouTube Shorts and Instagram Reels.\n\nYour task is to generate a structured JSON response with SEO-optimized titles, descriptions, tags, and hashtags tailored for each platform.\n\nFor each quote provided:\n1. Use the category provided by the user (Psychology, Love, Relationship, Success, etc.)\n2. Generate platform-specific content optimized for discoverability and engagement\n3. Ensure hashtags are trending, relevant to the quote's message, and in lowercase format\n4. Create compelling titles that drive clicks while maintaining accuracy\n5. Craft descriptions/captions that encourage engagement and shares\n\nFormat your response in the following JSON structure:\n\n{\n  \"youtube_title\": \"SEO-optimized title for YouTube Shorts (max 50 characters)\",\n  \"youtube_description\": \"SEO-optimized YouTube Shorts description with call-to-action (100-200 characters)\",\n  \"youtube_tags\": \"Exactly 8-10 relevant seo optimized tags in lowercase comma separated format (motivation, inspirational quotes, daily motivation, success mindset, etc)\",\n  \"youtube_hashtags\": \"#trending #relevant #category #quote\",\n  \"insta_title\": \"Attention-grabbing title for Instagram Reels (max 50 characters)\",\n  \"instagram_caption\": \"Engaging Instagram caption with storytelling element and call-to-action (150-300 characters)\",\n  \"instagram_hashtags\": \"#relevant #trendingnow #quoteoftheday #categoryspecific #motivationalquotes\"\n}\n\nFor YouTube optimization, focus on:\n- Keywords in titles that have high search volume \n- Descriptions that include relevant keywords and encourage subscription\n- 8-10 relevant tags that match common search terms in your niche (no more, no less)\n- 3-5 trending hashtags in lowercase, relevant to the content\n\nFor Instagram optimization, focus on:\n- Engaging, emotional titles that drive shares\n- Captions that tell a story related to the quote\n- 15-30 niche-relevant hashtags in lowercase, including a mix of trending and category-specific ones\n- Encouraging engagement through questions or calls to action\n\nAnalyze the provided quote thoroughly before generating content to ensure all SEO elements align with its core message and emotional appeal.\n\nThe user will provide input in this format:\n**Category:** [Quote Category]\n**Quote:** [The actual quote text]"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1500,-160],"id":"9aebc7a8-d603-4914-bf73-fc3ed903dc40","name":"SEO Agent"},{"parameters":{"url":"={{ $('Configure Bucket').item.json.Endpoint }}/videos/{{ $('Preview Video').item.json.fileName }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,-160],"id":"b86970f3-3f78-4036-948c-d21d5e4784ab","name":"Download Video"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('SEO Agent').item.json.output.youtube_title }} #shorts #youtubeshorts #fyp","regionCode":"IN","categoryId":"22","options":{"defaultLanguage":"en","description":"={{ $('SEO Agent').item.json.output.youtube_description }}\n\n{{ $('SEO Agent').item.json.output.youtube_hashtags }} #ytshorts #shortsfeed #shortsvideo #trending #viralvideo #factshorts","embeddable":true,"license":"youtube","notifySubscribers":true,"privacyStatus":"unlisted","selfDeclaredMadeForKids":false,"tags":"={{ $('SEO Agent').item.json.output.youtube_tags }}, scroll daily facts"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1500,200],"id":"0bb77c38-4c58-4e62-9a91-7cf5305eddc7","name":"Upload To YouTube","credentials":{"youTubeOAuth2Api":{"id":"EAcLxP3iQE3MSF44","name":"Sayan's Project YouTube Account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841474016485248","edge":"media","options":{"queryParameters":{"parameter":[{"name":"video_url","value":"={{ $('Configure Bucket').item.json.Endpoint }}/videos/{{ $('Preview Video').item.json.fileName }}"},{"name":"caption","value":"={{ $('SEO Agent').item.json.output.instagram_caption }}\n\n{{ $('SEO Agent').item.json.output.instagram_hashtags }} #reels"},{"name":"media_type","value":"REELS"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1500,400],"id":"1fad843e-976d-433f-aefd-b70a05db0427","name":"Upload To Instagram","credentials":{"facebookGraphApi":{"id":"zUYquJUA2a6F3rvD","name":"SD Social FB Graph Account"}}},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1720,200],"id":"25c00c2f-82c9-427c-a3ac-7e305af648eb","name":"Wait For YouTube","webhookId":"b1bb7596-ee96-46e1-a396-f3a336679d06"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2160,-160],"id":"3f27b3eb-9ddd-4701-9729-92fadf6d9338","name":"Wait For Video","webhookId":"23409020-389f-492c-8286-1f2f05ac5f5f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1220,640],"id":"5296ddc1-d915-4349-aae1-5f4ebae7024c","name":"Wait","webhookId":"e34690e0-673f-4ec3-a70c-3ec26c156b59"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1720,400],"id":"6561e8f3-b37d-47bd-9790-b68e089d95e3","name":"Wait For Instagram","webhookId":"6c064e11-cd1a-46f7-953e-58077c9cb656"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2160,380],"id":"fd09c43c-a1d9-4e77-a6a8-6d05df439455","name":"Merge"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"17841474016485248","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $('Upload To Instagram').item.json.id }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1940,400],"id":"1c83c785-bcb4-4465-975b-19f98619d548","name":"Published In Instagram","credentials":{"facebookGraphApi":{"id":"zUYquJUA2a6F3rvD","name":"SD Social FB Graph Account"}}},{"parameters":{"operation":"delete","bucketName":"={{ $('Configure Bucket').item.json.Bucket }}","fileKey":"=videos/{{ $('Preview Video').item.json.fileName }}","options":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1940,620],"id":"4f2495e1-d289-4875-9395-20c42223d1de","name":"Delete Cloud Video","executeOnce":true,"credentials":{"s3":{"id":"kFgmGa6ctMXtgqN1","name":"Sayan's Project R2 Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M","mode":"list","cachedResultName":"SD3 | Faceless YouTube Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uL9hbGQsFoxqSSTmTQNIad-a1hEtd1DWSfc3E-ooM3M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Dynamic Category').first().json.sheetid }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Video Quotes').item.json.Number }}","Instagram Status":"Published","YouTube Status":"Published","Post Time":"={{$now.toFormat(\"dd/MM/yyyy, hh:mm a\")}}"},"matchingColumns":["row_number"],"schema":[{"id":"Number","displayName":"Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Part","displayName":"First Part","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Second Part","displayName":"Second Part","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube Status","displayName":"YouTube Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Status","displayName":"Instagram Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post Time","displayName":"Post Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,620],"id":"ca27c3b6-7914-43db-8a0d-47c4c037b7c0","name":"Google Final Sheets","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"LrENzOem72yytjsg","name":"Sayan's Project GSheet Account"}}},{"parameters":{"content":"## Published to Social Media (YouTube / Instagram)","height":1140,"width":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,-280],"id":"6067a73c-f06f-43f3-a2ad-0ae40d27cb6a","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,380],"id":"c9c582e8-e9db-445d-af57-fe0d3e45a5c9","name":"Manual Trigger"}],"connections":{"Get Background Footage":{"main":[[{"node":"Limit Footage","type":"main","index":0}]]},"Limit Footage":{"main":[[{"node":"Generate Footage Name","type":"main","index":0}]]},"Get Footage":{"main":[[{"node":"Aggregate Videos","type":"main","index":0}]]},"Aggregate Videos":{"main":[[{"node":"Get Music","type":"main","index":0}]]},"Get Video Quotes":{"main":[[{"node":"Pick Random F/M","type":"main","index":0}]]},"Preview Video":{"main":[[{"node":"Upload To Cloud","type":"main","index":0}]]},"Generate FFmpeg Command":{"main":[[{"node":"Generate Quote Video","type":"main","index":0}]]},"Generate Quote Video":{"main":[[{"node":"Configure Bucket","type":"main","index":0}]]},"Fact Category IDs":{"main":[[{"node":"Dynamic Category","type":"main","index":0}]]},"Dynamic Category":{"main":[[{"node":"Get Footage","type":"main","index":0}]]},"Configure Bucket":{"main":[[{"node":"Preview Video","type":"main","index":0}]]},"Upload To Cloud":{"main":[[{"node":"Update Quote Sheet","type":"main","index":0}]]},"Update Quote Sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update To Telegram":{"main":[[{"node":"Delete Local Video","type":"main","index":0}]]},"Twice Daily":{"main":[[]]},"Generate Footage Name":{"main":[[{"node":"Download Footage","type":"main","index":0}]]},"Download Footage":{"main":[[{"node":"Read Footage","type":"main","index":0}]]},"Get Background Music":{"main":[[{"node":"Limit Music","type":"main","index":0}]]},"Limit Music":{"main":[[{"node":"Generate Music Name","type":"main","index":0}]]},"Generate Music Name":{"main":[[{"node":"Download Music","type":"main","index":0}]]},"Download Music":{"main":[[{"node":"Read Music","type":"main","index":0}]]},"Update Music Data":{"main":[[{"node":"Delete Local Music","type":"main","index":0}]]},"Schedule Music":{"main":[[{"node":"Get Background Music","type":"main","index":0}]]},"Schedule Footage":{"main":[[{"node":"Get Background Footage","type":"main","index":0}]]},"Upload Music S3":{"main":[[{"node":"Update Music Data","type":"main","index":0}]]},"Read Music":{"main":[[{"node":"Upload Music S3","type":"main","index":0}]]},"Upload Footage S3":{"main":[[{"node":"Update Footage Data","type":"main","index":0}]]},"Read Footage":{"main":[[{"node":"Upload Footage S3","type":"main","index":0}]]},"Update Footage Data":{"main":[[{"node":"Delete Local Footage","type":"main","index":0}]]},"Pick Random F/M":{"main":[[{"node":"Download Assets","type":"main","index":0}]]},"Get Music":{"main":[[{"node":"Aggregate Musics","type":"main","index":0}]]},"Aggregate Musics":{"main":[[{"node":"Get Video Quotes","type":"main","index":0}]]},"Download Assets":{"main":[[{"node":"Generate Inputs","type":"main","index":0}]]},"Generate Inputs":{"main":[[{"node":"Generate FFmpeg Command","type":"main","index":0}]]},"Delete Local Video":{"main":[[{"node":"Delete Cloud Video","type":"main","index":0}]]},"Meta Llama 4 Maverick":{"ai_languageModel":[[{"node":"SEO Agent","type":"ai_languageModel","index":0}]]},"Structured JSON Output":{"ai_outputParser":[[{"node":"SEO Agent","type":"ai_outputParser","index":0}]]},"SEO Agent":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Wait For Video","type":"main","index":0}]]},"Upload To YouTube":{"main":[[{"node":"Wait For YouTube","type":"main","index":0}]]},"Wait For Video":{"main":[[{"node":"Upload To Instagram","type":"main","index":0},{"node":"Upload To YouTube","type":"main","index":0}]]},"Wait":{"main":[[{"node":"SEO Agent","type":"main","index":0}]]},"Wait For YouTube":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Upload To Instagram":{"main":[[{"node":"Wait For Instagram","type":"main","index":0}]]},"Wait For Instagram":{"main":[[{"node":"Published In Instagram","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update To Telegram","type":"main","index":0}]]},"Published In Instagram":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Delete Cloud Video":{"main":[[{"node":"Google Final Sheets","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Fact Category IDs","type":"main","index":0}]]},"Google Final Sheets":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Music":{"recurrenceRules":[]},"node:Schedule Footage":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2af71b82-0f6b-4fab-9326-a3eec3498695","triggerCount":0,"tags":[{"createdAt":"2025-03-29T18:23:37.380Z","updatedAt":"2025-03-29T18:23:37.380Z","id":"4rNF53LuFAX5nbfy","name":"YouTube"}]}