sd4-|-youtube-assets-download-Lv9N9mDrPBo2jJDb.json
{"createdAt":"2025-04-27T18:16:22.018Z","updatedAt":"2025-05-02T07:40:35.000Z","id":"Lv9N9mDrPBo2jJDb","name":"SD4 | YouTube Assets Download","active":true,"nodes":[{"parameters":{"command":"=yt-dlp --cookies cookies.txt \"{{ $('Get Video Details').item.json['Video Link'] }}\" -o \"/home/node/videos/{{ $('Generate Name').item.json.video_name }}\" -f \"bv*[ext=mp4][vcodec^=avc1]+ba[ext=m4a]/best[ext=mp4]\" --merge-output-format mp4"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1040,-480],"id":"11e85005-8624-4b59-a667-f830a38cf890","name":"Download Assets"},{"parameters":{"command":"=rm -f /home/node/videos/{{ $('Generate Name').first().json.video_name }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[880,-260],"id":"6897e22b-fb07-4823-b549-d3a4eafa1322","name":"Delete Assets"},{"parameters":{"assignments":{"assignments":[{"id":"92cd81ac-1624-4298-a758-51509f7375cd","name":"video_name","value":"=wcjefdt35c.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-480],"id":"844ad247-2b87-4743-b0cd-30d7d3f754e9","name":"Generate Name"},{"parameters":{"documentId":{"__rl":true,"value":"1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo","mode":"list","cachedResultName":"SD4 | Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pending"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[240,-480],"id":"0c98ba8e-c5f9-40ad-80b1-c60276fd32e8","name":"Get Video Details","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"jsCode":"const url = $('Get Video Details').first().json['Video Link'];\n\n// Extract the short ID using regex\nconst match = url.match(/\\/shorts\\/([a-zA-Z0-9_-]{11})/);\n\nreturn {\n  json: {\n    video_id: match ? match[1] : null\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-480],"id":"cff48821-ee62-49b9-bf22-2f8d55dd88c7","name":"Extract Video ID"},{"parameters":{"fileSelector":"=/home/node/videos/{{ $('Generate Name').item.json.video_name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[240,-260],"id":"e50ad212-2010-4616-b582-9f33ad70eecc","name":"Read Video"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb9cd383-98cd-40a5-890c-39e2e4d7232b","leftValue":"={{ $('Search File').item.json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-480],"id":"67a884c0-4a72-4254-9622-1346ae9b8537","name":"File Exist"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('File Exist').item.json.id }}","mode":"id"},"options":{"deletePermanently":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1520,-480],"id":"1ab2d30a-11bf-4f8b-8a44-71d2992ce471","name":"Delete File","credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"name":"={{ $('Generate Name').item.json.video_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1","mode":"list","cachedResultName":"Faceless Video","cachedResultUrl":"https://drive.google.com/drive/folders/1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,-260],"id":"bae69644-d48a-49f4-b8f5-3c1a022d96c6","name":"Upload File","credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Generate Name').item.json.video_name }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1","mode":"list","cachedResultName":"Faceless Video","cachedResultUrl":"https://drive.google.com/drive/folders/1nrjqGmFWNrPh9a0kEQSKpyKVqFNyw3p1"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,-480],"id":"161682f2-cffd-4c19-9392-4566668b47d8","name":"Search File","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo","mode":"list","cachedResultName":"SD4 | Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Drive Link":"={{ $('Upload File').item.json.webContentLink }}","Status":"Processed","Title":"={{ $('Search Video').first().json.snippet.title }}","Description":"={{ $('Search Video').first().json.snippet.description }}","Tags":"={{ $('Search Video').first().json.snippet.tags.join(', ') }}","row_number":"={{ $('Get Video Details').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Generated Title","displayName":"AI Generated Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[720,-260],"id":"f57294f2-0256-4dd1-8beb-fb0560706956","name":"Update Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('Upload File').item.json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[560,-260],"id":"ae8f7435-1914-48d3-8231-930d5e16814f","name":"Share File","credentials":{"googleDriveOAuth2Api":{"id":"LhikKrh7ING0wZ2u","name":"SD Social Google Drive Account"}}},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $('Extract Video ID').item.json.video_id }}","options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[880,-480],"id":"90f4bd12-dd8d-4b52-949c-4e493a3848f7","name":"Search Video","credentials":{"youTubeOAuth2Api":{"id":"jFMxLpChzn3R8jrm","name":"SD Social YouTube Account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","text":"=Hello {{ $('Telegram Trigger Command').item.json.message.chat.first_name }},\n\nYouTube video has been successfully downloaded.\n\nDate: {{ $now.setZone('Asia/Kolkata').toFormat(\"dd-MM-yyyy 'at' hh:mm a\") }}\n\nTitle: {{ $('Update Sheet').item.json.Title }}\n\nDescription: {{ $('Update Sheet').item.json.Description }}\n\nTags: {{ $('Update Sheet').item.json.Tags }}\n\nThank You,\nTeam @AiSimpleVideoBot","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,-260],"id":"befbec97-c575-439f-8786-1ebaf580ac61","name":"Send Message","webhookId":"50d50444-502b-408f-a42c-62b11aebe227","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"promptType":"define","text":"=Rewrite this YouTube shorts title: \"{{ $('Update Sheet').item.json.Title }}\"","options":{"systemMessage":"=You are a YouTube content optimization expert. Your task is to rewrite YouTube shorts titles to improve SEO and viewer engagement.\n\n**Requirements:**\n1. Maintain ALL existing hashtags - do not remove any hashtags from the original title\n2. Add \"#shorts\" hashtag if it's not already present in the title\n3. Use simple grammar and vocabulary\n4. Create a stronger emotional hook\n5. Keep character count similar to the original\n6. Make the title more clickable and engaging\n\nPlease provide only the optimized title as your response, without any explanations or additional text."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1200,-260],"id":"82a82012-961a-413e-b938-57cc30d81563","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[960,-40],"id":"28b84e4f-f589-4e72-959f-b43f02660072","name":"Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zwTeEecvrA4f0HRt","name":"SD Social Gemini Account"}},"disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-400,-380],"id":"ab0ecc9a-84f4-42c8-baba-e88c7ac1a972","name":"Telegram Trigger Command","webhookId":"b7d6010a-2b90-4c8d-b646-dc9a6078468e","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4572a25-b634-4b6c-96d2-6bcced56197a","leftValue":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","rightValue":5670586061,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,-380],"id":"427dc168-92aa-4063-a957-408d6066095d","name":"Check User"},{"parameters":{"chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","text":"=Hello {{ $('Telegram Trigger Command').item.json.message.chat.first_name }},\n\nYou are not an authorized 🚫 user! Please ask @mrsayandey to authorized your Telegram account.\n\nThank You,\nTeam @AiSimpleVideoBot","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-40,-300],"id":"e44f1470-8b99-4bf4-b896-c6f1860d9d0b","name":"Unauthorised User","webhookId":"b99e57a7-4162-40f4-8b56-f4356ef2cef6","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Telegram Trigger Command').item.json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"50ee7c4c-2550-4575-be58-8fe29301d8a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9add6d15-5fba-4a60-8636-4937409f5b32","leftValue":"={{ $('Telegram Trigger Command').item.json.message.text }}","rightValue":"/download_video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Download"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9995ff99-62a9-4229-bb13-9e96627b6597","leftValue":"={{ $('Telegram Trigger Command').item.json.message.text }}","rightValue":"/upload_video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Upload"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-40,-480],"id":"a844b9ac-a088-4fbb-b55b-e9e2c930a04a","name":"Switch Command"},{"parameters":{"chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","text":"=Hello {{ $('Telegram Trigger Command').item.json.message.chat.first_name }},\n\n👋 Welcome to the AiSimpleVideoBot Bot!\nExperience amazing AI-powered short stories, emotional animal tales, and creative videos — right here in your chat!\n\nThank You,\nTeam @AiSimpleVideoBot","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,-680],"id":"203f4314-c1a1-4c26-9dea-a5672b8763b3","name":"Initialize Message","webhookId":"b99e57a7-4162-40f4-8b56-f4356ef2cef6","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","message":"=Hello {{ $('Telegram Trigger Command').item.json.message.chat.first_name }},\n\nPlease send me a YouTube Shorts link, and I’ll fetch some interesting details about the video for you.","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Short’s Link","placeholder":"https://www.youtube.com/shorts/RqUCHiSriCg","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,-60],"id":"5a043aa3-f470-4c1b-a512-e346ca04f555","name":"Ask YouTube Link","webhookId":"b99e57a7-4162-40f4-8b56-f4356ef2cef6","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo","mode":"list","cachedResultName":"SD4 | Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Video Link":"={{ $('Ask YouTube Link').item.json.data['Short’s Link'] }}","Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Generated Title","displayName":"AI Generated Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[400,-60],"id":"6cbd70c9-b623-4926-b5ce-55434731af1a","name":"Update New Video","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99c97e1a-b479-4866-92b8-129cd93aaef7","leftValue":"={{ $('Get Video Details').item.json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,-480],"id":"35319e13-2a22-4318-bc18-dde687adffe5","name":"IF Available Video"},{"parameters":{"chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","text":"=Hello {{ $('Telegram Trigger Command').item.json.message.chat.first_name }},\n\n👉 It looks like there’s nothing in the queue right now. Please update the Google Spreadsheet with new video links to start the download.\n\nThank You,\nTeam @AiSimpleVideoBot","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,-640],"id":"9c0b2784-8889-4a42-a035-dbe789fd5f95","name":"Video Not Available","webhookId":"b99e57a7-4162-40f4-8b56-f4356ef2cef6","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"model":"perplexity/sonar-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1140,-40],"id":"102ed481-bb31-404d-bfae-0d8300c94982","name":"Perplexity Sonar Pro","credentials":{"openRouterApi":{"id":"aoqxRDswhPdPHVuW","name":"OpenRouter Account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","text":"=Hello Sayan,\n\nHere is the AI made title.\n\nTitle: {{ $('AI Agent').item.json.output }}\n\nThank You,\nTeam @AiSimpleVideoBot","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,-260],"id":"3ac15437-6edd-48db-a377-c7c42c2ddc27","name":"Send AI Title","webhookId":"50d50444-502b-408f-a42c-62b11aebe227","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo","mode":"list","cachedResultName":"SD4 | Faceless Video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eLGvUFhRZhQlAwLRqtPEoee1hOiAUORDz-9xUiShmvo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get Video Details').item.json.row_number }}","AI Generated Title":"={{ $('AI Agent').item.json.output }}"},"matchingColumns":["row_number"],"schema":[{"id":"Video Link","displayName":"Video Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Generated Title","displayName":"AI Generated Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,-260],"id":"3b06ddf0-cada-4185-a267-3ebf6bb68b57","name":"Update AI Title","credentials":{"googleSheetsOAuth2Api":{"id":"JByyOuycAVRddRAY","name":"SD Social GSheet"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger Command').item.json.message.chat.id }}","text":"=Hello {{ $('Telegram Trigger Command').item.json.message.chat.first_name }}, your YouTube link is updated into Google Spreadsheet.","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,-60],"id":"021d672f-835f-4a03-b578-f87a20df4656","name":"Update YouTube Link","webhookId":"b99e57a7-4162-40f4-8b56-f4356ef2cef6","credentials":{"telegramApi":{"id":"xSTL6iUlAwN1snwx","name":"SD Social Telegram Bot"}}}],"connections":{"Download Assets":{"main":[[{"node":"Search File","type":"main","index":0}]]},"Generate Name":{"main":[[{"node":"Search Video","type":"main","index":0}]]},"Get Video Details":{"main":[[{"node":"IF Available Video","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Generate Name","type":"main","index":0}]]},"Read Video":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"File Exist":{"main":[[{"node":"Delete File","type":"main","index":0}],[{"node":"Read Video","type":"main","index":0}]]},"Delete File":{"main":[[{"node":"Read Video","type":"main","index":0}]]},"Search File":{"main":[[{"node":"File Exist","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Share File","type":"main","index":0}]]},"Share File":{"main":[[{"node":"Update Sheet","type":"main","index":0}]]},"Search Video":{"main":[[{"node":"Download Assets","type":"main","index":0}]]},"Update Sheet":{"main":[[{"node":"Delete Assets","type":"main","index":0}]]},"Delete Assets":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Gemini Chat Model":{"ai_languageModel":[[]]},"AI Agent":{"main":[[{"node":"Update AI Title","type":"main","index":0}]]},"Telegram Trigger Command":{"main":[[{"node":"Check User","type":"main","index":0}]]},"Check User":{"main":[[{"node":"Switch Command","type":"main","index":0}],[{"node":"Unauthorised User","type":"main","index":0}]]},"Switch Command":{"main":[[{"node":"Initialize Message","type":"main","index":0}],[{"node":"Get Video Details","type":"main","index":0}],[{"node":"Ask YouTube Link","type":"main","index":0}]]},"Ask YouTube Link":{"main":[[{"node":"Update New Video","type":"main","index":0}]]},"Update New Video":{"main":[[{"node":"Update YouTube Link","type":"main","index":0}]]},"IF Available Video":{"main":[[{"node":"Video Not Available","type":"main","index":0}],[{"node":"Extract Video ID","type":"main","index":0}]]},"Perplexity Sonar Pro":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Update AI Title":{"main":[[{"node":"Send AI Title","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d61ef770-63eb-45b5-b5f5-d825dffc6a69","triggerCount":1,"tags":[]}