xtrons-country-matching-bnD2GwtwBI46uWUS.json
{"createdAt":"2024-12-24T06:55:48.237Z","updatedAt":"2024-12-24T07:11:14.000Z","id":"bnD2GwtwBI46uWUS","name":"Xtrons Country Matching","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,-160],"id":"9f7cac34-54e8-41f9-bb6a-116fdb98cb51","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw","mode":"list","cachedResultName":"country specific","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":795420010,"mode":"list","cachedResultName":"Automation SKU","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw/edit#gid=795420010"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-360,-160],"id":"6bba5ee4-5d9f-4e01-9ac8-22cbf900b042","name":"Automation SKU's","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"documentId":{"__rl":true,"value":"1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw","mode":"list","cachedResultName":"country specific","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":735650922,"mode":"list","cachedResultName":"skus on live","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw/edit#gid=735650922"},"filtersUI":{"values":[{"lookupColumn":"sku","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[80,-100],"id":"cdd644ab-5830-4b20-afbc-0e4f66f96413","name":"Live SKU's","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-140,-160],"id":"f6173cfc-bdb3-4c52-850c-6a47e8d201c2","name":"Loop SKU's"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[300,-100],"id":"7640794d-56e6-4399-a353-1807e6aab729","name":"Wait 1","webhookId":"575b4c9a-47ef-48c7-82fe-1be038865bf9"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw","mode":"list","cachedResultName":"country specific","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":795420010,"mode":"list","cachedResultName":"Automation SKU","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_PqoE7lolO4O1AhC5YtLNL0NIMtdMwItqSaNe8HSGXw/edit#gid=795420010"},"columns":{"mappingMode":"defineBelow","value":{"SKU":"={{ $json.sku }}","Website":"={{ $json['website(s)'] }}"},"matchingColumns":["SKU"],"schema":[{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,-320],"id":"ca695e9e-b27d-45e2-9a72-f5ee55eccd91","name":"Update SKU's","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Matrix GSheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d29e955-f265-4dae-99ab-dbbfc40f205a","leftValue":"={{ $json.sku }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,-100],"id":"872de9ff-f013-408d-8997-52cf797a40b4","name":"IF Found"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[680,20],"id":"127d372b-2cf0-4723-9a8b-24cfc77ea655","name":"Wait 2","webhookId":"49b8bbeb-c9f1-4f7b-bd9a-87854625c277"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[440,-480],"id":"b517e5b3-ad47-4a48-99be-5efe5946ad5b","name":"Wait 3","webhookId":"e635bf9f-34f0-4ad6-94cb-647ddd83c90e"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Automation SKU's","type":"main","index":0}]]},"Automation SKU's":{"main":[[{"node":"Loop SKU's","type":"main","index":0}]]},"Live SKU's":{"main":[[{"node":"Wait 1","type":"main","index":0}]]},"Loop SKU's":{"main":[[],[{"node":"Live SKU's","type":"main","index":0}]]},"Wait 1":{"main":[[{"node":"IF Found","type":"main","index":0}]]},"Update SKU's":{"main":[[{"node":"Wait 3","type":"main","index":0}]]},"IF Found":{"main":[[{"node":"Update SKU's","type":"main","index":0}],[{"node":"Wait 2","type":"main","index":0}]]},"Wait 2":{"main":[[{"node":"Loop SKU's","type":"main","index":0}]]},"Wait 3":{"main":[[{"node":"Loop SKU's","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"57073798-f4c4-408b-a072-95552bd33cad","triggerCount":0,"tags":[]}