xtrons-workflow-72Gbk5iKMwYNwX9V.json
{"createdAt":"2024-12-16T11:14:00.123Z","updatedAt":"2024-12-16T12:01:20.000Z","id":"72Gbk5iKMwYNwX9V","name":"Xtrons Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,-240],"id":"a38992c7-4bdf-4775-a837-cdcfea953d34","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw","mode":"list","cachedResultName":"Magento TO USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":952710720,"mode":"list","cachedResultName":"MG_USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw/edit#gid=952710720"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,-240],"id":"319cda5f-b3a3-4a07-9376-1cf555406afb","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-40,-240],"id":"f329482b-26e4-48fd-a91e-a313bc0b8f55","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw","mode":"list","cachedResultName":"Magento TO USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":36416641,"mode":"list","cachedResultName":"UNIQUE SKU USA2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw/edit#gid=36416641"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.sku }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[400,-20],"id":"8396cdf1-c20d-4782-ac47-be0dca1e87b4","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw","mode":"list","cachedResultName":"Magento TO USA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":36416641,"mode":"list","cachedResultName":"UNIQUE SKU USA2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZM1cft_B70NSUqKAW-uN0EKmt5vzuJ_jnK1K9dcUFFw/edit#gid=36416641"},"columns":{"mappingMode":"defineBelow","value":{"SKU":"={{ $('Edit Fields').item.json.sku }}","Meta: after_help_section_content":"={{ $('Edit Fields').item.json.why_xtrons_textarea }}","Meta: detailed_feature_repeater_0_detailed_feature_content":"={{ $('Edit Fields').item.json.detailed_feature_content_0 }}","Meta: detailed_feature_repeater_1_detailed_feature_content":"={{ $('Edit Fields').item.json.detailed_feature_content_1 }}","Meta: detailed_feature_repeater_2_detailed_feature_content":"={{ $('Edit Fields').item.json.detailed_feature_content_2 }}","Meta: _detailed_feature_repeater_3_detailed_feature_content":"=","Meta: _detailed_feature_repeater_4_detailed_feature_content":"=","Meta: detailed_feature_repeater_3_detailed_feature_content":"={{ $('Edit Fields').item.json.detailed_feature_content_3 }}","Meta: detailed_feature_repeater_4_detailed_feature_content":"={{ $('Edit Fields').item.json.detailed_feature_content_4 }}"},"matchingColumns":["SKU"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,80],"id":"ce95232a-40eb-4d20-ab74-be2a7a31e071","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e9ebc57f-d778-46e0-84d1-9b6ab447b416","name":"sku","value":"={{ $json.SKU }}","type":"string"},{"id":"adbd7c50-f383-41e2-85d3-689579dbe40b","name":"why_xtrons_textarea","value":"={{ $json.why_xtrons_textarea_left }}{{ $json.why_xtrons_textarea_right }}","type":"string"},{"id":"7bedcee0-f1ce-41ff-9922-1d7dab8e7cd6","name":"detailed_feature_content_0","value":"={{ $json.section_2_textarea }}","type":"string"},{"id":"298869ed-cd08-4872-9ff4-310cfa27cdcf","name":"detailed_feature_content_1","value":"={{ $json.section_3_textarea_1 }}","type":"string"},{"id":"30bb6b9c-f750-40c8-a45b-641922f7fe88","name":"detailed_feature_content_2","value":"={{ $json.section_3_textarea_2 }}","type":"string"},{"id":"392e08e3-2007-4f3b-95dd-d8f3e4cbad30","name":"detailed_feature_content_3","value":"={{ $json.section_4_textarea_3 }}","type":"string"},{"id":"44b206b5-bc9a-4018-b112-3e17822ab4f0","name":"detailed_feature_content_4","value":"={{ $json.section_5_textarea }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-120],"id":"73beb897-8b0c-4774-92f1-db738e657f77","name":"Edit Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dd60d058-05b3-4a16-91ac-4ef728ae23f5","triggerCount":0,"tags":[]}