xtrons-gallery-workflow-e93v69NNRRi48DaL.json
{"createdAt":"2024-12-17T08:02:31.976Z","updatedAt":"2024-12-17T09:45:11.000Z","id":"e93v69NNRRi48DaL","name":"Xtrons Gallery Workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-660,-220],"id":"7d1c5e06-6a15-4a04-a282-9015b5187735","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,-220],"id":"1447bd39-0051-41ea-96f1-853cb9968008","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0","mode":"list","cachedResultName":"Magento to USA -17 Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1753780576,"mode":"list","cachedResultName":"Combine All (n8n)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0/edit#gid=1753780576"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-440,-220],"id":"5e311712-f8e4-4f9e-abd5-7d1cb48514ff","name":"Main GSheet","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0","mode":"list","cachedResultName":"Magento to USA -17 Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1864633977,"mode":"list","cachedResultName":"USA New","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0/edit#gid=1864633977"},"filtersUI":{"values":[{"lookupColumn":"SKU","lookupValue":"={{ $json.SKU }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,-100],"id":"7c7eca3a-32ba-4b21-932d-6f801bbbf693","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0","mode":"list","cachedResultName":"Magento to USA -17 Dec","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1753780576,"mode":"list","cachedResultName":"Combine All (n8n)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jSMIEVWi6IJPWJmlHeg4RQOmVl8pYMQjDJRPQjoUTr0/edit#gid=1753780576"},"columns":{"mappingMode":"defineBelow","value":{"Images":"={{ $json.image }},","Attribute 1 name":"Features","Attribute 2 name":"In The Box","Meta: features_section_heading":"Features","SKU":"={{ $json.SKU }}"},"matchingColumns":["SKU"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Published","displayName":"Published","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Is featured?","displayName":"Is featured?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visibility in catalog","displayName":"Visibility in catalog","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short description","displayName":"Short description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price starts","displayName":"Date sale price starts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date sale price ends","displayName":"Date sale price ends","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax status","displayName":"Tax status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tax class","displayName":"Tax class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"In stock?","displayName":"In stock?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Low stock amount","displayName":"Low stock amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backorders allowed?","displayName":"Backorders allowed?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sold individually?","displayName":"Sold individually?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight (kg)","displayName":"Weight (kg)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length (cm)","displayName":"Length (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Width (cm)","displayName":"Width (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Height (cm)","displayName":"Height (cm)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Allow customer reviews?","displayName":"Allow customer reviews?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Purchase note","displayName":"Purchase note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sale price","displayName":"Sale price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Regular price","displayName":"Regular price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categories","displayName":"Categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cross-sells","displayName":"Cross-sells","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"External URL","displayName":"External URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Button text","displayName":"Button text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 name","displayName":"Attribute 1 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 value(s)","displayName":"Attribute 1 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 visible","displayName":"Attribute 1 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 1 global","displayName":"Attribute 1 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 name","displayName":"Attribute 2 name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 value(s)","displayName":"Attribute 2 value(s)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 visible","displayName":"Attribute 2 visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Attribute 2 global","displayName":"Attribute 2 global","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_heading","displayName":"Meta: features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_heading","displayName":"Meta: _features_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: features_section_image","displayName":"Meta: features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _features_section_image","displayName":"Meta: _features_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_image","displayName":"Meta: after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_image","displayName":"Meta: _after_help_section_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_heading","displayName":"Meta: after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_heading","displayName":"Meta: _after_help_section_heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: after_help_section_content","displayName":"Meta: after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _after_help_section_content","displayName":"Meta: _after_help_section_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_0_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_0_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_1_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_1_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_2_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_2_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_3_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_3_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_4_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_4_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater_5_detailed_feature_content","displayName":"Meta: _detailed_feature_repeater_5_detailed_feature_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: detailed_feature_repeater","displayName":"Meta: detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Meta: _detailed_feature_repeater","displayName":"Meta: _detailed_feature_repeater","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[160,-100],"id":"f11bb39e-d3ee-44b9-8103-22538e732270","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pRBf4vyPTKSN60KA","name":"Google Sheets Account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Main GSheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets","type":"main","index":0}]]},"Main GSheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4d095d58-ffeb-4ae8-8d55-406de0408410","triggerCount":0,"tags":[]}